﻿@model netcore.Models.ApplicationUser
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject netcore.Data.ApplicationDbContext Context
@{

    ApplicationUser appUser = await UserManager.GetUserAsync(User);
    var serviceProvider = Context.ServiceProvider.FirstOrDefault(x => x.applicationUserId == appUser.Id);
    var customer = Context.Customer.FirstOrDefault(x => x.applicationUserId == appUser.Id);

}
<style>
    .slimScrollBar {
        background: transparent !important;
    }
    .skin-blue .user-panel > .info, .skin-blue .user-panel > .info > a{
        font-size: smaller !important;
    }
</style>
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar" style="background: transparent;">
        <!-- Sidebar user panel -->
        @if (Model != null)
        {
            <div class="user-panel" style="font-size: smaller;">
                <div class="pull-left image">
                    <img src="@Model.profilePictureUrl" class="img-circle profilePicture" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>@Model.Email</p>
                    <p>
                        @if (appUser.isServiceProvider)
                        {
                            <a><i class="fa fa-circle text-success"></i> (Service Provider)</a><br /><br />
                        }
                        else if (appUser.isSuperAdmin)
                        {
                            <a><i class="fa fa-circle text-success"></i> (Admin)</a>
                        }
                        else
                        {
                            <a><i class="fa fa-circle text-success"></i> (Customer)</a>
                        }
                    </p>
                </div>
            </div>
            <br />

        }

        @if (appUser != null)
        {
            <ul class="sidebar-menu" data-widget="tree">


                @*<li class="header">Dashboard</li>*@
                @*@if (appUser.HomeRole)
                    {
                        <li class="@Html.IsSelected(controller: "Dashboard")">
                            <a href="@Url.Action("Index", "Dashboard")">
                                <i class="fa fa-bar-chart"></i> <span>CRM</span>
                            </a>
                        </li>
                    }*@

                @if (appUser.HomeRole)
                {
                    <li class="@Html.IsSelected(controller: "Home")">
                        <a href="@Url.Action("Index", "Home")">
                            <i class="fa fa-bar-chart"></i> <span>Dashboard</span>
                        </a>
                    </li>
                }

                @if (!appUser.isServiceProvider && !appUser.isSuperAdmin)
                {
                    <li class="@Html.IsSelected(action: "Create")">
                        <a href="@Url.Action("Create", "Enquiry")">
                            <i class="fa fa-search"></i> <span>Find Rates</span>
                        </a>
                    </li>
                }

                @*@if (appUser.StockRole)
                    {*@
                <li class="@Html.IsSelected(controller: "Enquiry", action: "Index")">
                    <a href="@Url.Action("Index", "Enquiry")">
                        <i class="fa fa-question-circle"></i> <span>Enquiries</span>
                    </a>
                </li>
                @* } *@



                @*<li class="header">INWARD MANAGEMENT</li>*@



                @*@if (appUser.ReceivingRole)
                    {*@
                <li class="@Html.IsSelected(controller: "Quotation", action: "Index")">
                    <a href="@Url.Action("Index", "Quotation")">
                        <i class="fa fa-file"></i> <span>Quotations</span>
                    </a>
                </li>
                @*}*@

                @*@if (appUser.PurchaseOrderRole)
                    {*@
                <li class="@Html.IsSelected(controller: "Booking", action: "Index")">
                    <a href="@Url.Action("Index", "Booking")">
                        <i class="fa fa-file-text"></i> <span>Bookings</span>
                    </a>
                </li>
                @*  }*@

                @*<li class="header">OUTWARD MANAGEMENT</li>*@


                @*@if (appUser.SalesOrderRole)
                    {
                        <li class="@Html.IsSelected(controller: "SalesOrder")">
                            <a href="@Url.Action("Index", "SalesOrder")">
                                <i class="fa fa-cart-arrow-down"></i> <span>Orders</span>
                            </a>
                        </li>
                    }

                    @if (appUser.ShipmentRole)
                    {
                        <li class="@Html.IsSelected(controller: "Shipment")">
                            <a href="@Url.Action("Index", "Shipment")">
                                <i class="fa fa-ship"></i><span>Active Orders</span>
                            </a>
                        </li>
                    }*@

                @*<li class="header">CRM</li>

                    @if (appUser.RatingRole)
                    {
                        <li class="@Html.IsSelected(controller: "Rating")">
                            <a href="@Url.Action("Index", "Rating")">
                                <i class="fa fa-star"></i> <span>Rating</span>
                            </a>
                        </li>
                    }

                    @if (appUser.ActivityRole)
                    {
                        <li class="@Html.IsSelected(controller: "Activity")">
                            <a href="@Url.Action("Index", "Activity")">
                                <i class="fa fa-bars"></i> <span>Activity</span>
                            </a>
                        </li>
                    }

                    @if (appUser.ChannelRole)
                    {
                        <li class="@Html.IsSelected(controller: "Channel")">
                            <a href="@Url.Action("Index", "Channel")">
                                <i class="fa fa-th"></i> <span>Channel</span>
                            </a>
                        </li>
                    }

                    @if (appUser.StageRole)
                    {
                        <li class="@Html.IsSelected(controller: "Stage")">
                            <a href="@Url.Action("Index", "Stage")">
                                <i class="fa fa-list-ol"></i> <span>Stage</span>
                            </a>
                        </li>
                    }

                    @if (appUser.AccountExecutiveRole)
                    {
                        <li class="@Html.IsSelected(controller: "AccountExecutive")">
                            <a href="@Url.Action("Index", "AccountExecutive")">
                                <i class="fa fa-user"></i> <span>AccountExecutive</span>
                            </a>
                        </li>
                    }

                    @if (appUser.LeadRole)
                    {
                        <li class="@Html.IsSelected(controller: "Lead")">
                            <a href="@Url.Action("Index", "Lead")">
                                <i class="fa fa-street-view"></i> <span>Lead</span>
                            </a>
                        </li>
                    }

                    @if (appUser.OpportunityRole)
                    {
                        <li class="@Html.IsSelected(controller: "Opportunity")">
                            <a href="@Url.Action("Index", "Opportunity")">
                                <i class="fa fa-dollar"></i> <span>Opportunity</span>
                            </a>
                        </li>
                    }*@

                @*<li class="header">CUSTOMER / Service Provider</li>*@

                @*@if (appUser.CustomerRole)
                    {
                        <li class="@Html.IsSelected(controller: "Customer")">
                            <a href="@Url.Action("Index", "Customer")">
                                <i class="fa fa-user-plus"></i> <span>Customer</span>
                            </a>
                        </li>
                    }*@


                @if (appUser.ServiceProviderRole)
                {
                    if (appUser.isServiceProvider == true)
                    {
                        <li class="@Html.IsSelected(controller: "ServiceProvider")">
                            <a href="@Url.Action("Details", "ServiceProvider", new { id = serviceProvider.serviceProviderId })">
                                <i class="fa fa-industry"></i> <span>Profile Settings</span>
                            </a>
                        </li>
                    }
                    else if (appUser.isSuperAdmin == true)
                    {
                        <li class="@Html.IsSelected(controller: "ServiceProvider")">
                            <a href="@Url.Action("Index", "ServiceProvider")">
                                <i class="fa fa-industry"></i> <span>Service Providers</span>
                            </a>
                        </li>

                        <li class="@Html.IsSelected(controller: "Customer")">
                            <a href="@Url.Action("Index", "Customer")">
                                <i class="fa fa-user"></i> <span>Customers</span>
                            </a>
                        </li>

                        <li class="@Html.IsSelected(controller: "Analytics")">
                            <a href="@Url.Action("Index", "Analytics")">
                                <i class="fa fa-tasks"></i> <span>Track Activities</span>
                            </a>
                        </li>

                        <li class="@Html.IsSelected(controller: "NewsArticle")">
                            <a href="@Url.Action("Index", "NewsArticle")">
                                <i class="fa fa-newspaper-o"></i> <span>News & Articles</span>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="@Html.IsSelected(controller: "Customer")">
                            <a href="@Url.Action("Details", "Customer", new { id = customer.customerId })">
                                <i class="fa fa-industry"></i> <span>Profile Settings</span>
                            </a>
                        </li>
                    }

                }

                @*@if (appUser.WarehouseRole)
                    {
                        <li class="@Html.IsSelected(controller: "Warehouse")">
                            <a href="@Url.Action("Index", "Warehouse")">
                                <i class="fa fa-dashcube"></i> <span>Warehouse</span>
                            </a>
                        </li>
                    }*@

                @*<li class="header">INVENTORY MANAGEMENT</li>*@



                @*@if (appUser.ProductRole)
                    {
                        <li class="@Html.IsSelected(controller: "Product")">
                            <a href="@Url.Action("Index", "Product")">
                                <i class="fa fa-tags"></i> <span>Product</span>
                            </a>
                        </li>
                    }

                    @if (appUser.BranchRole)
                    {
                        <li class="@Html.IsSelected(controller: "Branch")">
                            <a href="@Url.Action("Index", "Branch")">
                                <i class="fa fa-building-o"></i> <span>Branch</span>
                            </a>
                        </li>
                    }*@





                @*@if (appUser.TransferOrderRole)
                    {
                        <li class="@Html.IsSelected(controller: "TransferOrder")">
                            <a href="@Url.Action("Index", "TransferOrder")">
                                <i class="fa fa-recycle"></i> <span>Transfer Order</span>
                            </a>
                        </li>
                    }

                    @if (appUser.TransferOutRole)
                    {
                        <li class="@Html.IsSelected(controller: "TransferOut")">
                            <a href="@Url.Action("Index", "TransferOut")">
                                <i class="fa fa-upload"></i> <span>Goods Issue</span>
                            </a>
                        </li>
                    }

                    @if (appUser.TransferInRole)
                    {
                        <li class="@Html.IsSelected(controller: "TransferIn")">
                            <a href="@Url.Action("Index", "TransferIn")">
                                <i class="fa fa-download"></i> <span>Goods Receive</span>
                            </a>
                        </li>
                    }*@
                @if (appUser.isSuperAdmin)
                {
                    @*<li class="header">CONFIG</li>*@
                    <li class="@Html.IsSelected(controller: "Location")">
                        <a href="@Url.Action("Index", "Location")">
                            <i class="fa fa-map"></i> <span>Locations</span>
                        </a>
                    </li>

                }

                @if (appUser.UserName == "super@admin.com")  //HIDDEN
                {
                    @*<li class="header">CONFIG</li>*@
                    <li class="@Html.IsSelected(controller: "ApplicationUser") hide">
                        <a href="@Url.Action("Index", "ApplicationUser")">
                            <i class="fa fa-users"></i> <span>User Roles</span>
                        </a>
                    </li>

                }

                @*<li class="header">BONUS TEMPLATE</li>
                    <li class="@Html.IsSelected(controller: "Adminlte", action: "Dashboardv1")">
                        <a href="@lte.MVC.Pages.Dashbaordv1.Url" target="_blank">
                            <i class="fa fa-gears"></i> <span>Demo</span>
                        </a>
                    </li>*@
            </ul>

        }



    </section>
    <!-- /.sidebar -->
</aside>
