﻿<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 0.3.0
    </div>
    <strong>Copyright &copy; 2020 <a href="#">SL Freighters HUB</a>.</strong> All rights
    reserved.
    <strong>Design & Developed By <a href="https://overandall.com">OVER AND ALL TECH</a>.</strong>
</footer>