﻿<!-- jQuery 3 -->
<script src="~/adminlte/components/jquery/dist/jquery.min.js"></script>
<!--jqueryUI-->
<script src="~/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="~/adminlte/components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Select2 -->
<script src="~/adminlte/components/select2/dist/js/select2.full.min.js"></script>
<!-- bootstrap datepicker -->
<script src="~/adminlte/components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<!-- PACE -->
<script src="~/adminlte/components/PACE/pace.min.js"></script>
<!-- Slimscroll -->
<script src="~/adminlte/components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="~/adminlte/components/fastclick/lib/fastclick.js"></script>
<!-- DataTables -->
<script src="~/adminlte/components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/adminlte/components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
<!-- Toastr -->
<script src="~/lib/toastr/toastr.min.js"></script>
<!-- Sweetalert -->
<script src="~/lib/sweetalert/sweetalert.min.js"></script>
<!-- Site -->
<script src="~/js/site.min.js"></script>
<!-- Serialize JSON -->
<script src="~/lib/marioizquierdo-jquery.serializeJSON/jquery.serializejson.min.js"></script>
<!-- AdminLTE App -->
<script src="~/adminlte/dist/js/adminlte.min.js"></script>
<!-- iCheck 1.0.1 -->
<script src="~/adminlte/plugins/iCheck/icheck.min.js"></script>
<!-- AdminLTE for demo purposes -->
@*<script src="~/adminlte/dist/js/demo.js"></script>*@
<script src="~/js/shortcut.js"></script>



<!--Horizontal Wizard-->
@*<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>*@
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
@*<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>*@
<script src="~/lib/wizard-horizontal/js/jquery.steps.min.js"></script>
<script src="~/lib/wizard-horizontal/js/bd-wizard.js"></script>

@*<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>*@



<!--Vertical Wizard-->
@*<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="~/lib/wizard-vertical/js/jquery.steps.min.js"></script>
    <script src="~/lib/wizard-vertical/js/bd-wizard.js"></script>*@

<!-- Bootstrap WYSIHTML5 -->
<script src="~/adminlte/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>


@*<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>*@