﻿<!DOCTYPE html>
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject netcore.Data.ApplicationDbContext Context
@{

    ApplicationUser appUser = await UserManager.GetUserAsync(User);
    string controller = (string)ViewContext.RouteData.Values["controller"];
    string id = (string)ViewContext.RouteData.Values["id"];
    string entityIcon = ViewData["EntityIcon"] as string;
}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>@ViewData["Title"]</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    @Html.Partial("_AdminlteNetcoreBasicStyles")

    @RenderSection("Styles", required: false)

    <style>
        .media {
            display: flex;
            align-items: flex-start;
        }

        .media-body {
            flex: 1;
        }

        .wizard .content .form-control {
            outline: none !important;
            border: none !important;
            color: rgb(51, 51, 51);
            font-size: 14px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.21;
            letter-spacing: normal;
        }

        .control-label {
            font-size: 14px;
            font-weight: 400;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.21;
            letter-spacing: normal;
            color: #666;
        }
        .wizard .content .section-heading {
            font-size: 16px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.13;
            letter-spacing: normal;
            color: #073447;
        }

        .wizard .steps > ul li .bd-wizard-step-title {
            color: #073447;
        }

        .box.box-primary {
            border-top-color: none !important;
        }

        .box {
            border-top: none !important;
        }

        .box-body {
            box-shadow: none;
        }

        .box-footer {
            border-top: none !important;
        }

    </style>

</head>
<body class="hold-transition skin-blue fixed sidebar-mini">
    <div class="wrapper">
        @Html.Partial("_AdminlteNetcoreMainHeader", appUser)
        <!-- Left side column. contains the logo and sidebar -->
        @Html.Partial("_AdminlteNetcoreMainSidebar", appUser)
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            @*<section class="content-header">
                <h1>
                    <i class="@entityIcon text-primary"></i> Service Provider Details
                </h1>
            </section>*@
            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-md-12">

                        <!-- Default box -->
                        <div class="box box-primary">

                            <div class="box-body" style="padding: 10px;">
                                @RenderBody()
                                @*<div class="form-group pull-right">
                                    <input type="submit" value="Create" class="btn btn-primary" />
                                    <a asp-action="Index" class="btn btn-default">Back to List</a>
                                </div>*@
                            </div>
                            <!-- /.box-body -->
                            @*<div class="box-footer">
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" />
                                <a asp-action="Index" class="btn btn-default">Back to List</a>
                            </div>
                        </div>*@
                            <!-- /.box-footer-->
                        </div>
                        <!-- /.box -->
                    </div>
                </div>

            </section>


            @*<section class="content">
                <div class="col-md-12">
                    @RenderBody()
                </div>
            </section>*@
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        @Html.Partial("_AdminlteNetcoreFooter")

    </div>
    <!-- ./wrapper -->


    @Html.Partial("_AdminlteNetcoreBasicScripts")

    @RenderSection("Scripts", required: false)

    

</body>
</html>
