﻿@model netcore.Models.ApplicationUser
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject netcore.Data.ApplicationDbContext Context
@{
    ApplicationUser appUser = await UserManager.GetUserAsync(User);
    //List<Notifications> notifications = Context.Notifications.Where(x => x.fromUserId == appUser.Id).ToList();
    List<Notifications> notifications = new List<Notifications>();
}
<header class="main-header">
    <!-- Logo -->
    <a href="@netcore.MVC.Pages.HomeIndex.Url" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><img src="~/images/logo-dashboard.png" /></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><img src="~/images/logo-dashboard.png" style="padding-top: 15px;" /></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Notifications: style can be found in dropdown.less -->
                @Html.Partial("_NotificationsPartial", notifications);


                @if (Model != null)
                {
                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="@Model.profilePictureUrl" class="user-image profilePicture" alt="User Image">
                            <span class="hidden-xs">@Model.Email</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <img src="@Model.profilePictureUrl" class="img-circle profilePicture" alt="User Image">
                                <p>
                                    @Model.Email
                                </p>
                                @if (appUser.isServiceProvider)
                                {
                                    <p style="font-size:small">(Service Provider)</p>
                                }
                                else if (appUser.isSuperAdmin)
                                {
                                    <p>(Admin)</p>
                                }
                                else
                                {
                                    <p>(Customer)</p>
                                }
                            </li>

                            <!-- Menu Footer-->

                            <li class="user-footer">

                                <div class="pull-left">
                                    <a href="@Url.Action("ChangePassword", "Manage")" class="btn btn-default btn-flat">User & Password</a>
                                </div>
                                <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                                    <div class="pull-right">
                                        <button type="submit" class="btn btn-default btn-flat">Sign out</button>
                                    </div>
                                </form>

                            </li>
                        </ul>
                    </li>

                }

            </ul>
        </div>
    </nav>
</header>