﻿<!DOCTYPE html>
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject netcore.Data.ApplicationDbContext Context
@{

    ApplicationUser appUser = await UserManager.GetUserAsync(User);
    string controller = (string)ViewContext.RouteData.Values["controller"];
    string listTitle = ViewData["ListTitle"] as string;
    string entityIcon = ViewData["EntityIcon"] as string;
}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>@ViewData["Title"]</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    @Html.Partial("_AdminlteNetcoreBasicStyles")

    @RenderSection("Styles", required: false)

</head>
<body class="hold-transition skin-blue fixed sidebar-mini">
    <div class="wrapper">
        @Html.Partial("_AdminlteNetcoreMainHeader", appUser)
        <!-- Left side column. contains the logo and sidebar -->
        @Html.Partial("_AdminlteNetcoreMainSidebar", appUser)
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            
            <!-- Main content -->
            <section class="content">
                <div class="row">
                </div>


                <div class="row">
                    @if (appUser.isSuperAdmin || appUser.isServiceProvider)
                    {
                        <div class="col-md-12">
                            <div class="box box-primary">
                                <div class="box-header with-border" style="border-bottom: none;">
                                    <h3 class="box-title"><i class="@entityIcon text-primary"></i> <span>&nbsp;Track Activities</span></h3>
                                    <div class="box-tools pull-right">
                                        <div class="has-feedback">
                                            <input type="text" id="mainSearch" class="form-control input-sm" placeholder="Search...">
                                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                                        </div>
                                    </div>
                                </div>

                                @if (appUser.isSuperAdmin || appUser.isServiceProvider)
                                {
                                    @*<div class="box-body no-padding">
                                        <div class="mailbox-controls">
                    <div class="text-center">
                        <button type="button" id="btn-export-excel" class="btn btn-success btn-sm"><i class="fa fa-file-excel-o"></i></button>
                        <button type="button" id="btn-export-pdf" class="btn btn-danger btn-sm"><i class="fa fa-file-pdf-o"></i></button>
                        <button type="button" id="btn-export-csv" class="btn btn-primary btn-sm"><i class="fa fa-file-text-o"></i></button>
                    </div>
                </div>*@
                                        <div class="table-responsive mailbox-messages" style="overflow-x: hidden;">
                                            <div class="row">
                                                <div class="col-md-12 col-sm-6">
                                                    <div class="card card-primary card-tabs">
                                                        <div class="card-header p-0 pt-1">
                                                            <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                                                                <li class="nav-item active">
                                                                    <a class="nav-link active" id="custom-tabs-one-enquiries-posted-tab" data-toggle="pill" href="#custom-tabs-one-enquiries-posted" role="tab" aria-controls="custom-tabs-one-enquiries-posted" aria-selected="true">Enquiries Posted&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></a>
                                                                </li>
                                                                <li class="nav-item">
                                                                    <a class="nav-link active" id="custom-tabs-two-quotations-sent-tab" data-toggle="pill" href="#custom-tabs-two-quotations-sent" role="tab" aria-controls="custom-tabs-two-quotations-sent" aria-selected="true">Quotations Sent&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></a>
                                                                </li>
                                                                <li class="nav-item">
                                                                    <a class="nav-link" id="custom-tabs-three-quotations-booked-tab" data-toggle="pill" href="#custom-tabs-three-quotations-booked" role="tab" aria-controls="custom-tabs-three-quotations-booked" aria-selected="false">Quotations Booked&nbsp;&nbsp;<i class="fa fa-thumbs-up"></i></a>
                                                                </li>
                                                                @*<li class="nav-item">
                                                                    <a class="nav-link" id="custom-tabs-four-bookings-completed-tab" data-toggle="pill" href="#custom-tabs-four-bookings-completed" role="tab" aria-controls="custom-tabs-four-bookings-completed" aria-selected="false">Bookings Completed</a>
                                                                </li>*@
                                                            </ul>
                                                        </div>
                                                        <div class="card-body">
                                                            <div class="tab-content" id="custom-tabs-one-tabContent">
                                                                @RenderBody()

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    @*</div>*@
                                }
                                else
                                {

                                    @RenderBody()

                                
                                }

                            </div>


                        </div>
                    }
                    else
                    {
                        <div class="col-md-12">
                            <div class="box box-primary">
                                <div class="box-header with-border" style="border-bottom: none;">
                                    <h3 class="box-title"><i class="@entityIcon text-primary"></i> <span>&nbsp;Bookings</span></h3>
                                    <div class="box-tools pull-right">
                                        <div class="has-feedback">
                                            <input type="text" id="mainSearch" class="form-control input-sm" placeholder="Search...">
                                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                                        </div>
                                    </div>
                                </div>

                                @if (appUser.isSuperAdmin || appUser.isServiceProvider)
                                {
                                    <div class="box-body no-padding">
                                        @*<div class="mailbox-controls">
                                            <div class="text-center">
                                            <button type="button" id="btn-export-excel" class="btn btn-success btn-sm"><i class="fa fa-file-excel-o"></i></button>
                                            <button type="button" id="btn-export-pdf" class="btn btn-danger btn-sm"><i class="fa fa-file-pdf-o"></i></button>
                                            <button type="button" id="btn-export-csv" class="btn btn-primary btn-sm"><i class="fa fa-file-text-o"></i></button>
                                            </div>
                                        </div>*@
                                        <div class="table-responsive mailbox-messages" style="overflow-x: hidden;">
                                            <div class="row">
                                                <div class="col-md-12 col-sm-6">
                                                    <div class="card card-primary card-tabs">
                                                        <div class="card-header p-0 pt-1">
                                                            <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                                                                <li class="nav-item active">
                                                                    <a class="nav-link active" id="custom-tabs-one-ongoing-tab" data-toggle="pill" href="#custom-tabs-one-ongoing-booking" role="tab" aria-controls="custom-tabs-one-ongoing" aria-selected="true">Ongoing Bookings</a>
                                                                </li>
                                                                <li class="nav-item">
                                                                    <a class="nav-link" id="custom-tabs-one-closed-tab" data-toggle="pill" href="#custom-tabs-one-closed-bookings" role="tab" aria-controls="custom-tabs-one-closed" aria-selected="false">Closed Bookings</a>
                                                                </li>

                                                            </ul>
                                                        </div>
                                                        <div class="card-body">
                                                            <div class="tab-content" id="custom-tabs-one-tabContent">
                                                                @RenderBody()

                                                            </div>
                                                        </div>
                                                        <!-- /.card -->
                                                    </div>
                                                </div>
                                            </div>


                                            <!-- /.table -->
                                        </div>
                                        <!-- /.mail-box-messages -->
                                    </div>
                                }
                                else
                                {
                                    <div class="box-body no-padding">
                                        <div class="table-responsive mailbox-messages" style="overflow-x: hidden;">
                                            <div class="row">
                                                <div class="col-md-12 col-sm-6">
                                                    <div class="card card-primary card-tabs">
                                                        <div class="card-header p-0 pt-1">

                                                            <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">

                                                                <li class="nav-item active">
                                                                    <a href="#custom-tabs-one-ongoing-booking" id="custom-tabs-one-ongoing-tab" data-toggle="pill" class="nav-link active" aria-controls="custom-tabs-one-ongoing" aria-selected="true" role="tab">
                                                                        <div class="product-img">
                                                                            <img src="~/images/icons/ongoing.png" alt="Product Image" style="width: 42px; height: 42px; padding: 5px"><b> Ongoing Bookings</b>
                                                                        </div>
                                                                    </a>
                                                                </li>

                                                                <li class="nav-item">
                                                                    <a href="#custom-tabs-one-closed-bookings" data-toggle="pill" class="nav-link" role="tab" aria-controls="custom-tabs-one-closed" aria-selected="false">
                                                                        <div class="product-img">
                                                                            <img src="~/images/icons/closed.png" alt="Product Image" style="width: 42px; height: 42px; padding: 5px"><b> Closed Bookings</b>
                                                                        </div>
                                                                    </a>
                                                                </li>

                                                            </ul>
                                                        </div>
                                                        <div class="card-body">
                                                            <div class="tab-content" id="custom-tabs-one-tabContent">
                                                                @RenderBody()

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                    }


                </div>


            </section>
           
        </div>
   
        @Html.Partial("_AdminlteNetcoreFooter")

    </div>

    @Html.Partial("_AdminlteNetcoreBasicScripts")

    <script>
        $(document).ready(function () { 
            var mainTable;

            mainTable = $('.table').DataTable({
                "lengthChange": false,
                "info": false,
                "searching": true,
                "dom": 'lrtip',
                "scrollX": false,
                "buttons": [
                            { 
                                extend: 'csv',
                                filename: '@controller-csv'
                            },
                            { 
                                extend: 'pdf',      
                                filename: '@controller-pdf'
                            },
                            { 
                                extend: 'excel',
                                filename: '@controller-excel'
                            }
                        ]
            });

            $('#mainSearch').keyup(function () {
                mainTable.search($(this).val()).draw();
            })

            $("#btn-export-csv").on("click", function() {
                mainTable.button( '.buttons-csv' ).trigger();
            })

            $("#btn-export-excel").on("click", function() {
                mainTable.button( '.buttons-excel' ).trigger();
            })

            $("#btn-export-pdf").on("click", function() {
                mainTable.button( '.buttons-pdf' ).trigger();
            })



            $('[data-toggle="tooltip"]').tooltip();

        });
       


    </script>

    @RenderSection("Scripts", required: false)



</body>
</html>
