﻿<!DOCTYPE html>
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject netcore.Data.ApplicationDbContext Context
@{

    ApplicationUser appUser = await UserManager.GetUserAsync(User);
    string controller = (string)ViewContext.RouteData.Values["controller"];
    string entityIcon = ViewData["EntityIcon"] as string;

}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>@ViewData["Title"]</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    @Html.Partial("_EnquiryCreateStyles")

    @RenderSection("Styles", required: false)

    <style>
        .fa-controls {
            font-size: 20px;
        }
        .input-group-addon {
            color: #278a87;
        }
        .form-control{
            height: 43px;
        }


        .timeline > .time-label > span {
            padding: 6px;
            font-size: medium;
        }

        .timeline:before {
            background: grey;
            width: 2px;
            top: 19px;
            bottom: 19px;
        }

        .timeline > li > .timeline-item {
            -webkit-box-shadow: none;
        }


        .input-group .form-control:last-child {
            height: 43px;
        }

        .select2-container--default .select2-selection--single, .select2-selection .select2-selection--single {
            padding: 10px 12px;
            height: 43px;
        }

        .select2-container--default .select2-selection--single .select2-selection__placeholder {
            color: #525252;
        }

        .nav-tabs {
            border-bottom: 1px solid #607d8b;
        }
        .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
            border: 1px solid #607d8b;
        }
    </style>

</head>
<body class="hold-transition skin-blue fixed sidebar-mini">
    <div class="wrapper">
        @Html.Partial("_AdminlteNetcoreMainHeader", appUser)
        <!-- Left side column. contains the logo and sidebar -->
        @Html.Partial("_AdminlteNetcoreMainSidebar", appUser)
        <!-- Content Wrapper. Contains page content -->
        <form asp-action="Create">
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                @*<section class="content-header">
                    <h1>
                        <i class="@entityIcon text-primary"></i> Create @controller
                    </h1>
                </section>*@
                <!-- Main content -->
                <section class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Default box -->
                            <div class="box box-primary">

                                <div class="box-body">
                                    @RenderBody()
                                </div>
                                
                            </div>
                            <!-- /.box -->
                        </div>
                        @*<div class="col-md-3">
            <div class="callout callout-info" style="margin-bottom: 0!important;">
                <h4><i class="fa fa-info"></i> Info:</h4>
                <p>
                    @ViewBag.CreateInfo
                </p>
            </div>
        </div>*@
                    </div>

                </section>
                <!-- /.content -->
            </div>
        </form>
        
        <!-- /.content-wrapper -->
        @Html.Partial("_AdminlteNetcoreFooter")

    </div>
    <!-- ./wrapper -->

    @Html.Partial("_AdminlteNetcoreBasicScripts")

    @RenderSection("Scripts", required: false)

</body>
</html>
