﻿<!DOCTYPE html>
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject netcore.Data.ApplicationDbContext Context
@{

    ApplicationUser appUser = await UserManager.GetUserAsync(User);
    string controller = (string)ViewContext.RouteData.Values["controller"];
    string listTitle = ViewData["ListTitle"] as string;
    string entityIcon = ViewData["EntityIcon"] as string;
}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>@ViewData["Title"]</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    @Html.Partial("_AdminlteNetcoreBasicStyles")

    @RenderSection("Styles", required: false)

</head>
<body class="hold-transition skin-blue fixed sidebar-mini">
    <div class="wrapper">
        @Html.Partial("_AdminlteNetcoreMainHeader", appUser)
        <!-- Left side column. contains the logo and sidebar -->
        @Html.Partial("_AdminlteNetcoreMainSidebar", appUser)
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            
            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-md-3">
                        @*@if (appUser.isSuperAdmin || !appUser.isServiceProvider)
                        {
                            <a asp-action="Create" class="btn btn-primary btn-block margin-bottom"><i class="@entityIcon"></i> <span>&nbsp;New Enquiry</span></a>
                        }*@


                        @*<div class="box box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Shortcuts</h3>
                        <div class="box-tools">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body no-padding">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="@Url.Action("Index", "PurchaseOrder")"><i class="fa fa-circle-o text-red"></i> Inward</a></li>
                            <li><a href="@Url.Action("Index", "Receiving")"><i class="fa fa-circle-o text-yellow"></i> Receiving</a></li>
                            <li><a href="@Url.Action("Index", "Warehouse")"><i class="fa fa-circle-o text-blue"></i> Customer Warehouse</a></li>
                        </ul>
                    </div>
                </div>*@

                        @*<div class="box box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Product Out</h3>
                        <div class="box-tools">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body no-padding">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="@Url.Action("Index", "SalesOrder")"><i class="fa fa-circle-o text-red"></i> Sales</a></li>
                            <li><a href="@Url.Action("Index", "Shipment")"><i class="fa fa-circle-o text-yellow"></i> Shipment</a></li>
                            <li><a href="@Url.Action("Index", "TransferOrder")"><i class="fa fa-circle-o text-light-blue"></i> Transfer Order</a></li>
                        </ul>
                    </div>

                </div>*@

                    </div>
                    <!-- /.col -->

                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header with-border" style="border-bottom: none;">
                                <h3 class="box-title"><i class="@entityIcon text-primary"></i> <span>&nbsp;Enquiries</span></h3>
                                <div class="box-tools pull-right">
                                    <div class="has-feedback">
                                        <input type="text" id="mainSearch" class="form-control input-sm" placeholder="Search...">
                                        <span class="glyphicon glyphicon-search form-control-feedback"></span>
                                    </div>
                                </div>
                            </div>

                            @if (appUser.isServiceProvider)
                            {
                                <div class="box-body no-padding">

                                    <div class="mailbox-controls">
                                        <div class="text-center">
                                            <button type="button" id="btn-export-excel" class="btn btn-success btn-sm"><i class="fa fa-file-excel-o"></i></button>
                                            <button type="button" id="btn-export-pdf" class="btn btn-danger btn-sm"><i class="fa fa-file-pdf-o"></i></button>
                                            <button type="button" id="btn-export-csv" class="btn btn-primary btn-sm"><i class="fa fa-file-text-o"></i></button>
                                        </div>
                                    </div>

                                    <div class="table-responsive mailbox-messages" style="overflow-x: hidden;">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-6">
                                                <div class="card card-primary card-tabs">
                                                    <div class="card-header p-0 pt-1">
                                                        <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                                                            <li class="nav-item active">
                                                                <a class="nav-link active" id="custom-tabs-one-home-tab" data-toggle="pill" href="#custom-tabs-one-home" role="tab" aria-controls="custom-tabs-one-home" aria-selected="true">Current Enquiries</a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a class="nav-link" id="custom-tabs-one-profile-tab" data-toggle="pill" href="#custom-tabs-one-profile" role="tab" aria-controls="custom-tabs-one-profile" aria-selected="false">Enquiries Missed</a>
                                                            </li>

                                                        </ul>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="tab-content" id="custom-tabs-one-tabContent">
                                                            @RenderBody()

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            else if (appUser.isSuperAdmin)
                            {
                                <div class="box-body no-padding">

                                    <div class="mailbox-controls">
                                        <div class="text-center">
                                            <button type="button" id="btn-export-excel" class="btn btn-success btn-sm"><i class="fa fa-file-excel-o"></i></button>
                                            <button type="button" id="btn-export-pdf" class="btn btn-danger btn-sm"><i class="fa fa-file-pdf-o"></i></button>
                                            <button type="button" id="btn-export-csv" class="btn btn-primary btn-sm"><i class="fa fa-file-text-o"></i></button>
                                        </div>
                                    </div>

                                    <div class="table-responsive mailbox-messages" style="overflow-x: hidden;">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-6">
                                                <div class="card card-primary card-tabs">
                                                    <div class="card-header p-0 pt-1">
                                                        <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                                                            <li class="nav-item active">
                                                                <a class="nav-link active" id="custom-tabs-one-all-tab" data-toggle="pill" href="#custom-tabs-one-all" role="tab" aria-controls="custom-tabs-one-all" aria-selected="true">All Enquiries</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="tab-content" id="custom-tabs-one-tabContent">
                                                            @RenderBody()

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            }
                            else
                            {
                                @RenderBody()
                            }

                        </div>
                        @*<div class="callout callout-info" style="margin-bottom: 0!important;">
                    <h4><i class="fa fa-info"></i> Info:</h4>
                    <p>
                        @ViewBag.IndexInfo
                    </p>
                </div>*@
                    </div>
                    <!-- /.col -->
                </div>


            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        @Html.Partial("_AdminlteNetcoreFooter")

    </div>
    <!-- ./wrapper -->

    @Html.Partial("_AdminlteNetcoreBasicScripts")

    <script>
        $(document).ready(function () { 
            var mainTable;

            mainTable = $('.table').DataTable({
                "lengthChange": false,
                "info": false,
                "searching": true,
                "dom": 'lrtip',
                "scrollX": false,
                "buttons": [
                            { 
                                extend: 'csv',
                                filename: '@controller-csv'
                            },
                            { 
                                extend: 'pdf',      
                                filename: '@controller-pdf'
                            },
                            { 
                                extend: 'excel',
                                filename: '@controller-excel'
                            }
                        ]
            });

            $('#mainSearch').keyup(function () {
                mainTable.search($(this).val()).draw();
            })

            $("#btn-export-csv").on("click", function() {
                mainTable.button( '.buttons-csv' ).trigger();
            })

            $("#btn-export-excel").on("click", function() {
                mainTable.button( '.buttons-excel' ).trigger();
            })

            $("#btn-export-pdf").on("click", function() {
                mainTable.button( '.buttons-pdf' ).trigger();
            })



            $('[data-toggle="tooltip"]').tooltip();

        });
       


    </script>

    @RenderSection("Scripts", required: false)



</body>
</html>
