@model IEnumerable<netcore.Models.Notifications>
@inject UserManager<ApplicationUser> UserManager
@inject netcore.Data.ApplicationDbContext Context
@{
    ApplicationUser appUser = await UserManager.GetUserAsync(User);
    var currentUseId = await UserManager.GetUserIdAsync(appUser);
    var notifications = Context.Notifications;

}

<style>
    .navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > div > img {
        margin: auto 10px auto auto;
        width: auto !important;
        height: auto !important;
    }
</style>


<li class="dropdown messages-menu">
    @if (appUser.isServiceProvider) //Service Provider
    {
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-bell-o"></i>
            @if (notifications.Where(x => x.toUserId == null && x.Name.Contains(NotificationNameModel.EnquiryNotification) || x.Name.Contains(NotificationNameModel.BookingNotification) || (x.Name.Contains(NotificationNameModel.DocumentRequestNotification) && (x.toUserId.Contains(currentUseId))) ).Count() != 0)
            {
                <span class="label label-warning">@notifications.Where(x => x.toUserId == null && x.Name == NotificationNameModel.EnquiryNotification || x.Name == NotificationNameModel.BookingNotification || (x.Name.Contains(NotificationNameModel.DocumentRequestNotification) && (x.toUserId.Contains(currentUseId))) ).Count()</span>
            }
        </a>

        <ul class="dropdown-menu">
            <li class="header">You have @notifications.Where(x => x.toUserId == null && x.Name.Contains(NotificationNameModel.EnquiryNotification) ||
                                   x.Name.Contains(NotificationNameModel.BookingNotification) ||
                                   (x.Name.Contains(NotificationNameModel.DocumentRequestNotification) && (x.toUserId.Contains(currentUseId))) ).Count() notifications</li>

            @foreach (var item in notifications.Where(x => x.Name.Contains(NotificationNameModel.EnquiryNotification) || 
                                                         x.Name.Contains(NotificationNameModel.BookingNotification) || 
                                                         (x.Name.Contains(NotificationNameModel.DocumentRequestNotification) && (x.toUserId.Contains(currentUseId))) ))
            {

                    <li>
                        <ul class="menu">
                            <li>
                                @*<a href="#">
                                <i class="fa fa-question-circle text-aqua"></i> @item.Data
                            </a>*@
                                <a href="#">
                                    @if (item.Name == NotificationNameModel.EnquiryNotification)
                                    {
                                        <div class="pull-left">
                                            <img src="/images/icons/question.png" class="img-circle" alt="User Image">
                                            @*<i class="fa fa-question-circle text-aqua"></i>*@
                                        </div>
                                    }
                                    else if (item.Name == NotificationNameModel.BookingNotification)
                                    {
                                        <div class="pull-left">
                                            <img src="/images/icons/tick.png" class="img-circle" alt="User Image">
                                        </div>
                                    }
                                    else if (item.Name == NotificationNameModel.DocumentRequestNotification)
                                    {
                                        <div class="pull-left">
                                            <img src="/images/icons/request.png" class="img-circle" alt="User Image">
                                        </div>
                                    }
                                    <h4>
                                        @item.Name
                                        <small><i class="fa fa-clock-o"></i> @item.createdDate.ToString("dd/MM/yyyy")</small>
                                    </h4>
                                    @{
                                        if (item.Data.Contains(","))
                                        {
                                            string[] notificationDataList = item.Data.Split(",");
                                            foreach (string data in notificationDataList)
                                            {
                                                <p>@data</p>
                                            }
                                        }
                                        else
                                        {
                                            <p>@item.Data</p>
                                        }
                                    }
                                </a>
                            </li>
                        </ul>
                    </li>
                

            }
            @*<li class="footer"><a href="#">View all</a></li>*@
        </ul>
    }

    @if (!appUser.isServiceProvider)        //Customer
    {
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-bell-o"></i>
            @if (notifications.Where(x => x.toUserId == appUser.Id && x.Name.Contains(NotificationNameModel.QuotationNotification) || 
                                                        x.Name.Contains(NotificationNameModel.CompletedNotification) || 
                                                        (x.Name.Contains(NotificationNameModel.DocumentRequestNotification) && (x.toUserId.Contains(currentUseId)))).Count() != 0)
            {
                <span class="label label-warning">@notifications.Where(x => x.toUserId == appUser.Id && x.Name.Contains(NotificationNameModel.QuotationNotification) ||
                                             x.Name.Contains(NotificationNameModel.CompletedNotification) || 
                                             (x.Name.Contains(NotificationNameModel.DocumentRequestNotification) && (x.toUserId.Contains(currentUseId)))).Count()</span>
            }
        </a>

        var quotationNotifications = Context.Notifications.Where(x => x.toUserId == appUser.Id && x.Name.Contains(NotificationNameModel.QuotationNotification) || 
                                                        x.Name.Contains(NotificationNameModel.CompletedNotification) ||
                                                         (x.Name.Contains(NotificationNameModel.DocumentRequestNotification) && (x.toUserId.Contains(currentUseId))));
        <ul class="dropdown-menu">
            <li class="header">You have @notifications.Where(x => x.toUserId == appUser.Id && x.Name.Contains(NotificationNameModel.QuotationNotification) || 
                                                            x.Name.Contains(NotificationNameModel.CompletedNotification) ||
                                                         (x.Name.Contains(NotificationNameModel.DocumentRequestNotification) && (x.toUserId.Contains(currentUseId)))).Count() notifications</li>
            @foreach (var item in quotationNotifications)
            {
                <li>
                    <ul class="menu">
                        <li>
                            <a href="#">
                                @if (item.Name == NotificationNameModel.QuotationNotification)
                                {
                                    <div class="pull-left">
                                        <img src="/images/icons/file.png" class="img-circle" alt="User Image">
                                    </div>
                                }
                                else if (item.Name == NotificationNameModel.CompletedNotification)
                                {
                                    <div class="pull-left">
                                        <img src="/images/icons/check.png" class="img-circle" alt="User Image">
                                    </div>
                                }
                                else if (item.Name == NotificationNameModel.DocumentRequestNotification)
                                {
                                    <div class="pull-left">
                                        <img src="/images/icons/request.png" class="img-circle" alt="User Image">
                                    </div>
                                }
                                <h4>
                                    @item.Name
                                    <small><i class="fa fa-clock-o"></i> @item.createdDate.ToString("dd/MM/yyyy")</small>
                                </h4>
                                @{
                                    if (item.Data.Contains(","))
                                    {
                                        string[] notificationDataList = item.Data.Split(",");
                                        foreach (string data in notificationDataList)
                                        {
                                            <p>@data</p>
                                        }
                                    }
                                    else
                                    {
                                        <p>@item.Data</p>
                                    }
                                }
                            </a>
                        </li>
                    </ul>
                </li>
            }
            @*<li class="footer"><a href="#">View all</a></li>*@
        </ul>
    }
    <!--else
    {
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-bell-o"></i>
            <span class="label label-warning"></span>
        </a>
        <ul class="dropdown-menu">
            <li class="header">You have No notifications</li>-->
            @*<li class="footer"><a href="#">View all</a></li>*@
        <!--</ul>
    }-->
</li>



