﻿

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- Required meta tags -->

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Cando HTML Template">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/publicsite/images/favicon.png" type="image/png">

    <!-- Load Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,400i,500,600,600i,800,900&amp;display=swap" rel="stylesheet">

    <!-- Load CSS -->
    <link rel="stylesheet" href="~/publicsite/css/style.css">

    <title>SL Freighters Hub</title>
</head>

<body class="creative-bg section-80">
    @RenderBody()

    <!-- Load Scripts -->
    <script src="~/publicsite/js/jquery-3.4.1.min.js"></script>
    <script src="~/publicsite/js/bootstrap.min.js"></script>
    <script src="~/publicsite/js/counter.js"></script>
    <script src="~/publicsite/js/anime.min.js"></script>
    <script src="~/publicsite/js/aos.js"></script>
    <script src="~/publicsite/js/magnific-popup.js"></script>
    <script src="~/publicsite/js/owl.carousel.min.js"></script>
    <script src="~/publicsite/js/infinite-scroll.pkgd.min.js"></script>
    <script src="~/publicsite/js/isotope.pkgd.min.js"></script>
    <script src="~/publicsite/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/publicsite/js/parallax.js"></script>
    <script src="~/publicsite/js/single-page-nav.js"></script>
    <script src="~/publicsite/js/custom.js"></script>

    @RenderSection("Scripts", false)

</body>
</html>

