﻿@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title"><i class="fa fa-file"></i>&nbsp;&nbsp;Update Quotation Information</h4>
        </div>
        <form onsubmit="return SaveQuotationInfo(this)">
            <div class="box-body">
                @RenderBody()
            </div>

            <div class="box-footer">
                <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-save"></i> Submit</button>
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal" onclick="window.location.reload();">Cancel</button>
            </div>
        </form>
    </div>
</div>

@Html.Partial("_AdminlteNetcoreBasicStyles")

@RenderSection("Styles", required: false)

@Html.Partial("_AdminlteNetcoreBasicScripts")

@RenderSection("Scripts", required: false)







