﻿<!DOCTYPE html>
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject netcore.Data.ApplicationDbContext Context
@{

    ApplicationUser appUser = await UserManager.GetUserAsync(User);
    string controller = (string)ViewContext.RouteData.Values["controller"];
    string listTitle = ViewData["ListTitle"] as string;
    string entityIcon = ViewData["EntityIcon"] as string;
}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>@ViewData["Title"]</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    @Html.Partial("_AdminlteNetcoreBasicStyles")

    @RenderSection("Styles", required: false)

</head>
<body class="hold-transition skin-blue fixed sidebar-mini">
    <div class="wrapper">
        @Html.Partial("_AdminlteNetcoreMainHeader", appUser)
        <!-- Left side column. contains the logo and sidebar -->
        @Html.Partial("_AdminlteNetcoreMainSidebar", appUser)
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            
            <!-- Main content -->
            <section class="content">
                <div class="row">
                    @*<div class="col-md-3">
                        @if (appUser.isSuperAdmin)
                        {
                            <a asp-action="Create" class="btn btn-primary btn-block margin-bottom"><i class="@entityIcon"></i> <span>&nbsp;New Quotation</span></a>
                        }

                    </div>*@
    

                </div>

                @RenderBody()

                


            </section>
           
        </div>
   
        @Html.Partial("_AdminlteNetcoreFooter")

    </div>

    @Html.Partial("_AdminlteNetcoreBasicScripts")

@*<script>
        $(document).ready(function () {
            var mainTable;

            mainTable = $('.table').DataTable({
                "lengthChange": false,
                "info": false,
                "searching": true,
                "dom": 'lrtip',
                "scrollX": false,
                "buttons": [
                            {
                                extend: 'csv',
                                filename: '@controller-csv'
                            },
                            {
                                extend: 'pdf',
                                filename: '@controller-pdf'
                            },
                            {
                                extend: 'excel',
                                filename: '@controller-excel'
                            }
                        ]
            });

            $('#mainSearch').keyup(function () {
                mainTable.search($(this).val()).draw();
            })

            $("#btn-export-csv").on("click", function() {
                mainTable.button( '.buttons-csv' ).trigger();
            })

            $("#btn-export-excel").on("click", function() {
                mainTable.button( '.buttons-excel' ).trigger();
            })

            $("#btn-export-pdf").on("click", function() {
                mainTable.button( '.buttons-pdf' ).trigger();
            })



            $('[data-toggle="tooltip"]').tooltip();

        });


        function ShowQuotationView(quotationId) {


            $('#viewQuotation').click(function () {

                $.ajax({
                    url: '@Url.Action("QuotationView", "Quotation")',
                    dataType: 'html',
                    type: 'GET',
                    data: { quotationId: quotationId },
                    contentType: "application/html; charset=utf-8",
                    success: function (result) {
                        $("#quotationViewArea").html(null);
                        $("#quotationViewArea").html(result);
                        //$("#quotationViewArea").html(result);

                    },

                    process: true
                });
            });
        }


</script>*@

    @RenderSection("Scripts", required: false)



</body>
</html>
