﻿@model netcore.Models.Invent.PurchaseOrder

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminlteNetcoreDelete.cshtml";
    ViewData["EntityIcon"] = "fa fa-file-text";
    ViewData["DeleteInfo"] = "[Completed] Purchase Order (PO) can not be deleted. Rollback status to [Open] by deleting related Purchase Receive (Receiving)";
    ViewData["IsCanDeleted"] = false;
    if (Model.purchaseOrderStatus != netcore.Models.Invent.PurchaseOrderStatus.Completed)
    {
        ViewData["IsCanDeleted"] = true;
    }
}


@Html.Partial("_StatusMessage", (string)ViewBag.StatusMessage)
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.purchaseOrderNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.purchaseOrderNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.deliveryInwardNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.deliveryInwardNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.vendor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.vendor.vendorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.top)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.top)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.poDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.poDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.deliveryDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.deliveryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.deliveryAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.deliveryAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.branch)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.branch.branchName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createdAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.createdAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.purchaseOrderStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.purchaseOrderStatus)
        </dd>
    </dl>

</div>
