﻿@model netcore.Models.Invent.PurchaseOrder

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminlteNetcoreDetails.cshtml";
    ViewData["EntityIcon"] = "fa fa-file-text";
}



<div class="row">
    <div class="col-md-12">
        <!-- Default box -->
        <div class="box box-primary">
            <div class="box-body">
                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.purchaseOrderNumber)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.purchaseOrderNumber)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.deliveryInwardNumber)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.deliveryInwardNumber)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.vendor)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.vendor.companyName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.vendor.primaryContact)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.vendor.primaryContact)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.top)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.top)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.poDate)
                        </dt>
                        <dd>
                            @Convert.ToDateTime(Model.poDate).ToString("dd/MM/yyyy")
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.deliveryDate)
                        </dt>
                        <dd>
                            @Convert.ToDateTime(Model.deliveryDate).ToString("dd/MM/yyyy")
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.deliveryAddress)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.deliveryAddress)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.branch)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.branch.branchName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.employeeName)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.employeeName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.description)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.description)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.usdRate)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.usdRate)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.createdAt)
                        </dt>
                        <dd>
                            @Convert.ToDateTime(Model.createdAt).ToString("dd/MM/yyyy")
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.purchaseOrderStatus)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.purchaseOrderStatus)
                        </dd>
                    </dl>                                   
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <div class="form-group">
                    <a asp-action="Edit" asp-route-id="@Model.purchaseOrderId" class="btn btn-primary">Edit</a>
                    <a asp-action="ShowPurchaseOrder" asp-route-id="@Model.purchaseOrderId" class="btn btn-primary pull-right"><i class="fa fa-print"></i> Print Purchase Order</a>
                    <a asp-action="Index" class="btn btn-default">Back to List</a>
                </div>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </div>
    @*<div class="col-md-3">
    </div>*@
</div>


<div class="row">
    <div class="col-md-12">
        <!-- Default box -->
        <div class="box box-primary">

            <div class="box-body">
                <div class="row">
                    <div class="col-lg-12">
                        <table id="grid" name="grid" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th class="col-lg-3">Product Model</th>
                                    <th class="col-lg-3">Product Name</th>
                                    <th class="col-lg-3">Weight Per Piece</th>
                                    <th class="col-lg-3">Quantity (Count)</th>
                                    <th class="col-lg-3">Total Weight</th>
                                    <th class="col-lg-3">Price /piece </th>
                                    <th class="col-lg-3">Total INR ₹</th>
                                    <th class="col-lg-1"></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            @if (Model.purchaseOrderStatus != netcore.Models.Invent.PurchaseOrderStatus.Completed)
                            {
                                <a id="POL" class="btn btn-success" style="margin-bottom:10px" onclick="ShowPopup('@Url.Action("Create","PurchaseOrderLine", new { masterid = Model.purchaseOrderId })')"><i class="fa fa-plus"></i> Add New Inward Line (SHIFT + A)</a>

                            }
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </div>
    @*<div class="col-md-3">

    </div>*@
</div>



    <!--modal placeholder-->
    <div class="modal modal-primary fade" id="modalDefault">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
@section Scripts{
      <script>
        var popup, dataTable;
        var entity = 'PurchaseOrderLine';
        var apiurl = '/api/' + entity;

        $(document).ready(function () {
            dataTable = $('#grid').DataTable({
                "ajax": {
                    "url": apiurl + '?masterid=@Model.purchaseOrderId',
                    "type": 'GET',
                    "datatype": 'json'
                },
                "columns": [
                    { "data": "product.productCode" },
                    { "data": "product.productName" },
                    { "data": "weight" },
                    { "data": "qty" },
                    { "data": "totalWeight" },
                    { "data": "price" },
                    { "data": "totalAmount" },
                    {
                        "data": "purchaseOrderLineId",
                        "render": function (data) {
                            var btnEdit = "<a class='btn btn-primary btn-xs' onclick=ShowPopup('/" + entity + "/Create/" + data + "')><i class='fa fa-pencil'></i></a>";
                            var btnDelete = "<a class='btn btn-danger btn-xs' style='margin-left:2px' onclick=Delete('" + data + "')><i class='fa fa-trash'></i></a>";
                            return "<div class='tools pull-right'>" + btnEdit + btnDelete + "</div>";
                        }
                    }
                ],
                "language": {
                    "emptyTable": "no data found."
                },
                "lengthChange": false,
                "info": false,
                "searching": false,
                "paging": false,
            });
        });

        function ShowPopup(url) {
            var modalId = 'modalDefault';
            var modalPlaceholder = $('#' + modalId + ' .modal-dialog .modal-content');
            $.get(url)
                .done(function (response) {
                    modalPlaceholder.html(response);
                    popup = $('#' + modalId + '').modal({
                        keyboard: false,
                        backdrop: 'static'
                    });
                });
        }


        function SubmitAddEdit(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                var data = $(form).serializeJSON();
                data = JSON.stringify(data);
                $.ajax({
                    type: 'POST',
                    url: apiurl,
                    data: data,
                    contentType: 'application/json',
                    success: function (data) {
                        if (data.success) {
                            popup.modal('hide');
                            ShowMessage(data.message);
                            dataTable.ajax.reload();
                        } else {
                            popup.modal('hide');
                            ShowMessageError(data.message);
                            dataTable.ajax.reload();
                        }
                    }
                });

            }
            return false;
        }

        function Delete(id) {
            swal({
                title: "Are you sure want to Delete?",
                text: "You will not be able to restore the data!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#dd4b39",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: true
            }, function () {
                $.ajax({
                    type: 'DELETE',
                    url: apiurl + '/' + id,
                    success: function (data) {
                        if (data.success) {
                            ShowMessage(data.message);
                            dataTable.ajax.reload();
                        } else {
                            ShowMessageError(data.message);
                        }
                    }
                });
            });


        }



          shortcut.add("shift+a", function() {
            $("#POL").click(); 
        });
      </script>
}

