﻿@*@model IEnumerable<netcore.Models.Invent.PurchaseOrder>*@
@inject UserManager<ApplicationUser> UserManager

@{
    ApplicationUser appUser = await UserManager.GetUserAsync(User);
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_EnquiriesIndex.cshtml";
    ViewData["EntityIcon"] = "fa fa-file-text";
    ViewData["ListTitle"] = "Bookings";
    ViewData["IndexInfo"] = "Purchase Order (PO) is a commercial document issued by your company as a buyer to your vendor as a products seller." +
                " There are three status of PO: 1. Draft (Unconfirmed PO, not ready to receive), 2. Open (Confirmed PO, ready to receive) and 3. Completed (Closed PO, already receive the products).";
}




@if (!appUser.isSuperAdmin && !appUser.isServiceProvider)
{
    <style>
        .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
            border: 2px solid #00667d;
            cursor: pointer;
        }

        .box-body {
            padding: 15px;
        }
    </style>
}







    <div class="tab-pane fade active in" id="custom-tabs-one-home" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
        <table class="table table-hover" style="width:100%;">

            <tbody>
                @*@foreach (var item in Model.Where(x => x.enquiryExpiryDate <= DateTime.Now))
                    {*@
                <tr>
                    <td>
                        <div class="box-body">
                            <ul class="products-list product-list-in-box">
                                <li class="item">
                                    <a asp-action="Details" asp-route-id="" data-toggle="tooltip" data-placement="top" title="View" class="product-title" style="font-size:medium; color:#278a87">
                                        Enquiry No: <span class="label label-default">100547EN</span>
                                    </a>

                                    <br /><br />
                                    <div class="product-img">
                                        <img src="~/images/icons/container-details.png" alt="Product Image" style="width: 42px; height: 42px; padding: 5px">
                                    </div>
                                    <div class="product-info">
                                        <a asp-action="Details" asp-route-id="" data-toggle="tooltip" data-placement="top" title="View" class="product-title" style="font-size:medium">
                                            FCL (Sea Freight)
                                            <i class="fa fa-eye"></i><span class="label label-warning pull-right"><i class="fa fa-flag-o"></i>&nbsp;&nbsp;Pending</span>
                                        </a>
                                        <span class="product-description" style="padding-top: 4px; padding-bottom: 4px;">
                                            <i class="fa fa-clock-o" style="padding-right: 6px"></i>14 Jan 2021
                                        </span>
                                        <span class="product-description">
                                            Mumbai Port<i class="fa fa-arrow-right" style="padding-left: 10px; padding-right: 10px"></i>Nhavasheva Port
                                        </span>
                                    </div>
                                </li>

                            </ul>

                        </div>
                    </td>
                </tr>


                <tr>
                    <td>
                        <div class="box-body">
                            <ul class="products-list product-list-in-box">
                                <li class="item">
                                    <a asp-action="Details" asp-route-id="" data-toggle="tooltip" data-placement="top" title="View" class="product-title" style="font-size:medium; color:#278a87">
                                        Enquiry No: <span class="label label-default">105678EN</span>
                                    </a>

                                    <br /><br />
                                    <div class="product-img">
                                        <img src="~/images/icons/lcl.png" alt="Product Image" style="width: 42px; height: 42px; padding: 5px">
                                    </div>
                                    <div class="product-info">
                                        <a asp-action="Details" asp-route-id="" data-toggle="tooltip" data-placement="top" title="View" class="product-title" style="font-size:medium">
                                            LCL (Sea Freight)
                                            <i class="fa fa-eye"></i><span class="label label-success pull-right"><i class="fa fa-check"></i>&nbsp;&nbsp;Accepted</span>
                                        </a>
                                        <span class="product-description" style="padding-top: 4px; padding-bottom: 4px;">
                                            <i class="fa fa-clock-o" style="padding-right: 6px"></i>19 Jan 2021
                                        </span>
                                        <span class="product-description">
                                            Nhavasheva Port<i class="fa fa-arrow-right" style="padding-left: 10px; padding-right: 10px"></i>Mumbai Port
                                        </span>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </td>
                </tr>


                <tr>
                    <td>
                        <div class="box-body">
                            <ul class="products-list product-list-in-box">
                                <li class="item">
                                    <a asp-action="Details" asp-route-id="" data-toggle="tooltip" data-placement="top" title="View" class="product-title" style="font-size:medium; color:#278a87">
                                        Enquiry No: <span class="label label-default">101266EN</span>
                                    </a>

                                    <br /><br />
                                    <div class="product-img">
                                        <img src="~/images/icons/air.png" alt="Product Image" style="width: 42px; height: 42px; padding: 5px">
                                    </div>
                                    <div class="product-info">
                                        <a asp-action="Details" asp-route-id="" data-toggle="tooltip" data-placement="top" title="View" class="product-title" style="font-size:medium">
                                            Air Cargo (Air Freight)
                                            <i class="fa fa-eye"></i><span class="label label-success pull-right"><i class="fa fa-check"></i>&nbsp;&nbsp;Accepted</span>
                                        </a>
                                        <span class="product-description" style="padding-top: 4px; padding-bottom: 4px;">
                                            <i class="fa fa-clock-o" style="padding-right: 6px"></i>15 Jan 2021
                                        </span>
                                        <span class="product-description">
                                            Singapor Airport<i class="fa fa-arrow-right" style="padding-left: 10px; padding-right: 10px"></i>Mumbai T2 Airport
                                        </span>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="box-body">
                            <ul class="products-list product-list-in-box">
                                <li class="item">
                                    <a asp-action="Details" asp-route-id="" data-toggle="tooltip" data-placement="top" title="View" class="product-title" style="font-size:medium; color:#278a87">
                                        Enquiry No: <span class="label label-default">106185EN</span>
                                    </a>

                                    <br /><br />
                                    <div class="product-img">
                                        <img src="~/images/icons/rail.png" alt="Product Image" style="width: 42px; height: 42px; padding: 5px">
                                    </div>
                                    <div class="product-info">
                                        <a asp-action="Details" asp-route-id="" data-toggle="tooltip" data-placement="top" title="View" class="product-title" style="font-size:medium">
                                            Rail (Land Freight)
                                            <i class="fa fa-eye"></i><span class="label label-success pull-right"><i class="fa fa-check"></i>&nbsp;&nbsp;Accepted</span>
                                        </a>
                                        <span class="product-description" style="padding-top: 4px; padding-bottom: 4px;">
                                            <i class="fa fa-clock-o" style="padding-right: 6px"></i>14 Jan 2021
                                        </span>
                                        <span class="product-description">
                                            Gujrat Rail Station<i class="fa fa-arrow-right" style="padding-left: 10px; padding-right: 10px"></i>Mumbai Station
                                        </span>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </td>
                </tr>
                @*}*@
            </tbody>
        </table>
    </div>








@*<ul class="nav nav-tabs">
        <li class="active"><a href="#currentEnquiries" data-toggle="pill" id="currentEnquiries"><b>Current Enquiries</b></a></li>
        <li><a href="#missedEnquiries" data-toggle="pill" id="missedEnquiries"><b>Missed Enquiries</b></a></li>
    </ul>

    <div class="tab-content">
        <div class="active tab-pane" id="currentEnquiries">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover table-striped" style="width:100%">
                        <thead>
                            <tr>

                                <th>
                                    @Html.DisplayNameFor(model => model.purchaseOrderNumber)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.deliveryInwardNumber)
                                </th>
                                <th class="hidden">
                                    @Html.DisplayNameFor(model => model.top)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.poDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.deliveryDate)
                                </th>
                                <th class="hidden">
                                    @Html.DisplayNameFor(model => model.deliveryAddress)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.description)
                                </th>

                                <th class="hidden">
                                    @Html.DisplayNameFor(model => model.picVendor)
                                </th>

                                <th class="hidden">
                                    @Html.DisplayNameFor(model => model.totalDiscountAmount)
                                </th>
                                <th class="hidden">
                                    @Html.DisplayNameFor(model => model.totalOrderAmount)
                                </th>
                                <th class="hidden">
                                    @Html.DisplayNameFor(model => model.purchaseReceiveNumber)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.vendor.companyName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.usdRate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.purchaseOrderStatus)
                                </th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.purchaseOrderNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.deliveryInwardNumber)
                                    </td>
                                    <td class="hidden">
                                        @Html.DisplayFor(modelItem => item.top)
                                    </td>
                                    <td>
                                        @item.poDate.Date.ToString("dd-MMM-yyyy")
                                    </td>
                                    <td>
                                        @item.deliveryDate.Date.ToString("dd-MMM-yyyy")

                                    </td>
                                    <td class="hidden">
                                        @Html.DisplayFor(modelItem => item.deliveryAddress)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.description)
                                    </td>

                                    <td class="hidden">
                                        @Html.DisplayFor(modelItem => item.picVendor)
                                    </td>

                                    <td class="hidden">
                                        @Html.DisplayFor(modelItem => item.totalDiscountAmount)
                                    </td>
                                    <td class="hidden">
                                        @Html.DisplayFor(modelItem => item.totalOrderAmount)
                                    </td>
                                    <td class="hidden">
                                        @Html.DisplayFor(modelItem => item.purchaseReceiveNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.vendor.companyName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.usdRate)
                                    </td>
                                    <td>
                                        @if (item.purchaseOrderStatus == netcore.Models.Invent.PurchaseOrderStatus.Completed)
                                        {
                                            <span class="label label-success">
                                                @Html.DisplayFor(modelItem => item.purchaseOrderStatus)
                                            </span>

                                        }
                                        @if (item.purchaseOrderStatus == netcore.Models.Invent.PurchaseOrderStatus.Open)
                                        {
                                            <span class="label label-primary">
                                                @Html.DisplayFor(modelItem => item.purchaseOrderStatus)
                                            </span>

                                        }
                                        @if (item.purchaseOrderStatus == netcore.Models.Invent.PurchaseOrderStatus.Draft)
                                        {
                                            <span class="label label-warning">
                                                @Html.DisplayFor(modelItem => item.purchaseOrderStatus)
                                            </span>

                                        }

                                    </td>
                                    <td>
                                        <div class="tools">
                                            <a asp-action="Details" asp-route-id="@item.purchaseOrderId" class="btn btn-primary btn-xs"><i class="fa fa-eye"></i></a>
                                            <a asp-action="Edit" asp-route-id="@item.purchaseOrderId" class="btn btn-warning btn-xs"><i class="fa fa-file"></i></a>
                                        </div>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>


    <div class="tab-content">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover table-striped" style="width:100%">
                    <thead>
                        <tr>

                            <th>
                                @Html.DisplayNameFor(model => model.purchaseOrderNumber)
                            </th>
                            <th class="hidden">
                                @Html.DisplayNameFor(model => model.top)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.poDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.deliveryDate)
                            </th>
                            <th class="hidden">
                                @Html.DisplayNameFor(model => model.deliveryAddress)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.description)
                            </th>

                            <th class="hidden">
                                @Html.DisplayNameFor(model => model.picVendor)
                            </th>

                            <th class="hidden">
                                @Html.DisplayNameFor(model => model.totalDiscountAmount)
                            </th>
                            <th class="hidden">
                                @Html.DisplayNameFor(model => model.totalOrderAmount)
                            </th>
                            <th class="hidden">
                                @Html.DisplayNameFor(model => model.purchaseReceiveNumber)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.vendor.companyName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.usdRate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.purchaseOrderStatus)
                            </th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.purchaseOrderNumber)
                                </td>
                                <td class="hidden">
                                    @Html.DisplayFor(modelItem => item.top)
                                </td>
                                <td>
                                    @item.poDate.Date.ToString("dd-MMM-yyyy")
                                </td>
                                <td>
                                    @item.deliveryDate.Date.ToString("dd-MMM-yyyy")

                                </td>
                                <td class="hidden">
                                    @Html.DisplayFor(modelItem => item.deliveryAddress)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.description)
                                </td>

                                <td class="hidden">
                                    @Html.DisplayFor(modelItem => item.picVendor)
                                </td>

                                <td class="hidden">
                                    @Html.DisplayFor(modelItem => item.totalDiscountAmount)
                                </td>
                                <td class="hidden">
                                    @Html.DisplayFor(modelItem => item.totalOrderAmount)
                                </td>
                                <td class="hidden">
                                    @Html.DisplayFor(modelItem => item.purchaseReceiveNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.vendor.companyName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.usdRate)
                                </td>
                                <td>
                                    @if (item.purchaseOrderStatus == netcore.Models.Invent.PurchaseOrderStatus.Completed)
                                    {
                                        <span class="label label-success">
                                            @Html.DisplayFor(modelItem => item.purchaseOrderStatus)
                                        </span>

                                    }
                                    @if (item.purchaseOrderStatus == netcore.Models.Invent.PurchaseOrderStatus.Open)
                                    {
                                        <span class="label label-primary">
                                            @Html.DisplayFor(modelItem => item.purchaseOrderStatus)
                                        </span>

                                    }
                                    @if (item.purchaseOrderStatus == netcore.Models.Invent.PurchaseOrderStatus.Draft)
                                    {
                                        <span class="label label-warning">
                                            @Html.DisplayFor(modelItem => item.purchaseOrderStatus)
                                        </span>

                                    }

                                </td>
                                <td>
                                    <div class="tools">
                                        <a asp-action="Details" asp-route-id="@item.purchaseOrderId" class="btn btn-primary btn-xs"><i class="fa fa-eye"></i></a>
                                        <a asp-action="Edit" asp-route-id="@item.purchaseOrderId" class="btn btn-warning btn-xs"><i class="fa fa-file"></i></a>
                                    </div>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>*@





