﻿@model netcore.Models.Invent.PurchaseOrder

@{
    Layout = "_AdminlteNetcore";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Purchase Order
            <small>@Model.purchaseOrderNumber</small>
        </h1>

    </section>
    <div class="pad margin no-print">
        <div class="callout callout-info" style="margin-bottom: 0!important;">
            <h4><i class="fa fa-info"></i> Note:</h4>
            This page has been enhanced for printing. Click the print button at the bottom to print.
        </div>
    </div>
    <!-- Main content -->
    <section class="invoice">
        <!-- title row -->
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    @*<a class="logo-mini">Athlon</a>*@
                    <img src="/images/Athlon_Logo.png">
                    <small class="pull-right">@Model.purchaseOrderNumber</small>
                </h2>
            </div>
            <!-- /.col -->
        </div>
        <!-- info row -->
        <div class="row invoice-info">
            <div class="col-sm-4 invoice-col">
                <strong>Vendor Details</strong>
                <address>
                    <strong>@Model.vendor.vendorName</strong><br>
                    @Model.vendor.street1<br>
                    @Model.vendor.street2<br>
                    @Model.vendor.city<br>
                    @Model.vendor.country<br>
                    @Model.vendor.contact

                </address>
            </div>
            <!-- /.col -->
            <div class="col-sm-4 invoice-col">
                <strong>Delivery Address</strong>
                <address>
                    <strong>@Model.branch.branchName</strong><br>
                    @Model.branch.street1<br>
                    @Model.branch.street2<br>
                    @Model.branch.city<br>
                    @Model.deliveryAddress<br>
                </address>
            </div>
            <!-- /.col -->
            <div class="col-sm-4 invoice-col">
                <b>Inward Number:</b> @Model.purchaseOrderNumber<br>
                <b>Delivery Inward Number:</b> @Model.deliveryInwardNumber<br>
                <b>Date:</b> @Model.poDate.ToString("dd-MMM-yyyy")<br>
                <b>Delivery Date:</b> @Model.deliveryDate.ToString("dd-MMM-yyyy")<br>

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <!-- Table row -->
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Serial No</th>
                            <th>Product Model</th>
                            <th>Product Name</th>
                            <th>Product Category</th>
                            <th>Weight Per Piece</th>
                            <th>Qty</th>
                            <th>Total Weight</th>
                            <th>Price</th>
                            @*<th>Description</th>*@

                        </tr>
                    </thead>
                    @{ int rowNo = 0; }

                    <tbody>
                        @foreach (var item in Model.purchaseOrderLine.OrderBy(x => x.product.productCode))
                        {
                            <tr>
                                <td>@(rowNo += 1)</td>

                                <td>@item.product.productCode</td>
                                <td>@item.product.productName</td>
                                <td>@item.product.productCategory</td>
                                <td>@item.weight</td>
                                <td>@item.qty</td>
                                <td>@item.totalWeight</td>
                                <td>@item.price.ToString()</td>
                                @*<td>@item.product.description.ToString()</td>*@


                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="row">
            <!-- accepted payments column -->
            <div class="col-xs-6">
                <p class="lead">Descriptions:</p>
                <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
                    @Model.description
                </p>
            </div>
            <!-- /.col -->
            <div class="col-xs-6">
                <p class="lead">Totals</p>
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th style="width:50%">Quantity:</th>
                            <td>@Model.purchaseOrderLine.Sum(x => x.qty)</td>
                        </tr>
                        <tr>
                            <th>Weight (Kgs)</th>
                            <td>@Model.purchaseOrderLine.Sum(x => x.totalWeight)</td>
                        </tr>
                        <tr>
                            <th>Price:</th>
                            <td>₹ @(Model.purchaseOrderLine.Sum(x => x.price))</td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- /.col -->
        </div>
        <br />
        <div class="col-sm-3 invoice-col">
            <p class="lead">__________________</p>
            <p class="lead">Signature / Stamp</p>
        </div>
        <!-- /.row -->
        <!-- this row will not appear when printing -->
        <div class="row no-print">
            <div class="col-xs-12">

                <a href="@Url.Action("PrintPurchaseOrder", new { id = Model.purchaseOrderId })" target="_blank" class="btn btn-primary"><i class="fa fa-print"></i> Print</a>

            </div>
        </div>
    </section>
    <!-- /.content -->
    <div class="clearfix"></div>
</div>
<!-- /.content-wrapper -->
