﻿@model netcore.Models.Invent.PointOfContactsLine


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminlteNetcorePopupTwo.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="pointOfContactLineId" />
        <div class="form-group hidden">
            <label asp-for="serviceProviderId" class="control-label"></label>
            <select asp-for="serviceProviderId" class="form-control select2" asp-items="ViewBag.serviceProviderId"></select>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="name" class="control-label"></label>
                    <input asp-for="name" class="form-control" />
                    <span asp-validation-for="name" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="designation" class="control-label"></label>
                    <input asp-for="designation" class="form-control" />
                    <span asp-validation-for="designation" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="contact" class="control-label"></label>
                    <input asp-for="contact" class="form-control" />
                    <span asp-validation-for="contact" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="email" class="control-label"></label>
                    <input asp-for="email" class="form-control" />
                    <span asp-validation-for="email" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="isDefaultPOC" class="control-label"></label>
                    <div class="form-group">
                        <label>
                            <input type="checkbox" asp-for="isDefaultPOC" class="flat-red">
                            Yes
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
