﻿@model netcore.Models.Invent.Enquiry
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminlteNetcoreDetails.cshtml";
    ViewData["EntityIcon"] = "fa fa-file-text";

    ApplicationUser appUser = await UserManager.GetUserAsync(User);
    var enquiryDate = Convert.ToDateTime(Model.enquiryDate).ToString("dd/MM/yyyy");

}


<main class="my-12">
    <div class="container">
        <div id="wizard">
            <h3>
                <div class="media">
                    <div class="bd-wizard-step-icon"><i class="fa fa-question-circle"></i></div>
                    <div class="media-body">
                        <div class="bd-wizard-step-title" style="padding-top: 7px;">Enquiry Information</div>
                        @*<div class="bd-wizard-step-subtitle">Enquiry Details & Container Info</div>*@
                    </div>

                </div>

            </h3>
            <section>
                @if (appUser.isSuperAdmin)
                {
                    <div class="row pull-right">
                        <div class="form-group col-md-2">
                            <a class="btn btn-success" style="margin-bottom:10px" onclick="ShowPopup('@Url.Action("Edit","Enquiry", new { id = Model.enquiryId })')"><i class="fa fa-pencil"></i> Edit</a>
                        </div>
                    </div>
                }

                <div class="row">
                    <div class="wrapper">
                        <h4 class="section-heading">Enquiry Details </h4>

                        @if (Model.enquiryExpiryDate <= DateTime.Now)
                        {
                            <text>
                                <label style="color: red">
                                    (Expired Enquiry)
                                </label>
                            </text>

                        }
                        <br />
                        <div class="row">
                            <div class="form-group col-md-3 txtBox">
                                <label asp-for="enquiryNumber" class="control-label"></label>
                                <input asp-for="enquiryNumber" class="form-control txtBox" style="background-color: #fff" name="enquiryNumber" id="enquiryNumber" placeholder="-" readonly />
                            </div>
                            <div class="form-group col-md-3 txtBox">
                                <label asp-for="enquiryDate" class="control-label"></label>
                                <input asp-for="enquiryDate" type="date" class="form-control txtBox" style="background-color: #fff" name="enquiryDate" id="enquiryDate" placeholder="-" readonly />
                            </div>
                            <div class="form-group col-md-3 txtBox">
                                <label asp-for="enquiryExpiryDate" class="control-label"></label>
                                <input asp-for="enquiryExpiryDate" type="date" class="form-control txtBox" style="background-color: #fff" name="enquiryExpiryDate" id="enquiryExpiryDate" placeholder="-" readonly />

                            </div>
                            <div class="form-group col-md-3">
                                <label asp-for="modeOfTransport" class="control-label"></label>
                                <input value="@Model.modeOfTransport" class="form-control txtBox" style="background-color: #fff" name="originOfShipmentId" id="originOfShipmentId" placeholder="-" readonly />
                            </div>
                        </div>
                        <div class="row">
                            @if (Model.modeOfTransport == netcore.Models.Invent.ModeOfTransport.Road)
                            {
                                <div class="form-group col-md-3">
                                    <label asp-for="originOfShipment" class="control-label"></label>
                                    <input value="@Model.originOfShipment.locationName" name="originOfShipment" id="originOfShipment" class="form-control" placeholder="-" style="background-color: #fff" readonly />
                                    <span asp-validation-for="originOfShipmentId" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-3">
                                    <label asp-for="pickupAddressPincode" class="control-label"></label>
                                    <input value="@Model.pickupAddressPincode" name="pickupAddressPincode" id="pickupAddressPincode" class="form-control" placeholder="-" style="background-color: #fff" readonly />
                                </div>
                                <div class="form-group col-md-3">
                                    <label asp-for="destinationOfShipment" class="control-label"></label>
                                    <input asp-for="@Model.destinationOfShipment.locationName" name="destinationOfShipment" id="destinationOfShipment" class="form-control" placeholder="-" style="background-color: #fff" readonly />
                                </div>

                                <div class="form-group col-md-3">
                                    <label asp-for="deliveryAddressPincode" class="control-label"></label>
                                    <input value="@Model.deliveryAddressPincode" name="pickupAddressPincode" id="pickupAddressPincode" class="form-control" placeholder="-" style="background-color: #fff" readonly />
                                </div>
                            }
                            else if (Model.modeOfTransport == netcore.Models.Invent.ModeOfTransport.Rail)
                            {
                                <div class="form-group col-md-3">
                                    <label asp-for="pickupAddressPincode" class="control-label"></label>
                                    <input value="@Model.pickupAddressPincode" name="pickupAddressPincode" id="pickupAddressPincode" class="form-control" placeholder="-" style="background-color: #fff" readonly />
                                </div>
                                <div class="form-group col-md-3">
                                    <label asp-for="deliveryAddressPincode" class="control-label"></label>
                                    <input value="@Model.deliveryAddressPincode" name="pickupAddressPincode" id="pickupAddressPincode" class="form-control" placeholder="-" style="background-color: #fff" readonly />
                                </div>
                            }
                            else
                            {
                                <div class="form-group col-md-3">
                                    <label asp-for="originLocationType" class="control-label"></label>
                                    <input value="@Model.originLocationType.GetDisplayName()" class="form-control txtBox" style="background-color: #fff" name="originLocationType" id="originLocationType" placeholder="-" readonly />
                                </div>
                                <div class="form-group col-md-3">
                                    <label asp-for="originOfShipment" class="control-label"></label>
                                    <input value="@Model.originOfShipment.locationName" name="originOfShipment" id="originOfShipment" class="form-control" placeholder="-" style="background-color: #fff" readonly />
                                    <span asp-validation-for="originOfShipmentId" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-3">
                                    <label asp-for="destinationLocationType" class="control-label"></label>
                                    <input value="@Model.destinationLocationType.GetDisplayName()" class="form-control txtBox" style="background-color: #fff" name="destinationLocationType" id="destinationLocationType" placeholder="-" readonly />
                                </div>
                                <div class="form-group col-md-3">
                                    <label asp-for="destinationOfShipment" class="control-label"></label>
                                    <input asp-for="@Model.destinationOfShipment.locationName" name="destinationOfShipment" id="destinationOfShipment" class="form-control" placeholder="-" style="background-color: #fff" readonly />
                                </div>
                            }

                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label asp-for="comments" class="control-label"></label>
                                <textarea class="form-control" id="comments" asp-for="comments" name="description" rows="2" placeholder="-" style="background-color: #fff" readonly></textarea>
                                <span asp-validation-for="comments" class="text-danger"></span>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="row">
                    <div class="wrapper">
                        <h4 class="section-heading">Container Details </h4>
                        <div class="row">

                            <div class="box box-primary">
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <table id="grid" name="grid" class="table table-striped table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th class="col-lg-3">Service Type</th>
                                                        @if (Model.enquiryLine.Any(x => x.serviceType == netcore.Models.Invent.ServicesType.FTL && x.isClosedBodyTruck == false))
                                                        {
                                                            <th class="col-lg-3">Truck Type</th>
                                                        }
                                                        else if (Model.enquiryLine.Any(x => x.serviceType == netcore.Models.Invent.ServicesType.FTL && x.isClosedBodyTruck == true))
                                                        {
                                                            <th class="col-lg-3">Closed Truck Type</th>

                                                        }
                                                        @if (Model.enquiryLine.Any(x => x.serviceType == netcore.Models.Invent.ServicesType.LCL &&
                                                          x.serviceType != netcore.Models.Invent.ServicesType.Air &&
                                                          x.serviceType != netcore.Models.Invent.ServicesType.LTL))
                                                        {
                                                            <th class="col-lg-3">Package Type</th>
                                                        }
                                                        @if (Model.enquiryLine.Any(x => x.serviceType == netcore.Models.Invent.ServicesType.FCL))
                                                        {
                                                            <th class="col-lg-3">Container Type</th>
                                                        }
                                                        <th class="col-lg-3">Commodity Type</th>
                                                        @if (Model.enquiryLine.Any(x => x.serviceType != netcore.Models.Invent.ServicesType.FCL && x.serviceType != netcore.Models.Invent.ServicesType.FTL))
                                                        {
                                                            <th class="col-lg-3">Volume</th>
                                                            <th class="col-lg-3">Length</th>
                                                            <th class="col-lg-3">Width</th>
                                                            <th class="col-lg-3">Height</th>
                                                            <th class="col-lg-2">Refrigerated</th>
                                                            <th class="col-lg-2">Temperature</th>
                                                        }
                                                        <th class="col-lg-2">Weight</th>
                                                        <th class="col-lg-2">Quantity</th>

                                                        @if (appUser.isSuperAdmin)
                                                        {
                                                            <th class="col-lg-3">Actions</th>
                                                        }
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                @if (appUser.isSuperAdmin)
                                {
                                    <div class="box-footer" style="box-shadow: none;">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <a class="btn btn-success pull-right" style="margin-bottom:10px;" onclick="ShowPopup('@Url.Action("Create", "EnquiryLine", new { masterid = Model.enquiryId })')"><i class="fa fa-plus"></i> Add Containers</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                </div>

                <br />
                <div class="row">
                    <div class="wrapper">
                        <h4 class="section-heading">Additional Services</h4>
                        <div class="form-group">
                            <div class="checkbox">
                                <label style="font-size: larger">
                                    <input type="checkbox" asp-for="hasCustomClearance" name="hasCustomClearance" class="flat-red" style="width: 18px; height: 18px;" disabled>
                                    &nbsp;Customs Clearance
                                </label>
                            </div>
                        </div>
                    </div>

                </div>

            </section>

        </div>
    </div>
</main>



<!--modal placeholder-->
<div class="modal modal-primary fade" id="modalDefault">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var popup, dataTable;
        var entity = 'EnquiryLine';
        var apiurl = '/api/' + entity;

        $(document).ready(function () {
            dataTable = $('#grid').DataTable({
                "ajax": {
                    "url": apiurl + '?masterid=@Model.enquiryId',
                    "type": 'GET',
                    "datatype": 'json'
                },
                "columns": [
                    { "data": "serviceType" },
                     @if (Model.enquiryLine.Any(x => x.serviceType == netcore.Models.Invent.ServicesType.FTL && x.isClosedBodyTruck == false))
                     {
                        <text>
                        { "data": "loadType" },
                        </text>
                     }
                     else if (Model.enquiryLine.Any(x => x.serviceType == netcore.Models.Invent.ServicesType.FTL && x.isClosedBodyTruck == true))
                     {
                         <text>
                        { "data": "closedLoadType" },
                        </text>
                     }
                    @if (Model.enquiryLine.Any(x => x.serviceType == netcore.Models.Invent.ServicesType.LCL &&
                     x.serviceType != netcore.Models.Invent.ServicesType.Air &&
                     x.serviceType != netcore.Models.Invent.ServicesType.LTL))
                    {

                    }
                    @if (Model.enquiryLine.Any(x => x.serviceType == netcore.Models.Invent.ServicesType.FCL))
                    {
                        <text>
                        { "data": "containerType" },
                        </text>
                    }
                    { "data": "commodityType" },

                    @if (Model.enquiryLine.Any(x => x.serviceType != netcore.Models.Invent.ServicesType.FCL && x.serviceType != netcore.Models.Invent.ServicesType.FTL))
                    {
                        <text>
                        { "data": "volume" },
                        { "data": "containerLength" },
                        { "data": "containerWidth" },
                        { "data": "containerHeight" },
                        { "data": "isRefrigerated" },
                        { "data": "temperature" },

                        </text>
                    }
                    { "data": "weight" },
                    { "data": "count" },

                    @if (appUser.isSuperAdmin)
                    {
		                <text>
                            {
                                "data": "enquiryLineId",
                                "render": function (data) {
                                    var btnEdit = "<a class='btn btn-primary btn-xs' onclick=ShowPopup('/" + entity + "/Create/" + data + "')><i class='fa fa-pencil'></i></a>";
                                    var btnDelete = "<a class='btn btn-danger btn-xs' style='margin-left:2px' onclick=Delete('" + data + "')><i class='fa fa-trash'></i></a>";
                                    return "<div class='tools pull-right'>" + btnEdit + btnDelete + "</div>";
                                }
                            }
                       </text>
                    }

                ],
                "language": {
                            "emptyTable": "No Containers Added"
                },
                "lengthChange": false,
                "info": false,
                "searching": false,
                "paging": false
            });
        });


        function ShowPopup(url) {
            var modalId = 'modalDefault';
            var modalPlaceholder = $('#' + modalId + ' .modal-dialog .modal-content');
            $.get(url)
                .done(function (response) {
                    modalPlaceholder.html(response);
                    popup = $('#' + modalId + '').modal({
                        keyboard: false,
                        backdrop: 'static'
                    });
                });
        }


        function SaveEnquiryInfo(form) {
            var entity = 'Enquiry';
            var apiurl = '/api/' + entity;

            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                var data = $(form).serializeJSON();
                data = JSON.stringify(data);
                $.ajax({
                    type: 'POST',
                    url: apiurl,
                    data: data,
                    contentType: 'application/json',
                    success: function (data) {
                        if (data.success) {
                            popup.modal('hide');
                            ShowMessage(data.message);
                            location.reload();
                        } else {
                            ShowMessageError(data.message);
                        }
                    }
                });

            }
            return false;
        }


        function SubmitAddEdit(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                var data = $(form).serializeJSON();
                data = JSON.stringify(data);
                $.ajax({
                    type: 'POST',
                    url: apiurl,
                    data: data,
                    contentType: 'application/json',
                    success: function (data) {
                        if (data.success) {
                            popup.modal('hide');
                            ShowMessage(data.message);
                            dataTable.ajax.reload();
                        } else {
                            popup.modal('hide');
                            ShowMessageError(data.message);
                            dataTable.ajax.reload();
                        }
                    }
                });

            }
            return false;
        }

        function Delete(id) {
            swal({
                title: "Are you sure want to Delete?",
                text: "You will not be able to restore the data!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#dd4b39",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: true
            }, function () {
                $.ajax({
                    type: 'DELETE',
                    url: apiurl + '/' + id,
                    success: function (data) {
                        if (data.success) {
                            ShowMessage(data.message);
                            dataTable.ajax.reload();
                        } else {
                            ShowMessageError(data.message);
                        }
                    }
                });
            });


        }



          shortcut.add("shift+a", function() {
              $("#CL").click();
          });


        //Horizontal Step Wizard

        showWizard();

        function showWizard() {
            $("#wizard").steps({
                headerTag: "h3",
                bodyTag: "section",
                transitionEffect: "slide",
                titleTemplate: '#title#',
                enableFinishButton: false,
                showBackButton: true,
                showFooterButtons: true
            });
        }
    </script>
}

