﻿@model netcore.Models.Invent.Enquiry

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_EnquiryInfoPopup.cshtml";
    ViewData["EntityIcon"] = "fa fa-file-text";
    ViewData["EditInfo"] = " PO have three status: 1. Draft (Unconfirmed PO, not ready to receive), 2. Open (Confirmed PO, ready to receive) and 3. Completed (Closed PO, already receive the products). Change status from [Draft] to [Open] to confirm the order. [Completed] status is auto set when PO used in Product Receive / Receiving.";
}

@*@Html.Partial("_StatusMessage", (string)ViewBag.StatusMessage)*@
<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="enquiryId" />
        <input type="hidden" asp-for="enquiryNumber" />

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="enquiryNumber" class="control-label"></label>
                    <input asp-for="enquiryNumber" class="form-control" disabled />
                    <span asp-validation-for="enquiryNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="enquiryDate" class="control-label"></label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input asp-for="enquiryDate" class="form-control" type="date" />
                    </div>
                    <span asp-validation-for="enquiryDate" class="text-danger"></span>
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="originOfShipmentId" class="control-label"></label>
                    <select asp-for="originOfShipmentId" class="form-control select2" asp-items="ViewBag.originOfShipmentId"></select>
                    <span asp-validation-for="originOfShipmentId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="destinationOfShipmentId" class="control-label"></label>
                    <select asp-for="destinationOfShipmentId" class="form-control select2" asp-items="ViewBag.destinationOfShipmentId"></select>
                    <span asp-validation-for="destinationOfShipmentId" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="comments" class="control-label"></label>
                    <textarea class="form-control" id="comments" asp-for="comments" name="comments" rows="2" placeholder="-" style="background-color: #fff"></textarea>
                    <span asp-validation-for="comments" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



