﻿@model IEnumerable<netcore.Models.Invent.Enquiry>
@inject UserManager<ApplicationUser> UserManager
@inject netcore.Data.ApplicationDbContext Context

@{
    ApplicationUser appUser = await UserManager.GetUserAsync(User);

    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_EnquiriesIndex.cshtml";
    ViewData["EntityIcon"] = "fa fa-question-circle";
    ViewData["ListTitle"] = "Enquiries";
    ViewData["IndexInfo"] = "Purchase Order (PO) is a commercial document issued by your company as a buyer to your vendor as a products seller." +
                " There are three status of PO: 1. Draft (Unconfirmed PO, not ready to receive), 2. Open (Confirmed PO, ready to receive) and 3. Completed (Closed PO, already receive the products).";

    //var currentServiceProvider = Context.ServiceProvider.SingleOrDefault(x => x.primaryEmail == appUser.UserName);
    //var serviceProviderServices = Context.ServicesLine.Where(x => x.serviceProviderId == currentServiceProvider.serviceProviderId).ToList();

    //currentServiceProvider.servicesLine = serviceProviderServices;
}


@if (!appUser.isSuperAdmin && !appUser.isServiceProvider)
{
    <style>
        .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
            border: 2px solid #00667d;
            cursor: pointer;
        }

        .box-body {
            padding: 15px;
        }
    </style>
}






@if (appUser.isServiceProvider)
{
    <div class="tab-pane fade active in" id="custom-tabs-one-home" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
        <table class="table table-hover table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Enquiry Number
                    </th>
                    <th>
                        Enquiry Date
                    </th>
                    <th>
                        Expiration Date
                    </th>
                    <th>
                        Mode Of Transport
                    </th>
                    <th>
                        Origin Of Shipment
                    </th>

                    <th>
                        Destination Of Shipment
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Where(x => x.enquiryExpiryDate >= DateTime.Now))
                {
                    var currentServiceProvider = new netcore.Models.Invent.ServiceProvider();
                    var serviceProviderServices = new List<netcore.Models.Invent.ServicesLine>();
                    if (!appUser.isSuperAdmin)
                    {
                        currentServiceProvider = Context.ServiceProvider.SingleOrDefault(x => x.applicationUser.UserName == appUser.UserName);
                        serviceProviderServices = Context.ServicesLine.Where(x => x.serviceProviderId == currentServiceProvider.serviceProviderId).ToList();

                        foreach (var serviceProviderServicesItem in serviceProviderServices)
                        {
                            if (item.enquiryLine.Any(x => x.serviceType == serviceProviderServicesItem.serviceType))
                            {
                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.enquiryNumber)
                                    </td>
                                    <td>
                                        @item.enquiryDate.Date.ToString("dd-MMM-yyyy")
                                    </td>
                                    <td>
                                        @item.enquiryExpiryDate?.Date.ToString("dd-MMM-yyyy")
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.modeOfTransport)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.originOfShipment.locationName)
                                        @Html.DisplayFor(modelItem => item.pickupAddressPincode)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.destinationOfShipment.locationName)
                                        @Html.DisplayFor(modelItem => item.deliveryAddressPincode)
                                    </td>
                                    <td>
                                        <div class="tools">
                                            <a asp-action="Details" asp-route-id="@item.enquiryId" class="btn btn-bitbucket btn-xs" data-toggle="tooltip" data-placement="top" title="View"><i class="fa fa-eye"></i></a>

                                            
                                            <a href="@Url.Action("Details", "Quotation", new { id = item.enquiryId, isNewQuote = true })" class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" title="Provide Quotation"><i class="fa fa-file"></i></a>

                                            @*<a asp-action="Create" asp-route-id="@item.enquiryId" class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" title="Provide Quotation"><i class="fa fa-file"></i></a>*@

                                            @*<a asp-action="Delete" asp-route-id="@item.purchaseOrderId" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>*@
                                        </div>

                                    </td>
                                </tr>
                            }
                        }
                    }

                }
            </tbody>
        </table>
    </div>

    <div class="tab-pane fade" id="custom-tabs-one-profile" role="tabpanel" aria-labelledby="custom-tabs-one-profile-tab">
        <table class="table table-hover table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Enquiry Number
                    </th>
                    <th>
                        Enquiry Date
                    </th>
                    <th>
                        Expiration Date
                    </th>
                    <th>
                        Mode Of Transport
                    </th>
                    <th>
                        Origin Of Shipment
                    </th>

                    <th>
                        Destination Of Shipment
                    </th>
                    @*<th>Actions</th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Where(x => x.enquiryExpiryDate <= DateTime.Now))
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.enquiryNumber)
                        </td>
                        <td>
                            @item.enquiryDate.Date.ToString("dd-MMM-yyyy")
                        </td>
                        <td>
                            @item.enquiryExpiryDate?.Date.ToString("dd-MMM-yyyy")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.modeOfTransport)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.originOfShipment.locationName)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.destinationOfShipment.locationName)
                        </td>
                        <!--<td>
                            <div class="tools">
                                <a asp-action="Details" asp-route-id="@item.enquiryId" class="btn btn-bitbucket btn-xs"><i class="fa fa-eye"  ></i></a>
                                <a asp-action="Edit" asp-route-id="@item.enquiryId" class="btn btn-primary btn-xs"><i class="fa fa-file"></i></a>-->
                        @*<a asp-action="Delete" asp-route-id="@item.purchaseOrderId" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>*@
                        <!--</div>

                        </td>-->
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else if (appUser.isSuperAdmin)
{

    <!--Super Admin-->

    <div class="tab-pane fade active in" id="custom-tabs-one-home" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
        <table class="table table-hover table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Enquiry Number
                    </th>
                    <th>
                        Customer
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Expiry
                    </th>

                    <th>
                        Mode
                    </th>
                    <th>
                        Origin
                    </th>
                    <th>
                        Destination
                    </th>
                    <th>
                        Enquiry Status
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                @{
                    if (appUser.isSuperAdmin)
                    {
                        foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.enquiryNumber)
                                </td>
                                <td>
                                    @(Context.Customer.FirstOrDefault(x => x.userName == item.userName).businessContactName)<br />
                                    @(Context.Customer.FirstOrDefault(x => x.userName == item.userName).userName)
                                </td>
                                <td>
                                    @item.enquiryDate.Date.ToString("dd-MM-yyyy")
                                </td>
                                <td>
                                    @item.enquiryExpiryDate?.Date.ToString("dd-MM-yyyy")
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.modeOfTransport)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.originOfShipment.locationName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.destinationOfShipment.locationName)
                                </td>
                                <td>
                                    @if (item.enquiryStatus == netcore.Models.Invent.EnquiryStatus.Pending)
                                    {
                                        <span class="label label-warning">
                                            @Html.DisplayFor(modelItem => item.enquiryStatus)
                                        </span>

                                    }
                                    @if (item.enquiryStatus == netcore.Models.Invent.EnquiryStatus.Closed)
                                    {
                                        <span class="label label-default">
                                            @Html.DisplayFor(modelItem => item.enquiryStatus)
                                        </span>

                                    }
                                    @if (item.enquiryStatus == netcore.Models.Invent.EnquiryStatus.Accepted)
                                    {
                                        <span class="label label-success">
                                            @Html.DisplayFor(modelItem => item.enquiryStatus)
                                        </span>

                                    }
                                </td>
                                <td>
                                    <div class="tools">
                                        <a asp-action="Details" asp-route-id="@item.enquiryId" class="btn btn-bitbucket btn-xs" data-toggle="tooltip" data-placement="top" title="View"><i class="fa fa-eye"></i></a>
                                    </div>
                            </tr>
                        }
                    }
                }

            </tbody>
        </table>
    </div>

}
else
{
    <div class="tab-pane fade active in" id="custom-tabs-one-home" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
        <table class="table table-hover" style="width:100%;">
            <thead class="pull-right">
                <tr>
                    <th>Sort Enquiries</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderByDescending(x => x.enquiryDate.Date))
                {
                    //var serviceType = item.enquiryLine.FirstOrDefault(x => x.enquiryId == item.enquiryId).serviceType;

                    <tr>
                        <td>
                            <div class="box-body">
                                <ul class="products-list product-list-in-box">
                                    <li class="item">
                                        <a asp-action="Details" asp-route-id="@item.enquiryId" data-toggle="tooltip" data-placement="top" title="View" class="product-title" style="font-size:medium; color:#278a87">
                                            Enquiry No: <span class="label label-default">@item.enquiryNumber</span>
                                        </a>

                                        <br /><br />


                                        @if (item.modeOfTransport == netcore.Models.Invent.ModeOfTransport.Ocean)
                                        {
                                            <div class="product-img">
                                                <img src="~/images/icons/sea.png" alt="Product Image" style="width: 42px; height: 42px; padding: 5px">
                                            </div>

                                            <div class="product-info">
                                                <a asp-action="Details" asp-route-id="@item.enquiryId" data-toggle="tooltip" data-placement="top" title="View" class="product-title" style="font-size:medium">
                                                    Sea Freight

                                                    @if (item.enquiryStatus == netcore.Models.Invent.EnquiryStatus.Pending)
                                                    {
                                                        <i class="fa fa-eye"></i><span class="label label-warning pull-right"><i class="fa fa-flag-o"></i>&nbsp;&nbsp;@item.enquiryStatus</span>

                                                    }
                                                    else if (item.enquiryStatus == netcore.Models.Invent.EnquiryStatus.Accepted)
                                                    {
                                                        <i class="fa fa-eye"></i><span class="label label-success pull-right"><i class="fa fa-flag-o"></i>&nbsp;&nbsp;@item.enquiryStatus</span>

                                                    }
                                                    else if (item.enquiryStatus == netcore.Models.Invent.EnquiryStatus.Closed)
                                                    {
                                                        <i class="fa fa-eye"></i><span class="label label-default pull-right"><i class="fa fa-flag-o"></i>&nbsp;&nbsp;@item.enquiryStatus</span>

                                                    }
                                                </a>
                                                <span class="product-description" style="padding-top: 4px; padding-bottom: 4px;">
                                                    <i class="fa fa-clock-o" style="padding-right: 6px"></i>@item.enquiryDate.Date.ToString("dd MMM yyyy")
                                                </span>
                                                <span class="product-description">
                                                    @Html.DisplayFor(modelItem => item.originOfShipment.locationName)<i class="fa fa-arrow-right" style="padding-left: 10px; padding-right: 10px"></i>@Html.DisplayFor(modelItem => item.destinationOfShipment.locationName)
                                                </span>

                                            </div>

                                        }
                                        else if (item.modeOfTransport == netcore.Models.Invent.ModeOfTransport.Air)
                                        {
                                            <div class="product-img">
                                                <img src="~/images/icons/air.png" alt="Product Image" style="width: 42px; height: 42px; padding: 5px">
                                            </div>

                                            <div class="product-info">
                                                <a asp-action="Details" asp-route-id="@item.enquiryId" data-toggle="tooltip" data-placement="top" title="View" class="product-title" style="font-size:medium">
                                                    Air Freight

                                                    @if (item.enquiryStatus == netcore.Models.Invent.EnquiryStatus.Pending)
                                                    {
                                                        <i class="fa fa-eye"></i><span class="label label-warning pull-right"><i class="fa fa-flag-o"></i>&nbsp;&nbsp;@item.enquiryStatus</span>

                                                    }
                                                    else if (item.enquiryStatus == netcore.Models.Invent.EnquiryStatus.Accepted)
                                                    {
                                                        <i class="fa fa-eye"></i><span class="label label-success pull-right"><i class="fa fa-flag-o"></i>&nbsp;&nbsp;@item.enquiryStatus</span>

                                                    }
                                                    else if (item.enquiryStatus == netcore.Models.Invent.EnquiryStatus.Closed)
                                                    {
                                                        <i class="fa fa-eye"></i><span class="label label-default pull-right"><i class="fa fa-flag-o"></i>&nbsp;&nbsp;@item.enquiryStatus</span>

                                                    }
                                                </a>
                                                <span class="product-description" style="padding-top: 4px; padding-bottom: 4px;">
                                                    <i class="fa fa-clock-o" style="padding-right: 6px"></i>@item.enquiryDate.Date.ToString("dd MMM yyyy")
                                                </span>
                                                <span class="product-description">
                                                    @Html.DisplayFor(modelItem => item.originOfShipment.locationName)<i class="fa fa-arrow-right" style="padding-left: 10px; padding-right: 10px"></i>@Html.DisplayFor(modelItem => item.destinationOfShipment.locationName)
                                                </span>

                                            </div>
                                        }
                                        else if (item.modeOfTransport == netcore.Models.Invent.ModeOfTransport.Road)
                                        {
                                            <div class="product-img">
                                                <img src="~/images/icons/ftl.png" alt="Product Image" style="width: 42px; height: 42px; padding: 5px">
                                            </div>

                                            <div class="product-info">
                                                <a asp-action="Details" asp-route-id="@item.enquiryId" data-toggle="tooltip" data-placement="top" title="View" class="product-title" style="font-size:medium">
                                                    Land Freight
                                                    @if (item.enquiryStatus == netcore.Models.Invent.EnquiryStatus.Pending)
                                                    {
                                                        <i class="fa fa-eye"></i><span class="label label-warning pull-right"><i class="fa fa-flag-o"></i>&nbsp;&nbsp;@item.enquiryStatus</span>

                                                    }
                                                    else if (item.enquiryStatus == netcore.Models.Invent.EnquiryStatus.Accepted)
                                                    {
                                                        <i class="fa fa-eye"></i><span class="label label-success pull-right"><i class="fa fa-flag-o"></i>&nbsp;&nbsp;@item.enquiryStatus</span>

                                                    }
                                                    else if (item.enquiryStatus == netcore.Models.Invent.EnquiryStatus.Closed)
                                                    {
                                                        <i class="fa fa-eye"></i><span class="label label-default pull-right"><i class="fa fa-flag-o"></i>&nbsp;&nbsp;@item.enquiryStatus</span>

                                                    }
                                                </a>
                                                <span class="product-description" style="padding-top: 4px; padding-bottom: 4px;">
                                                    <i class="fa fa-clock-o" style="padding-right: 6px"></i>@item.enquiryDate.Date.ToString("dd MMM yyyy")
                                                </span>
                                                <span class="product-description">
                                                    @Html.DisplayFor(modelItem => item.pickupAddressPincode)<i class="fa fa-arrow-right" style="padding-left: 10px; padding-right: 10px"></i>@Html.DisplayFor(modelItem => item.deliveryAddressPincode)
                                                </span>

                                            </div>
                                        }
                                        else if (item.modeOfTransport == netcore.Models.Invent.ModeOfTransport.Rail)
                                        {
                                            <div class="product-img">
                                                <img src="~/images/icons/rail.png" alt="Product Image" style="width: 42px; height: 42px; padding: 5px">
                                            </div>

                                            <div class="product-info">
                                                <a asp-action="Details" asp-route-id="@item.enquiryId" data-toggle="tooltip" data-placement="top" title="View" class="product-title" style="font-size:medium">
                                                    RAIL (Land Freight)

                                                    @if (item.enquiryStatus == netcore.Models.Invent.EnquiryStatus.Pending)
                                                    {
                                                        <i class="fa fa-eye"></i><span class="label label-warning pull-right"><i class="fa fa-flag-o"></i>&nbsp;&nbsp;@item.enquiryStatus</span>

                                                    }
                                                    else if (item.enquiryStatus == netcore.Models.Invent.EnquiryStatus.Accepted)
                                                    {
                                                        <i class="fa fa-eye"></i><span class="label label-success pull-right"><i class="fa fa-flag-o"></i>&nbsp;&nbsp;@item.enquiryStatus</span>

                                                    }
                                                    else if (item.enquiryStatus == netcore.Models.Invent.EnquiryStatus.Closed)
                                                    {
                                                        <i class="fa fa-eye"></i><span class="label label-default pull-right"><i class="fa fa-flag-o"></i>&nbsp;&nbsp;@item.enquiryStatus</span>

                                                    }
                                                </a>
                                                <span class="product-description" style="padding-top: 4px; padding-bottom: 4px;">
                                                    <i class="fa fa-clock-o" style="padding-right: 6px"></i>@item.enquiryDate.Date.ToString("dd MMM yyyy")
                                                </span>
                                                <span class="product-description">
                                                    @Html.DisplayFor(modelItem => item.pickupAddressPincode)<i class="fa fa-arrow-right" style="padding-left: 10px; padding-right: 10px"></i>@Html.DisplayFor(modelItem => item.deliveryAddressPincode)
                                                </span>

                                            </div>
                                        }




                                        @*@foreach (var enquiry in item.enquiryLine)
                                            {
                                                if (enquiry.serviceType == netcore.Models.Invent.ServicesType.FCL)
                                                {
                                                    <div class="product-img">
                                                        <img src="~/images/icons/container-details.png" alt="Product Image" style="width: 42px; height: 42px; padding: 5px">
                                                    </div>

                                                    <div class="product-info">
                                                        <a asp-action="Details" asp-route-id="" data-toggle="tooltip" data-placement="top" title="View" class="product-title" style="font-size:medium">
                                                            FCL (Sea Freight)

                                                            <i class="fa fa-eye"></i><span class="label label-warning pull-right"><i class="fa fa-flag-o"></i>&nbsp;&nbsp;@item.enquiryStatus</span>
                                                        </a>
                                                        <span class="product-description" style="padding-top: 4px; padding-bottom: 4px;">
                                                            <i class="fa fa-clock-o" style="padding-right: 6px"></i>@item.enquiryDate.Date.ToString("dd MMM yyyy")
                                                        </span>
                                                        <span class="product-description">
                                                            @Html.DisplayFor(modelItem => item.originOfShipment.locationName)<i class="fa fa-arrow-right" style="padding-left: 10px; padding-right: 10px"></i>@Html.DisplayFor(modelItem => item.destinationOfShipment.locationName)
                                                        </span>

                                                    </div>

                                                }
                                                else if (enquiry.serviceType == netcore.Models.Invent.ServicesType.LCL)
                                                {
                                                    <div class="product-img">
                                                        <img src="~/images/icons/lcl.png" alt="Product Image" style="width: 42px; height: 42px; padding: 5px">
                                                    </div>

                                                    <div class="product-info">
                                                        <a asp-action="Details" asp-route-id="" data-toggle="tooltip" data-placement="top" title="View" class="product-title" style="font-size:medium">
                                                            LCL (Sea Freight)

                                                            <i class="fa fa-eye"></i><span class="label label-warning pull-right"><i class="fa fa-flag-o"></i>&nbsp;&nbsp;@item.enquiryStatus</span>
                                                        </a>
                                                        <span class="product-description" style="padding-top: 4px; padding-bottom: 4px;">
                                                            <i class="fa fa-clock-o" style="padding-right: 6px"></i>@item.enquiryDate.Date.ToString("dd MMM yyyy")
                                                        </span>
                                                        <span class="product-description">
                                                            @Html.DisplayFor(modelItem => item.originOfShipment.locationName)<i class="fa fa-arrow-right" style="padding-left: 10px; padding-right: 10px"></i>@Html.DisplayFor(modelItem => item.destinationOfShipment.locationName)
                                                        </span>

                                                    </div>
                                                }
                                                else if (enquiry.serviceType == netcore.Models.Invent.ServicesType.Air)
                                                {
                                                    <div class="product-img">
                                                        <img src="~/images/icons/air.png" alt="Product Image" style="width: 42px; height: 42px; padding: 5px">
                                                    </div>

                                                    <div class="product-info">
                                                        <a asp-action="Details" asp-route-id="" data-toggle="tooltip" data-placement="top" title="View" class="product-title" style="font-size:medium">
                                                            Air Cargo (Air Freight)

                                                            <i class="fa fa-eye"></i><span class="label label-warning pull-right"><i class="fa fa-flag-o"></i>&nbsp;&nbsp;@item.enquiryStatus</span>
                                                        </a>
                                                        <span class="product-description" style="padding-top: 4px; padding-bottom: 4px;">
                                                            <i class="fa fa-clock-o" style="padding-right: 6px"></i>@item.enquiryDate.Date.ToString("dd MMM yyyy")
                                                        </span>
                                                        <span class="product-description">
                                                            @Html.DisplayFor(modelItem => item.originOfShipment.locationName)<i class="fa fa-arrow-right" style="padding-left: 10px; padding-right: 10px"></i>@Html.DisplayFor(modelItem => item.destinationOfShipment.locationName)
                                                        </span>

                                                    </div>
                                                }
                                                else if (enquiry.serviceType == netcore.Models.Invent.ServicesType.FTL)
                                                {
                                                    <div class="product-img">
                                                        <img src="~/images/icons/ftl.png" alt="Product Image" style="width: 42px; height: 42px; padding: 5px">
                                                    </div>

                                                    <div class="product-info">
                                                        <a asp-action="Details" asp-route-id="" data-toggle="tooltip" data-placement="top" title="View" class="product-title" style="font-size:medium">
                                                            FTL (Land Freight)

                                                            <i class="fa fa-eye"></i><span class="label label-warning pull-right"><i class="fa fa-flag-o"></i>&nbsp;&nbsp;@item.enquiryStatus</span>
                                                        </a>
                                                        <span class="product-description" style="padding-top: 4px; padding-bottom: 4px;">
                                                            <i class="fa fa-clock-o" style="padding-right: 6px"></i>@item.enquiryDate.Date.ToString("dd MMM yyyy")
                                                        </span>
                                                        <span class="product-description">
                                                            @Html.DisplayFor(modelItem => item.originOfShipment.locationName)<i class="fa fa-arrow-right" style="padding-left: 10px; padding-right: 10px"></i>@Html.DisplayFor(modelItem => item.destinationOfShipment.locationName)
                                                        </span>

                                                    </div>
                                                }
                                                else if (enquiry.serviceType == netcore.Models.Invent.ServicesType.LTL)
                                                {
                                                    <div class="product-img">
                                                        <img src="~/images/icons/ltl.png" alt="Product Image" style="width: 42px; height: 42px; padding: 5px">
                                                    </div>

                                                    <div class="product-info">
                                                        <a asp-action="Details" asp-route-id="" data-toggle="tooltip" data-placement="top" title="View" class="product-title" style="font-size:medium">
                                                            LTL (Land Freight)

                                                            <i class="fa fa-eye"></i><span class="label label-warning pull-right"><i class="fa fa-flag-o"></i>&nbsp;&nbsp;@item.enquiryStatus</span>
                                                        </a>
                                                        <span class="product-description" style="padding-top: 4px; padding-bottom: 4px;">
                                                            <i class="fa fa-clock-o" style="padding-right: 6px"></i>@item.enquiryDate.Date.ToString("dd MMM yyyy")
                                                        </span>
                                                        <span class="product-description">
                                                            @Html.DisplayFor(modelItem => item.originOfShipment.locationName)<i class="fa fa-arrow-right" style="padding-left: 10px; padding-right: 10px"></i>@Html.DisplayFor(modelItem => item.destinationOfShipment.locationName)
                                                        </span>

                                                    </div>
                                                }
                                                else if (enquiry.serviceType == netcore.Models.Invent.ServicesType.RAIL)
                                                {
                                                    <div class="product-img">
                                                        <img src="~/images/icons/rail.png" alt="Product Image" style="width: 42px; height: 42px; padding: 5px">
                                                    </div>

                                                    <div class="product-info">
                                                        <a asp-action="Details" asp-route-id="" data-toggle="tooltip" data-placement="top" title="View" class="product-title" style="font-size:medium">
                                                            RAIL (Land Freight)

                                                            <i class="fa fa-eye"></i><span class="label label-warning pull-right"><i class="fa fa-flag-o"></i>&nbsp;&nbsp;@item.enquiryStatus</span>
                                                        </a>
                                                        <span class="product-description" style="padding-top: 4px; padding-bottom: 4px;">
                                                            <i class="fa fa-clock-o" style="padding-right: 6px"></i>@item.enquiryDate.Date.ToString("dd MMM yyyy")
                                                        </span>
                                                        <span class="product-description">
                                                            @Html.DisplayFor(modelItem => item.originOfShipment.locationName)<i class="fa fa-arrow-right" style="padding-left: 10px; padding-right: 10px"></i>@Html.DisplayFor(modelItem => item.destinationOfShipment.locationName)
                                                        </span>

                                                    </div>
                                                }
                                            }*@

                                    </li>

                                </ul>

                            </div>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
}








@*<ul class="nav nav-tabs">
        <li class="active"><a href="#currentEnquiries" data-toggle="pill" id="currentEnquiries"><b>Current Enquiries</b></a></li>
        <li><a href="#missedEnquiries" data-toggle="pill" id="missedEnquiries"><b>Missed Enquiries</b></a></li>
    </ul>

    <div class="tab-content">
        <div class="active tab-pane" id="currentEnquiries">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover table-striped" style="width:100%">
                        <thead>
                            <tr>

                                <th>
                                    @Html.DisplayNameFor(model => model.purchaseOrderNumber)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.deliveryInwardNumber)
                                </th>
                                <th class="hidden">
                                    @Html.DisplayNameFor(model => model.top)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.poDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.deliveryDate)
                                </th>
                                <th class="hidden">
                                    @Html.DisplayNameFor(model => model.deliveryAddress)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.description)
                                </th>

                                <th class="hidden">
                                    @Html.DisplayNameFor(model => model.picVendor)
                                </th>

                                <th class="hidden">
                                    @Html.DisplayNameFor(model => model.totalDiscountAmount)
                                </th>
                                <th class="hidden">
                                    @Html.DisplayNameFor(model => model.totalOrderAmount)
                                </th>
                                <th class="hidden">
                                    @Html.DisplayNameFor(model => model.purchaseReceiveNumber)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.vendor.companyName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.usdRate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.purchaseOrderStatus)
                                </th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.purchaseOrderNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.deliveryInwardNumber)
                                    </td>
                                    <td class="hidden">
                                        @Html.DisplayFor(modelItem => item.top)
                                    </td>
                                    <td>
                                        @item.poDate.Date.ToString("dd-MMM-yyyy")
                                    </td>
                                    <td>
                                        @item.deliveryDate.Date.ToString("dd-MMM-yyyy")

                                    </td>
                                    <td class="hidden">
                                        @Html.DisplayFor(modelItem => item.deliveryAddress)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.description)
                                    </td>

                                    <td class="hidden">
                                        @Html.DisplayFor(modelItem => item.picVendor)
                                    </td>

                                    <td class="hidden">
                                        @Html.DisplayFor(modelItem => item.totalDiscountAmount)
                                    </td>
                                    <td class="hidden">
                                        @Html.DisplayFor(modelItem => item.totalOrderAmount)
                                    </td>
                                    <td class="hidden">
                                        @Html.DisplayFor(modelItem => item.purchaseReceiveNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.vendor.companyName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.usdRate)
                                    </td>
                                    <td>
                                        @if (item.purchaseOrderStatus == netcore.Models.Invent.PurchaseOrderStatus.Completed)
                                        {
                                            <span class="label label-success">
                                                @Html.DisplayFor(modelItem => item.purchaseOrderStatus)
                                            </span>

                                        }
                                        @if (item.purchaseOrderStatus == netcore.Models.Invent.PurchaseOrderStatus.Open)
                                        {
                                            <span class="label label-primary">
                                                @Html.DisplayFor(modelItem => item.purchaseOrderStatus)
                                            </span>

                                        }
                                        @if (item.purchaseOrderStatus == netcore.Models.Invent.PurchaseOrderStatus.Draft)
                                        {
                                            <span class="label label-warning">
                                                @Html.DisplayFor(modelItem => item.purchaseOrderStatus)
                                            </span>

                                        }

                                    </td>
                                    <td>
                                        <div class="tools">
                                            <a asp-action="Details" asp-route-id="@item.purchaseOrderId" class="btn btn-primary btn-xs"><i class="fa fa-eye"></i></a>
                                            <a asp-action="Edit" asp-route-id="@item.purchaseOrderId" class="btn btn-warning btn-xs"><i class="fa fa-file"></i></a>
                                        </div>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>


    <div class="tab-content">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover table-striped" style="width:100%">
                    <thead>
                        <tr>

                            <th>
                                @Html.DisplayNameFor(model => model.purchaseOrderNumber)
                            </th>
                            <th class="hidden">
                                @Html.DisplayNameFor(model => model.top)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.poDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.deliveryDate)
                            </th>
                            <th class="hidden">
                                @Html.DisplayNameFor(model => model.deliveryAddress)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.description)
                            </th>

                            <th class="hidden">
                                @Html.DisplayNameFor(model => model.picVendor)
                            </th>

                            <th class="hidden">
                                @Html.DisplayNameFor(model => model.totalDiscountAmount)
                            </th>
                            <th class="hidden">
                                @Html.DisplayNameFor(model => model.totalOrderAmount)
                            </th>
                            <th class="hidden">
                                @Html.DisplayNameFor(model => model.purchaseReceiveNumber)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.vendor.companyName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.usdRate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.purchaseOrderStatus)
                            </th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.purchaseOrderNumber)
                                </td>
                                <td class="hidden">
                                    @Html.DisplayFor(modelItem => item.top)
                                </td>
                                <td>
                                    @item.poDate.Date.ToString("dd-MMM-yyyy")
                                </td>
                                <td>
                                    @item.deliveryDate.Date.ToString("dd-MMM-yyyy")

                                </td>
                                <td class="hidden">
                                    @Html.DisplayFor(modelItem => item.deliveryAddress)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.description)
                                </td>

                                <td class="hidden">
                                    @Html.DisplayFor(modelItem => item.picVendor)
                                </td>

                                <td class="hidden">
                                    @Html.DisplayFor(modelItem => item.totalDiscountAmount)
                                </td>
                                <td class="hidden">
                                    @Html.DisplayFor(modelItem => item.totalOrderAmount)
                                </td>
                                <td class="hidden">
                                    @Html.DisplayFor(modelItem => item.purchaseReceiveNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.vendor.companyName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.usdRate)
                                </td>
                                <td>
                                    @if (item.purchaseOrderStatus == netcore.Models.Invent.PurchaseOrderStatus.Completed)
                                    {
                                        <span class="label label-success">
                                            @Html.DisplayFor(modelItem => item.purchaseOrderStatus)
                                        </span>

                                    }
                                    @if (item.purchaseOrderStatus == netcore.Models.Invent.PurchaseOrderStatus.Open)
                                    {
                                        <span class="label label-primary">
                                            @Html.DisplayFor(modelItem => item.purchaseOrderStatus)
                                        </span>

                                    }
                                    @if (item.purchaseOrderStatus == netcore.Models.Invent.PurchaseOrderStatus.Draft)
                                    {
                                        <span class="label label-warning">
                                            @Html.DisplayFor(modelItem => item.purchaseOrderStatus)
                                        </span>

                                    }

                                </td>
                                <td>
                                    <div class="tools">
                                        <a asp-action="Details" asp-route-id="@item.purchaseOrderId" class="btn btn-primary btn-xs"><i class="fa fa-eye"></i></a>
                                        <a asp-action="Edit" asp-route-id="@item.purchaseOrderId" class="btn btn-warning btn-xs"><i class="fa fa-file"></i></a>
                                    </div>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>*@





