﻿@model IEnumerable<netcore.Models.ApplicationUser>


@{
    ViewData["Title"] = "Application User";
    Layout = "_AdminlteNetcore";
}



<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Roles</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                            title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">

                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>
                                @Html.DisplayNameFor(model => model.UserName)
                            </th>
                            @{
                                Type t = typeof(ApplicationUser);
                                foreach (System.Reflection.PropertyInfo item in t.GetProperties())
                                {
                                    if (item.Name.Contains("Role") || item.Name.Contains("Line"))
                                    {

                                        <th>
                                            @item.Name
                                        </th>

                                        @*if (!item.Name.Contains("Line"))
                    {
                        <th>
                            @item.Name
                        </th>
                    }*@

                                    }
                                }
                            }



                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-pencil"></i></a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            @{
                                Type ct = item.GetType();
                                foreach (System.Reflection.PropertyInfo ci in ct.GetProperties())
                                {
                                    if (ci.Name.Contains("Role") || ci.Name.Contains("Line"))
                                    {
                                        bool vlue = false;
                                        vlue = (bool)ci.GetValue(item, null);
                                        <td>
                                            <input checked="@vlue" class="check-box" disabled="disabled" type="checkbox">
                                        </td>

                                        @*if (!ci.Name.Contains("Line"))
                    {
                        bool vlue = false;
                        vlue = (bool)ci.GetValue(item, null);
                        <td><input checked="@vlue"  class="check-box" disabled="disabled" type="checkbox"></td>
                    }*@
                                    }
                                }
                            }



                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->


@section Styles{

}


@section Scripts{
    <script>
        $('.table').DataTable({
            "lengthChange": false,
            "info": false,
            "scrollX": true
        })
    </script>
}





