﻿@using netcore.Models.Invent
@inject netcore.Data.ApplicationDbContext Context
@inject netcore.Services.INetcoreService Svc
@{
    ViewData["Title"] = "Stock Index";
    Layout = "_AdminlteNetcore";

    List<VMStock> stocks = new List<VMStock>();
    stocks = Svc.GetStockPerWarehouse();

    List<VMStock> vendorDetails = new List<VMStock>();
    vendorDetails = Svc.GetVendorsPerProduct();

    List<VMStock> customerDetails = new List<VMStock>();
    customerDetails = Svc.GetCustomerPerProduct();

}



<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <!-- Main content -->
    <section class="content">


        <div class="row">
            <div class="col-lg-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title"><i class="fa fa-cube text-primary"></i> <span>Stock Realtime Per Warehouse</span></h3>
                        <div class="box-tools pull-right">
                            <div class="has-feedback">
                                <input type="text" id="mainSearch" class="form-control input-sm" placeholder="Search...">
                                <span class="glyphicon glyphicon-search form-control-feedback"></span>
                            </div>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <div class="box-body no-padding">
                        <div class="mailbox-controls">
                            <div class="text-center">
                                <button type="button" id="btn-export-excel" class="btn btn-success btn-sm"><i class="fa fa-file-excel-o"></i></button>
                                <button type="button" id="btn-export-pdf" class="btn btn-danger btn-sm"><i class="fa fa-file-pdf-o"></i></button>
                                <button type="button" id="btn-export-csv" class="btn btn-primary btn-sm"><i class="fa fa-file-text-o"></i></button>
                            </div>
                        </div>
                        <div class="table-responsive mailbox-messages">
                            <table id="stockTable" class="table table-hover table-striped" style="width:100%">
                                <thead>
                                    <tr>
                                        <th><i class="fa fa-tags"></i> Model</th>
                                        <th><i class="fa fa-tags"></i> Name</th>
                                        <th><i class="fa fa-tags"></i> Category</th>
                                        <th><i class="fa fa-tags"></i> Pending Receive</th>
                                        <th><i class="fa fa-file-text"></i> Purchased</th>
                                        <th><i class="fa fa-truck"></i> Received</th>
                                        <th><i class="fa fa-shopping-bag"></i> Pending Shipment</th>
                                        <th><i class="fa fa-cart-plus"></i> Sold</th>
                                        <th><i class="fa fa-ship"></i> Shipped</th>
                                        @*<th><i class="fa fa-tags"></i>Minimum Stock</th>*@
                                        <th class="text-aqua"><i class="fa fa-check-circle"></i> Qty On Hand</th>
                                        <th class="text-aqua"><i class="fa fa-check-circle"></i> Weight On Hand</th>
                                        <th class="text-aqua"><i class="fa fa-check-circle"></i> Total Amount Rs</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in stocks)
                                    {
                                        <tr>
                                            @*<td>
                                                    <a asp-route-id="@item.Product"><i class="fa fa-plus"></i></a>
                                                </td>*@
                                            <td>@item.Product</td>
                                            <td>@item.ProductName</td>
                                            <td>@item.ProductCategoryName</td>
                                            <td class="text-orange">@item.PendingReceive</td>
                                            <td>@item.QtyPO</td>
                                            <td>@item.QtyReceiving</td>
                                            <td class="text-orange">@item.PendingShipment </td>
                                            <td>@item.QtySO</td>
                                            <td>@item.QtyShipment</td>
                                            @*<td>@item.MinimumStock</td>*@

                                            <td>
                                                @if (item.QtyOnhand <= item.MinimumStock)
                                                {
                                                    <span style="color:red; font-weight: 600">
                                                        @item.QtyOnhand
                                                    </span>
                                                }
                                                else
                                                {
                                                    <span style="color:green; font-weight: 600">@item.QtyOnhand</span>
                                                }
                                            </td>
                                            <td>@item.WeightOnhand</td>
                                            <td>@Decimal.Round(item.AmountOnHand, 2)</td>

                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th colspan="3">Total</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>





    </section>



    <section class="content">


        <div class="row">
            <div class="col-lg-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title"><i class="fa fa-cube text-primary"></i> <span>Vendor Details Pending & Received</span></h3>
                        <div class="box-tools pull-right">
                            <div class="has-feedback">
                                <input type="text" id="mainSearch2" class="form-control input-sm" placeholder="Search...">
                                <span class="glyphicon glyphicon-search form-control-feedback"></span>
                            </div>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <div class="box-body no-padding">
                        <div class="mailbox-controls">
                            <div class="text-center">
                                <button type="button" id="btn-export-excel2" class="btn btn-success btn-sm"><i class="fa fa-file-excel-o"></i></button>
                                <button type="button" id="btn-export-pdf2" class="btn btn-danger btn-sm"><i class="fa fa-file-pdf-o"></i></button>
                                <button type="button" id="btn-export-csv2" class="btn btn-primary btn-sm"><i class="fa fa-file-text-o"></i></button>
                            </div>
                        </div>
                        <div class="table-responsive mailbox-messages">
                            <table id="vendorTable" class="vendortable table2 table-hover table-striped" style="width:100%">
                                <thead>
                                    <tr>
                                        <th><i class="fa fa-tags"></i> Product</th>
                                        <th><i class="fa fa-tags"></i> Product Name</th>
                                        <th><i class="fa fa-tags"></i> Product Category</th>
                                        <th><i class="fa fa-tags"></i> PO No.</th>
                                        <th><i class="fa fa-tags"></i> Total Price</th>
                                        <th><i class="fa fa-tags"></i> Qty</th>
                                        <th><i class="fa fa-tags"></i> Vendor Name</th>
                                        <th><i class="fa fa-tags"></i> Price In USD</th>
                                        <th><i class="fa fa-file-text"></i> PO Date</th>
                                        <th><i class="fa fa-file-text"></i> PO Status</th>
                                        @*<th><i class="fa fa-file-text"></i>Received Date</th>*@


                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in vendorDetails)
                                    {
                                        <tr>
                                            @*<td>
                                                    <a asp-route-id="@item.Product"><i class="fa fa-plus"></i></a>
                                                </td>*@
                                            <td>@item.Product</td>
                                            <td>@item.ProductName</td>
                                            <td>@item.ProductCategoryName</td>
                                            <td>@item.PONo</td>
                                            <td>@item.TotalPrice</td>
                                            <td>@item.TotalQty</td>
                                            <td>@item.VendorName</td>
                                            <td>@item.PriceInUSD</td>
                                            <td>@item.PurchasedDate.ToShortDateString()</td>

                                            <td>
                                                @if (item.PurchaseOrderStatus == netcore.Models.Invent.PurchaseOrderStatus.Completed.GetDisplayName())
                                                {
                                                    <span class="label label-success">
                                                        @item.PurchaseOrderStatus
                                                    </span>

                                                }

                                                @if (item.PurchaseOrderStatus == netcore.Models.Invent.PurchaseOrderStatus.Draft.GetDisplayName())
                                                {
                                                    <span class="label label-warning">
                                                        @item.PurchaseOrderStatus
                                                    </span>

                                                }

                                                @*<td>@item.ReceivedDate.Date</td>*@

                                            </td>

                                            @*<td>@item.ReceivedDate.Date</td>*@



                                        </tr>
                                    }
                                </tbody>
                                <tfoot>

                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>





    </section>


    <section class="content">


        <div class="row">
            <div class="col-lg-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title"><i class="fa fa-cube text-primary"></i> <span>Customer Details Pending & Shipped</span></h3>
                        <div class="box-tools pull-right">
                            <div class="has-feedback">
                                <input type="text" id="mainSearch3" class="form-control input-sm" placeholder="Search...">
                                <span class="glyphicon glyphicon-search form-control-feedback"></span>
                            </div>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <div class="box-body no-padding">
                        <div class="mailbox-controls">
                            <div class="text-center">
                                <button type="button" id="btn-export-excel3" class="btn btn-success btn-sm"><i class="fa fa-file-excel-o"></i></button>
                                <button type="button" id="btn-export-pdf3" class="btn btn-danger btn-sm"><i class="fa fa-file-pdf-o"></i></button>
                                <button type="button" id="btn-export-csv3" class="btn btn-primary btn-sm"><i class="fa fa-file-text-o"></i></button>
                            </div>
                        </div>
                        <div class="table-responsive mailbox-messages">
                            <table id="customerTable" class="customertable table2 table-hover table-striped" style="width:100%">
                                <thead>
                                    <tr>
                                        <th><i class="fa fa-tags"></i> Product</th>
                                        <th><i class="fa fa-tags"></i> Product Name</th>
                                        <th><i class="fa fa-tags"></i> Product Category</th>
                                        <th><i class="fa fa-tags"></i> SO No.</th>
                                        <th><i class="fa fa-tags"></i> Qty</th>
                                        <th><i class="fa fa-tags"></i> Customer Name</th>
                                        <th><i class="fa fa-file-text"></i> SO Date</th>
                                        <th><i class="fa fa-tags"></i>SO Status</th>

                                        @*<th><i class="fa fa-file-text"></i>Received Date</th>*@


                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in customerDetails)
                                    {
                                        <tr>
                                            @*<td>
                                                    <a asp-route-id="@item.Product"><i class="fa fa-plus"></i></a>
                                                </td>*@
                                            <td>@item.Product</td>
                                            <td>@item.ProductName</td>
                                            <td>@item.ProductCategoryName</td>
                                            <td>@item.SONo</td>
                                            <td>@item.TotalQty</td>
                                            <td>@item.CustomerName</td>
                                            <td>@item.SaleDate.ToShortDateString()</td>
                                            <td>
                                                @if (item.SalesOrderStatus == netcore.Models.Invent.SalesOrderStatus.Completed.GetDisplayName())
                                                {
                                                    <span class="label label-success">
                                                        @item.SalesOrderStatus
                                                    </span>

                                                }

                                                @if (item.SalesOrderStatus == netcore.Models.Invent.SalesOrderStatus.Draft.GetDisplayName())
                                                {
                                                    <span class="label label-warning">
                                                        @item.SalesOrderStatus
                                                    </span>

                                                }

                                                @*<td>@item.ReceivedDate.Date</td>*@

                                            </td>

                                        </tr>
                                    }
                                </tbody>
                                <tfoot>

                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>





    </section>

    <!-- /.content -->
</div>
<!-- /.content-wrapper -->


@section Styles{

}


@section Scripts{
    <!-- ChartJS -->
    <script src="~/adminlte/components/chart.js/Chart.js"></script>
    <script>
        $(document).ready(function () {
            var mainTable;

            mainTable = $('.table').DataTable({
                "lengthChange": true,
                "info": true,
                "searching": true,
                "dom": 'lrtip',
                "scrollX": false,
                "buttons": [
                                {
                                    extend: 'csv',
                                    filename: 'stock-csv'
                                },
                                {
                                    extend: 'pdf',
                                    filename: 'stock-pdf'
                                },
                                {
                                    extend: 'excel',
                                    filename: 'stock-excel'
                                }
                ],

                "footerCallback": function (row, data, start, end, display) {
                    var api = this.api(), data;

                    // Remove the formatting to get integer data for summation
                    var intVal = function (i) {
                        return typeof i === 'string' ?
                            i.replace(/[\$,]/g, '') * 1 :
                            typeof i === 'number' ?
                                i : 0;
                    };
                    // Total Received
                    total = api
                        .column(3)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Total Received over this page
                    pageTotal = api
                        .column(3, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Update footer Total Received
                    $(api.column(3).footer()).html(
                        pageTotal
                    );



                    // Total Received
                    total = api
                        .column(4)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Total Received over this page
                    pageTotal = api
                        .column(4, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Update footer Total Received
                    $(api.column(4).footer()).html(
                        pageTotal
                    );


                    // Total Hold
                    total = api
                        .column(5)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Total Received over this page
                    pageTotal = api
                        .column(5, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Update footer Total Received
                    $(api.column(5).footer()).html(
                        pageTotal
                    );



                    // Total Sales
                    total = api
                        .column(6)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Total Sales over this page
                    pageTotal = api
                        .column(6, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Update footer Total Sales
                    $(api.column(6).footer()).html(
                        pageTotal
                    );



                    // Total Qty
                    total = api
                        .column(7)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Total Qty over this page
                    pageTotal = api
                        .column(7, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Update footer Total Qty
                    $(api.column(7).footer()).html(
                        pageTotal
                    );


                    // Total Qty
                    total = api
                        .column(8)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Total Qty over this page
                    pageTotal = api
                        .column(8, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Update footer Total Qty
                    $(api.column(8).footer()).html(
                        pageTotal
                    );


                    // Total Weight Kg
                    total = api
                        .column(10)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Total Weight Kg over this page
                    pageTotal = api
                        .column(10, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Update footer Total Weight Kg
                    $(api.column(10).footer()).html(
                        pageTotal + ' (Gross: '+total+')'
                    );



                    // Total Amount RS
                    total = api
                        .column(11)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Total Amount RS over this page
                    pageTotal = api
                        .column(11, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Update footer Total Amount RS
                    $(api.column(11).footer()).html(
                        pageTotal + ' (Gross: '+total+')'
                    );


                }
            });

            $('#mainSearch').keyup(function () {
                mainTable.search($(this).val()).draw();
            });


            $("#btn-export-csv").on("click", function () {
                mainTable.button('.buttons-csv').trigger();
            })

            $("#btn-export-excel").on("click", function () {
                mainTable.button('.buttons-excel').trigger();
            })

            $("#btn-export-pdf").on("click", function () {
                mainTable.button('.buttons-pdf').trigger();
            })




            var mainTable2;

            mainTable2 = $('.vendortable').DataTable({

                "info": true,
                "searching": true,
                "dom": 'lrtip',
                "scrollX": false,
                "buttons": [
                                {
                                    extend: 'csv',
                                    filename: 'stock-csv'
                                },
                                {
                                    extend: 'pdf',
                                    filename: 'stock-pdf'
                                },
                                {
                                    extend: 'excel',
                                    filename: 'stock-excel'
                                }
                ]
            });

            $('#mainSearch2').keyup(function () {
                mainTable2.search($(this).val()).draw();
            });


            $("#btn-export-csv2").on("click", function () {
                mainTable2.button('.buttons-csv').trigger();
            })

            $("#btn-export-excel2").on("click", function () {
                mainTable2.button('.buttons-excel').trigger();
            })

            $("#btn-export-pdf2").on("click", function () {
                mainTable2.button('.buttons-pdf').trigger();
            })




            var mainTable3;

            mainTable3 = $('.customertable').DataTable({

                "info": true,
                "searching": true,
                "dom": 'lrtip',
                "scrollX": false,
                "buttons": [
                    {
                        extend: 'csv',
                        filename: 'stock-csv'
                    },
                    {
                        extend: 'pdf',
                        filename: 'stock-pdf'
                    },
                    {
                        extend: 'excel',
                        filename: 'stock-excel'
                    }
                ]
            });

            $('#mainSearch3').keyup(function () {
                mainTable3.search($(this).val()).draw();
            });


            $("#btn-export-csv3").on("click", function () {
                mainTable3.button('.buttons-csv').trigger();
            })

            $("#btn-export-excel3").on("click", function () {
                mainTable3.button('.buttons-excel').trigger();
            })

            $("#btn-export-pdf3").on("click", function () {
                mainTable3.button('.buttons-pdf').trigger();
            })





        });





        @*$(document).ready(function() {
            var table = $('#stockTable').DataTable();

            $('#stockTable tbody').on('click', 'tr', function () {
                var data = table.row( this ).data();
                alert('You clicked on ' + data[0] + '\'s row');
                getPurchaseOrderDetails(data[0]);
            });

        });



        //Function to get Multiplied USD x Rate
        function getPurchaseOrderDetails(productModel) {
            $.ajax({
                type: 'GET',
                url: "@Url.Action("GetPurchaseOrderDetails","PurchaseOrder")",
                data: { 'productModel': productModel},
                method: "GET",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    if (response != null) {
                        for (var i in response) {
                            alert('<p>' + response[i] + '</p>');
                        }
                    }
                },
                error: function (req, status, error) {
                    alert("Req: " + req);
                    alert("Status: " + status);
                    alert("Error: " + error);
                }
            });
        }*@




    </script>
}


