﻿@model netcore.Models.Invent.Customer


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminlteNetcoreCreate.cshtml";
    ViewData["EntityIcon"] = "fa fa-bank";
    ViewData["CreateInfo"] = "Customer is an organization that buy products from your company. You sell products to them.";
}


<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="customerId" />
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="customerName" class="control-label"></label>
                    <input asp-for="customerName" class="form-control" />
                    <span asp-validation-for="customerName" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="registrationDate" class="control-label"></label>
                    <input asp-for="registrationDate"  class="form-control" type="date" />
                    <span asp-validation-for="registrationDate" class="text-danger"></span>
                </div>

            </div>



        </div>
        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="registrationExpDate" class="control-label"></label>
                    <input asp-for="registrationExpDate" class="form-control" type="date" />
                    <span asp-validation-for="registrationExpDate" class="text-danger"></span>
                </div>
            </div>


        </div>



        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="description" class="control-label"></label>
                    <input asp-for="description" class="form-control" />
                    <span asp-validation-for="description" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="primaryContact" class="control-label"></label>
                    <input asp-for="primaryContact" class="form-control" />
                    <span asp-validation-for="primaryContact" class="text-danger"></span>
                </div>
            </div>


        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label asp-for="businessContactName" class="control-label"></label>
                    <input asp-for="businessContactName" class="form-control" />
                    <span asp-validation-for="businessContactName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="officialAddress" class="control-label"></label>
                    <input asp-for="officialAddress" class="form-control" />
                    <span asp-validation-for="officialAddress" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="panNo" class="control-label"></label>
                    <input asp-for="panNo" class="form-control" />
                    <span asp-validation-for="panNo" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="gstNo" class="control-label"></label>
                    <input asp-for="gstNo" class="form-control" />
                    <span asp-validation-for="gstNo" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="registrationExpDate" class="control-label"></label>
                    <input asp-for="registrationExpDate" class="form-control" type="date" />
                    <span asp-validation-for="registrationExpDate" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="primaryEmail" class="control-label"></label>
                        <input asp-for="primaryEmail" class="form-control"/>
                        <span asp-validation-for="primaryEmail" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>


    </div>
    </div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

        $(document).ready(function () {

            var date = new Date();
            var day = date.getDate();
            var month = date.getMonth() + 1;
            var year = date.getFullYear();

            if (month < 10) month = "0" + month;
            if (day < 10) day = "0" + day;

            var today = day + "-" + month + "-" + year;  
            $(".datepicker").attr("value", today);
        });

    </script>
}
