﻿@model netcore.Models.Invent.Customer
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminlteNetcoreDetails.cshtml";
    ViewData["EntityIcon"] = "fa fa-bank";

    ApplicationUser appUser = await UserManager.GetUserAsync(User);
}


<main class="my-12">
    <div class="container">
        <div id="wizard">
            <h3>
                <div class="media">
                    <div class="bd-wizard-step-icon"><i class="glyphicon glyphicon-registration-mark"></i></div>
                    <div class="media-body">
                        <div class="bd-wizard-step-title">Personal Information & KYC</div>

                    </div>
                </div>
            </h3>
            <section>
                @if (!appUser.isSuperAdmin)
                {
                    <div class="row pull-right">
                        <div class="form-group col-md-2">
                            <a class="btn btn-success" style="margin-bottom:10px" onclick="ShowCustomerInfoPopup('@Url.Action("Edit","Customer", new { id = Model.customerId })')"><i class="fa fa-pencil"></i> Edit</a>
                        </div>
                    </div>
                }

                <div class="row">
                    <div class="wrapper">
                        <h4 class="section-heading">Enter Your Details </h4>
                        <div class="row">
                            <div class="form-group col-md-6 txtBox">
                                <label asp-for="applicationUser.UserName" class="control-label"></label>
                                <input asp-for="applicationUser.UserName" class="form-control txtBox" style="background-color: #fff" name="UserName" id="UserName" placeholder="-" readonly />
                                <span asp-validation-for="applicationUser.UserName" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="businessContactName" class="control-label"></label>
                                <input asp-for="businessContactName" name="businessContactName" style="background-color: #fff" id="businessContactName" class="form-control" placeholder="-" readonly />
                                <span asp-validation-for="businessContactName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 txtBox">
                                <label asp-for="companyName" class="control-label"></label>
                                <input asp-for="companyName" class="form-control txtBox" style="background-color: #fff" name="companyName" id="companyName" placeholder="-" readonly />
                                <span asp-validation-for="companyName" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="primaryEmail" class="control-label"></label>
                                <input asp-for="primaryEmail" name="primaryEmail" id="primaryEmail" class="form-control" placeholder="-" style="background-color: #fff" readonly />
                                <span asp-validation-for="primaryEmail" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">

                            <div class="form-group col-md-6">
                                <label asp-for="primaryContact" class="control-label"></label>
                                <input asp-for="primaryContact" name="primaryContact" id="primaryContact" class="form-control" placeholder="-" style="background-color: #fff" readonly />
                                <span asp-validation-for="primaryContact" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="officialAddress" class="control-label"></label>
                                <input asp-for="officialAddress" name="officialAddress" id="officialAddress" class="form-control" placeholder="-" style="background-color: #fff" readonly />
                                <span asp-validation-for="officialAddress" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">

                            <div class="form-group col-md-6">
                                <label asp-for="location" class="control-label"></label>
                                <input asp-for="location" name="location" id="location" class="form-control" placeholder="-" style="background-color: #fff" readonly />
                                <span asp-validation-for="location" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="gstNo" class="control-label"></label>
                                <input asp-for="gstNo" class="form-control" placeholder="-" name="gstNo" id="gstNo" style="background-color: #fff" readonly />
                                <span asp-validation-for="gstNo" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label asp-for="panNo" class="control-label"></label>
                                <input asp-for="panNo" class="form-control" placeholder="-" name="panNo" id="panNo" style="background-color: #fff" readonly />
                                <span asp-validation-for="panNo" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="description" class="control-label"></label>
                                <textarea class="form-control" id="description" asp-for="description" name="description" rows="2" placeholder="-" style="background-color: #fff" readonly></textarea>
                                <span asp-validation-for="description" class="text-danger"></span>
                            </div>
                        </div>

                    </div>

                    <div class="wrapper">
                        <h4 class="section-heading mb-5">KYC & Agreement</h4>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" checked disabled>&nbsp;
                                I hereby declare that I had read all the <a href="#!">Terms and Conditions</a>  and all the details provided my me in this form are true.
                            </label>
                        </div>

                        @if (!Model.isVerified)
                        {
                            <div class="form-check">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label style="font-size: larger; font-weight:900">
                                            KYC Not Approved Yet!
                                        </label>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="form-check">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label style="font-size: larger; font-weight:900 ">
                                            KYC Is Approved!
                                        </label>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>

            </section>
        </div>
    </div>
</main>


<!--modal placeholder-->
<div class="modal modal-primary fade" id="modalDefault">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>

@section Styles{

    <!-- iCheck -->
    <link rel="stylesheet" href="~/adminlte/plugins/iCheck/all.css" />

}


@section Scripts{
    <script>

        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' /* optional */
            });
        });


        //Customer Info

        function ShowCustomerInfoPopup(url) {
            var modalId = 'modalDefault';
            var modalPlaceholder = $('#' + modalId + ' .modal-dialog .modal-content');
            $.get(url).done(function (response) {
                modalPlaceholder.html(response);
                popup = $('#' + modalId + '').modal({
                    keyboard: false,
                    backdrop: 'static'
                });
            });
        }


        function SaveCustomerInfo(form) {
            var entity = 'Customer';
            var apiurl = '/api/' + entity;

            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                var data = $(form).serializeJSON();
                data = JSON.stringify(data);
                $.ajax({
                    type: 'POST',
                    url: apiurl,
                    data: data,
                    contentType: 'application/json',
                    success: function (data) {
                        if (data.success) {
                            popup.modal('hide');
                            ShowMessage(data.message);
                            location.reload();
                        } else {
                            ShowMessageError(data.message);
                        }
                    }
                });

            }
            return false;
        }




        //Horizontal Step Wizard

        showWizard();

        function showWizard() {
            $("#wizard").steps({
                headerTag: "h3",
                bodyTag: "section",
                transitionEffect: "slide",
                titleTemplate: '#title#',
                enableFinishButton: false,
                showBackButton: true,
                showFooterButtons: true
            });
        }




    </script>
}



<!--modal placeholder-->
@*<div class="modal modal-primary fade" id="modalDefault">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>

        <script>
            var popup, dataTable;
            var entity = 'CustomerLine';
            var apiurl = '/api/' + entity;

            $(document).ready(function () {
                dataTable = $('#grid').DataTable({
                    "ajax": {
                        "url": apiurl + '?masterid=@Model.customerId',
                        "type": 'GET',
                        "datatype": 'json'
                    },
                    "columns": [
                        { "data": "firstName" },
                        { "data": "lastName" },
                        { "data": "jobTitle" },
                        { "data": "mobilePhone" },
                        { "data": "personalEmail" },
                        {
                            "data": "customerLineId",
                            "render": function (data) {
                                var btnEdit = "<a class='btn btn-primary btn-xs' onclick=ShowPopup('/" + entity + "/Create/" + data + "')><i class='fa fa-pencil'></i></a>";
                                var btnDelete = "<a class='btn btn-danger btn-xs' style='margin-left:2px' onclick=Delete('" + data + "')><i class='fa fa-trash'></i></a>";

                                return "<div class='tools pull-right'>" + btnEdit + btnDelete + "</div>";
                            }
                        }
                    ],
                    "language": {
                        "emptyTable": "no data found."
                    },
                    "lengthChange": false,
                    "info": false,
                    "searching": false,
                    "paging": false,
                });
            });

            function ShowPopup(url) {
                var modalId = 'modalDefault';
                var modalPlaceholder = $('#' + modalId + ' .modal-dialog .modal-content');
                $.get(url)
                    .done(function (response) {
                        modalPlaceholder.html(response);
                        popup = $('#' + modalId + '').modal({
                            keyboard: false,
                            backdrop: 'static'
                        });
                    });
            }


            function SubmitAddEdit(form) {
                $.validator.unobtrusive.parse(form);
                if ($(form).valid()) {
                    var data = $(form).serializeJSON();
                    data = JSON.stringify(data);
                    $.ajax({
                        type: 'POST',
                        url: apiurl,
                        data: data,
                        contentType: 'application/json',
                        success: function (data) {
                            if (data.success) {
                                popup.modal('hide');
                                ShowMessage(data.message);
                                dataTable.ajax.reload();
                            } else {
                                ShowMessageError(data.message);
                            }
                        }
                    });

                }
                return false;
            }

            function Delete(id) {
                swal({
                    title: "Are you sure want to Delete?",
                    text: "You will not be able to restore the data!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#dd4b39",
                    confirmButtonText: "Yes, delete it!",
                    closeOnConfirm: true
                }, function () {
                    $.ajax({
                        type: 'DELETE',
                        url: apiurl + '/' + id,
                        success: function (data) {
                            if (data.success) {
                                ShowMessage(data.message);
                                dataTable.ajax.reload();
                            } else {
                                ShowMessageError(data.message);
                            }
                        }
                    });
                });


            }

        </script>*@


