﻿@model IEnumerable<netcore.Models.Invent.Customer>
@inject netcore.Data.ApplicationDbContext Context
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminlteNetcoreIndex.cshtml";
    ViewData["EntityIcon"] = "fa fa-bank";
    ViewData["ListTitle"] = "Customer List";
    ViewData["IndexInfo"] = "Customer is an organization that buy products from your company. You sell products to them.";
}


<table class="table table-hover table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Registration Date & Time
            </th>
            <th>
                @Html.DisplayNameFor(model => model.businessContactName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.companyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.primaryEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.primaryContact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gstNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.panNo)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.registrationExpDate)
        </th>*@

            <th class="hidden">
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.officialAddress)
            </th>
            <th>
                No. of Enquiries Sent
            </th>
            <th>
                No. of Quotations Booked
            </th>
            <th>KYC Verified</th>
            <th>Actions</th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @item.registrationDate.Value.Date.ToString("dd-MMM-yyyy H:mm")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.businessContactName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.companyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.primaryEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.primaryContact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gstNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.panNo)
            </td>
            @*<td>

            @if (item.registrationExpDate < DateTime.Now.Date)
            {
                <span style="color:red;">
                    @item.registrationExpDate.Value.ToString("dd-MMM-yyyy")
                </span>
            }
            else if (item.registrationExpDate < DateTime.Now.Date.AddDays(15))
            {
                <span style="color:orange;">
                    @item.registrationExpDate.Value.ToString("dd-MMM-yyyy")
                </span>
            }
            else
            {
                <span style="color:green;">@item.registrationExpDate.Value.ToString("dd-MMM-yyyy")</span>
            }

        </td>*@

            <td class="hidden">
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.officialAddress)
            </td>
            <td>

                @(Context.Enquiry.Where(x => x.userName == item.userName).Count())

            </td>
            <td>

                @(Context.Booking.Where(x => x.customerId == item.customerId).Count())

            </td>
            <td>

                @if (item.isVerified == false)
                {
                    <span class="badge bg-red">
                        @Html.DisplayFor(modelItem => item.isVerified)
                    </span>
                }
                else
                {
                    <span class="badge bg-green-active">
                        @Html.DisplayFor(modelItem => item.isVerified)
                    </span>
                }


            </td>
            <td>
                <div class="tools">
                    <a asp-action="Details" asp-route-id="@item.customerId" class="btn btn-primary btn-xs" title="View"><i class="fa fa-eye"></i></a>
                    @if (!item.isVerified)
                    {
                        <a asp-action="ApproveKYC" asp-route-id="@item.customerId" class="btn btn-primary btn-xs" title="Approve KYC"><i class="fa fa-thumbs-up"></i></a>

                    }
                    else
                    {
                        <a asp-action="DisapproveKYC" asp-route-id="@item.customerId" class="btn btn-primary btn-xs" title="Disapprove KYC"><i class="fa fa-thumbs-down"></i></a>
                    }

                    @*<a asp-action="Delete" asp-route-id="@item.serviceProviderId" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>*@
                </div>

            </td>
        </tr>
        }
    </tbody>
</table>
