﻿@model netcore.Models.Invent.EnquiryLine


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminlteNetcoreContainerPopup.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="enquiryLineId" />
        <div class="form-group hidden">
            <label asp-for="enquiryId" class="control-label"></label>
            <select asp-for="enquiryId" class="form-control select2" asp-items="ViewBag.enquiryId"></select>
        </div>
        <fieldset>
            <legend>Container Details</legend>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="serviceType" class="control-label"></label>
                        <select asp-for="serviceType" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.ServicesType>()"></select>
                        <span asp-validation-for="serviceType" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="containerType" class="control-label"></label>
                        <select asp-for="containerType" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.ContainerType>()"></select>
                        <span asp-validation-for="containerType" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="commodityType" class="control-label"></label>
                        <select asp-for="commodityType" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.CommodityType>()"></select>
                        <span asp-validation-for="commodityType" class="text-danger"></span>
                    </div>
                </div>

            </div>

        </fieldset>
        <br />
        <fieldset>
            <legend>Container Dimensions</legend>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="volume" class="control-label"></label>
                        <input asp-for="volume" class="form-control" />
                        <span asp-validation-for="volume" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="weight" class="control-label"></label>
                        <input asp-for="weight" class="form-control" />
                        <span asp-validation-for="weight" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="size" class="control-label"></label>
                        <input asp-for="size" class="form-control" />
                        <span asp-validation-for="size" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="count" class="control-label"></label>
                        <input asp-for="count" class="form-control" />
                        <span asp-validation-for="count" class="text-danger"></span>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="containerLength" class="control-label"></label>
                        <input asp-for="containerLength" class="form-control" />
                        <span asp-validation-for="containerLength" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="containerWidth" class="control-label"></label>
                        <input asp-for="containerWidth" class="form-control" />
                        <span asp-validation-for="containerWidth" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="containerHeight" class="control-label"></label>
                        <input asp-for="containerHeight" class="form-control" />
                        <span asp-validation-for="containerHeight" class="text-danger"></span>
                    </div>
                </div>

            </div>
        </fieldset>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
