﻿@model netcore.Models.NewsArticles

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminlteNetcoreDetails.cshtml";
    ViewData["EntityIcon"] = "fa fa-tags";

    <style>
        ul.wysihtml5-toolbar li {
            display: none;
        }

            ul.wysihtml5-toolbar li.dropdown {
                display: none;
            }
    </style>
}



<div class="row">
    <div class="col-md-9">
        <!-- Default box -->
        <div class="box box-primary">
            <div class="box-body">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="title" class="control-label"></label>
                        <input asp-for="title" class="form-control" />
                        <span asp-validation-for="title" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-12">

                    <label class="control-label">Article Posted</label>



                    <div class="form-group">

                        <textarea asp-for="content" id="compose-textarea" class="form-control" style="height: 400px" readonly>
                    </textarea>
                    </div>

                </div>

                <div class="col-md-2" style="margin-right: -70px;">
                    <div class="form-group">
                        <div class="checkbox">
                            <label style="font-size: larger">
                                <input type="checkbox" asp-for="isPosted" style="width: 18px; height: 18px;" disabled /> &nbsp; Is It Live?
                            </label>
                        </div>
                    </div>
                </div>

            </div>





            <div class="box-footer">
                <div class="form-group">
                    <a asp-action="Edit" asp-route-id="@Model.newsArticlesId" class="btn btn-primary">Edit</a>
                    <a asp-action="Index" class="btn btn-default">Back to List</a>
                </div>
            </div>

        </div>

    </div>
    <div class="col-md-3">
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(function () {
            //Add text editor
            $("#compose-textarea").wysihtml5();
        });
    </script>
}

