﻿@model netcore.Models.NewsArticles

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminlteNetcoreEdit.cshtml";
    ViewData["EntityIcon"] = "fa fa-newspaper-o";

    <style>
        ul.wysihtml5-toolbar li a[title="Insert image"] {
            display: none;
        }

/*        ul.wysihtml5-toolbar li.dropdown {
            display: none;
        }*/
    </style>
}


<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="newsArticlesId" />
        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="title" class="control-label"></label>
                    <input asp-for="title" class="form-control" />
                    <span asp-validation-for="title" class="text-danger"></span>
                </div>
            </div>

            <!-- /.col -->
            <div class="col-md-12">

                <label asp-for="content" class="control-label"></label>



                <div class="form-group">

                    <textarea asp-for="content" id="compose-textarea" class="form-control" style="height: 400px">
                    </textarea>
                </div>
                @*<div class="form-group">
                        <div class="btn btn-default btn-file">
                            <i class="fa fa-paperclip"></i> Attachment
                            <input type="file" name="attachment">
                        </div>
                        <p class="help-block">Max. 32MB</p>
                    </div>*@

            </div>


            <div class="col-md-2" style="margin-right: -70px;">
                <div class="form-group">
                    <label asp-for="isPosted" class="control-label"></label>
                    <div class="checkbox">
                        <label style="font-size: larger">
                            <input type="checkbox" asp-for="isPosted" style="width: 18px; height: 18px;" /> &nbsp; Yes! make it live
                        </label>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(function () {
            //Add text editor
            $("#compose-textarea").wysihtml5();
        });
    </script>
}



