﻿@model IEnumerable<netcore.Models.NewsArticles>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewsArticlesIndex.cshtml";
    ViewData["EntityIcon"] = "fa fa-newspaper-o";
    ViewData["ListTitle"] = "News & Articles List";
    //ViewData["IndexInfo"] = "Location is a merchandise that can be offered to the market for sell to satisfy demand. Before you can sell Location to customers, you should have the Location stock in hand by buying the Location from vendors.";
}


<table class="table table-hover table-striped" style="width:100%">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.postedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.createdDate)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="tools">
                        <a asp-action="Edit" asp-route-id="@item.newsArticlesId" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                        <a asp-action="Details" asp-route-id="@item.newsArticlesId" class="btn btn-primary btn-xs"><i class="fa fa-list"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.newsArticlesId" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                    </div>

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.author.UserName)
                </td>
                <td>
                    @item.postedDate.Value.ToLongDateString() - @item.postedDate.Value.ToShortTimeString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.createdDate)
                </td>
            </tr>
        }
    </tbody>
</table>

