﻿@*@model PagedList.IPagedList<netcore.Models.NewsArticles>*@
@*@using ReflectionIT.Mvc.Paging
    @addTagHelper *, ReflectionIT.Mvc.Paging
    @model PagingList<netcore.Models.NewsArticles>*@
@model IEnumerable<netcore.Models.NewsArticles>
@{
    ViewData["Title"] = "SL Freighters HUB";
    Layout = "_PublicSiteLayout";


}





<!-- Preloader -->
<div id="preloader">
    <div id="status">
        <div class="centered">
            <div class="blob-1"></div>
            <div class="blob-2"></div>
        </div>
    </div>
</div>


<header class="nav-style-1">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white px-lg-5">
        <a class="navbar-brand" href="~/PublicSite/Index">
            <img src="~/publicsite/images/logo.png" alt="SL Freighters HUV">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link" href="~/PublicSite/Index">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About Us</a>
                    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                        <a class="dropdown-item" href="#">Who We Are</a>
                        <a class="dropdown-item" href="#">Team</a>
                        <a class="dropdown-item" href="#">Services</a>
                        <a class="dropdown-item" href="#">Contact</a>
                        <a class="dropdown-item" href="#">FAQ</a>
                    </div>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link" href="@Url.Action("News", "NewsArticles")">News</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="@Url.Action("Register", "Account")">Sign Up</a>
                </li>
                <li class="nav-item dropdown megamenu-li">
                    <a class="nav-link" href="@Url.Action("Login", "Account")">Login</a>
                </li>
            </ul>
        </div>

        <div class="social-icons d-none d-xl-block">
            <a href="#" class="btn btn-facebook btn-circle"></a>
            <a href="#" class="btn btn-twitter btn-circle"></a>
            <a href="#" class="btn btn-instagram btn-circle"></a>
            <a href="#" class="btn btn-youtube btn-circle"></a>
        </div>

    </nav>
</header>

<!-- Main Content -->
<main>

    <!-- Breadcrumb -->
    <section id="breadcrumb" class="bg-primary text-center text-white">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="breadcrumb-title">Latest News & Articles</h3>
                </div>
            </div>
        </div>
    </section>

    <!-- Blog -->
    <section id="blog">
        <div class="container">
            <div class="row">
                <!-- Posts Column -->
                <div class="offset-md-1 col-md-10">
                    @foreach (var item in Model)
                    {
                        <!-- Post Image - 1st Post -->
                        <div class="post">
                            <div class="post-title">
                                <a href="single-post.html">
                                    <h4>@item.title</h4>
                                </a>
                            </div>
                            <div class="post-meta">
                                <span class="post-date">@item.postedDate.Value.ToLongDateString()</span>
                                <span class="post-date">@item.postedDate.Value.ToLongTimeString()</span>
                                <span class="post-author">By Team SL Freighters Hub @*@item.author.UserName*@</span>
                                @*<span class="post-category">@item.category</span>*@
                            </div>
                            <div class="post-content">
                                <div class="post-text">
                                    <p>@Html.Raw(item.content)</p>
                                </div>
                                @*<div class="post-read-more">
                                        <a class="btn btn-gradient btn-medium" href="single-post.html">Read More</a>
                                    </div>*@
                            </div>
                        </div>
                    }



                    <!--Pagination -->
                    <nav aria-label="page navigation">
                        <ul class="pagination pagination-sm">
                            @*<li class="page-item active" aria-current="page">
                            <span class="page-link">
                                1
                            </span>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>*@

                            @if (ViewBag.Page > 0)
                            {
                                <a href="@Url.Action("NewsDisplay", new { page = ViewBag.Page - 1 })"
                                   class="btn btn-primary">
                                    &laquo; Prev Posts
                                </a>
                            }
                            &nbsp;
                            @if (ViewBag.Page < ViewBag.MaxPage)
                            {
                                <a href="@Url.Action("NewsDisplay", new { page = ViewBag.Page + 1 })"
                                   class="btn btn-primary">
                                    Next Posts&raquo;
                                </a>
                            }
                        </ul>
                    </nav>

                </div><!-- / Posts Columns -->
            </div>
        </div>
    </section><!-- / Blog Section -->
    <!-- CTA -->
    <section id="cta" class="bg-primary text-white text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h5 class="mb-3">Get Started With Us!</h5>
                    <h3 class="mt-1">All Your Logistics Solution At One Stop.</h3>
                    <a class="btn btn-white btn-large" href="@Url.Action("Register", "Account")">Register With Us</a>
                </div>
            </div>
        </div>
    </section>

</main>



<!-- Footer -->
<footer id="footer" @*style="background-image: url('~/publicsite/images/footer/footer-bg.png')"*@ class="px-lg-5 pb-80 pt-120">
    <div class="figures d-none d-xl-block">
        <img class="figure-2" src="~/publicsite/images/footer/02.png" alt="Man">
    </div>
    <div class="container-fluid">
        <div class="row">
            <!-- Contact Info -->
            <div class="col-lg-5 px-lg-5">
                <img src="~/publicsite/images/logo.png" alt="Cando HTML5 Template">
                <p class="mt-15">Are you looking for a freight? Find, compare & book the best freight rates from any carrier and track your shipments at every step until destination.</p>
                <div class="social-icons">
                    <a href="#" class="btn btn-facebook btn-circle"></a>
                    <a href="#" class="btn btn-twitter btn-circle"></a>
                    <a href="#" class="btn btn-instagram btn-circle"></a>
                    <a href="#" class="btn btn-youtube btn-circle"></a>
                </div>
            </div>
            <!-- Our Services-->
            <div class="offset-lg-1  col-lg-2 px-lg-5 footer-info">
                <h5>SLF Hub</h5>
                <ul class="mt-0 list-unstyled">
                    <li><a href="#">Freight Rate Enquiry</a></li>
                    <li><a href="#">Container Tracking</a></li>
                    <li><a href="#">Send Quotes</a></li>
                    <li><a href="#">Shipping Documents</a></li>
                </ul>
            </div>

            <!-- Important Links-->
            <div class="col-lg-2 px-lg-5 footer-info">
                <h5>Privacy</h5>
                <ul class="mt-0 list-unstyled">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Personal Data</a></li>
                    <li><a href="#">Safe Transactions</a></li>
                    <li><a href="#">Chat Support</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                </ul>
            </div>
            <!-- Social -->
            <div class="col-lg-2 pr-lg-5 footer-info">
                <h5>About Us</h5>
                <ul class="mt-0 list-unstyled">
                    <li><a href="#">Our Team</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">FAQs</a></li>
                </ul>
            </div>
        </div>
        <div class="row text-center mt-40">
            <!-- Copyrights & Social Icons -->
            <div class="col">
                <span class="copyright">Copyright 2021 SL Freighters Hub<span class="primary"></span></span>
            </div>
        </div>
    </div>
</footer>

<div class="back-to-top">
    <a class="backToTop" href="#hero"><i class="fas fa-chevron-up"></i></a>
</div>

