﻿@model netcore.Models.Invent.SalesOrderLine

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminlteNetcoreEdit.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="salesOrderLineId" />
        <div class="form-group hidden">
            <label asp-for="salesOrderId" class="control-label"></label>
            <select asp-for="salesOrderId" class="form-control select2" asp-items="ViewBag.salesOrderId"></select>
            <span asp-validation-for="salesOrderId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="productId" class="control-label"></label>
            <select asp-for="productId" class="form-control select2" asp-items="ViewBag.productId"></select>
            <span asp-validation-for="productId" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="totalWeight" class="control-label"></label>
                <input asp-for="totalWeight" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control" />
                <span asp-validation-for="totalWeight" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="batchNumber" class="control-label"></label>
                <input asp-for="batchNumber" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control" />
                <span asp-validation-for="batchNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="qty" class="control-label"></label>
            <input asp-for="qty" class="form-control" />
            <span asp-validation-for="qty" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="price" class="control-label"></label>
            <input asp-for="price" class="form-control" />
            <span asp-validation-for="price" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="discountAmount" class="control-label"></label>
            <input asp-for="discountAmount" class="form-control" />
            <span asp-validation-for="discountAmount" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="totalAmount" class="control-label"></label>
            <input asp-for="totalAmount" class="form-control" />
            <span asp-validation-for="totalAmount" class="text-danger"></span>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



