﻿@model netcore.Models.Invent.QuotationChargesLine


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_QuotationChargesPopup.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="quotationChargesLineId" />
        <div class="form-group hidden">
            <label asp-for="quotationId" class="control-label"></label>
            <select asp-for="quotationId" class="form-control select2" asp-items="ViewBag.quotationId"></select>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="chargeName" class="control-label"></label>
                    <input asp-for="chargeName" class="form-control" />
                    <span asp-validation-for="chargeName" class="text-danger"></span>
                </div>
                
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="amount" class="control-label"></label>
                    <input asp-for="amount" class="form-control" />
                    <span asp-validation-for="amount" class="text-danger"></span>
                </div>
            </div>

        </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
