﻿@model IEnumerable<netcore.Models.Invent.Shipment>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminlteNetcoreIndex.cshtml";
    ViewData["EntityIcon"] = "fa fa-plane";
    ViewData["ListTitle"] = "Shipment List";
    ViewData["IndexInfo"] = "Shipment is a process of delivering the order to your customer. ";
}


<table class="table table-hover table-striped" style="width:100%">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.shipmentNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.salesOrder.deliveryChallanNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.shipmentDate)
            </th>
            <th class="hidden">
                @Html.DisplayNameFor(model => model.customerPO)
            </th>
            <th class="hidden">
                @Html.DisplayNameFor(model => model.invoice)
            </th>
            <th class="hidden">
                @Html.DisplayNameFor(model => model.expeditionType)
            </th>
            <th class="hidden">
                @Html.DisplayNameFor(model => model.expeditionMode)
            </th>
            <th class="hidden">
                @Html.DisplayNameFor(model => model.branch)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.salesOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.customer)
            </th>
            <th class="hidden">
                @Html.DisplayNameFor(model => model.warehouse)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <div class="tools">
                    <a asp-action="Details" asp-route-id="@item.shipmentId" class="btn btn-primary btn-xs"><i class="fa fa-list"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.shipmentId" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                </div>

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.shipmentNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.salesOrder.deliveryChallanNumber)
            </td>
            <td>
                @item.shipmentDate.ToString("dd-MMM-yyyy")
            </td>
            <td class="hidden">
                @Html.DisplayFor(modelItem => item.customerPO)
            </td>
            <td class="hidden">
                @Html.DisplayFor(modelItem => item.invoice)
            </td>
            <td class="hidden">
                @Html.DisplayFor(modelItem => item.expeditionType)
            </td>
            <td class="hidden">
                @Html.DisplayFor(modelItem => item.expeditionMode)
            </td>
            <td class="hidden">
                @Html.DisplayFor(modelItem => item.branch.branchId)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.salesOrder.salesOrderNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.customer.customerName)
            </td>
            <td class="hidden">
                @Html.DisplayFor(modelItem => item.warehouse.warehouseId)
            </td>

        </tr>
        }
    </tbody>
</table>
