﻿@model netcore.Models.Invent.Warehouse

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminlteNetcoreDetails.cshtml";
    ViewData["EntityIcon"] = "fa fa-cubes";
}



<div class="row">
    <div class="col-md-9">
        <!-- Default box -->
        <div class="box box-primary">
            <div class="box-body">
                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.branch.branchName)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.branch.branchName)
                        </dd>
                        @*<dt>
                            @Html.DisplayNameFor(model => model.customer.customerName)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.customer.customerName)
                        </dd>*@
                        <dt>
                            @Html.DisplayNameFor(model => model.warehouseName)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.warehouseName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.description)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.description)
                        </dd>
                       
                        <dt>
                            @Html.DisplayNameFor(model => model.createdAt)
                        </dt>
                        <dd>
                            @Convert.ToDateTime(Model.createdAt).ToString("dd/MM/yyyy")
                        </dd>
                    </dl>                                   
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <div class="form-group">
                    <a asp-action="Edit" asp-route-id="@Model.warehouseId" class="btn btn-primary">Edit</a>
                    <a asp-action="Index" class="btn btn-default">Back to List</a>
                </div>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </div>
    <div class="col-md-3">
    </div>
</div>



