﻿@model netcore.Models.Invent.Booking
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_BookingShipmentTrackingInfoPopup.cshtml";
    ViewData["EntityIcon"] = "fa fa-industry";
}


<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="bookingId" />
        <input type="hidden" asp-for="@Model.bookingNumber" name="bookingNumber" id="bookingNumber"/>
        <input type="hidden" asp-for="@Model.shipmentTrackingId" name="shipmentTrackingId" id="shipmentTrackingId"/>
        <input type="hidden" asp-for="@Model.customer.customerId" name="customerId" id="customerId"/>
        <input type="hidden" asp-for="@Model.quotation.quotationId" name="quotationId" id="quotationId"/>
        <input type="hidden" asp-for="@Model.quotation.quotationNumber" name="quotationNumber" id="quotationNumber"/>
        <input type="hidden" asp-for="@Model.originOfShipmentId" name="originOfShipmentId" id="originOfShipmentId"/>
        <input type="hidden" asp-for="@Model.destinationOfShipmentId" name="destinationOfShipmentId" id="destinationOfShipmentId"/>
        <input type="hidden" asp-for="@Model.bookingStatus" name="bookingStatus" id="bookingStatus"/>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="shipmentTrackingLinks" class="control-label"></label>
                    @*<input asp-for="shipmentName" name="shipmentName" id="shipmentName" class="form-control" placeholder="-" value="@Model.shipmentName" />*@
                    <select asp-for="@Model.shipmentTrackingId" name="shipmentTrackingId" id="shipmentTrackingId" class="form-control select2" asp-items="ViewBag.shipmentTrackingLinksId" disabled></select>
                    <span asp-validation-for="shipmentTrackingLinks" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="trackingLink" class="control-label"></label>
                    <input asp-for="trackingLink" name="trackingLink" id="trackingLink" class="form-control" placeholder="-"/>
                    <span asp-validation-for="trackingLink" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="trackingReferenceNo" class="control-label"></label>
                    <input asp-for="trackingReferenceNo" name="trackingReferenceNo" id="trackingReferenceNo" class="form-control" placeholder="-" />
                    <span asp-validation-for="trackingReferenceNo" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
</div>








@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



