﻿@model netcore.Models.Invent.Booking
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject netcore.Data.ApplicationDbContext Context
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminlteNetcoreDetails.cshtml";
    ViewData["EntityIcon"] = "fa fa-industry";
    ApplicationUser appUser = await UserManager.GetUserAsync(User);
    //var bookingDocumentPath = Context.BookingServiceProviderDocsLine.SingleOrDefault(x => x.bookingId == Model.bookingId).documentURL;

    <style>
        .linkBtn {
            background-color: #278a87;
            border: none;
            color: white !important;
            padding-top: 5px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>
}



<main class="my-12">
    <div class="container">
        <div id="wizard">

            <!--Service Provider (Shipper) Details-->
            @if (!appUser.isServiceProvider)
            {
                <h3>
                    <div class="media">
                        <div><img src="~/images/icons/service-provider.png" alt="" width="24" height="24"></div>
                        <div class="media-body" style="padding-left:5px;">
                            <div class="bd-wizard-step-title">Service Provider Details <h5>(Shipper Information)</h5></div>
                        </div>
                    </div>
                </h3>
            }

            @if (!appUser.isServiceProvider)
            {

                <section>

                    <div class="row">
                        <div class="wrapper">
                            <h4 class="section-heading">Service Provider (Shipper) Details </h4>
                            <div class="row">
                                <div class="form-group col-md-6 txtBox">
                                    <label asp-for="@Model.serviceProvider.companyName" class="control-label"></label>
                                    <input asp-for="@Model.serviceProvider.companyName" class="form-control txtBox" style="background-color: #fff" id="companyName" value="@Model.serviceProvider.companyName" placeholder="-" readonly />
                                    <span asp-validation-for="@Model.serviceProvider.companyName" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="@Model.serviceProvider.businessContactName" class="control-label"></label>
                                    <input asp-for="@Model.serviceProvider.businessContactName" name="businessContactName" style="background-color: #fff" id="businessContactName" value="@Model.serviceProvider.businessContactName" class="form-control" placeholder="-" readonly />
                                    <span asp-validation-for="@Model.serviceProvider.businessContactName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label asp-for="@Model.serviceProvider.primaryEmail" class="control-label"></label>
                                    <input asp-for="@Model.serviceProvider.primaryEmail" name="primaryEmail" id="primaryEmail" class="form-control" placeholder="-" style="background-color: #fff" value="@Model.serviceProvider.primaryEmail" readonly />
                                    <span asp-validation-for="@Model.serviceProvider.primaryEmail" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="@Model.serviceProvider.primaryContact" class="control-label"></label>
                                    <input asp-for="@Model.serviceProvider.primaryContact" name="primaryContact" id="primaryContact" class="form-control" placeholder="-" style="background-color: #fff" value="@Model.serviceProvider.primaryContact" readonly />
                                    <span asp-validation-for="@Model.serviceProvider.primaryContact" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label asp-for="@Model.serviceProvider.officialAddress" class="control-label"></label>
                                    <input asp-for="@Model.serviceProvider.officialAddress" name="officialAddress" id="officialAddress" class="form-control" placeholder="-" style="background-color: #fff" value="@Model.serviceProvider.officialAddress" readonly />
                                    <span asp-validation-for="@Model.serviceProvider.officialAddress" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="@Model.serviceProvider.location" class="control-label"></label>
                                    <input asp-for="@Model.serviceProvider.location" name="location" id="location" class="form-control" placeholder="-" style="background-color: #fff" value="@Model.serviceProvider.location" readonly />
                                    <span asp-validation-for="@Model.serviceProvider.location" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label asp-for="serviceProvider.description" class="control-label"></label>
                                    <textarea class="form-control" id="description" asp-for="serviceProvider.description" name="description" rows="2" placeholder="-" style="background-color: #fff" readonly></textarea>
                                    <span asp-validation-for="serviceProvider.description" class="text-danger"></span>
                                </div>
                            </div>

                        </div>
                    </div>

                    

                    <br />

                </section>
            }



            <!--Customer (Sender) Details-->
            @if (appUser.isServiceProvider)
            {
                <h3>
                    <div class="media">
                        <div><img src="~/images/icons/customer.png" alt="" width="24" height="24"></div>
                        <div class="media-body" style="padding-left:5px;">
                            <div class="bd-wizard-step-title">Customer Details<h5>(Customer Information)</h5></div>
                        </div>
                    </div>
                </h3>

                <section>
                    <div class="wrapper">
                        <h4 class="section-heading mb-5">Customer (Sender) Details</h4>
                        <div class="row">
                            <div class="form-group col-md-6 txtBox">
                                <label asp-for="@Model.customer.companyName" class="control-label"></label>
                                <input asp-for="@Model.customer.companyName" class="form-control txtBox" style="background-color: #fff" name="customerName" id="customerName" placeholder="-" value="@Model.customer.companyName" readonly />
                                <span asp-validation-for="@Model.customer.companyName" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="@Model.customer.businessContactName" class="control-label"></label>
                                <input asp-for="@Model.customer.businessContactName" name="customerBusinessContactName" style="background-color: #fff" id="customerBusinessContactName" class="form-control" value="@Model.customer.businessContactName" placeholder="-" readonly />
                                <span asp-validation-for="@Model.customer.businessContactName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label asp-for="@Model.customer.primaryEmail" class="control-label"></label>
                                <input asp-for="@Model.customer.primaryEmail" name="customerPrimaryEmail" id="customerPrimaryEmail" class="form-control" placeholder="-" style="background-color: #fff" value="@Model.customer.primaryEmail" readonly />
                                <span asp-validation-for="@Model.customer.primaryEmail" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="@Model.customer.primaryContact" class="control-label"></label>
                                <input asp-for="@Model.customer.primaryContact" name="primaryContact" id="primaryContact" class="form-control" placeholder="-" style="background-color: #fff" value="@Model.customer.primaryContact" readonly />
                                <span asp-validation-for="@Model.customer.primaryContact" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label asp-for="@Model.customer.location" class="control-label"></label>
                                <input asp-for="@Model.customer.location" name="customerPrimaryEmail" id="customerPrimaryEmail" class="form-control" placeholder="-" style="background-color: #fff" value="@Model.customer.location" readonly />
                                <span asp-validation-for="@Model.customer.location" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="@Model.customer.officialAddress" class="control-label"></label>
                                <input asp-for="@Model.customer.officialAddress" name="primaryContact" id="primaryContact" class="form-control" placeholder="-" style="background-color: #fff" readonly />
                                <span asp-validation-for="@Model.customer.officialAddress" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label asp-for="@Model.customer.panNo" class="control-label"></label>
                                <input asp-for="@Model.customer.panNo" name="customerPrimaryEmail" id="customerPrimaryEmail" class="form-control" placeholder="-" style="background-color: #fff" readonly />
                                <span asp-validation-for="@Model.customer.panNo" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="@Model.customer.gstNo" class="control-label"></label>
                                <input asp-for="@Model.customer.gstNo" name="primaryContact" id="primaryContact" class="form-control" placeholder="-" style="background-color: #fff" readonly />
                                <span asp-validation-for="@Model.customer.gstNo" class="text-danger"></span>
                            </div>
                        </div>

                    </div>


                    <br />



                    <!--Container Load Details-->
                    <div class="wrapper">
                        <h4 class="section-heading mb-5">Shipment Load Details</h4>
                        <div class="row">
                            <div class="timeline-item">
                                <div class="timeline-body">
                                    <div class="row">
                                        <div class="col-md-12">

                                            <div class="table-responsive">
                                                <table class="table no-margin" id="grid2" name="grid2">
                                                    <thead>
                                                        <tr>
                                                            <th class="col-lg-3">Service Type</th>
                                                            @if (Model.quotation.enquiry.enquiryLine.Any(x => x.serviceType == netcore.Models.Invent.ServicesType.FTL && x.isClosedBodyTruck == false))
                                                            {
                                                                <th class="col-lg-3">Truck Type</th>
                                                            }
                                                            else if (Model.quotation.enquiry.enquiryLine.Any(x => x.serviceType == netcore.Models.Invent.ServicesType.FTL && x.isClosedBodyTruck == true))
                                                            {
                                                                <th class="col-lg-3">Closed Truck Type</th>

                                                            }
                                                            @if (Model.quotation.enquiry.enquiryLine.Any(x => x.serviceType == netcore.Models.Invent.ServicesType.LCL &&
x.serviceType != netcore.Models.Invent.ServicesType.Air &&
x.serviceType != netcore.Models.Invent.ServicesType.LTL))
                                                            {
                                                                <th class="col-lg-3">Package Type</th>
                                                            }
                                                            @if (Model.quotation.enquiry.enquiryLine.Any(x => x.serviceType == netcore.Models.Invent.ServicesType.FCL))
                                                            {
                                                                <th class="col-lg-3">Container Type</th>
                                                            }
                                                            <th class="col-lg-3">Commodity Type</th>
                                                            @if (Model.quotation.enquiry.enquiryLine.Any(x => x.serviceType != netcore.Models.Invent.ServicesType.FCL && x.serviceType != netcore.Models.Invent.ServicesType.FTL))
                                                            {
                                                                <th class="col-lg-3">Volume</th>
                                                                <th class="col-lg-3">Length</th>
                                                                <th class="col-lg-3">Width</th>
                                                                <th class="col-lg-3">Height</th>
                                                                <th class="col-lg-2">Refrigerated</th>
                                                                <th class="col-lg-2">Temperature</th>
                                                            }
                                                            @if (Model.quotation.enquiry.enquiryLine.Any(x => x.serviceType != netcore.Models.Invent.ServicesType.FTL))
                                                            {
                                                                <th class="col-lg-2">Weight</th>
                                                                <th class="col-lg-2">Unit</th>
                                                            }
                                                            <th class="col-lg-2">Quantity</th>

                                                            @*<th></th>*@
                                                        </tr>
                                                    </thead>


                                                </table>

                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                    <br /><br /><br />
                    <!--Additional Details-->
                    <div class="wrapper">
                        <h4 class="section-heading mb-10">Additional Details</h4>
                        <div class="row">
                            <div class="timeline-item" style="border: none;">

                                @*<div class="col-md-6">

                                <div class="form-group">
                                    <div class="checkbox">
                                        <label style="font-size: larger">
                                            <input type="checkbox" id="pickUp" class="flat-red" style="width: 18px; height: 18px;" onchange="valueChanged();  ">
                                            &nbsp;Cargo Pick Up
                                        </label>
                                    </div>

                                </div>

                                <div class="row" id="originAddress">
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <input class="form-control" placeholder="-" value="Mumbai, India" />
                                        </div>
                                    </div>

                                </div>


                                <div class="form-group">
                                    <div class="checkbox">
                                        <label style="font-size: larger">
                                            <input type="checkbox" id="delivery" class="flat-red" style="width: 18px; height: 18px;" onchange="valueChanged();">
                                            &nbsp;Cargo Delivery
                                        </label>
                                    </div>

                                </div>


                                <div class="row" id="destinationAddress">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input class="form-control" placeholder="-" value="Dubai, UAE" />
                                        </div>
                                    </div>

                                </div>


                                <div class="form-group">
                                    <div class="checkbox">
                                        <label style="font-size: larger">
                                            <input type="checkbox" class="flat-red" id="insurance" style="width: 18px; height: 18px;" onchange="valueChanged();">
                                            &nbsp;Сargo Insurance
                                        </label>
                                    </div>
                                </div>

                                <div class="row" id="insuranceValue">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input class="form-control" placeholder="-" />
                                        </div>
                                    </div>

                                </div>

                            </div>*@

                                <br />

                                <div class="col-md-6">

                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label style="font-size: larger">
                                                <input type="checkbox" class="flat-red" style="width: 18px; height: 18px;" disabled>
                                                &nbsp;Customs Clearance
                                            </label>
                                        </div>
                                    </div>

                                    @*<div class="form-group">
                                    <div class="checkbox">
                                        <label style="font-size: larger">
                                            <input type="checkbox" class="flat-red" style="width: 18px; height: 18px;">
                                            &nbsp;Port & Forwarding Fees
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="checkbox">
                                        <label style="font-size: larger">
                                            <input type="checkbox" class="flat-red" style="width: 18px; height: 18px;">
                                            &nbsp;Logistics / Trade Finance
                                        </label>
                                    </div>
                                </div>*@

                                    <br />
                                    <div class="form-group">

                                        <label style="font-size: larger; font-weight: 500">
                                            Additional Notes & Remarks
                                        </label>

                                        <textarea class="form-control" id="comments" name="comments" rows="5" placeholder="-" style="background-color: #fff" readonly></textarea>

                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>




                </section>
            }


            <!--Service Provider (Point of Contact) Details-->
            @if (!appUser.isServiceProvider)
            {
                <h3>
                    <div class="media">
                        <div><img src="~/images/icons/contact.png" alt="" width="24" height="24"></div>
                        <div class="media-body" style="padding-left:5px;">
                            <div class="bd-wizard-step-title">Point of Contacts<h5>(Shipper Contacts)</h5></div>
                        </div>
                    </div>
                </h3>

                <section>
                    <!--Point of contact-->
                    <div class="row">
                        <div class="wrapper">
                            <h4 class="section-heading">Service Provider's Point Of Contact Details </h4>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="box box-primary">
                                        <div class="box-body">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <table id="grid1" name="grid1" class="table table-striped table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th class="col-md-3">Contact Name</th>
                                                                <th class="col-md-1">Designation</th>
                                                                <th class="col-md-1">Contact</th>
                                                                <th class="col-md-1">Email Address</th>
                                                                <th class="col-md-1">Is Default POC</th>
                                                                @*<th class="col-md-1">Controls</th>*@
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>
            }


            <!--Document Details-->
            <h3>
                <div class="media">
                    <div><img src="~/images/icons/document.png" alt="" width="24" height="24"></div>
                    <div class="media-body" style="padding-left:5px;">
                        <div class="bd-wizard-step-title">Document Details<h5>(Shipper & Sender Documents)</h5></div>
                    </div>
                </div>
            </h3>

            <section>
                <!--Shipper Documents Details-->
                <div class="wrapper">
                    <h4 class="section-heading mb-5">Service Provider (Shipper) Documents</h4>
                    <div class="row ">
                        @if (Model != null && appUser.isServiceProvider == true && !(Model.bookingStatus == netcore.Models.Invent.BookingStatus.Closed))
                        {
                            <div class="col-md-6">
                                <div class="form-group">
                                    <a class="btn btn-success pull-left" style="margin-bottom:10px;" onclick="ShowSPDocPopup('@Url.Action("Create", "BookingServiceProviderDocsLine", new { masterid = Model.bookingId })')"><i class="fa fa-plus"></i> Upload New Document</a>
                                </div>
                            </div>
                        }
                        @if (Model != null && appUser.isServiceProvider == false && !(Model.bookingStatus == netcore.Models.Invent.BookingStatus.Closed))
                        {
                            <div class="col-md-6">
                                <div class="form-group">
                                    <a class="btn btn-default pull-left" style="margin-bottom:10px;" onclick="ShowRequestDocPopup('@Url.Action("RequestForDocumentsCustomer", "Booking", new { id = Model.bookingId })')"><i class="fa fa-question"></i> Request For Document</a>
                                </div>
                            </div>
                        }
                    </div>

                    <div class="row">
                        <div class="timeline-item">
                            <div class="timeline-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive">


                                            <table class="table no-margin" id="serviceProviderDocsTable">
                                                <thead>
                                                    <tr>
                                                        <th hidden>#</th>
                                                        @*<th></th>*@
                                                        <th>Name</th>
                                                        <th>Document Type</th>
                                                        <th>File Type</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </thead>
                                            </table>

                                        </div>


                                        <!--<div class="table-responsive">
                                <table class="table no-margin">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Document Type</th>
                                            <th>Actions</th>
                                            <th>File Name</th>
                                            <th>View</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td class="col-1"><img class="img-responsive img-thumbnail bookingDoc center-block" src="~/images/icons/pdf.png" width="32" height="32"></td>
                                            <td>Booking Document</td>-->
                                        @*<td><form>
                                        <label for="fileupload1" class="custom-file-upload">
                                            <i class="fa fa-cloud-upload"></i> Upload Image
                                        </label>
                                        <input id="fileupload1" name='upload_cont_img' type="file" style="display:none;">
                                    </form></td>*@
                                        <!--<td>
                                        <form method="post" enctype="multipart/form-data">
                                            <input id="fileupload1" name='files' type="file">
                                            <input type="hidden" name="serviceProviderId" value="@Model.serviceProvider.serviceProviderId" />
                                            <input type="hidden" name="documentType" value="@netcore.Models.Invent.DocumentType.Shipping_Doc" />
                                            <input type="hidden" name="bookingId" value="@Model.bookingId" />
                                        </form>
                                    </td>
                                    <td>
                                        <label id="file-name"></label>
                                    </td>
                                    <td>
                                        <input type="button" class="btn btn-primary" name="documentURL" value="Download" />
                                        <a type="button" class="btn btn-primary" asp-controller="Booking" asp-action="DownloadFileFromDatabase" asp-route-id="@Model.bookingId">Download</a>

                                    </td>
                                </tr>


                                <tr>
                                    <td class="col-1"><img class="img-responsive img-thumbnail shippingDoc center-block" src="~/images/icons/pdf.png" width="32" height="32"></td>
                                    <td>Shipping Document</td>
                                    <td><input id="fileupload2" type="file" name="files" /></td>
                                </tr>
                                <tr>
                                    <td class="col-1"><img class="img-responsive img-thumbnail panCardDoc center-block" src="~/images/icons/pdf.png" width="32" height="32"></td>
                                    <td>PAN Card</td>
                                    <td><input id="fileupload3" type="file" name="files" /></td>-->
                                        @*<td><span class="label label-primary">View & Download</span></td>*@
                                        <!--</tr>

                                        </tbody>

                                    </table>

                                </div>-->

                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>


                    <br /><br />
                </div>



                <br /><br /><br />
                <!--Sender Documents Details-->
                <div class="wrapper">
                    <h4 class="section-heading mb-5">Customer (Sender) Documents</h4>

                    <div class="row">
                        @if (Model != null && appUser.isServiceProvider == false)
                        {
                            if (Model.bookingStatus == netcore.Models.Invent.BookingStatus.Ongoing)
                            {
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <a class="btn btn-success pull-left" style="margin-bottom:10px;" onclick="ShowCustomerDocPopup('@Url.Action("Create", "BookingCustomerDocsLine", new { masterid = Model.bookingId })')"><i class="fa fa-plus"></i> Upload New Document</a>
                                    </div>
                                </div>
                            }

                        }
                        @if (Model != null && appUser.isServiceProvider == true)
                        {
                            if(Model.bookingStatus == netcore.Models.Invent.BookingStatus.Ongoing)
                            {
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <a class="btn btn-default pull-left" style="margin-bottom:10px;" onclick="ShowRequestDocPopup('@Url.Action("RequestForDocumentsServiceProvider", "Booking", new { id = Model.bookingId })')"><i class="fa fa-question"></i> Request For Document</a>
                                    </div>
                                </div>
                            }

                        }
                    </div>

                    <div class="row">
                        <div class="timeline-item">
                            <div class="timeline-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive">

                                            <table class="table no-margin" id="customerDocsTable">
                                                <thead>
                                                    <tr>
                                                        <th hidden>#</th>
                                                        @*<th></th>*@
                                                        <th>Name</th>
                                                        <th>Document Type</th>
                                                        <th>File Type</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </thead>
                                            </table>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>


                    <br /><br />

                </div>

            </section>



            <!--Shipment Tracking Details-->
            <h3>
                <div class="media">
                    <div><img src="~/images/icons/ongoing.png" alt="" width="24" height="24"></div>
                    <div class="media-body" style="padding-left:5px;">
                        <div class="bd-wizard-step-title">Shipment & Tracking<h5>(Tracking)</h5></div>
                    </div>
                </div>
            </h3>
            <section>
                @if (appUser.isServiceProvider)
                {
                    <div class="row pull-right">
                        <div class="form-group col-md-2">
                            <a class="btn btn-success" style="margin-bottom:10px" onclick="ShowShipmentTrackingInfoPopup('@Url.Action("BookingShipmentTrackingEdit","Booking", new { id = Model.bookingId })')"><i class="fa fa-pencil"></i> Edit</a>
                        </div>
                    </div>
                }

                <div class="wrapper" id="shipmentTracking">
                    <h4 class="section-heading mb-5">Shipment Tracking Details</h4>

                    <div class="row">
                        <div class="form-group col-md-6 txtBox">
                            <label class="control-label">Shipment Line Name</label>
                            <input class="form-control txtBox" style="background-color: #fff" asp-for="@Model.shipmentTrackingLinks.shipmentName" value="@Model.shipmentTrackingLinks.shipmentName" name="shipmentName" id="shipmentName" readonly />
                        </div>
                        <div class="form-group col-md-3">
                            <label class="control-label">Tracking Info. Link</label>
                            <a type="button" href="@Model.trackingLink" value="Click To Track Shipment" target="_blank" class="btn btn-default" style="color: #278a87; font-weight: 900"><i class="fa fa-map-marker"></i>&nbsp;Click To Track Shipment</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6 txtBox">
                            <label class="control-label">Shipment Tracking Number</label>
                            <input class="form-control" style="background-color: #fff" asp-for="@Model.trackingReferenceNo" value="@Model.trackingReferenceNo" name="trackingReferenceNo" id="trackingReferenceNo" readonly />
                        </div>
                    </div>

                </div>

            </section>


            @if (appUser.isServiceProvider)
            {
                <!--Finalization Details-->
                <h3>
                    <div class="media">
                        <div><img src="~/images/icons/success.png" alt="" width="24" height="24"></div>
                        <div class="media-body" style="padding-left:5px;">
                            <div class="bd-wizard-step-title">Completion & Closing<h5>(Finalization)</h5></div>
                        </div>
                    </div>
                </h3>

                <section>
                    <div class="wrapper">
                        <h4 class="section-heading mb-5">Complete & Close Booking Check List</h4>
                        <div class="form-group">
                            <div class="checkbox">
                                <label style="font-size: larger">
                                    <input type="checkbox" class="flat-red" style="width: 18px; height: 18px;" id="portForwardingFees" onchange="valueChanged();">
                                    &nbsp;Customer Details & Kyc Done
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="checkbox">
                                <label style="font-size: larger">
                                    <input type="checkbox" class="flat-red" style="width: 18px; height: 18px;" id="portForwardingFees" onchange="valueChanged();">
                                    &nbsp;Shipment/Cargo Documents Verified
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="checkbox">
                                <label style="font-size: larger">
                                    <input type="checkbox" class="flat-red" style="width: 18px; height: 18px;" id="portForwardingFees" onchange="valueChanged();">
                                    &nbsp;Payment Completed of Shipment/Cargo Order
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="checkbox">
                                <label style="font-size: larger">
                                    <input type="checkbox" class="flat-red" style="width: 18px; height: 18px;" id="portForwardingFees" onchange="valueChanged();">
                                    &nbsp;Shipment/Cargo Delivered
                                </label>
                            </div>
                        </div>
                    </div>

                    <br /><br />
                    <div class="wrapper">
                        <h4 class="section-heading mb-5">Proceed & Confirm</h4>
                        <div class="checkbox">
                            <label style="font-size: larger">
                                <input type="checkbox" class="flat-red" style="width: 18px; height: 18px;" id="portForwardingFees" onchange="valueChanged();">
                                &nbsp;I hereby declare that I had read all the <a href="#!">Terms and Conditions</a>  and all the details provided my me in this form are true.
                            </label>
                        </div>

                    </div>

                </section>
            }



        </div>
    </div>
</main>


<!--modal placeholder-->
<div class="modal modal-primary fade" id="modalDefault">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>

@section Styles{

    <!--blueimp file upload-->
    <!--<link rel="stylesheet" href="~/lib/jQuery-File-Upload-9.21.0/css/jquery.fileupload.css" />
    <style>
        .custom-file-upload {
            border: 1px solid #ccc;
            display: inline-block;
            padding: 6px 12px;
            cursor: pointer;
        }
    </style>-->
}



@section Scripts{
    <!--blueimp file upload-->
    @*<script src="~/lib/jQuery-File-Upload-9.21.0/js/jquery.fileupload.js"></script>*@

<script>

    @*$(document).ready(function () {
         $.ajax({
            url: '@Url.Action("GetTrackingLink")',
            type: 'GET',
            dataType: 'json',
            data: { shipmentLineName: '@Model.shipmentTrackingLinks.shipmentName' },
            success: function (data) {
                $('#trackingLink').val(data);
            },

            error: function (error) {
                console.log(error);
            }

        });
    });*@


    //Shipment Tracking Details

    function ShowShipmentTrackingInfoPopup(url) {
        var modalId = 'modalDefault';
        var modalPlaceholder = $('#' + modalId + ' .modal-dialog .modal-content');
        $.get(url).done(function (response) {
            modalPlaceholder.html(response);
            popup = $('#' + modalId + '').modal({
                keyboard: false,
                backdrop: 'static'
            });
        });
    }


    function SaveShipmentTrackingInfo(form) {
        var entity = 'Booking';
        var apiurl = '/api/' + entity;

        $.validator.unobtrusive.parse(form);
        if ($(form).valid()) {
            var data = $(form).serializeJSON();
            data = JSON.stringify(data);
            $.ajax({
                type: 'POST',
                url: apiurl,
                data: data,
                contentType: 'application/json',
                success: function (data) {
                    if (data.success) {
                        popup.modal('hide');
                        ShowMessage(data.message);
                        //location.reload();
                        $("#shipmentTracking").load(location.href + " #shipmentTracking");
                    } else {
                        ShowMessageError(data.message);
                    }
                }
            });

        }
        return false;
    }

    //Point Of Contacts

    var popup2, dataTable2;
    var entity2 = 'PointOfContactsLine';
    var apiurl2 = '/api/' + entity2;

    $(document).ready(function () {

            dataTable2 = $('#grid1').DataTable({
                "ajax": {
                    "url": apiurl2 + '?masterid=@Model.serviceProvider.serviceProviderId',
                    "type": 'GET',
                    "datatype": 'json'
                },
                "columns": [
                    { "data": "name" },
                    { "data": "designation" },
                    { "data": "contact" },
                    { "data": "email" },
                    { "data": "isDefaultPOC" },


                    //{ "data": "pointOfContactLineId",
                    //    "render": function (data) {
                    //        var btnEdit = "<a class='btn btn-primary btn-xs' onclick=ShowPopup2('/" + entity2 + "/Create/" + data + "')><i class='fa fa-pencil'></i></a>";
                    //        var btnDelete = "<a class='btn btn-danger btn-xs' style='margin-left:2px' onclick=Delete2('" + data + "')><i class='fa fa-trash'></i></a>";

                    //        return "<div class='tools pull-right'>" + btnEdit + btnDelete + "</div>";
                    //    }
                    //}
                ],
                "language": {
                    "emptyTable": "no data found."
                },
                "lengthChange": true,
                "info": false,
                "searching": false,
                "paging": false,
                "ordering": false,
                "autoWidth": false
            });

    });


    function ShowPopup2(url) {
            var modalId = 'modalDefault';
            var modalPlaceholder = $('#' + modalId + ' .modal-dialog .modal-content');
            $.get(url).done(function (response) {
                modalPlaceholder.html(response);
                popup2 = $('#' + modalId + '').modal({
                    keyboard: false,
                    backdrop: 'static'
                });
            });
        }


    function SubmitAddEdit2(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                var data = $(form).serializeJSON();
                data = JSON.stringify(data);
                $.ajax({
                    type: 'POST',
                    url: apiurl2,
                    data: data,
                    contentType: 'application/json',
                    success: function (data) {
                        if (data.success) {
                            popup2.modal('hide');
                            ShowMessage(data.message);
                            dataTable2.ajax.reload();
                        } else {
                            ShowMessageError(data.message);
                        }
                    }
                });

            }
            return false;
        }


    function Delete2(id) {
            swal({
                title: "Are you sure want to Delete?",
                text: "You will not be able to restore the data!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#dd4b39",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: true
            }, function () {
                $.ajax({
                    type: 'DELETE',
                    url: apiurl2 + '/' + id,
                    success: function (data) {
                        if (data.success) {
                            ShowMessage(data.message);
                            dataTable2.ajax.reload();
                        } else {
                            ShowMessageError(data.message);
                        }
                    }
                });
            });
        }





    //Service Provider Company Info

    function ShowCompanyInfoPopup(url) {
            var modalId = 'modalDefault';
            var modalPlaceholder = $('#' + modalId + ' .modal-dialog .modal-content');
            $.get(url).done(function (response) {
                modalPlaceholder.html(response);
                popup = $('#' + modalId + '').modal({
                    keyboard: false,
                    backdrop: 'static'
                });
            });
        }


    function SaveCompanyInfo(form) {
            var entity = 'ServiceProvider';
            var apiurl = '/api/' + entity;

            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                var data = $(form).serializeJSON();
                data = JSON.stringify(data);
                $.ajax({
                    type: 'POST',
                    url: apiurl,
                    data: data,
                    contentType: 'application/json',
                    success: function (data) {
                        if (data.success) {
                            popup.modal('hide');
                            ShowMessage(data.message);
                            location.reload();
                        } else {
                            ShowMessageError(data.message);
                        }
                    }
                });

            }
            return false;
        }




    var popup, dataTable;
    var entity = 'EnquiryLine';
    var apiurl = '/api/' + entity;

    $(document).ready(function () {
            dataTable = $('#grid2').DataTable({
                "ajax": {
                    "url": apiurl + '?masterid=@Model.quotation.enquiryId',
                    "type": 'GET',
                    "datatype": 'json'
                },
                "columns": [
                     { "data": "serviceType" },
                     @if (Model.quotation.enquiry.enquiryLine.Any(x => x.serviceType == netcore.Models.Invent.ServicesType.FTL && x.isClosedBodyTruck == false))
                     {
                        <text>
                        { "data": "loadType" },
                        </text>
                     }
                     else if (Model.quotation.enquiry.enquiryLine.Any(x => x.serviceType == netcore.Models.Invent.ServicesType.FTL && x.isClosedBodyTruck == true))
                     {
                         <text>
                        { "data": "closedLoadType" },
                        </text>
                     }
                    @if (Model.quotation.enquiry.enquiryLine.Any(x => x.serviceType == netcore.Models.Invent.ServicesType.LCL &&
                     x.serviceType != netcore.Models.Invent.ServicesType.Air &&
                     x.serviceType != netcore.Models.Invent.ServicesType.LTL))
                    {

                    }
                    @if (Model.quotation.enquiry.enquiryLine.Any(x => x.serviceType == netcore.Models.Invent.ServicesType.FCL))
                    {
                        <text>
                        { "data": "containerType" },
                        </text>
                    }
                    { "data": "commodityType" },

                    @if (Model.quotation.enquiry.enquiryLine.Any(x => x.serviceType != netcore.Models.Invent.ServicesType.FCL && x.serviceType != netcore.Models.Invent.ServicesType.FTL))
                    {
                        <text>
                        { "data": "volume" },
                        { "data": "containerLength" },
                        { "data": "containerWidth" },
                        { "data": "containerHeight" },
                        { "data": "isRefrigerated" },
                        { "data": "temperature" },

                        </text>
                    }
                    @if (Model.quotation.enquiry.enquiryLine.Any(x => x.serviceType != netcore.Models.Invent.ServicesType.FTL))
                    {
                        <text>
                        { "data": "weight" },
                        { "data": "weightUOM" },
                        </text>
                    }
                    { "data": "count" },



                    @*{ "data": "loadType" },
                    { "data": "commodityType" },
                    { "data": "count" },

                    @if (Model.quotation.enquiry.enquiryLine.Any(x => x.serviceType == netcore.Models.Invent.ServicesType.LCL &&
                                                                x.serviceType == netcore.Models.Invent.ServicesType.Air &&
                                                                x.serviceType == netcore.Models.Invent.ServicesType.LTL))
                    {
                        <text>
                        { "data": "volume" },
                        { "data": "containerLength" },
                        { "data": "containerWidth" },
                        { "data": "containerHeight" },
                        </text>

                    }
                             { "data": "weight" },
                    { "data": "weightUOM" },
                     @if (Model.quotation.enquiry.enquiryLine.Any(x => x.isRefrigerated == true))
                    {
                         <text>
                        { "data": "isRefrigerated" },
                        { "data": "temperature" }
                         </text>
                    }*@
                    //{
                    //    "data": "enquiryLineId",
                    //    "render": function (data) {
                    //        var btnEdit = "<a class='btn btn-primary btn-xs' onclick=ShowPopup('/" + entity + "/Create/" + data + "')><i class='fa fa-pencil'><i></a>";
                    //        var btnDelete = "<a class='btn btn-danger btn-xs' style='margin-left:2px' onclick=Delete('" + data + "')><i class='fa fa-trash'></i><a>";
                    //        return "<div class='tools pull-right'>" + btnEdit + btnDelete + "</div>";
                    //    }
                    //}


                ],
                "language": {
                             "emptyTable": "No Containers Added"
                },
                "lengthChange": true,
                "info": false,
                "searching": false,
                "paging": false,
                "ordering": false,
                "autoWidth": false
            });
        });



    //Service Provider Docs

    var spDocPopup, spDocDataTable;
    var spDocEntity = 'BookingServiceProviderDocsLine';
    var spDocApiurl = '/Booking/' + 'GetServiceProviderDocsLine';

    $(document).ready(function () {
            spDocDataTable = $('#serviceProviderDocsTable').DataTable({
                "ajax": {
                    "url": spDocApiurl + '?masterid=@Model.bookingId',
                    "type": 'GET',
                    "datatype": 'json'
                },
                "columns": [
                    { "data": "documentName" },
                    { "data": "documentType" },
                    { "data": "fileType" },
                    {
                        "data": "bookingServiceProviderDocsLineId",
                        "render": function (data) {
                            var btnDownload = "<a class='btn btn-primary btn-xs' onclick=DownloadSPDoc('/" + data + "')><i class='fa fa-download'></i></a>";
                            var btnDelete = "<a class='btn btn-danger btn-xs' style='margin-left:2px' onclick=DeleteSPDoc('" + data + "')><i class='fa fa-trash'></i></a>";

                            return "<div class='tools'>" + btnDownload
                                @if (appUser.isServiceProvider == true && Model.bookingStatus == netcore.Models.Invent.BookingStatus.Ongoing)
                                {
                                 <text> + btnDelete + </text>
                                }
                                "</div>";
                            }
                    }
                ],
                "lengthChange": true,
                "info": false,
                "searching": false,
                "paging": false,
                "ordering": false,
                "autoWidth": false
            });

            //$('#fileupload1').click(function () {
            //    table.ajax.reload();
            //});



            //var url = '/api/UploadServiceProviderDocument';
            //$('#fileupload1').fileupload({
            //    url: url,
            //    dataType: 'json',
            //    done: function (e, data) {
            //    /*    $('.bookingDoc').attr('src', '/images/icons/document.png');*/
            //    },
            //    progressall: function (e, data) {
            //        var progress = parseInt(data.loaded / data.total * 100, 10);
            //        $('#progress .progress-bar').css(
            //            'width',
            //            progress + '%'
            //        );
            //    }
            //}).prop('disabled', !$.support.fileInput)
            //    .parent().addClass($.support.fileInput ? undefined : 'disabled');

            //$('#fileupload1').change(function () {
            //    $("#file-name").text(this.files[0].name);
            //});



        });


    function ShowSPDocPopup(url) {
            var modalId = 'modalDefault';
            var modalPlaceholder = $('#' + modalId + ' .modal-dialog .modal-content');
            $.get(url).done(function (response) {
                modalPlaceholder.html(response);
                spDocPopup = $('#' + modalId + '').modal({
                    keyboard: false,
                    backdrop: 'static'
                });
            });
        }


    function SubmitAddEditSPDoc(form) {
            var url = '/Booking/' + 'UploadToDatabase';
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                var formSerialized = $(form).serializeJSON();
                var file = form.data.files[0];

                var formData = new FormData();
                formData.append('data', file);
                formData.append('bookingId', formSerialized.bookingId);
                formData.append('serviceProviderId', formSerialized.serviceProviderId);
                formData.append('documentType', formSerialized.documentType);

                $.ajax({
                    type: 'POST',
                    url: url,
                    data: formData,
                    dataType: 'json',
                    contentType: false,
                    cache: false,
                    processData: false,
                    async: false,
                    success: function (data) {
                        if (data.success) {
                            spDocPopup.modal('hide');
                            ShowMessage(data.message);
                            spDocDataTable.ajax.reload();
                        } else {
                            ShowMessageError(data.message);
                        }
                    }
                });

            }
            return false;
        }

    function DownloadSPDoc(id) {
            var url = '/Booking/DownloadFileFromDatabase'
            $.ajax({
                url: url + '/' + id,
                contentType: 'application/json; charset=utf-8',
                datatype: 'json',
                type: "GET",
                success: function () {
                    window.location = url + '/' + id;
                    //window.open(url + '/' + id, '_blank');
                }
            });

        }

    function DeleteSPDoc(id) {
            var url = '/Booking/DeleteFileFromDatabase'
            swal({
                title: "Are you sure want to Delete?",
                text: "You will not be able to restore the data!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#dd4b39",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: true
            }, function () {
                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    url: url + '/' + id,
                    success: function (data) {
                        if (data.success) {
                            ShowMessage(data.message);
                            spDocDataTable.ajax.reload();
                        } else {
                            ShowMessageError(data.message);
                        }
                    }
                });
            });
        }





    //Request For Docs
    var requestDocPopup
    function ShowRequestDocPopup(url) {
            var modalId = 'modalDefault';
            var modalPlaceholder = $('#' + modalId + ' .modal-dialog .modal-content');
            $.get(url).done(function (response) {
                modalPlaceholder.html(response);
                requestDocPopup = $('#' + modalId + '').modal({
                    keyboard: false,
                    backdrop: 'static'
                });
            });
        }


    function SubmitRequesDocToServiceProvider(form) {
        var url = '/Booking/' + 'RequestForDocumentsCustomer';
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                var formSerialized = $(form).serializeJSON();

                var formData = new FormData();
                formData.append('bookingId', formSerialized.bookingId);
                formData.append('toServiceProviderId', formSerialized.serviceProviderId);
                formData.append('documentType', formSerialized.documentType);

                $.ajax({
                    type: 'POST',
                    url: url,
                    data: formData,
                    dataType: 'json',
                    contentType: false,
                    cache: false,
                    processData: false,
                    async: false,
                    success: function (data) {
                        if (data.success) {
                            requestDocPopup.modal('hide');
                            ShowMessage(data.message);
                            spDocDataTable.ajax.reload();
                        } else {
                            ShowMessageError(data.message);
                        }
                    }
                });

            }
            return false;
        }



    function SubmitRequesDocToCustomer(form) {
        var url = '/Booking/' + 'RequestForDocumentsServiceProvider';
        $.validator.unobtrusive.parse(form);
        if ($(form).valid()) {
            var formSerialized = $(form).serializeJSON();

            var formData = new FormData();
            formData.append('bookingId', formSerialized.bookingId);
            formData.append('toCustomerId', formSerialized.customerId);
            formData.append('documentType', formSerialized.documentType);

            $.ajax({
                type: 'POST',
                url: url,
                data: formData,
                dataType: 'json',
                contentType: false,
                cache: false,
                processData: false,
                async: false,
                success: function (data) {
                    if (data.success) {
                        requestDocPopup.modal('hide');
                        ShowMessage(data.message);
                        spDocDataTable.ajax.reload();
                    } else {
                        ShowMessageError(data.message);
                    }
                }
            });

        }
        return false;
    }






    //Customer Docs

    var customerDocPopup, customerDocDataTable;
    var customerDocEntity = 'BookingCustomerDocsLine';
    var customerDocApiurl = '/Booking/' + 'GetCustomerDocsLine';

    $(document).ready(function () {
            customerDocDataTable = $('#customerDocsTable').DataTable({
                "ajax": {
                    "url": customerDocApiurl + '?masterid=@Model.bookingId',
                    "type": 'GET',
                    "datatype": 'json'
                },
                "columns": [
                    { "data": "documentName" },
                    { "data": "documentType" },
                    { "data": "fileType" },
                    {
                        "data": "bookingCustomerDocsLineId",
                        "render": function (data) {
                            var btnDownload = "<a class='btn btn-primary btn-xs' onclick=DownloadCustomerDoc('/" + data + "')><i class='fa fa-download'></i></a>";
                            var btnDelete = "<a class='btn btn-danger btn-xs' style='margin-left:2px' onclick=DeleteCustomerDoc('" + data + "')><i class='fa fa-trash'></i></a>";

                            return "<div class='tools'>" + btnDownload
                                @if (appUser.isServiceProvider == false && Model.bookingStatus == netcore.Models.Invent.BookingStatus.Ongoing)
                                {
                                 <text> + btnDelete + </text>
                                }
                                "</div>";
                        }
                    }
                ],
                "lengthChange": true,
                "info": false,
                "searching": false,
                "paging": false,
                "ordering": false,
                "autoWidth": false
            });

        });


    function ShowCustomerDocPopup(url) {
            var modalId = 'modalDefault';
            var modalPlaceholder = $('#' + modalId + ' .modal-dialog .modal-content');
            $.get(url).done(function (response) {
                modalPlaceholder.html(response);
                customerDocPopup = $('#' + modalId + '').modal({
                    keyboard: false,
                    backdrop: 'static'
                });
            });
        }


    function SubmitAddEditCustomerDoc(form) {
            var url = '/Booking/' + 'UploadToDatabaseCustomer';
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                var formSerialized = $(form).serializeJSON();
                var file = form.data.files[0];

                var formData = new FormData();
                formData.append('data', file);
                formData.append('bookingId', formSerialized.bookingId);
                formData.append('customerId', formSerialized.customerId);
                formData.append('documentType', formSerialized.documentType);

                $.ajax({
                    type: 'POST',
                    url: url,
                    data: formData,
                    dataType: 'json',
                    contentType: false,
                    cache: false,
                    processData: false,
                    async: false,
                    success: function (data) {
                        if (data.success) {
                            customerDocPopup.modal('hide');
                            ShowMessage(data.message);
                            customerDocDataTable.ajax.reload();
                        } else {
                            ShowMessageError(data.message);
                        }
                    }
                });

            }
            return false;
        }

    function DownloadCustomerDoc(id) {
            var url = '/Booking/DownloadCustomerFileFromDatabase'
            $.ajax({
                url: url + '/' + id,
                contentType: 'application/json; charset=utf-8',
                datatype: 'json',
                type: "GET",
                success: function () {
                    window.location = url + '/' + id;
                    //window.open(url + '/' + id, '_blank');
                }
            });

        }

    function DeleteCustomerDoc(id) {
            var url = '/Booking/DeleteCustomerFileFromDatabase'
            swal({
                title: "Are you sure want to Delete?",
                text: "You will not be able to restore the data!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#dd4b39",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: true
            }, function () {
                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    url: url + '/' + id,
                    success: function (data) {
                        if (data.success) {
                            ShowMessage(data.message);
                            customerDocDataTable.ajax.reload();
                        } else {
                            ShowMessageError(data.message);
                        }
                    }
                });
            });
        }




    //Horizontal Step Wizard

    showWizard();

    function showWizard() {
            $("#wizard").steps({
                headerTag: "h3",
                bodyTag: "section",
                transitionEffect: "slide",
                titleTemplate: '#title#',
                @if (appUser.isServiceProvider)
                {
                    <text>
                    enableFinishButton: true,
                    </text>
                }
                else
                {
                    <text>
                    enableFinishButton: false,
                    </text>
                }
                showBackButton: true,
                showFooterButtons: true,
                autoFocus: true,
                onFinishing: function () {
                    finishBooking();
                }
            });
        }

    function finishBooking() {
        swal({
            title: "Are you sure want to complete and close this booking?",
            text: "You will not be able to edit the data!",
            type: "info",
            showCancelButton: true,
            confirmButtonColor: "#dd4b39",
            confirmButtonText: "Yes, Confirmed!",
            closeOnConfirm: true
        }, function () {
            $.ajax({
                url: '@Url.Action("Finish", "Booking")',
                data: { 'id': '@Model.bookingId', 'isFinished': true},
                dataType: 'JSON',
                type: 'POST',
                success: function (data) {
                    if (data.success) {
                        swal("Booking Complete!", "Your Booking has been completed and closed successfully, Click ok to continue", "success")
                        window.location.assign("../Index");
                    } else {
                        console.log(data.message);
                    }
                 }
            });
        });


        @*$.ajax({
            type: 'POST',
            dataType: 'json',
            url: url + '/' + '@Model.bookingId',
            success: function (data) {
                if (data.success) {
                    swal("Booking Completed & Closed!", "You Have Completed this Booking successfully, Click ok to continue", "success")
                    window.location.href = 'Booking/Index';
                } else {
                    ShowMessageError(data.message);
                }
            }
        });*@
    }

</script>
}

