﻿@model netcore.Models.Invent.Quotation

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_QuotationPopup.cshtml";
    ViewData["EntityIcon"] = "fa fa-file-text";
    ViewData["EditInfo"] = " PO have three status: 1. Draft (Unconfirmed PO, not ready to receive), 2. Open (Confirmed PO, ready to receive) and 3. Completed (Closed PO, already receive the products). Change status from [Draft] to [Open] to confirm the order. [Completed] status is auto set when PO used in Product Receive / Receiving.";
}

@*@Html.Partial("_StatusMessage", (string)ViewBag.StatusMessage)*@
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<input type="hidden" asp-for="quotationId" />
<input type="hidden" asp-for="enquiryId" />
<input type="hidden" asp-for="quotationNumber" />
<input type="hidden" asp-for="quotationStatus" />
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="quotationNumber" class="control-label"></label>
            <input asp-for="quotationNumber" class="form-control" disabled />
            <span asp-validation-for="quotationNumber" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4" hidden>
        <div class="form-group">
            <label asp-for="enquiryId" class="control-label"></label>
            <select asp-for="enquiryId" class="form-control select2" asp-items="ViewBag.enquiryId"></select>
            <span asp-validation-for="enquiryId" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4" hidden>
        <div class="form-group">
            <label asp-for="consignee" class="control-label"></label>
            <input asp-for="consignee" class="form-control" />
            <span asp-validation-for="consignee" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4" hidden>
        <div class="form-group">
            <label asp-for="shipper" class="control-label"></label>
            <input asp-for="shipper" class="form-control" />
            <span asp-validation-for="shipper" class="text-danger"></span>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="quotationDate" class="control-label"></label>
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                <input asp-for="quotationDate" class="form-control" type="date" />
            </div>
            <span asp-validation-for="quotationDate" class="text-danger"></span>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="etd" class="control-label"></label>
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                <input asp-for="etd" class="form-control etd" type="date" />
            </div>
            <span asp-validation-for="etd" class="text-danger"></span>
        </div>

    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="eta" class="control-label"></label>
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                <input asp-for="eta" class="form-control eta" type="date" />
            </div>
            <span asp-validation-for="eta" class="text-danger"></span>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label asp-for="shipmentName" class="control-label"></label>
            <input asp-for="shipmentName" class="form-control" placeholder="Enter shipment name here"/>
            <span asp-validation-for="shipmentName" class="text-danger"></span>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="expeditionType" class="control-label"></label>
            <select asp-for="expeditionType" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.ExpeditionType>()"></select>
            <span asp-validation-for="expeditionType" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="transitDays" class="control-label"></label>
            <input asp-for="transitDays" class="form-control transitDays" readonly />
            <span asp-validation-for="transitDays" class="text-danger"></span>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-4" hidden>
        <div class="form-group">
            <label asp-for="quotationExpiryDate" class="control-label"></label>
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                <input asp-for="quotationExpiryDate" class="form-control" type="date" readonly />
            </div>
            <span asp-validation-for="quotationExpiryDate" class="text-danger"></span>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="modeOfTransport" class="control-label"></label>
            <select asp-for="modeOfTransport" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.ModeOfTransport>()"></select>
            <span asp-validation-for="modeOfTransport" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="originOfShipment" class="control-label"></label>
            <select asp-for="originOfShipmentId" class="form-control select2" asp-items="ViewBag.originOfShipmentId"></select>
            <span asp-validation-for="originOfShipmentId" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="destinationOfShipment" class="control-label"></label>
            <select asp-for="destinationOfShipmentId" class="form-control select2" asp-items="ViewBag.destinationOfShipmentId"></select>
            <span asp-validation-for="destinationOfShipmentId" class="text-danger"></span>
        </div>
    </div>

    <div class="col-md-3" hidden>
        <div class="form-group">
            <label asp-for="quotationStatus" class="control-label"></label>
            <select asp-for="quotationStatus" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.QuotationStatus>()" disabled></select>
            <span asp-validation-for="quotationStatus" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="terms" class="control-label"></label>
            <textarea class="form-control" id="terms" asp-for="terms" name="terms" rows="5" placeholder="Enter terms here" style="background-color: #fff"></textarea>
            <span asp-validation-for="terms" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="additionalInformation" class="control-label"></label>
            <textarea class="form-control" id="additionalInformation" asp-for="additionalInformation" name="additionalInformation" rows="5" placeholder="Enter additional info. here" style="background-color: #fff"></textarea>
            <span asp-validation-for="additionalInformation" class="text-danger"></span>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}




}

<script>


    $(".etd").change(function () {
        var etd = new Date($('.etd').val());
        var eta = new Date($('.eta').val());

        days = (eta - etd) / (1000 * 60 * 60 * 24);
        if (days < 0) {
            days = 0;
        }
        else {
            days = days;
        }

        $(".transitDays").val(days);

    });

    $(".eta").change(function () {

        var etd = new Date($('.etd').val());
        var eta = new Date($('.eta').val());

        days = (eta - etd) / (1000 * 60 * 60 * 24);
        if (days < 0) {
            days = 0;
        }
        else {
            days = days;
        }

        $(".transitDays").val(days);

    });


</script>



