﻿@model IEnumerable<netcore.Models.Invent.Booking>
@inject UserManager<ApplicationUser> UserManager
@inject netcore.Data.ApplicationDbContext Context
@{
    ApplicationUser appUser = await UserManager.GetUserAsync(User);
    string controller = (string)ViewContext.RouteData.Values["controller"];
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_BookingsIndex.cshtml";
    ViewData["EntityIcon"] = "fa fa-file-text";
    ViewData["ListTitle"] = "Bookings";
    ViewData["IndexInfo"] = "Purchase Order (PO) is a commercial document issued by your company as a buyer to your vendor as a products seller." +
                " There are three status of PO: 1. Draft (Unconfirmed PO, not ready to receive), 2. Open (Confirmed PO, ready to receive) and 3. Completed (Closed PO, already receive the products).";
}

@if (!appUser.isSuperAdmin && !appUser.isServiceProvider)
{
    <style>
        .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
            border: 2px solid #00667d;
            cursor: pointer;
        }

        .box-body {
            padding: 15px;
        }
    </style>
}

<!--Super Admin and Service Provider-->
@if (appUser.isSuperAdmin || appUser.isServiceProvider)
{
    <div class="tab-pane fade active in" id="custom-tabs-one-new-bookings" role="tabpanel" aria-labelledby="custom-tabs-one-new-tab">
        <table class="table table-hover table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Booking Number
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Expiry
                    </th>
                    <th>
                        ETD
                    </th>
                    <th>
                        ETA
                    </th>
                    <th>
                        Origin
                    </th>
                    <th>
                        Destination
                    </th>
                    <th>
                        Status
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Where(x => x.bookingExpiryDate >= DateTime.Now && x.bookingStatus == netcore.Models.Invent.BookingStatus.New))
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.bookingNumber)
                        </td>
                        <td>
                            @item.bookingDate.Date.ToString("dd-MM-yyyy")
                        </td>
                        <td>
                            @item.bookingExpiryDate?.Date.ToString("dd-MM-yyyy")
                        </td>
                        <td>
                            @item.etd.Date.ToString("dd-MM-yyyy")
                        </td>
                        <td>
                            @item.eta.Date.ToString("dd-MM-yyyy")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.quotation.originOfShipment.locationName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.quotation.destinationOfShipment.locationName)
                        </td>
                        <td>
                            @if (item.bookingStatus == netcore.Models.Invent.BookingStatus.New)
                            {
                                <span class="label label-primary">
                                    @Html.DisplayFor(modelItem => item.bookingStatus)
                                </span>

                            }
                            else if (item.bookingStatus == netcore.Models.Invent.BookingStatus.Ongoing)
                            {
                                <span class="label label-success">
                                    @Html.DisplayFor(modelItem => item.bookingStatus)
                                </span>

                            }
                            else if (item.bookingStatus == netcore.Models.Invent.BookingStatus.Closed)
                            {
                                <span class="label label-default">
                                    @Html.DisplayFor(modelItem => item.bookingStatus)
                                </span>

                            }
                        </td>
                        <td>
                            <div class="tools">
                                <a asp-action="Details" asp-route-id="@item.bookingId" class="btn btn-bitbucket btn-xs" data-toggle="tooltip" data-placement="top" title="View"><i class="fa fa-eye"></i></a>
                                @*<a asp-action="Edit" asp-route-id="@item.quotationId" class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" title="Provide Quotation"><i class="fa fa-pencil"></i></a>*@
                                @*<a asp-action="Delete" asp-route-id="@item.purchaseOrderId" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                                                </div>

                                    </td>*@
                            </div>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="tab-pane fade in" id="custom-tabs-one-ongoing-booking" role="tabpanel" aria-labelledby="custom-tabs-one-ongoing-tab">
        <table class="table table-hover table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Booking Number
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Expiry
                    </th>
                    <th>
                        ETD
                    </th>
                    <th>
                        ETA
                    </th>
                    <th>
                        Origin
                    </th>
                    <th>
                        Destination
                    </th>
                    <th>
                        Status
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Where(x => x.bookingExpiryDate >= DateTime.Now && x.bookingStatus == netcore.Models.Invent.BookingStatus.Ongoing))
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.bookingNumber)
                        </td>
                        <td>
                            @item.bookingDate.Date.ToString("dd-MM-yyyy")
                        </td>
                        <td>
                            @item.bookingExpiryDate?.Date.ToString("dd-MM-yyyy")
                        </td>
                        <td>
                            @item.etd.Date.ToString("dd-MM-yyyy")
                        </td>
                        <td>
                            @item.eta.Date.ToString("dd-MM-yyyy")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.quotation.originOfShipment.locationName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.quotation.destinationOfShipment.locationName)
                        </td>
                        <td>
                            @if (item.bookingStatus == netcore.Models.Invent.BookingStatus.Ongoing)
                            {
                                <span class="label label-success">
                                    @Html.DisplayFor(modelItem => item.bookingStatus)
                                </span>

                            }
                            @if (item.bookingStatus == netcore.Models.Invent.BookingStatus.Closed)
                            {
                                <span class="label label-default">
                                    @Html.DisplayFor(modelItem => item.bookingStatus)
                                </span>

                            }
                        </td>
                        <td>
                            <div class="tools">
                                <a asp-action="Details" asp-route-id="@item.bookingId" class="btn btn-bitbucket btn-xs" data-toggle="tooltip" data-placement="top" title="View"><i class="fa fa-eye"></i></a>
                                @*<a asp-action="Edit" asp-route-id="@item.quotationId" class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" title="Provide Quotation"><i class="fa fa-pencil"></i></a>*@
                                @*<a asp-action="Delete" asp-route-id="@item.purchaseOrderId" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                                                </div>

                                    </td>*@
                            </div>
                    </tr>
                }
            </tbody>
        </table>
    </div>


    <div class="tab-pane fade in" id="custom-tabs-one-closed-bookings" role="tabpanel" aria-labelledby="custom-tabs-one-ongoing-tab">
        <table class="table table-hover table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Booking Number
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Expiry
                    </th>
                    <th>
                        ETD
                    </th>
                    <th>
                        ETA
                    </th>
                    <th>
                        Origin
                    </th>
                    <th>
                        Destination
                    </th>
                    <th>
                        Status
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Where(x => x.bookingStatus == netcore.Models.Invent.BookingStatus.Closed))
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.bookingNumber)
                        </td>
                        <td>
                            @item.bookingDate.Date.ToString("dd-MM-yyyy")
                        </td>
                        <td>
                            @item.bookingExpiryDate?.Date.ToString("dd-MM-yyyy")
                        </td>
                        <td>
                            @item.etd.Date.ToString("dd-MM-yyyy")
                        </td>
                        <td>
                            @item.eta.Date.ToString("dd-MM-yyyy")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.quotation.enquiry.originOfShipment.locationName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.quotation.enquiry.destinationOfShipment.locationName)
                        </td>
                        <td>
                            @if (item.bookingStatus == netcore.Models.Invent.BookingStatus.Ongoing)
                            {
                                <span class="label label-success">
                                    @Html.DisplayFor(modelItem => item.bookingStatus)
                                </span>

                            }
                            @if (item.bookingStatus == netcore.Models.Invent.BookingStatus.Closed)
                            {
                                <span class="label label-default">
                                    @Html.DisplayFor(modelItem => item.bookingStatus)
                                </span>

                            }
                        </td>
                        <td>
                            <div class="tools">
                                <a asp-action="Details" asp-route-id="@item.bookingId" class="btn btn-bitbucket btn-xs" data-toggle="tooltip" data-placement="top" title="View"><i class="fa fa-eye"></i></a>
                                @*<a asp-action="Edit" asp-route-id="@item.quotationId" class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" title="Provide Quotation"><i class="fa fa-pencil"></i></a>*@
                                @*<a asp-action="Delete" asp-route-id="@item.purchaseOrderId" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                        </div>

            </td>*@
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="tab-pane fade active in" id="custom-tabs-one-ongoing-booking" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
        <table class="table table-hover" style="width:100%;">

            <tbody>
                @foreach (var item in Model.Where(x => x.bookingDate <= DateTime.Now && (x.bookingStatus == netcore.Models.Invent.BookingStatus.Ongoing || x.bookingStatus == netcore.Models.Invent.BookingStatus.New) && x.quotation.enquiry.enquiryLine.Any(e => e.serviceType == netcore.Models.Invent.ServicesType.FCL)))
                {

                    <tr>
                        <td>
                            <div class="box-body">
                                <ul class="products-list product-list-in-box">
                                    <li class="item">
                                        <a asp-action="Details" asp-route-id="@item.bookingId" data-toggle="tooltip" data-placement="top" title="View" class="product-title" style="font-size:medium; color:#278a87">
                                            Enquiry No: <span class="label label-default">@item.quotation.enquiry.enquiryNumber</span>
                                        </a>

                                        <br /><br />
                                        <div class="product-img">
                                            <img src="~/images/icons/container-details.png" alt="Product Image" style="width: 42px; height: 42px; padding: 5px">
                                        </div>
                                        <div class="product-info">
                                            <a asp-action="Details" asp-route-id="@item.bookingId" data-toggle="tooltip" data-placement="top" title="View" class="product-title" style="font-size:medium">
                                                FCL (Sea Freight)

                                                @if (item.bookingStatus == netcore.Models.Invent.BookingStatus.Ongoing)
                                                {
                                                    <i class="fa fa-eye"></i><span class="label label-warning pull-right"><i class="fa fa-flag-o"></i>&nbsp;&nbsp;Ongoing</span>
                                                }
                                                else if (item.bookingStatus == netcore.Models.Invent.BookingStatus.Closed)
                                                {
                                                    <i class="fa fa-eye"></i><span class="label label-success pull-right"><i class="fa fa-flag-o"></i>&nbsp;&nbsp;Completed</span>
                                                }
                                            </a>
                                            <span class="product-description" style="padding-top: 4px; padding-bottom: 4px;">
                                                <i class="fa fa-clock-o" style="padding-right: 6px"></i>@item.etd.Date.ToString("dd MMM yyyy")
                                                <i class="fa fa-arrow-right" style="padding-left: 10px; padding-right: 10px"></i>
                                                @item.eta.Date.ToString("dd MMM yyyy")
                                            </span>
                                            <span class="product-description">
                                                @item.originOfShipment.locationName<i class="fa fa-arrow-right" style="padding-left: 10px; padding-right: 10px"></i>@item.destinationOfShipment.locationName
                                            </span>
                                        </div>

                                    </li>

                                </ul>

                            </div>
                        </td>
                    </tr>
                }

                @foreach (var item in Model.Where(x => x.bookingDate <= DateTime.Now && (x.bookingStatus == netcore.Models.Invent.BookingStatus.Ongoing || x.bookingStatus == netcore.Models.Invent.BookingStatus.New) && x.quotation.enquiry.enquiryLine.Any(e => e.serviceType == netcore.Models.Invent.ServicesType.LCL)))
                {
                    <tr>
                        <td>
                            <div class="box-body">
                                <ul class="products-list product-list-in-box">
                                    <li class="item">
                                        <a asp-action="Details" asp-route-id="@item.bookingId" data-toggle="tooltip" data-placement="top" title="View" class="product-title" style="font-size:medium; color:#278a87">
                                            Enquiry No: <span class="label label-default">@item.quotation.enquiry.enquiryNumber</span>
                                        </a>

                                        <br /><br />
                                        <div class="product-img">
                                            <img src="~/images/icons/lcl.png" alt="Product Image" style="width: 42px; height: 42px; padding: 5px">
                                        </div>
                                        <div class="product-info">
                                            <a asp-action="Details" asp-route-id="@item.bookingId" data-toggle="tooltip" data-placement="top" title="View" class="product-title" style="font-size:medium">
                                                LCL (Sea Freight)
                                                @if (item.bookingStatus == netcore.Models.Invent.BookingStatus.Ongoing)
                                                {
                                                    <i class="fa fa-eye"></i><span class="label label-warning pull-right"><i class="fa fa-flag-o"></i>&nbsp;&nbsp;Ongoing</span>
                                                }
                                                else if (item.bookingStatus == netcore.Models.Invent.BookingStatus.Closed)
                                                {
                                                    <i class="fa fa-eye"></i><span class="label label-success pull-right"><i class="fa fa-flag-o"></i>&nbsp;&nbsp;Completed</span>
                                                }
                                            </a>
                                            <span class="product-description" style="padding-top: 4px; padding-bottom: 4px;">
                                                <i class="fa fa-clock-o" style="padding-right: 6px"></i>@item.etd.Date.ToString("dd MMM yyyy")
                                                <i class="fa fa-arrow-right" style="padding-left: 10px; padding-right: 10px"></i>
                                                @item.eta.Date.ToString("dd MMM yyyy")
                                            </span>
                                            <span class="product-description">
                                                @item.originOfShipment.locationName<i class="fa fa-arrow-right" style="padding-left: 10px; padding-right: 10px"></i>@item.destinationOfShipment.locationName
                                            </span>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </td>
                    </tr>
                }


                @foreach (var item in Model.Where(x => x.bookingDate <= DateTime.Now && (x.bookingStatus == netcore.Models.Invent.BookingStatus.Ongoing || x.bookingStatus == netcore.Models.Invent.BookingStatus.New) && x.quotation.enquiry.enquiryLine.Any(e => e.serviceType == netcore.Models.Invent.ServicesType.Air)))
                {
                    <tr>
                        <td>
                            <div class="box-body">
                                <ul class="products-list product-list-in-box">
                                    <li class="item">
                                        <a asp-action="Details" asp-route-id="@item.bookingId" data-toggle="tooltip" data-placement="top" title="View" class="product-title" style="font-size:medium; color:#278a87">
                                            Enquiry No: <span class="label label-default">@item.quotation.enquiry.enquiryNumber</span>
                                        </a>

                                        <br /><br />
                                        <div class="product-img">
                                            <img src="~/images/icons/air.png" alt="Product Image" style="width: 42px; height: 42px; padding: 5px">
                                        </div>
                                        <div class="product-info">
                                            <a asp-action="Details" asp-route-id="@item.bookingId" data-toggle="tooltip" data-placement="top" title="View" class="product-title" style="font-size:medium">
                                                Air Cargo (Air Freight)

                                                @if (item.bookingStatus == netcore.Models.Invent.BookingStatus.Ongoing)
                                                {
                                                    <i class="fa fa-eye"></i><span class="label label-warning pull-right"><i class="fa fa-flag-o"></i>&nbsp;&nbsp;Ongoing</span>
                                                }
                                                else if (item.bookingStatus == netcore.Models.Invent.BookingStatus.Closed)
                                                {
                                                    <i class="fa fa-eye"></i><span class="label label-success pull-right"><i class="fa fa-flag-o"></i>&nbsp;&nbsp;Completed</span>
                                                }
                                            </a>
                                            <span class="product-description" style="padding-top: 4px; padding-bottom: 4px;">
                                                <i class="fa fa-clock-o" style="padding-right: 6px"></i>@item.etd.Date.ToString("dd MMM yyyy")
                                                <i class="fa fa-arrow-right" style="padding-left: 10px; padding-right: 10px"></i>
                                                @item.eta.Date.ToString("dd MMM yyyy")
                                            </span>
                                            <span class="product-description">
                                                @item.originOfShipment.locationName<i class="fa fa-arrow-right" style="padding-left: 10px; padding-right: 10px"></i>@item.destinationOfShipment.locationName
                                            </span>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </td>
                    </tr>
                }


                @foreach (var item in Model.Where(x => x.bookingDate <= DateTime.Now && (x.bookingStatus == netcore.Models.Invent.BookingStatus.Ongoing || x.bookingStatus == netcore.Models.Invent.BookingStatus.New) && x.quotation.enquiry.enquiryLine.Any(e => e.serviceType == netcore.Models.Invent.ServicesType.FTL)))
                {
                    <tr>
                        <td>
                            <div class="box-body">
                                <ul class="products-list product-list-in-box">
                                    <li class="item">
                                        <a asp-action="Details" asp-route-id="@item.bookingId" data-toggle="tooltip" data-placement="top" title="View" class="product-title" style="font-size:medium; color:#278a87">
                                            Enquiry No: <span class="label label-default">@item.quotation.enquiry.enquiryNumber</span>
                                        </a>

                                        <br /><br />
                                        <div class="product-img">
                                            <img src="~/images/icons/ftl.png" alt="Product Image" style="width: 42px; height: 42px; padding: 5px">
                                        </div>
                                        <div class="product-info">
                                            <a asp-action="Details" asp-route-id="@item.bookingId" data-toggle="tooltip" data-placement="top" title="View" class="product-title" style="font-size:medium">
                                                Air Cargo (Air Freight)

                                                @if (item.bookingStatus == netcore.Models.Invent.BookingStatus.Ongoing)
                                                {
                                                    <i class="fa fa-eye"></i><span class="label label-warning pull-right"><i class="fa fa-flag-o"></i>&nbsp;&nbsp;Ongoing</span>
                                                }
                                                else if (item.bookingStatus == netcore.Models.Invent.BookingStatus.Closed)
                                                {
                                                    <i class="fa fa-eye"></i><span class="label label-success pull-right"><i class="fa fa-flag-o"></i>&nbsp;&nbsp;Completed</span>
                                                }
                                            </a>
                                            <span class="product-description" style="padding-top: 4px; padding-bottom: 4px;">
                                                <i class="fa fa-clock-o" style="padding-right: 6px"></i>@item.etd.Date.ToString("dd MMM yyyy")
                                                <i class="fa fa-arrow-right" style="padding-left: 10px; padding-right: 10px"></i>
                                                @item.eta.Date.ToString("dd MMM yyyy")
                                            </span>
                                            <span class="product-description">
                                                @item.originOfShipment.locationName<i class="fa fa-arrow-right" style="padding-left: 10px; padding-right: 10px"></i>@item.destinationOfShipment.locationName
                                            </span>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </td>
                    </tr>
                }


                @foreach (var item in Model.Where(x => x.bookingDate <= DateTime.Now && (x.bookingStatus == netcore.Models.Invent.BookingStatus.Ongoing || x.bookingStatus == netcore.Models.Invent.BookingStatus.New) && x.quotation.enquiry.enquiryLine.Any(e => e.serviceType == netcore.Models.Invent.ServicesType.LTL)))
                {
                    <tr>
                        <td>
                            <div class="box-body">
                                <ul class="products-list product-list-in-box">
                                    <li class="item">
                                        <a asp-action="Details" asp-route-id="@item.bookingId" data-toggle="tooltip" data-placement="top" title="View" class="product-title" style="font-size:medium; color:#278a87">
                                            Enquiry No: <span class="label label-default">@item.quotation.enquiry.enquiryNumber</span>
                                        </a>

                                        <br /><br />
                                        <div class="product-img">
                                            <img src="~/images/icons/ltl.png" alt="Product Image" style="width: 42px; height: 42px; padding: 5px">
                                        </div>
                                        <div class="product-info">
                                            <a asp-action="Details" asp-route-id="" data-toggle="tooltip" data-placement="top" title="View" class="product-title" style="font-size:medium">
                                                Air Cargo (Air Freight)

                                                @if (item.bookingStatus == netcore.Models.Invent.BookingStatus.Ongoing)
                                                {
                                                    <i class="fa fa-eye"></i><span class="label label-warning pull-right"><i class="fa fa-flag-o"></i>&nbsp;&nbsp;Ongoing</span>
                                                }
                                                else if (item.bookingStatus == netcore.Models.Invent.BookingStatus.Closed)
                                                {
                                                    <i class="fa fa-eye"></i><span class="label label-success pull-right"><i class="fa fa-flag-o"></i>&nbsp;&nbsp;Completed</span>
                                                }
                                            </a>
                                            <span class="product-description" style="padding-top: 4px; padding-bottom: 4px;">
                                                <i class="fa fa-clock-o" style="padding-right: 6px"></i>@item.etd.Date.ToString("dd MMM yyyy")
                                                <i class="fa fa-arrow-right" style="padding-left: 10px; padding-right: 10px"></i>
                                                @item.eta.Date.ToString("dd MMM yyyy")
                                            </span>
                                            <span class="product-description">
                                                @item.originOfShipment.locationName<i class="fa fa-arrow-right" style="padding-left: 10px; padding-right: 10px"></i>@item.destinationOfShipment.locationName
                                            </span>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </td>
                    </tr>
                }


                @foreach (var item in Model.Where(x => x.bookingDate <= DateTime.Now && (x.bookingStatus == netcore.Models.Invent.BookingStatus.Ongoing || x.bookingStatus == netcore.Models.Invent.BookingStatus.New) && x.quotation.enquiry.enquiryLine.Any(e => e.serviceType == netcore.Models.Invent.ServicesType.RAIL)))
                {
                    <tr>
                        <td>
                            <div class="box-body">
                                <ul class="products-list product-list-in-box">
                                    <li class="item">
                                        <a asp-action="Details" asp-route-id="@item.bookingId" data-toggle="tooltip" data-placement="top" title="View" class="product-title" style="font-size:medium; color:#278a87">
                                            Enquiry No: <span class="label label-default">@item.quotation.enquiry.enquiryNumber</span>
                                        </a>

                                        <br /><br />
                                        <div class="product-img">
                                            <img src="~/images/icons/rail.png" alt="Product Image" style="width: 42px; height: 42px; padding: 5px">
                                        </div>
                                        <div class="product-info">
                                            <a asp-action="Details" asp-route-id="" data-toggle="tooltip" data-placement="top" title="View" class="product-title" style="font-size:medium">
                                                Rail (Land Freight)

                                                @if (item.bookingStatus == netcore.Models.Invent.BookingStatus.Ongoing)
                                                {
                                                    <i class="fa fa-eye"></i><span class="label label-warning pull-right"><i class="fa fa-flag-o"></i>&nbsp;&nbsp;Ongoing</span>
                                                }
                                                else if (item.bookingStatus == netcore.Models.Invent.BookingStatus.Closed)
                                                {
                                                    <i class="fa fa-eye"></i><span class="label label-success pull-right"><i class="fa fa-flag-o"></i>&nbsp;&nbsp;Completed</span>
                                                }
                                            </a>
                                            <span class="product-description" style="padding-top: 4px; padding-bottom: 4px;">
                                                <i class="fa fa-clock-o" style="padding-right: 6px"></i>@item.etd.Date.ToString("dd MMM yyyy")
                                                <i class="fa fa-arrow-right" style="padding-left: 10px; padding-right: 10px"></i>
                                                @item.eta.Date.ToString("dd MMM yyyy")
                                            </span>
                                            <span class="product-description">
                                                @item.originOfShipment.locationName<i class="fa fa-arrow-right" style="padding-left: 10px; padding-right: 10px"></i>@item.destinationOfShipment.locationName
                                            </span>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>



    <div class="tab-pane fade" id="custom-tabs-one-closed-bookings" role="tabpanel" aria-labelledby="custom-tabs-one-profile-tab">
        <table class="table table-hover" style="width:100%;">

            <tbody>
                @foreach (var item in Model.Where(x => x.bookingDate <= DateTime.Now && x.bookingStatus == netcore.Models.Invent.BookingStatus.Closed && x.quotation.enquiry.enquiryLine.Any(e => e.serviceType == netcore.Models.Invent.ServicesType.FCL)))
                {

                    <tr>
                        <td>
                            <div class="box-body">
                                <ul class="products-list product-list-in-box">
                                    <li class="item">
                                        <a asp-action="Details" asp-route-id="@item.bookingId" data-toggle="tooltip" data-placement="top" title="View" class="product-title" style="font-size:medium; color:#278a87">
                                            Enquiry No: <span class="label label-default">@item.quotation.enquiry.enquiryNumber</span>
                                        </a>

                                        <br /><br />
                                        <div class="product-img">
                                            <img src="~/images/icons/container-details.png" alt="Product Image" style="width: 42px; height: 42px; padding: 5px">
                                        </div>
                                        <div class="product-info">
                                            <a asp-action="Details" asp-route-id="@item.bookingId" data-toggle="tooltip" data-placement="top" title="View" class="product-title" style="font-size:medium">
                                                FCL (Sea Freight)

                                                @if (item.bookingStatus == netcore.Models.Invent.BookingStatus.Ongoing)
                                                {
                                                    <i class="fa fa-eye"></i><span class="label label-warning pull-right"><i class="fa fa-flag-o"></i>&nbsp;&nbsp;Ongoing</span>
                                                }
                                                else if (item.bookingStatus == netcore.Models.Invent.BookingStatus.Closed)
                                                {
                                                    <i class="fa fa-eye"></i><span class="label label-success pull-right"><i class="fa fa-flag-o"></i>&nbsp;&nbsp;Completed</span>
                                                }
                                            </a>
                                            <span class="product-description" style="padding-top: 4px; padding-bottom: 4px;">
                                                <i class="fa fa-clock-o" style="padding-right: 6px"></i>@item.etd.Date.ToString("dd MMM yyyy")
                                                <i class="fa fa-arrow-right" style="padding-left: 10px; padding-right: 10px"></i>
                                                @item.eta.Date.ToString("dd MMM yyyy")
                                            </span>
                                            <span class="product-description">
                                                @item.originOfShipment.locationName<i class="fa fa-arrow-right" style="padding-left: 10px; padding-right: 10px"></i>@item.destinationOfShipment.locationName
                                            </span>
                                        </div>

                                    </li>

                                </ul>

                            </div>
                        </td>
                    </tr>
                }

                @foreach (var item in Model.Where(x => x.bookingDate <= DateTime.Now && x.bookingStatus == netcore.Models.Invent.BookingStatus.Closed && x.quotation.enquiry.enquiryLine.Any(e => e.serviceType == netcore.Models.Invent.ServicesType.LCL)))
                {
                    <tr>
                        <td>
                            <div class="box-body">
                                <ul class="products-list product-list-in-box">
                                    <li class="item">
                                        <a asp-action="Details" asp-route-id="@item.bookingId" data-toggle="tooltip" data-placement="top" title="View" class="product-title" style="font-size:medium; color:#278a87">
                                            Enquiry No: <span class="label label-default">@item.quotation.enquiry.enquiryNumber</span>
                                        </a>

                                        <br /><br />
                                        <div class="product-img">
                                            <img src="~/images/icons/lcl.png" alt="Product Image" style="width: 42px; height: 42px; padding: 5px">
                                        </div>
                                        <div class="product-info">
                                            <a asp-action="Details" asp-route-id="@item.bookingId" data-toggle="tooltip" data-placement="top" title="View" class="product-title" style="font-size:medium">
                                                LCL (Sea Freight)
                                                @if (item.bookingStatus == netcore.Models.Invent.BookingStatus.Ongoing)
                                                {
                                                    <i class="fa fa-eye"></i><span class="label label-warning pull-right"><i class="fa fa-flag-o"></i>&nbsp;&nbsp;Ongoing</span>
                                                }
                                                else if (item.bookingStatus == netcore.Models.Invent.BookingStatus.Closed)
                                                {
                                                    <i class="fa fa-eye"></i><span class="label label-success pull-right"><i class="fa fa-flag-o"></i>&nbsp;&nbsp;Completed</span>
                                                }
                                            </a>
                                            <span class="product-description" style="padding-top: 4px; padding-bottom: 4px;">
                                                <i class="fa fa-clock-o" style="padding-right: 6px"></i>@item.etd.Date.ToString("dd MMM yyyy")
                                                <i class="fa fa-arrow-right" style="padding-left: 10px; padding-right: 10px"></i>
                                                @item.eta.Date.ToString("dd MMM yyyy")
                                            </span>
                                            <span class="product-description">
                                                @item.originOfShipment.locationName<i class="fa fa-arrow-right" style="padding-left: 10px; padding-right: 10px"></i>@item.destinationOfShipment.locationName
                                            </span>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </td>
                    </tr>
                }


                @foreach (var item in Model.Where(x => x.bookingDate <= DateTime.Now && x.bookingStatus == netcore.Models.Invent.BookingStatus.Closed && x.quotation.enquiry.enquiryLine.Any(e => e.serviceType == netcore.Models.Invent.ServicesType.Air)))
                {
                    <tr>
                        <td>
                            <div class="box-body">
                                <ul class="products-list product-list-in-box">
                                    <li class="item">
                                        <a asp-action="Details" asp-route-id="@item.bookingId" data-toggle="tooltip" data-placement="top" title="View" class="product-title" style="font-size:medium; color:#278a87">
                                            Enquiry No: <span class="label label-default">@item.quotation.enquiry.enquiryNumber</span>
                                        </a>

                                        <br /><br />
                                        <div class="product-img">
                                            <img src="~/images/icons/air.png" alt="Product Image" style="width: 42px; height: 42px; padding: 5px">
                                        </div>
                                        <div class="product-info">
                                            <a asp-action="Details" asp-route-id="@item.bookingId" data-toggle="tooltip" data-placement="top" title="View" class="product-title" style="font-size:medium">
                                                Air Cargo (Air Freight)

                                                @if (item.bookingStatus == netcore.Models.Invent.BookingStatus.Ongoing)
                                                {
                                                    <i class="fa fa-eye"></i><span class="label label-warning pull-right"><i class="fa fa-flag-o"></i>&nbsp;&nbsp;Ongoing</span>
                                                }
                                                else if (item.bookingStatus == netcore.Models.Invent.BookingStatus.Closed)
                                                {
                                                    <i class="fa fa-eye"></i><span class="label label-success pull-right"><i class="fa fa-flag-o"></i>&nbsp;&nbsp;Completed</span>
                                                }
                                            </a>
                                            <span class="product-description" style="padding-top: 4px; padding-bottom: 4px;">
                                                <i class="fa fa-clock-o" style="padding-right: 6px"></i>@item.etd.Date.ToString("dd MMM yyyy")
                                                <i class="fa fa-arrow-right" style="padding-left: 10px; padding-right: 10px"></i>
                                                @item.eta.Date.ToString("dd MMM yyyy")
                                            </span>
                                            <span class="product-description">
                                                @item.originOfShipment.locationName<i class="fa fa-arrow-right" style="padding-left: 10px; padding-right: 10px"></i>@item.destinationOfShipment.locationName
                                            </span>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </td>
                    </tr>
                }


                @foreach (var item in Model.Where(x => x.bookingDate <= DateTime.Now && x.bookingStatus == netcore.Models.Invent.BookingStatus.Closed && x.quotation.enquiry.enquiryLine.Any(e => e.serviceType == netcore.Models.Invent.ServicesType.FTL)))
                {
                    <tr>
                        <td>
                            <div class="box-body">
                                <ul class="products-list product-list-in-box">
                                    <li class="item">
                                        <a asp-action="Details" asp-route-id="@item.bookingId" data-toggle="tooltip" data-placement="top" title="View" class="product-title" style="font-size:medium; color:#278a87">
                                            Enquiry No: <span class="label label-default">@item.quotation.enquiry.enquiryNumber</span>
                                        </a>

                                        <br /><br />
                                        <div class="product-img">
                                            <img src="~/images/icons/ftl.png" alt="Product Image" style="width: 42px; height: 42px; padding: 5px">
                                        </div>
                                        <div class="product-info">
                                            <a asp-action="Details" asp-route-id="@item.bookingId" data-toggle="tooltip" data-placement="top" title="View" class="product-title" style="font-size:medium">
                                                Air Cargo (Air Freight)

                                                @if (item.bookingStatus == netcore.Models.Invent.BookingStatus.Ongoing)
                                                {
                                                    <i class="fa fa-eye"></i><span class="label label-warning pull-right"><i class="fa fa-flag-o"></i>&nbsp;&nbsp;Ongoing</span>
                                                }
                                                else if (item.bookingStatus == netcore.Models.Invent.BookingStatus.Closed)
                                                {
                                                    <i class="fa fa-eye"></i><span class="label label-success pull-right"><i class="fa fa-flag-o"></i>&nbsp;&nbsp;Completed</span>
                                                }
                                            </a>
                                            <span class="product-description" style="padding-top: 4px; padding-bottom: 4px;">
                                                <i class="fa fa-clock-o" style="padding-right: 6px"></i>@item.etd.Date.ToString("dd MMM yyyy")
                                                <i class="fa fa-arrow-right" style="padding-left: 10px; padding-right: 10px"></i>
                                                @item.eta.Date.ToString("dd MMM yyyy")
                                            </span>
                                            <span class="product-description">
                                                @item.originOfShipment.locationName<i class="fa fa-arrow-right" style="padding-left: 10px; padding-right: 10px"></i>@item.destinationOfShipment.locationName
                                            </span>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </td>
                    </tr>
                }


                @foreach (var item in Model.Where(x => x.bookingDate <= DateTime.Now && x.bookingStatus == netcore.Models.Invent.BookingStatus.Closed && x.quotation.enquiry.enquiryLine.Any(e => e.serviceType == netcore.Models.Invent.ServicesType.LTL)))
                {
                    <tr>
                        <td>
                            <div class="box-body">
                                <ul class="products-list product-list-in-box">
                                    <li class="item">
                                        <a asp-action="Details" asp-route-id="@item.bookingId" data-toggle="tooltip" data-placement="top" title="View" class="product-title" style="font-size:medium; color:#278a87">
                                            Enquiry No: <span class="label label-default">@item.quotation.enquiry.enquiryNumber</span>
                                        </a>

                                        <br /><br />
                                        <div class="product-img">
                                            <img src="~/images/icons/ltl.png" alt="Product Image" style="width: 42px; height: 42px; padding: 5px">
                                        </div>
                                        <div class="product-info">
                                            <a asp-action="Details" asp-route-id="" data-toggle="tooltip" data-placement="top" title="View" class="product-title" style="font-size:medium">
                                                Air Cargo (Air Freight)

                                                @if (item.bookingStatus == netcore.Models.Invent.BookingStatus.Ongoing)
                                                {
                                                    <i class="fa fa-eye"></i><span class="label label-warning pull-right"><i class="fa fa-flag-o"></i>&nbsp;&nbsp;Ongoing</span>
                                                }
                                                else if (item.bookingStatus == netcore.Models.Invent.BookingStatus.Closed)
                                                {
                                                    <i class="fa fa-eye"></i><span class="label label-success pull-right"><i class="fa fa-flag-o"></i>&nbsp;&nbsp;Completed</span>
                                                }
                                            </a>
                                            <span class="product-description" style="padding-top: 4px; padding-bottom: 4px;">
                                                <i class="fa fa-clock-o" style="padding-right: 6px"></i>@item.etd.Date.ToString("dd MMM yyyy")
                                                <i class="fa fa-arrow-right" style="padding-left: 10px; padding-right: 10px"></i>
                                                @item.eta.Date.ToString("dd MMM yyyy")
                                            </span>
                                            <span class="product-description">
                                                @item.originOfShipment.locationName<i class="fa fa-arrow-right" style="padding-left: 10px; padding-right: 10px"></i>@item.destinationOfShipment.locationName
                                            </span>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </td>
                    </tr>
                }


                @foreach (var item in Model.Where(x => x.bookingDate <= DateTime.Now && x.bookingStatus == netcore.Models.Invent.BookingStatus.Closed && x.quotation.enquiry.enquiryLine.Any(e => e.serviceType == netcore.Models.Invent.ServicesType.RAIL)))
                {
                    <tr>
                        <td>
                            <div class="box-body">
                                <ul class="products-list product-list-in-box">
                                    <li class="item">
                                        <a asp-action="Details" asp-route-id="@item.bookingId" data-toggle="tooltip" data-placement="top" title="View" class="product-title" style="font-size:medium; color:#278a87">
                                            Enquiry No: <span class="label label-default">@item.quotation.enquiry.enquiryNumber</span>
                                        </a>

                                        <br /><br />
                                        <div class="product-img">
                                            <img src="~/images/icons/rail.png" alt="Product Image" style="width: 42px; height: 42px; padding: 5px">
                                        </div>
                                        <div class="product-info">
                                            <a asp-action="Details" asp-route-id="" data-toggle="tooltip" data-placement="top" title="View" class="product-title" style="font-size:medium">
                                                Rail (Land Freight)

                                                @if (item.bookingStatus == netcore.Models.Invent.BookingStatus.Ongoing)
                                                {
                                                    <i class="fa fa-eye"></i><span class="label label-warning pull-right"><i class="fa fa-flag-o"></i>&nbsp;&nbsp;Ongoing</span>
                                                }
                                                else if (item.bookingStatus == netcore.Models.Invent.BookingStatus.Closed)
                                                {
                                                    <i class="fa fa-eye"></i><span class="label label-success pull-right"><i class="fa fa-flag-o"></i>&nbsp;&nbsp;Completed</span>
                                                }
                                            </a>
                                            <span class="product-description" style="padding-top: 4px; padding-bottom: 4px;">
                                                <i class="fa fa-clock-o" style="padding-right: 6px"></i>@item.etd.Date.ToString("dd MMM yyyy")
                                                <i class="fa fa-arrow-right" style="padding-left: 10px; padding-right: 10px"></i>
                                                @item.eta.Date.ToString("dd MMM yyyy")
                                            </span>
                                            <span class="product-description">
                                                @item.originOfShipment.locationName<i class="fa fa-arrow-right" style="padding-left: 10px; padding-right: 10px"></i>@item.destinationOfShipment.locationName
                                            </span>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}



@section Scripts{
    @*<script>
        $(document).ready(function () {
            var mainTable;

            mainTable = $('.table').DataTable({
                "lengthChange": false,
                "info": false,
                "searching": true,
                "dom": 'lrtip',
                "scrollX": false,
                "buttons": [
                            {
                                extend: 'csv',
                                filename: '@controller-csv'
                            },
                            {
                                extend: 'pdf',
                                filename: '@controller-pdf'
                            },
                            {
                                extend: 'excel',
                                filename: '@controller-excel'
                            }
                        ]
            });

            $('#mainSearch').keyup(function () {
                mainTable.search($(this).val()).draw();
            })

            $("#btn-export-csv").on("click", function() {
                mainTable.button( '.buttons-csv' ).trigger();
            })

            $("#btn-export-excel").on("click", function() {
                mainTable.button( '.buttons-excel' ).trigger();
            })

            $("#btn-export-pdf").on("click", function() {
                mainTable.button( '.buttons-pdf' ).trigger();
            })


            $('[data-toggle="tooltip"]').tooltip();

        });



    </script>*@
}



@*<ul class="nav nav-tabs">
        <li class="active"><a href="#currentEnquiries" data-toggle="pill" id="currentEnquiries"><b>Current Enquiries</b></a></li>
        <li><a href="#missedEnquiries" data-toggle="pill" id="missedEnquiries"><b>Missed Enquiries</b></a></li>
    </ul>

    <div class="tab-content">
        <div class="active tab-pane" id="currentEnquiries">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover table-striped" style="width:100%">
                        <thead>
                            <tr>

                                <th>
                                    @Html.DisplayNameFor(model => model.purchaseOrderNumber)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.deliveryInwardNumber)
                                </th>
                                <th class="hidden">
                                    @Html.DisplayNameFor(model => model.top)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.poDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.deliveryDate)
                                </th>
                                <th class="hidden">
                                    @Html.DisplayNameFor(model => model.deliveryAddress)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.description)
                                </th>

                                <th class="hidden">
                                    @Html.DisplayNameFor(model => model.picVendor)
                                </th>

                                <th class="hidden">
                                    @Html.DisplayNameFor(model => model.totalDiscountAmount)
                                </th>
                                <th class="hidden">
                                    @Html.DisplayNameFor(model => model.totalOrderAmount)
                                </th>
                                <th class="hidden">
                                    @Html.DisplayNameFor(model => model.purchaseReceiveNumber)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.vendor.companyName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.usdRate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.purchaseOrderStatus)
                                </th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.purchaseOrderNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.deliveryInwardNumber)
                                    </td>
                                    <td class="hidden">
                                        @Html.DisplayFor(modelItem => item.top)
                                    </td>
                                    <td>
                                        @item.poDate.Date.ToString("dd-MMM-yyyy")
                                    </td>
                                    <td>
                                        @item.deliveryDate.Date.ToString("dd-MMM-yyyy")

                                    </td>
                                    <td class="hidden">
                                        @Html.DisplayFor(modelItem => item.deliveryAddress)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.description)
                                    </td>

                                    <td class="hidden">
                                        @Html.DisplayFor(modelItem => item.picVendor)
                                    </td>

                                    <td class="hidden">
                                        @Html.DisplayFor(modelItem => item.totalDiscountAmount)
                                    </td>
                                    <td class="hidden">
                                        @Html.DisplayFor(modelItem => item.totalOrderAmount)
                                    </td>
                                    <td class="hidden">
                                        @Html.DisplayFor(modelItem => item.purchaseReceiveNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.vendor.companyName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.usdRate)
                                    </td>
                                    <td>
                                        @if (item.purchaseOrderStatus == netcore.Models.Invent.PurchaseOrderStatus.Completed)
                                        {
                                            <span class="label label-success">
                                                @Html.DisplayFor(modelItem => item.purchaseOrderStatus)
                                            </span>

                                        }
                                        @if (item.purchaseOrderStatus == netcore.Models.Invent.PurchaseOrderStatus.Open)
                                        {
                                            <span class="label label-primary">
                                                @Html.DisplayFor(modelItem => item.purchaseOrderStatus)
                                            </span>

                                        }
                                        @if (item.purchaseOrderStatus == netcore.Models.Invent.PurchaseOrderStatus.Draft)
                                        {
                                            <span class="label label-warning">
                                                @Html.DisplayFor(modelItem => item.purchaseOrderStatus)
                                            </span>

                                        }

                                    </td>
                                    <td>
                                        <div class="tools">
                                            <a asp-action="Details" asp-route-id="@item.purchaseOrderId" class="btn btn-primary btn-xs"><i class="fa fa-eye"></i></a>
                                            <a asp-action="Edit" asp-route-id="@item.purchaseOrderId" class="btn btn-warning btn-xs"><i class="fa fa-file"></i></a>
                                        </div>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>


    <div class="tab-content">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover table-striped" style="width:100%">
                    <thead>
                        <tr>

                            <th>
                                @Html.DisplayNameFor(model => model.purchaseOrderNumber)
                            </th>
                            <th class="hidden">
                                @Html.DisplayNameFor(model => model.top)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.poDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.deliveryDate)
                            </th>
                            <th class="hidden">
                                @Html.DisplayNameFor(model => model.deliveryAddress)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.description)
                            </th>

                            <th class="hidden">
                                @Html.DisplayNameFor(model => model.picVendor)
                            </th>

                            <th class="hidden">
                                @Html.DisplayNameFor(model => model.totalDiscountAmount)
                            </th>
                            <th class="hidden">
                                @Html.DisplayNameFor(model => model.totalOrderAmount)
                            </th>
                            <th class="hidden">
                                @Html.DisplayNameFor(model => model.purchaseReceiveNumber)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.vendor.companyName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.usdRate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.purchaseOrderStatus)
                            </th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.purchaseOrderNumber)
                                </td>
                                <td class="hidden">
                                    @Html.DisplayFor(modelItem => item.top)
                                </td>
                                <td>
                                    @item.poDate.Date.ToString("dd-MMM-yyyy")
                                </td>
                                <td>
                                    @item.deliveryDate.Date.ToString("dd-MMM-yyyy")

                                </td>
                                <td class="hidden">
                                    @Html.DisplayFor(modelItem => item.deliveryAddress)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.description)
                                </td>

                                <td class="hidden">
                                    @Html.DisplayFor(modelItem => item.picVendor)
                                </td>

                                <td class="hidden">
                                    @Html.DisplayFor(modelItem => item.totalDiscountAmount)
                                </td>
                                <td class="hidden">
                                    @Html.DisplayFor(modelItem => item.totalOrderAmount)
                                </td>
                                <td class="hidden">
                                    @Html.DisplayFor(modelItem => item.purchaseReceiveNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.vendor.companyName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.usdRate)
                                </td>
                                <td>
                                    @if (item.purchaseOrderStatus == netcore.Models.Invent.PurchaseOrderStatus.Completed)
                                    {
                                        <span class="label label-success">
                                            @Html.DisplayFor(modelItem => item.purchaseOrderStatus)
                                        </span>

                                    }
                                    @if (item.purchaseOrderStatus == netcore.Models.Invent.PurchaseOrderStatus.Open)
                                    {
                                        <span class="label label-primary">
                                            @Html.DisplayFor(modelItem => item.purchaseOrderStatus)
                                        </span>

                                    }
                                    @if (item.purchaseOrderStatus == netcore.Models.Invent.PurchaseOrderStatus.Draft)
                                    {
                                        <span class="label label-warning">
                                            @Html.DisplayFor(modelItem => item.purchaseOrderStatus)
                                        </span>

                                    }

                                </td>
                                <td>
                                    <div class="tools">
                                        <a asp-action="Details" asp-route-id="@item.purchaseOrderId" class="btn btn-primary btn-xs"><i class="fa fa-eye"></i></a>
                                        <a asp-action="Edit" asp-route-id="@item.purchaseOrderId" class="btn btn-warning btn-xs"><i class="fa fa-file"></i></a>
                                    </div>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>*@





