﻿@model netcore.Models.Invent.Booking
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_RequestDocumentServiceProviderPopup.cshtml";
    ViewData["EntityIcon"] = "fa fa-industry";
}


<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="bookingId" />
        <input type="hidden" asp-for="@Model.customer.customerId" name="customerId" id="customerId"/>
        <input type="hidden" asp-for="@Model.bookingId" name="bookingId" id="bookingId"/>

        <div class="row">
            <div class="col-md-10">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" style="padding-top: 10px;">Choose a Document To Request: </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <select class="form-control select2" id="requestDocumentType" data-placeholder="Document Type" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.DocumentType>()" name="documentType">
                        </select>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>








@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



