﻿@model netcore.Models.Invent.Location
@inject netcore.Data.ApplicationDbContext _context;
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminlteNetcoreDelete.cshtml";
    ViewData["EntityIcon"] = "fa fa-tags";
    ViewData["DeleteInfo"] = "Location that already have transactions (PO, SO, Transfer Order) can not be deleted.";
    //netcore.Models.Invent.PurchaseOrderLine poline = _context.PurchaseOrderLine.Where(x => x.productId.Equals(Model.productId)).FirstOrDefault();
    //netcore.Models.Invent.SalesOrderLine soline = _context.SalesOrderLine.Where(x => x.productId.Equals(Model.productId)).FirstOrDefault();
    //netcore.Models.Invent.TransferOrderLine toline = _context.TransferOrderLine.Where(x => x.productId.Equals(Model.productId)).FirstOrDefault();
    ViewData["IsCanDeleted"] = false;
    ViewData["IsCanDeleted"] = true;

    //if (poline == null && soline == null && toline == null)
    //{
    //}
}


@Html.Partial("_StatusMessage", (string)ViewBag.StatusMessage)
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.locationName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.locationName)
        </dd>
    </dl>

</div>
