﻿@model netcore.Models.Invent.Location

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminlteNetcoreEdit.cshtml";
    ViewData["EntityIcon"] = "fa fa-tags";
}


<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="locationId" />
        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="locationName" class="control-label"></label>
                    <input asp-for="locationName" class="form-control" />
                    <span asp-validation-for="locationName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="code" class="control-label"></label>
                    <input asp-for="code" class="form-control" />
                    <span asp-validation-for="code" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="countryProvince" class="control-label"></label>
                    <input asp-for="countryProvince" class="form-control" />
                    <span asp-validation-for="countryProvince" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="locationType" class="control-label"></label>
                    <input asp-for="locationType" class="form-control" />
                    <span asp-validation-for="locationType" class="text-danger"></span>
                </div>
            </div>
            @*<div class="col-md-4">
            <div class="form-group">
                <label asp-for="countries" class="control-label"></label>
                <select asp-for="countries" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.Countries>()"></select>
                <span asp-validation-for="countries" class="text-danger"></span>
            </div>
        </div>*@

        </div>

    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



