﻿@model netcore.Models.ApplicationUser
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject netcore.Data.ApplicationDbContext Context

@{
    ViewData["Title"] = "Change Profile Picture";
    Layout = "_AdminlteNetcore";
    ApplicationUser appUser = await UserManager.GetUserAsync(User);
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            User Profile
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-3">
                @if (appUser != null)
                {

                    <!-- Profile Image -->
                    <div class="box box-primary">
                        <div class="box-body box-profile">
                            <img class="profile-user-img img-responsive img-circle profilePicture" src="@appUser.profilePictureUrl" alt="User profile picture">

                            <h3 class="profile-username text-center">@appUser.Email</h3>
                            @if (appUser.isServiceProvider == true)
                            {
                                <p class="text-muted text-center">Service Provider</p>
                            }
                            else if (appUser.isSuperAdmin == true)
                            {
                                <p class="text-muted text-center">Super Admin</p>
                            }
                            else
                            {
                                <p class="text-muted text-center">Customer</p>
                            }
                            @*<ul class="list-group list-group-unbordered">
                                <li class="list-group-item">
                                    <b>Department</b> <a class="pull-right"></a>
                                </li>
                                <li class="list-group-item">
                                    <b>Division</b> <a class="pull-right"></a>
                                </li>
                            </ul>*@
                            <a href="@Url.Action("ChangePassword", "Manage")" class="btn btn-primary btn-block">
                                <i class="fa fa-key">

                                </i>
                                <span> Change Password</span>
                            </a>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                }


            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#picture" data-toggle="tab">Profile Picture</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="active tab-pane" id="picture">
                            @if (Model != null)
                            {

                                <div>
                                    <img class="profile-user-img img-responsive img-circle profilePicture" src="@Model.profilePictureUrl" alt="User profile picture">
                                </div>
                                <div>
                                    <span class="btn btn-success fileinput-button">
                                        <i class="fa fa-camera bg-green"></i>
                                        <span>Select file ...</span>
                                        <!-- The file input field used as target for the file upload widget -->
                                        <input id="fileupload" type="file" name="files" multiple="">
                                    </span>
                                </div>
                                <div>
                                    <div id="progress" class="progress">
                                        <div class="progress-bar progress-bar-success"></div>
                                    </div>
                                </div>

                            }
                        </div>

                    </div>
                    <!-- /.tab-content -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->



@section Styles{
 
    <!--blueimp file upload-->
    <link rel="stylesheet" href="~/lib/jQuery-File-Upload-9.21.0/css/jquery.fileupload.css" />
}

@section Scripts{
   
    <!--blueimp file upload-->
    <script src="~/lib/jQuery-File-Upload-9.21.0/js/jquery.fileupload.js"></script>
    <script>
        $(function () {

            var url = '/api/UploadProfilePicture';
            $('#fileupload').fileupload({
                url: url,
                dataType: 'json',
                done: function (e, data) {
                    $('.profilePicture').attr('src', '../uploads/' + data.result);
                },
                progressall: function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $('#progress .progress-bar').css(
                        'width',
                        progress + '%'
                    );
                }
            }).prop('disabled', !$.support.fileInput)
                .parent().addClass($.support.fileInput ? undefined : 'disabled');


        });
    </script>
}


