﻿@model IEnumerable<netcore.Models.ScreenViewModels.AnalyticsViewModel>
@inject UserManager<ApplicationUser> UserManager
@inject netcore.Data.ApplicationDbContext Context
@{
    ApplicationUser appUser = await UserManager.GetUserAsync(User);
    string controller = (string)ViewContext.RouteData.Values["controller"];
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AnalysisIndex.cshtml";
    ViewData["EntityIcon"] = "fa fa-file-text";
    ViewData["ListTitle"] = "Track Activities";
    ViewData["IndexInfo"] = "Purchase Order (PO) is a commercial document issued by your company as a buyer to your vendor as a products seller." +
                " There are three status of PO: 1. Draft (Unconfirmed PO, not ready to receive), 2. Open (Confirmed PO, ready to receive) and 3. Completed (Closed PO, already receive the products).";

}

@if (!appUser.isSuperAdmin && !appUser.isServiceProvider)
{
    <style>
        .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
            border: 2px solid #00667d;
            cursor: pointer;
        }

        .box-body {
            padding: 15px;
        }
    </style>
}

<!--Super Admin and Service Provider-->
@if (appUser.isSuperAdmin)
{
    <div class="tab-pane fade active in" id="custom-tabs-one-enquiries-posted" role="tabpanel" aria-labelledby="custom-tabs-one-enquiries-posted-tab">
        <table class="table table-hover table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Enquiry No.
                    </th>
                    <th>
                        Customer
                    </th>
                    <th>
                        Date & Time
                    </th>
                    <th>
                        Expiry
                    </th>
                    <th>
                        Mode
                    </th>
                    <th>
                        Origin
                    </th>
                    <th>
                        Destination
                    </th>
                    <th>
                        Service Providers Received
                    </th>
                    <th>
                        Status
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var enquiryListItem in Model)
                {
                    @foreach (var item in enquiryListItem.enquiryList)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.enquiryNumber)
                            </td>
                            <td>
                                @(Context.Customer.FirstOrDefault(x => x.userName == item.userName).businessContactName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.enquiryDate)

                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.enquiryExpiryDate)

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.modeOfTransport)

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.originOfShipment.locationType) <br /> @Html.DisplayFor(modelItem => item.originOfShipment.locationName)

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.destinationOfShipment.locationType) <br /> @Html.DisplayFor(modelItem => item.destinationOfShipment.locationName)

                            </td>
                            <td>
                                @{

                                    foreach (var item2 in enquiryListItem.serviceProvidersReceivedEnquiryList)
                                    {
                                        @(item2.businessContactName)<br />
                                    }

                                }
                            </td>
                            <td>
                                @if (item.enquiryStatus == netcore.Models.Invent.EnquiryStatus.Pending)
                                {
                                    <span class="label label-warning">
                                        @Html.DisplayFor(modelItem => item.enquiryStatus)
                                    </span>

                                }
                                @if (item.enquiryStatus == netcore.Models.Invent.EnquiryStatus.Closed)
                                {
                                    <span class="label label-default">
                                        @Html.DisplayFor(modelItem => item.enquiryStatus)
                                    </span>

                                }
                                @if (item.enquiryStatus == netcore.Models.Invent.EnquiryStatus.Accepted)
                                {
                                    <span class="label label-success">
                                        @Html.DisplayFor(modelItem => item.enquiryStatus)
                                    </span>

                                }
                            </td>
                            <td>
                                <div class="tools">
                                    <a asp-action="Details" asp-controller="Enquiry" asp-route-id="@item.enquiryId" class="btn btn-bitbucket btn-xs" data-toggle="tooltip" data-placement="top" title="View Enquiry"><i class="fa fa-eye"></i></a>

                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <div class="tab-pane fade in" id="custom-tabs-two-quotations-sent" role="tabpanel" aria-labelledby="custom-tabs-two-quotations-sent-tab">
        <table class="table table-hover table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Enquiry No.
                    </th>
                    <th>
                        Customer
                    </th>
                    <th>
                        Date & Time
                    </th>
                    <th>
                        Expiry
                    </th>
                    <th>
                        Mode
                    </th>
                    <th>
                        Origin
                    </th>
                    <th>
                        Destination
                    </th>
                    <th>
                        Service Providers Who is Submitting Quotation
                    </th>
                    <th>
                        Quotation Total (INR)
                    </th>
                    <th>
                        Quotation Status
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var enquiryListItem in Model)
                {
                    @foreach (var item in enquiryListItem.quotationList)
                    {
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.enquiry.enquiryNumber)
                                </td>
                                <td>
                                    @(Context.Customer.FirstOrDefault(x => x.userName == item.enquiry.userName).businessContactName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.enquiry.enquiryDate)

                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.enquiry.enquiryExpiryDate)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.enquiry.modeOfTransport)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.enquiry.originOfShipment.locationType) <br /> @Html.DisplayFor(modelItem => item.enquiry.originOfShipment.locationName)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.enquiry.destinationOfShipment.locationType) <br /> @Html.DisplayFor(modelItem => item.enquiry.destinationOfShipment.locationName)

                                </td>
                                <td>

                                    @(item.serviceProvider.businessContactName) (@(item.quotationNumber)) <br />


                                </td>

                                <td>

                                    @(item.quotationChargesLine.Sum(x => x.amount)) <br />


                                </td>
                                <td>
                                    @if (item.quotationStatus == netcore.Models.Invent.QuotationStatus.Expired)
                                    {
                                        <span class="label label-danger">
                                            @Html.DisplayFor(modelItem => item.quotationStatus)
                                        </span>

                                    }
                                    @if (item.quotationStatus == netcore.Models.Invent.QuotationStatus.Submitted)
                                    {
                                        <span class="label label-warning">
                                            @Html.DisplayFor(modelItem => item.quotationStatus)
                                        </span>

                                    }
                                    @if (item.quotationStatus == netcore.Models.Invent.QuotationStatus.Approved)
                                    {
                                        <span class="label label-success">
                                            @Html.DisplayFor(modelItem => item.quotationStatus)
                                        </span>

                                    }
                                    @if (item.quotationStatus == netcore.Models.Invent.QuotationStatus.Draft)
                                    {
                                        <span class="label label-default">
                                            @Html.DisplayFor(modelItem => item.quotationStatus)
                                        </span>

                                    }
                                </td>
                                <td>
                                    <div class="tools">
                                        <a asp-action="Details" asp-controller="Quotation" asp-route-id="@item.quotationId" class="btn btn-bitbucket btn-xs" data-toggle="tooltip" data-placement="top" title="View Quotation"><i class="fa fa-eye"></i></a>

                                    </div>
                                </td>
                            </tr>

                        
                    }
                }
            </tbody>
        </table>
    </div>


    <div class="tab-pane fade in" id="custom-tabs-three-quotations-booked" role="tabpanel" aria-labelledby="custom-tabs-three-quotations-booked-tab">
        <table class="table table-hover table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Enquiry No.
                    </th>
                    <th>
                        Customer
                    </th>
                    <th>
                        Enquiry Date
                    </th>
                    <th>
                        Booking Date
                    </th>
                    <th>
                        Mode
                    </th>
                    <th>
                        Expedition
                    </th>
                    <th>
                        Origin
                    </th>
                    <th>
                        Destination
                    </th>
                    <th>
                        Service Provider & Quotation
                    </th>
                    <th>
                        Quotation Amount
                    </th>
                    <th>
                        Status
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>

                @foreach (var enquiryListItem in Model)
                {
                    @foreach (var item in enquiryListItem.bookingList)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.quotation.enquiry.enquiryNumber)
                            </td>
                            <td>
                                @(Context.Customer.FirstOrDefault(x => x.userName == item.quotation.enquiry.userName).businessContactName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.quotation.enquiry.enquiryDate)

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.bookingDate)

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.quotation.enquiry.modeOfTransport)

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.quotation.expeditionType)

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.quotation.enquiry.originOfShipment.locationType) <br /> @Html.DisplayFor(modelItem => item.quotation.enquiry.originOfShipment.locationName)

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.quotation.enquiry.destinationOfShipment.locationType) <br /> @Html.DisplayFor(modelItem => item.quotation.enquiry.destinationOfShipment.locationName)

                            </td>
                            <td>

                                @(item.quotation.serviceProvider.businessContactName) (@(item.quotation.quotationNumber)) <br />


                            </td>

                            <td>

                                @(item.quotation.quotationChargesLine.Sum(x => x.amount)) <br />


                            </td>
                            <td>
                                @if (item.bookingStatus == netcore.Models.Invent.BookingStatus.New)
                                {
                                    <span class="label label-primary">
                                        @Html.DisplayFor(modelItem => item.bookingStatus)
                                    </span>

                                }
                                else if (item.bookingStatus == netcore.Models.Invent.BookingStatus.Ongoing)
                                {
                                    <span class="label label-success">
                                        @Html.DisplayFor(modelItem => item.bookingStatus)
                                    </span>

                                }
                                else if (item.bookingStatus == netcore.Models.Invent.BookingStatus.Closed)
                                {
                                    <span class="label label-default">
                                        @Html.DisplayFor(modelItem => item.bookingStatus)
                                    </span>

                                }
                            </td>
                            <td>
                                <div class="tools">
                                    <a asp-action="Details" asp-controller="Booking" asp-route-id="@item.bookingId" class="btn btn-bitbucket btn-xs" data-toggle="tooltip" data-placement="top" title="View Quotation"><i class="fa fa-eye"></i></a>

                                </div>
                            </td>
                        </tr>


                    }
                }

            </tbody>
        </table>
    </div>
}




@section Scripts{
    @*<script>
            $(document).ready(function () {
                var mainTable;

                mainTable = $('.table').DataTable({
                    "lengthChange": false,
                    "info": false,
                    "searching": true,
                    "dom": 'lrtip',
                    "scrollX": false,
                    "buttons": [
                                {
                                    extend: 'csv',
                                    filename: '@controller-csv'
                                },
                                {
                                    extend: 'pdf',
                                    filename: '@controller-pdf'
                                },
                                {
                                    extend: 'excel',
                                    filename: '@controller-excel'
                                }
                            ]
                });

                $('#mainSearch').keyup(function () {
                    mainTable.search($(this).val()).draw();
                })

                $("#btn-export-csv").on("click", function() {
                    mainTable.button( '.buttons-csv' ).trigger();
                })

                $("#btn-export-excel").on("click", function() {
                    mainTable.button( '.buttons-excel' ).trigger();
                })

                $("#btn-export-pdf").on("click", function() {
                    mainTable.button( '.buttons-pdf' ).trigger();
                })


                $('[data-toggle="tooltip"]').tooltip();

            });



        </script>*@
}



@*<ul class="nav nav-tabs">
        <li class="active"><a href="#currentEnquiries" data-toggle="pill" id="currentEnquiries"><b>Current Enquiries</b></a></li>
        <li><a href="#missedEnquiries" data-toggle="pill" id="missedEnquiries"><b>Missed Enquiries</b></a></li>
    </ul>

    <div class="tab-content">
        <div class="active tab-pane" id="currentEnquiries">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover table-striped" style="width:100%">
                        <thead>
                            <tr>

                                <th>
                                    @Html.DisplayNameFor(model => model.purchaseOrderNumber)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.deliveryInwardNumber)
                                </th>
                                <th class="hidden">
                                    @Html.DisplayNameFor(model => model.top)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.poDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.deliveryDate)
                                </th>
                                <th class="hidden">
                                    @Html.DisplayNameFor(model => model.deliveryAddress)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.description)
                                </th>

                                <th class="hidden">
                                    @Html.DisplayNameFor(model => model.picVendor)
                                </th>

                                <th class="hidden">
                                    @Html.DisplayNameFor(model => model.totalDiscountAmount)
                                </th>
                                <th class="hidden">
                                    @Html.DisplayNameFor(model => model.totalOrderAmount)
                                </th>
                                <th class="hidden">
                                    @Html.DisplayNameFor(model => model.purchaseReceiveNumber)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.vendor.companyName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.usdRate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.purchaseOrderStatus)
                                </th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.purchaseOrderNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.deliveryInwardNumber)
                                    </td>
                                    <td class="hidden">
                                        @Html.DisplayFor(modelItem => item.top)
                                    </td>
                                    <td>
                                        @item.poDate.Date.ToString("dd-MMM-yyyy")
                                    </td>
                                    <td>
                                        @item.deliveryDate.Date.ToString("dd-MMM-yyyy")

                                    </td>
                                    <td class="hidden">
                                        @Html.DisplayFor(modelItem => item.deliveryAddress)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.description)
                                    </td>

                                    <td class="hidden">
                                        @Html.DisplayFor(modelItem => item.picVendor)
                                    </td>

                                    <td class="hidden">
                                        @Html.DisplayFor(modelItem => item.totalDiscountAmount)
                                    </td>
                                    <td class="hidden">
                                        @Html.DisplayFor(modelItem => item.totalOrderAmount)
                                    </td>
                                    <td class="hidden">
                                        @Html.DisplayFor(modelItem => item.purchaseReceiveNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.vendor.companyName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.usdRate)
                                    </td>
                                    <td>
                                        @if (item.purchaseOrderStatus == netcore.Models.Invent.PurchaseOrderStatus.Completed)
                                        {
                                            <span class="label label-success">
                                                @Html.DisplayFor(modelItem => item.purchaseOrderStatus)
                                            </span>

                                        }
                                        @if (item.purchaseOrderStatus == netcore.Models.Invent.PurchaseOrderStatus.Open)
                                        {
                                            <span class="label label-primary">
                                                @Html.DisplayFor(modelItem => item.purchaseOrderStatus)
                                            </span>

                                        }
                                        @if (item.purchaseOrderStatus == netcore.Models.Invent.PurchaseOrderStatus.Draft)
                                        {
                                            <span class="label label-warning">
                                                @Html.DisplayFor(modelItem => item.purchaseOrderStatus)
                                            </span>

                                        }

                                    </td>
                                    <td>
                                        <div class="tools">
                                            <a asp-action="Details" asp-route-id="@item.purchaseOrderId" class="btn btn-primary btn-xs"><i class="fa fa-eye"></i></a>
                                            <a asp-action="Edit" asp-route-id="@item.purchaseOrderId" class="btn btn-warning btn-xs"><i class="fa fa-file"></i></a>
                                        </div>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>


    <div class="tab-content">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover table-striped" style="width:100%">
                    <thead>
                        <tr>

                            <th>
                                @Html.DisplayNameFor(model => model.purchaseOrderNumber)
                            </th>
                            <th class="hidden">
                                @Html.DisplayNameFor(model => model.top)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.poDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.deliveryDate)
                            </th>
                            <th class="hidden">
                                @Html.DisplayNameFor(model => model.deliveryAddress)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.description)
                            </th>

                            <th class="hidden">
                                @Html.DisplayNameFor(model => model.picVendor)
                            </th>

                            <th class="hidden">
                                @Html.DisplayNameFor(model => model.totalDiscountAmount)
                            </th>
                            <th class="hidden">
                                @Html.DisplayNameFor(model => model.totalOrderAmount)
                            </th>
                            <th class="hidden">
                                @Html.DisplayNameFor(model => model.purchaseReceiveNumber)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.vendor.companyName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.usdRate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.purchaseOrderStatus)
                            </th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.purchaseOrderNumber)
                                </td>
                                <td class="hidden">
                                    @Html.DisplayFor(modelItem => item.top)
                                </td>
                                <td>
                                    @item.poDate.Date.ToString("dd-MMM-yyyy")
                                </td>
                                <td>
                                    @item.deliveryDate.Date.ToString("dd-MMM-yyyy")

                                </td>
                                <td class="hidden">
                                    @Html.DisplayFor(modelItem => item.deliveryAddress)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.description)
                                </td>

                                <td class="hidden">
                                    @Html.DisplayFor(modelItem => item.picVendor)
                                </td>

                                <td class="hidden">
                                    @Html.DisplayFor(modelItem => item.totalDiscountAmount)
                                </td>
                                <td class="hidden">
                                    @Html.DisplayFor(modelItem => item.totalOrderAmount)
                                </td>
                                <td class="hidden">
                                    @Html.DisplayFor(modelItem => item.purchaseReceiveNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.vendor.companyName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.usdRate)
                                </td>
                                <td>
                                    @if (item.purchaseOrderStatus == netcore.Models.Invent.PurchaseOrderStatus.Completed)
                                    {
                                        <span class="label label-success">
                                            @Html.DisplayFor(modelItem => item.purchaseOrderStatus)
                                        </span>

                                    }
                                    @if (item.purchaseOrderStatus == netcore.Models.Invent.PurchaseOrderStatus.Open)
                                    {
                                        <span class="label label-primary">
                                            @Html.DisplayFor(modelItem => item.purchaseOrderStatus)
                                        </span>

                                    }
                                    @if (item.purchaseOrderStatus == netcore.Models.Invent.PurchaseOrderStatus.Draft)
                                    {
                                        <span class="label label-warning">
                                            @Html.DisplayFor(modelItem => item.purchaseOrderStatus)
                                        </span>

                                    }

                                </td>
                                <td>
                                    <div class="tools">
                                        <a asp-action="Details" asp-route-id="@item.purchaseOrderId" class="btn btn-primary btn-xs"><i class="fa fa-eye"></i></a>
                                        <a asp-action="Edit" asp-route-id="@item.purchaseOrderId" class="btn btn-warning btn-xs"><i class="fa fa-file"></i></a>
                                    </div>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>*@





