﻿@*@model IEnumerable<netcore.Models.ScreenViewModels.QuotationViewModel>*@
@inject UserManager<ApplicationUser> UserManager
@inject netcore.Data.ApplicationDbContext Context
@{
    ApplicationUser appUser = await UserManager.GetUserAsync(User);
}



@if (!appUser.isServiceProvider)
{
    <div class="col-md-4">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Cost Breakdown</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="product-img">
                    <img src="~/images/icons/container-details.png" alt="Product Image" style="width: 42px; height: 42px; padding: 5px">

                    <strong class="producttitle" style="font-size:medium">
                        FCL (Sea Freight)
                        <br />
                        <a asp-action="Details" asp-route-id="" data-toggle="tooltip" data-placement="top" title="View" class="product-title" style="font-size:medium; color:#278a87">
                            <span class="label label-default pull-right">100547EN</span>
                        </a>
                    </strong>


                </div>

                <hr />
                <span class="product-description" style="padding-top: 4px; padding-bottom: 4px; padding-left: 10px">
                    <i class="fa fa-ship" style="padding-right: 6px"></i><b>A.P. Moller–Maersk Group</b>
                </span>
                <hr>

                <span class="product-description">
                    <i class="fa fa-calendar" style="padding-right: 6px; padding-left: 10px"></i>4 Jan 2021<i class="fa fa-arrow-right" style="padding-left: 10px; padding-right: 10px"></i>15 Feb 2021
                </span>

                <hr>

                <span class="product-description" style="padding-top: 4px; padding-bottom: 4px; padding-left: 10px">
                    <i class="fa fa-clock-o" style="padding-right: 6px"></i><b>41 Days</b>
                </span>
                <hr />
                <span class="product-description" style="padding-top: 4px; padding-bottom: 4px; padding-left: 10px">
                    <i class="fa fa-arrow-circle-right" style="padding-right: 6px"></i><b>Transfer</b>
                </span>


                <hr>

                <span class="product-description">
                    <i class="fa fa-map-marker" style="padding-right: 6px; padding-left: 10px"></i>Mumbai Port<i class="fa fa-arrow-right" style="padding-left: 10px; padding-right: 10px"></i>Nhavasheva Port
                </span>

                <hr />
                <div class="col-md-12">
                    <p class="lead">Charges</p>
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th style="width:50%">Freight Charges</th>
                                    <td>INR 250.30</td>
                                </tr>
                                <tr>
                                    <th>Surcharge</th>
                                    <td>INR 100.34</td>
                                </tr>
                                <tr>
                                    <th>Terminal Handling Charges</th>
                                    <td>INR 500.80</td>
                                </tr>
                                <tr style="background-color: #E8E9C9;">
                                    <th>TOTAL COST</th>
                                    <td>INR 851.44</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
}

