﻿@model IEnumerable<netcore.Models.Invent.PointOfContactsLine>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminlteNetcoreIndex.cshtml";
}


<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.designation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.contact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isDefaultPOC)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.designation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.contact)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isDefaultPOC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.serviceProvider.serviceProviderId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.pointOfContactLineId"><i class="fa fa-pencil"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.pointOfContactLineId"><i class="fa fa-list"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.pointOfContactLineId"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
