﻿@model netcore.Models.Invent.ServicesLine


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminlteNetcorePopup.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="servicesLineId" />
        <div class="form-group hidden">
            <label asp-for="serviceProviderId" class="control-label"></label>
            <select asp-for="serviceProviderId" class="form-control select2" asp-items="ViewBag.serviceProviderId"></select>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="serviceType" class="control-label"></label>
                    <select asp-for="serviceType" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.ServicesType>()"></select>
                    <span asp-validation-for="serviceType" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
