﻿@model netcore.Models.Invent.ServicesLine

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminlteNetcoreDetails.cshtml";
}



<div class="row">
    <div class="col-md-9">
        <!-- Default box -->
        <div class="box box-primary">
            <div class="box-body">
                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.serviceType)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.serviceType)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.createdAt)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.createdAt)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.serviceProvider)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.serviceProvider.serviceProviderId)
                        </dd>
                    </dl>                                   
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <div class="form-group">
                    <a asp-action="Edit" asp-route-id="@Model.servicesLineId" class="btn btn-primary">Edit</a>
                    <a asp-action="Index" class="btn btn-default">Back to List</a>
                </div>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </div>
    <div class="col-md-3">
    </div>
</div>



