﻿@using netcore.Models.Invent
@inject netcore.Data.ApplicationDbContext Context
@inject UserManager<ApplicationUser> UserManager
@inject netcore.Services.INetcoreService NetCoreServices
@{
    ViewData["Title"] = "Home Index";
    Layout = "_AdminlteNetcore";
    ApplicationUser appUser = await UserManager.GetUserAsync(User);

    int quotationsProvidedCount = 0;
    int quotationsApprovedCount = 0;
    int quotationsExpiredCount = 0;
    int bookingsClosedCount = 0;

    int bookingsOngoingCount = 0;
    int enquiriesPendingCount = 0;
    int enquiriesAcceptedCount = 0;

    if (appUser.isServiceProvider)
    {
        var serviceProviderId = Context.ServiceProvider.FirstOrDefault(x => x.applicationUserId == appUser.Id).serviceProviderId;
        quotationsProvidedCount = Context.Quotation.Where(x => x.userName == appUser.UserName && x.quotationStatus == QuotationStatus.Submitted).Count();
        quotationsApprovedCount = Context.Quotation.Where(x => x.userName == appUser.UserName && x.quotationStatus == QuotationStatus.Approved).Count();
        quotationsExpiredCount = Context.Quotation.Where(x => x.userName == appUser.UserName && x.quotationStatus == QuotationStatus.Expired).Count();
        bookingsOngoingCount = Context.Booking.Where(x => x.serviceProviderId == serviceProviderId && x.bookingStatus == BookingStatus.Ongoing).Count();
        bookingsClosedCount = Context.Booking.Where(x => x.serviceProviderId == serviceProviderId && x.bookingStatus == BookingStatus.Closed).Count();
    }
    else if (appUser.isSuperAdmin)
    {
        enquiriesPendingCount = Context.Enquiry.Where(x => x.enquiryStatus == EnquiryStatus.Pending).Count();
        enquiriesAcceptedCount = Context.Enquiry.Where(x => x.enquiryStatus == EnquiryStatus.Accepted).Count();
        bookingsOngoingCount = Context.Booking.Where(x => x.bookingStatus == BookingStatus.Ongoing).Count();
        bookingsClosedCount = Context.Booking.Where(x => x.bookingStatus == BookingStatus.Closed).Count();
    }
    else
    {
        var customerId = Context.Customer.FirstOrDefault(x => x.applicationUserId == appUser.Id).customerId;
        enquiriesPendingCount = Context.Enquiry.Where(x => x.userName == appUser.UserName && x.enquiryStatus == EnquiryStatus.Pending).Count();
        enquiriesAcceptedCount = Context.Enquiry.Where(x => x.userName == appUser.UserName && x.enquiryStatus == EnquiryStatus.Accepted).Count();
        bookingsOngoingCount = Context.Booking.Where(x => x.customerId == customerId && x.bookingStatus == BookingStatus.Ongoing).Count();
        bookingsClosedCount = Context.Booking.Where(x => x.customerId == customerId && x.bookingStatus == BookingStatus.Closed).Count();
    }

}

<style>
    .round-edges {
        border-radius: 18px;
    }

    .box {
        box-shadow: rgb(5 5 5 / 13%) 0px 6px 16px 0px !important;
        border-radius: 18px;
    }

    .box-body {
        box-shadow: rgb(5 5 5 / 13%) 0px 6px 16px 0px !important;
        border-radius: 18px;
        padding: 20px;
        padding-left: 30px;
        padding-top: 10px;
    }
</style>


@if (appUser.isServiceProvider)
{
    var serviceProviderId = Context.ServiceProvider.FirstOrDefault(x => x.applicationUserId == appUser.Id).serviceProviderId;
    var serviceProvider = Context.ServiceProvider.FirstOrDefault(x => x.applicationUserId == appUser.Id);

    <div class="content-wrapper">
        <section class="content-header">
            <center>
                <h1 style=" font-size: 32px; font-weight: 900; line-height: 48px; color: rgb(51, 51, 51); margin: 0px 0px 8px;">
                    Welcome to <b>SL Freighters HUB,</b> let's get started
                </h1>
            </center>

        </section>

        <section class="content">

            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-aqua"><i class="fa fa-file"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Quotations Provided</span>
                            <span class="info-box-number">@quotationsProvidedCount</span>
                        </div>

                    </div>

                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-green"><i class="fa fa-check"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Quotations Approved</span>
                            <span class="info-box-number">@quotationsApprovedCount</span>
                        </div>

                    </div>

                </div>


                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-yellow"><i class="fa fa-calendar"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Ongoing Bookings</span>
                            <span class="info-box-number">@bookingsOngoingCount</span>
                        </div>

                    </div>

                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-red"><i class="fa fa-check-circle"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Bookings Completed</span>
                            <span class="info-box-number">@bookingsClosedCount</span>
                        </div>

                    </div>

                </div>

            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="box box-solid">
                        <div class="box-body bg-primary">
                            <h1 style="font-weight: 600">Get the best rates here!</h1>
                            <br />
                            <h4 style="padding: 10px"><i class="fa fa-check"></i> Easy to understand and find your freight rates</h4>
                            <h4 style="padding: 10px"><i class="fa fa-check"></i> All your freight needs at one place</h4>
                            <h4 style="padding: 10px"><i class="fa fa-check"></i> Quotes from multiple service provider</h4>
                            <h4 style="padding: 10px"><i class="fa fa-check"></i> A marketplace for freight forwarding</h4>
                        </div>

                    </div>

                </div>
                <div class="col-md-3">
                    @if (!serviceProvider.isVerified)
                    {
                        <div class="box box-solid">
                            <div class="box-body bg-warning">
                                <h2 style="font-weight: 600">Complete Your Profile and KYC!</h2>
                                <br />
                                <h4>Complete and submit all your details and KYC to get things moving.</h4>
                                <br />
                                <h4>Your profile is not approved yet.</h4>
                                <br />
                                <a href="@Url.Action("Details", "ServiceProvider", new { id = serviceProviderId })" class="btn btn-success round-edges pull-right"><i class="fa fa-arrow-right"></i>&nbsp;Click Here</a>
                            </div>

                        </div>
                    }
                    else
                    {
                        <div class="box box-solid">
                            <div class="box-body bg-green-active">
                                <h2 style="font-weight: 600">Your Profile and KYC has been Approved!</h2>
                                <br />
                                <h4>Your profile looks good to us. Get moving! </h4>
                                <br />
                            </div>

                        </div>
                    }

                </div>
                @if (serviceProvider.isVerified)
                {
                    <div class="col-md-3">
                        <div class="box box-solid">
                            <div class="box-body">
                                <h2 style="font-weight: 600">Send Your Quotations</h2>
                                <br />
                                <h4>See if any customer has requested for rates.</h4>
                                <br />
                                <a href="@Url.Action("Index", "Quotation")" class="btn btn-success round-edges pull-right"><i class="fa fa-arrow-right"></i>&nbsp;Click Here</a>
                            </div>

                        </div>

                    </div>
                }
            </div>
        </section>

    </div>

}
else if (appUser.isSuperAdmin)
{

    <div class="content-wrapper">
        <section class="content-header">
            <center>
                <h1 style=" font-size: 32px; font-weight: 900; line-height: 48px; color: rgb(51, 51, 51); margin: 0px 0px 8px;">
                    Welcome to <b>SL Freighters HUB,</b> let's get started
                </h1>
            </center>

        </section>

        <section class="content">

            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-aqua"><i class="fa fa-file"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Rates Requested</span>
                            <span class="info-box-number">@enquiriesPendingCount</span>
                        </div>

                    </div>

                </div>



                <!-- fix for small devices only -->
                <div class="clearfix visible-sm-block"></div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-red"><i class="fa fa-hourglass"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Quotations Expired</span>
                            <span class="info-box-number">@quotationsExpiredCount</span>
                        </div>

                    </div>

                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-yellow"><i class="fa fa-calendar"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Ongoing Bookings</span>
                            <span class="info-box-number">@bookingsOngoingCount</span>
                        </div>

                    </div>

                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-green"><i class="fa fa-check"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Bookings Completed</span>
                            <span class="info-box-number">@bookingsClosedCount</span>
                        </div>

                    </div>

                </div>

            </div>

            <div class="row">
                @*<div class="col-md-4">
            <div class="box box-solid">
                <div class="box-body bg-primary">
                    <h1 style="font-weight: 600">Get the best rates here!</h1>
                    <br />
                    <h4 style="padding: 10px"><i class="fa fa-check"></i> Easy to understand and find your freight rates</h4>
                    <h4 style="padding: 10px"><i class="fa fa-check"></i> All your freight needs at one place</h4>
                    <h4 style="padding: 10px"><i class="fa fa-check"></i> Quotes from multiple service provider</h4>
                    <h4 style="padding: 10px"><i class="fa fa-check"></i> A marketplace for freight forwarding</h4>
                </div>

            </div>

        </div>*@
                <div class="col-md-3">
                    <div class="box box-solid">
                        <div class="box-body">
                            <h2 style="font-weight: 600">Add an article</h2>
                            <br />
                            <h4>Submit a new article to feature on news page</h4>
                            <br />
                            <a href="@Url.Action("Create", "NewsArticle")" class="btn btn-success round-edges pull-right"><i class="fa fa-arrow-right"></i>&nbsp;Post New Article</a>
                        </div>

                    </div>

                </div>
                <div class="col-md-3">
                    <div class="box box-solid">
                        <div class="box-body">
                            <h2 style="font-weight: 600">Search all quotations</h2>
                            <br />
                            <h4>Find all the quotations from various service providers here</h4>
                            <br />
                            <a href="@Url.Action("Index", "Quotation")" class="btn btn-success round-edges pull-right"><i class="fa fa-arrow-right"></i>&nbsp;Click Here</a>
                        </div>

                    </div>

                </div>
                <div class="col-md-3">
                    <div class="box box-solid">
                        <div class="box-body">
                            <h2 style="font-weight: 600">Search all bookings</h2>
                            <br />
                            <h4>Find all the bookings confirmed here</h4>
                            <br />
                            <a href="@Url.Action("Index", "Booking")" class="btn btn-success round-edges pull-right"><i class="fa fa-arrow-right"></i>&nbsp;Click Here</a>
                        </div>

                    </div>

                </div>
                <div class="col-md-3">
                    <div class="box box-solid">
                        <div class="box-body">
                            <h2 style="font-weight: 600">Search all payments</h2>
                            <br />
                            <h4>Find all the payments received here</h4>
                            <br />
                            <a href="@Url.Action("Index", "Booking")" class="btn btn-success round-edges pull-right"><i class="fa fa-arrow-right"></i>&nbsp;Click Here</a>
                        </div>

                    </div>  
                </div>
            </div>
        </section>

    </div>

}
else
{
    var customerId = Context.Customer.FirstOrDefault(x => x.applicationUserId == appUser.Id).customerId;
    var customer = Context.Customer.FirstOrDefault(x => x.applicationUserId == appUser.Id);

    <div class="content-wrapper">
    <section class="content-header">
        <center>
            <h1 style=" font-size: 32px; font-weight: 900; line-height: 48px; color: rgb(51, 51, 51); margin: 0px 0px 8px;">
                Welcome to <b>SL Freighters HUB,</b> let's get started
            </h1>
        </center>

    </section>

    <section class="content">

        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-file"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Rates Requested</span>
                        <span class="info-box-number">@enquiriesPendingCount</span>
                    </div>

                </div>

            </div>



            <!-- fix for small devices only -->
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-red"><i class="fa fa-hourglass"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Quotations Expired</span>
                        <span class="info-box-number">@quotationsExpiredCount</span>
                    </div>

                </div>

            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-yellow"><i class="fa fa-calendar"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Ongoing Bookings</span>
                        <span class="info-box-number">@bookingsOngoingCount</span>
                    </div>

                </div>

            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-green"><i class="fa fa-check"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Bookings Completed</span>
                        <span class="info-box-number">@bookingsClosedCount</span>
                    </div>

                </div>

            </div>

        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="box box-solid">
                    <div class="box-body bg-primary">
                        <h1 style="font-weight: 600">Get the best rates here!</h1>
                        <br />
                        <h4 style="padding: 10px"><i class="fa fa-check"></i> Easy to understand and find your freight rates</h4>
                        <h4 style="padding: 10px"><i class="fa fa-check"></i> All your freight needs at one place</h4>
                        <h4 style="padding: 10px"><i class="fa fa-check"></i> Quotes from multiple service provider</h4>
                        <h4 style="padding: 10px"><i class="fa fa-check"></i> A marketplace for freight forwarding</h4>
                    </div>

                </div>

            </div>


            <div class="col-md-3">
                @if (!customer.isVerified)
                {
                    <div class="box box-solid">
                        <div class="box-body bg-warning">
                            <h2 style="font-weight: 600">Complete Your Profile and KYC!</h2>
                            <br />
                            <h4>Complete and submit all your details and KYC to get things moving.</h4>
                            <br />
                            <h4>Your profile is not approved yet.</h4>
                            <br />
                            <a href="@Url.Action("Details", "Customer", new { id = customerId })" class="btn btn-success round-edges pull-right"><i class="fa fa-arrow-right"></i>&nbsp;Click Here</a>
                        </div>

                    </div>
                }
                else
                {
                    <div class="box box-solid">
                        <div class="box-body bg-green-active">
                            <h2 style="font-weight: 600">Your Profile and KYC has been Approved!</h2>
                            <br />
                            <h4>Your profile looks good to us. Get moving! </h4>
                            <br />
                        </div>

                    </div>
                }


            </div>
            @if (customer.isVerified)
            {
                <div class="col-md-3">
                    <div class="box box-solid">
                        <div class="box-body">
                            <h2 style="font-weight: 600">Search Quotations</h2>
                            <br />
                            <h4>See if any service provider has sent you a quotation.</h4>
                            <br />
                            <a href="@Url.Action("Index", "Quotation")" class="btn btn-success round-edges pull-right"><i class="fa fa-arrow-right"></i>&nbsp;Click Here</a>
                        </div>

                    </div>

                </div>
            }
        </div>
    </section>

</div>

}






@section Styles{

}


@section Scripts{
    <!-- ChartJS -->
    <script src="~/adminlte/components/chart.js/Chart.js"></script>
    <script>
        $(document).ready(function () {
            var mainTable;

            mainTable = $('.table').DataTable({
                "lengthChange": true,
                "info": true,
                "searching": true,
                "dom": 'lrtip',
                "scrollX": false,
                "buttons": [
                                {
                                    extend: 'csv',
                                    filename: 'stock-csv'
                                },
                                {
                                    extend: 'pdf',
                                    filename: 'stock-pdf'
                                },
                                {
                                    extend: 'excel',
                                    filename: 'stock-excel'
                                }
                ],

                "footerCallback": function (row, data, start, end, display) {
                    var api = this.api(), data;

                    // Remove the formatting to get integer data for summation
                    var intVal = function (i) {
                        return typeof i === 'string' ?
                            i.replace(/[\$,]/g, '') * 1 :
                            typeof i === 'number' ?
                                i : 0;
                    };
                    //// Total Received
                    //total = api
                    //    .column(3)
                    //    .data()
                    //    .reduce(function (a, b) {
                    //        return intVal(a) + intVal(b);
                    //    }, 0);

                    //// Total Received over this page
                    //pageTotal = api
                    //    .column(3, { page: 'current' })
                    //    .data()
                    //    .reduce(function (a, b) {
                    //        return intVal(a) + intVal(b);
                    //    }, 0);

                    //// Update footer Total Received
                    //$(api.column(3).footer()).html(
                    //    pageTotal
                    //);



                    //// Total Received
                    //total = api
                    //    .column(4)
                    //    .data()
                    //    .reduce(function (a, b) {
                    //        return intVal(a) + intVal(b);
                    //    }, 0);

                    //// Total Received over this page
                    //pageTotal = api
                    //    .column(4, { page: 'current' })
                    //    .data()
                    //    .reduce(function (a, b) {
                    //        return intVal(a) + intVal(b);
                    //    }, 0);

                    //// Update footer Total Received
                    //$(api.column(4).footer()).html(
                    //    pageTotal
                    //);




                    //// Total Sales
                    //total = api
                    //    .column(5)
                    //    .data()
                    //    .reduce(function (a, b) {
                    //        return intVal(a) + intVal(b);
                    //    }, 0);

                    //// Total Sales over this page
                    //pageTotal = api
                    //    .column(5, { page: 'current' })
                    //    .data()
                    //    .reduce(function (a, b) {
                    //        return intVal(a) + intVal(b);
                    //    }, 0);

                    //// Update footer Total Sales
                    //$(api.column(5).footer()).html(
                    //    pageTotal
                    //);



                    //// Total Qty
                    //total = api
                    //    .column(6)
                    //    .data()
                    //    .reduce(function (a, b) {
                    //        return intVal(a) + intVal(b);
                    //    }, 0);

                    //// Total Qty over this page
                    //pageTotal = api
                    //    .column(6, { page: 'current' })
                    //    .data()
                    //    .reduce(function (a, b) {
                    //        return intVal(a) + intVal(b);
                    //    }, 0);

                    //// Update footer Total Qty
                    //$(api.column(6).footer()).html(
                    //    pageTotal
                    //);



                    //// Total Weight Kg
                    //total = api
                    //    .column(8)
                    //    .data()
                    //    .reduce(function (a, b) {
                    //        return intVal(a) + intVal(b);
                    //    }, 0);

                    //// Total Weight Kg over this page
                    //pageTotal = api
                    //    .column(8, { page: 'current' })
                    //    .data()
                    //    .reduce(function (a, b) {
                    //        return intVal(a) + intVal(b);
                    //    }, 0);

                    //// Update footer Total Weight Kg
                    //$(api.column(8).footer()).html(
                    //    pageTotal + ' (Gross: '+total+')'
                    //);



                    //// Total Amount RS
                    //total = api
                    //    .column(9)
                    //    .data()
                    //    .reduce(function (a, b) {
                    //        return intVal(a) + intVal(b);
                    //    }, 0);

                    //// Total Amount RS over this page
                    //pageTotal = api
                    //    .column(9, { page: 'current' })
                    //    .data()
                    //    .reduce(function (a, b) {
                    //        return intVal(a) + intVal(b);
                    //    }, 0);

                    //// Update footer Total Amount RS
                    //$(api.column(9).footer()).html(
                    //    pageTotal + ' (Gross: '+total+')'
                    //);


                }
            });

            $('#mainSearch').keyup(function () {
                mainTable.search($(this).val()).draw();
            });


            //DONUT CHART
            @*var donut = new Morris.Donut({
                element: 'sales-chart',
                resize: true,
                colors: ["#008d4c", "#d33724", "#f39c12", "#00a7d0" ],
                data: [
                    { label: "Quotations Provided", value: @quotquotationsProvidedCount },
                    { label: "Bookings", value: @bookingsCount },
                    { label: "Imports", value: @importCount },
                    { label: "Exports", value: @exportCount }
                ],
                hideHover: 'auto'
            });*@


            ////-------------
            ////- PIE CHART -
            ////-------------
            //// Get context with jQuery - using jQuery's .get() method.
            //var pieChartCanvas = $('#pieChart').get(0).getContext('2d');
            //var pieChart       = new Chart(pieChartCanvas);
            //var pieOptions     = {
            //    //Boolean - Whether we should show a stroke on each segment
            //    segmentShowStroke    : true,
            //    //String - The colour of each segment stroke
            //    segmentStrokeColor   : '#fff',
            //    //Number - The width of each segment stroke
            //    segmentStrokeWidth   : 2,
            //    //Number - The percentage of the chart that we cut out of the middle
            //    percentageInnerCutout: 50, // This is 0 for Pie charts
            //    //Number - Amount of animation steps
            //    animationSteps       : 100,
            //    //String - Animation easing effect
            //    animationEasing      : 'easeOutBounce',
            //    //Boolean - Whether we animate the rotation of the Doughnut
            //    animateRotate        : true,
            //    //Boolean - Whether we animate scaling the Doughnut from the centre
            //    animateScale         : false,
            //    //Boolean - whether to make the chart responsive to window resizing
            //    responsive           : true,
            //    // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
            //    maintainAspectRatio  : true,
            //    //String - A legend template
            //    legendTemplate       : '<ul class="<%=name.toLowerCase()%>-legend"><% for (var i=0; i<segments.length; i++){%><li><span style="background-color:<%=segments[i].fillColor%>"></span><%if(segments[i].label){%><%=segments[i].label%><%}%></li><%}%></ul>'
            //};


            //$.ajax({
            //url: '/api/dashboard/getpiedata',
            //type: 'GET',
            //dataType: 'json',
            //success: function (data) {

            //    //Create pie or douhnut chart
            //    pieChart.Doughnut(data, pieOptions)

            //},
            //    error: function (error) {
            //        console.log(error);
            //    }

            //});


        //-------------
        //- BAR CHART -
        //-------------

        var barChartCanvas                   = $('#barChart').get(0).getContext('2d')
        var barChart                         = new Chart(barChartCanvas)

        var barChartOptions                  = {
            //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
            scaleBeginAtZero        : true,
            //Boolean - Whether grid lines are shown across the chart
            scaleShowGridLines      : true,
            //String - Colour of the grid lines
            scaleGridLineColor      : 'rgba(0,0,0,.05)',
            //Number - Width of the grid lines
            scaleGridLineWidth      : 1,
            //Boolean - Whether to show horizontal lines (except X axis)
            scaleShowHorizontalLines: true,
            //Boolean - Whether to show vertical lines (except Y axis)
            scaleShowVerticalLines  : true,
            //Boolean - If there is a stroke on each bar
            barShowStroke           : true,
            //Number - Pixel width of the bar stroke
            barStrokeWidth          : 2,
            //Number - Spacing between each of the X value sets
            barValueSpacing         : 5,
            //Number - Spacing between data sets within X values
            barDatasetSpacing       : 1,
            //String - A legend template
            legendTemplate          : '<ul class="<%=name.toLowerCase()%>-legend"><% for (var i=0; i<datasets.length; i++){%><li><span style="background-color:<%=datasets[i].fillColor%>"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>',
            //Boolean - whether to make the chart responsive
            responsive              : true,
            maintainAspectRatio     : true
        }

        barChartOptions.datasetFill = false;


         $.ajax({
            url: '/api/dashboard/getbardata',
            type: 'GET',
            dataType: 'json',
            success: function (data) {

                //Create bar chart
                var barChartData = data;
                barChartData.datasets[1].fillColor = '#00a65a'
                barChartData.datasets[1].strokeColor = '#00a65a'
                barChartData.datasets[1].pointColor = '#00a65a'

                barChartData.datasets[0].fillColor = '#dd4b39'
                barChartData.datasets[0].strokeColor = '#dd4b39'
                barChartData.datasets[0].pointColor = '#dd4b39'

                barChart.Bar(barChartData, barChartOptions);


            },
                error: function (error) {
                    console.log(error);
                }

            });

        });




    </script>
}


