﻿@model netcore.Models.Invent.BookingCustomerDocsLine


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_BookingCustomerDocPopup.cshtml";
}

 @*<form method="post" enctype="multipart/form-data">*@
    <div class="row">
        <div class="col-md-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="bookingId" name="bookingId"/>
            <input type="hidden" asp-for="customerId" name="customerId"/>
            @*<input type="hidden" name="serviceProviderId" value="@Model.serviceProvider.serviceProviderId" />*@
            @*<input type="hidden" name="serviceProviderId" value="@Model.booking.serviceProvider.serviceProviderId" />*@
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <select class="form-control select2" id="serviceProviderDocumentType" data-placeholder="Document Type" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.DocumentType>()" name="documentType">
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="file" name="data" asp-for="data" class="" required />
                        <span asp-validation-for="data" class="text-danger"></span>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
@*</form>*@



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
