﻿
@{
    ViewData["Title"] = "Contact";
    Layout = "_PublicSiteLayout";
}

<!-- Preloader -->
<div id="preloader">
    <div id="status">
        <div class="status-mes"></div>
    </div>
</div>


<div id="st-container" class="st-container">
    <div class="st-pusher">
        <div class="st-content">
            <header class="header">
                <nav class="top-bar">
                    <div class="overlay-bg">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-6 col-xs-12">
                                    <div class="call-to-action">
                                        <ul class="list-inline">
                                            <li><a href="#"><i class="fa fa-phone"></i>+91 123 456 7890</a></li>
                                            <li><a href="#"><i class="fa fa-envelope"></i> admin@domain.com</a></li>
                                        </ul>
                                    </div><!-- /.call-to-action -->
                                </div><!-- /.col-sm-6 -->

                                <div class="col-sm-6 hidden-xs">
                                    <div class="topbar-right">
                                        <ul class="social-links list-inline pull-right">
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                            <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
                                        </ul>
                                    </div><!-- /.social-links -->
                                </div><!-- /.col-sm-6 -->
                            </div><!-- /.row -->
                        </div><!-- /.container -->
                    </div><!-- /.overlay-bg -->
                </nav><!-- /.top-bar -->

                <nav class="navbar navbar-default" role="navigation">

                    <div class="container mainnav">
                        <div class="navbar-header">
                            <h1 class="logo"><a class="navbar-brand" style="padding: 6px 10px" href="~/PublicSite/Index"><img src="~/publicsite/img/logo.png" alt=""></a></h1>
                            <span></span>
                            <!-- offcanvas-trigger -->
                            <button type="button" class="navbar-toggle collapsed pull-right">
                                <span class="sr-only">Toggle navigation</span>
                                <i class="fa fa-bars"></i>
                            </button>

                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse navbar-collapse">

                            <span class="search-button pull-right"></span>
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="~/PublicSite/Index">Home</a></li>


                                <!-- <li class="dropdown"><a href="service.html">Services <span class="fa fa-angle-down"></span></a>
                    <div class="submenu-wrapper">
                        <div class="submenu-inner">
                            <ul class="dropdown-menu">
                                <li><a href="air.html">Air transportation</a></li>
                                <li><a href="marine.html">Marine transportation</a></li>
                                <li><a href="moving.html">Moving & storage</a></li>
                                <li><a href="shipping.html">Shipping & operations</a></li>
                                <li><a href="transportation.html">Transportation logistics</a></li>
                                <li><a href="trucking.html">Trucking</a></li>
                            </ul>
                        </div>
                    </div>
                </li> -->

                                <li><a href="#">About</a></li>
                                <li><a href="#">Team</a></li>
                                <li class="active"><a href="~/PublicSite/Contact">Contact</a></li>
                                <li><a href="~/Account/Login">Login</a></li>
                                <li><a href="~/Account/Register">Sign Up</a></li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container -->


                </nav>
            </header>

            <section class="page-title-section">
                <div class="container">
                    <div class="page-header-wrap">
                        <div class="page-header">
                            <h1>Contact us</h1>
                        </div>
                        <ol class="breadcrumb">
                            <li><a href="~/PublicSite/Index">Home</a></li>
                            <li class="active">Contact</li>
                        </ol>
                    </div>
                </div>
            </section>


            <section class="contact-info-section">
                <div class="container">
                    <div class="text-center">
                        <h2 class="section-title">Get in Touch</h2>
                        <span class="section-sub">We Are Ready to Help You 24/7</span>
                    </div>

                    <div class="row content-row">

                        <div class="col-md-7">
                            <div class="contact-map">
                                <h3>Contact Form</h3>
                                <form id="mainContact" action="sendemail.php" method="POST">
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input name="name" type="text" class="form-control" required="" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email address</label>
                                        <input name="email" type="email" class="form-control" required="" placeholder="">
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="subject">Subject</label>
                                                <input name="subject" type="text" class="form-control" required="" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="phone">Phone Number</label>
                                                <input name="phone" type="text" class="form-control" placeholder="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group text-area">
                                        <label for="message">Your Message</label>
                                        <textarea name="message" class="form-control" rows="6" required="" placeholder=""></textarea>
                                    </div>

                                    <button type="submit" class="btn btn-primary">Send Message</button>
                                </form>
                            </div>
                        </div>

                        <div class="col-md-5">
                            <div class="contact-info">
                                <h3>Head Office</h3>

                                <address>
                                    Plot No 55, Akruti Green Wood<br>
                                    Konasandra, Banglore-560105, Karnataka<br>
                                    Phone : +12 30 456789<br>
                                    Email : yourname@slfreightershub.com<br>
                                </address>
                            </div><!-- /.contact-info -->

                            <div class="contact-map">
                                <h3>Location Map</h3>

                                <div id="contactMap"></div>
                            </div><!-- /.contact-info -->


                        </div>
                    </div>
                </div>
            </section>

            <section class="other-office-address">
                <div class="container">
                    <h2>World Wide Offices</h2>


                    <div class="row content-row">
                        <div class="col-md-4">
                            <div class="contact-info">
                                <h3>United States Office</h3>

                                <address>
                                    384 Maple Circle<br>
                                    Simi Valley, Nevada 47424<br>
                                    Phone : +12 30 456789<br>
                                    Email : yourname@transport.com<br>
                                </address>
                            </div><!-- /.contact-info -->
                        </div><!-- /.col-md-4 -->

                        <div class="col-md-4">
                            <div class="contact-info">
                                <h3>United Kingdom Office</h3>

                                <address>
                                    384 Maple Circle<br>
                                    Simi Valley, Nevada 47424<br>
                                    Phone : +12 30 456789<br>
                                    Email : yourname@transport.com<br>
                                </address>
                            </div><!-- /.contact-info -->
                        </div><!-- /.col-md-4 -->

                        <div class="col-md-4">
                            <div class="contact-info">
                                <h3>Bangladesh Office</h3>

                                <address>
                                    House# 687-689, Road# 10<br>
                                    Mirpur DOHS, Dhaka 1216<br>
                                    Phone : +12 30 456789<br>
                                    Email : yourname@transport.com<br>
                                </address>
                            </div><!-- /.contact-info -->
                        </div><!-- /.col-md-4 -->
                    </div>
                </div>
            </section>


            <!-- cta start -->
            <section class="cta-section">
                <div class="container text-center">
                    <a data-toggle="modal" @*data-target="#quoteModal"*@ href="~/Account/Login" class="btn btn-primary quote-btn">Get a Quote</a>

                    <!-- Modal -->
                    @*<div class="modal fade" id="quoteModal" tabindex="-1" role="dialog" aria-labelledby="quoteModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="quoteModalLabel">Request a rate for the shipping of your goods.</h4>
                                </div>
                                <div class="modal-body">
                                    <form id="contactForm" action="" method="POST">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="name">Name</label>
                                                    <input id="name" name="name" type="text" class="form-control" required="" placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="company">Company Name</label>
                                                    <input id="company" name="company" type="text" class="form-control" placeholder="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="phone">Phone Number</label>
                                                    <input id="phone" name="phone" type="text" class="form-control" placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="email">Email address</label>
                                                    <input id="email" name="email" type="email" class="form-control" required="" placeholder="">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="city">City Name</label>
                                                    <input id="city" name="city" type="text" class="form-control" placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="subject">Subject</label>
                                                    <input id="subject" name="subject" type="text" class="form-control" required="" placeholder="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group text-area">
                                            <label for="message">Your Message</label>
                                            <textarea id="message" name="message" class="form-control" rows="6" required="" placeholder=""></textarea>
                                        </div>

                                        <button type="submit" class="btn btn-primary">Send Message</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>*@

                </div><!-- /.container -->
            </section><!-- /.cta-section -->
            <!-- cta end -->


            <!-- footer-widget-section start -->
            <section class="footer-widget-section section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-md-offset-1 col-sm-4">
                            <div class="footer-widget">
                                <h3>Place &amp; Contact</h3>

                                <address>
                                    Plot No 55, Akruti Green Wood<br>
                                    Konasandra, Banglore-560105, Karnataka<br>
                                    Phone : +12 30 456789<br>
                                    Email : yourname@slfreightershub.com<br>
                                    <span class="tel">(554) 616-9926</span>
                                </address>


                                <!-- Modal -->
                                <div class="modal fade" id="cssMapModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">Our Location</h4>
                                            </div>
                                            <div class="modal-body">

                                                <div id="googleMap"></div>

                                            </div>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div><!-- End Modal -->
                            </div><!-- /.footer-widget -->
                        </div><!-- /.col-md-4 -->

                        <div class="col-md-3 col-sm-4">
                            <div class="footer-widget">
                                <h3>About SL Freighters HUB</h3>

                                <ul>
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">Service</a></li>
                                </ul>
                            </div>
                        </div>


                    </div><!-- /.row -->
                </div><!-- /.container -->
            </section><!-- /.cta-section -->
            <!-- footer-widget-section end -->


            <!-- copyright-section start -->
            <footer class="copyright-section">
                <div class="container text-center">
                    <div class="footer-menu">
                        <ul>
                            <li><a href="#">Privacy &amp; Cookies</a></li>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">Accessibility</a></li>
                        </ul>
                    </div>

                    <div class="copyright-info">
                        <span>Copyright © 2020 SL FREIGHTERS HUB. All Rights Reserved. </br>Design and Developed by <a href="https://www.overandall.com/"> OVER AND ALL TECH</a>
                    </div>
                </div><!-- /.container -->
            </footer>
            <!-- copyright-section end -->


        </div> <!-- .st-content -->
    </div> <!-- .st-pusher -->


    <!-- OFF CANVAS MENU -->
    <div class="offcanvas-menu offcanvas-effect">
        <div class="offcanvas-wrap">
             <div class="off-canvas-header">
                <button type="button" class="close" aria-hidden="true" data-toggle="offcanvas" id="off-canvas-close-btn">&times;</button>
            </div> 
            <ul id="offcanvasMenu" class="list-unstyled visible-xs visible-sm">
                <li><a href="~/PublicSite/Index">Home<span class="sr-only">(current)</span></a></li>
                <!-- <li>
                    <a href="#">Pages</a>
                    <ul>
                        <li><a href="about.html">About</a></li>
                        <li><a href="service.html">Service</a></li>
                        <li><a href="our-people.html">Our people</a></li>
                        <li><a href="career.html">Career</a></li>
                        <li><a href="faq.html">FAQ Page</a></li>
                        <li><a href="typography.html">Typography</a></li>
                    </ul>

                </li> -->
                <!-- <li>
                    <a href="#">Services</a>
                    <ul>
                        <li><a href="air.html">Air transportation</a></li>
                        <li><a href="marine.html">Marine transportation</a></li>
                        <li><a href="moving.html">Moving &amp; storage</a></li>
                        <li><a href="shipping.html">Shipping &amp; operations</a></li>
                        <li><a href="transportation.html">Transportation logistics</a></li>
                        <li><a href="trucking.html">Trucking</a></li>
                    </ul>

                </li> -->

                <li class="active"><a href="~/PublicSite/Contact">Contact</a></li>
                <li><a href="~/Account/Login">Login</a></li>
                <li><a href="~/Account/Register">SignUp</a></li>
            </ul>
            <div class="offcanvas-widgets hidden-sm hidden-xs">

                <div class="newsletter-widget">
                    <h2>Stay in Touch</h2>
                    <p>Enter your email address to receive news &amp; offers from us</p>

                    <form class="newsletter-form">
                        <div class="form-group">
                            <label class="sr-only" for="InputEmail1">Email address</label>
                            <input type="email" class="form-control" id="InputEmail2" placeholder="Your email address">
                            <button type="submit" class="btn">Send &nbsp;<i class="fa fa-angle-right"></i></button>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div><!-- .offcanvas-menu -->
</div><!-- /st-container -->
