﻿
@{
    ViewData["Title"] = "SL Freighters HUB";
    Layout = "_PublicSiteLayout";
}



<!-- Preloader -->
<div id="preloader">
    <div id="status">
        <div class="centered">
            <div class="blob-1"></div>
            <div class="blob-2"></div>
        </div>
    </div>
</div>


<header class="nav-style-1">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white px-lg-5">
        <a class="navbar-brand" href="~/PublicSite/Index">
            <img src="~/publicsite/images/logo.png" alt="SL Freighters HUV">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mr-auto">
                <li class="nav-item dropdown active">
                    <a class="nav-link" href="~/PublicSite/Index">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About Us</a>
                    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                        <a class="dropdown-item" href="#">Who We Are</a>
                        <a class="dropdown-item" href="#">Team</a>
                        <a class="dropdown-item" href="#">Services</a>
                        <a class="dropdown-item" href="#">Contact</a>
                        <a class="dropdown-item" href="#">FAQ</a>
                    </div>
                </li>
                @*<li class="nav-item dropdown megamenu-li">
            <a class="nav-link dropdown-toggle" href="#" id="elementsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Product</a>
            <div class="dropdown-menu megamenu" aria-labelledby="elementsDropdown">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <h6>Elements 1</h6>
                            <a class="dropdown-item" href="buttons.html">Buttons</a>
                            <a class="dropdown-item" href="typography.html">Typography</a>
                            <a class="dropdown-item" href="headings.html">Headings</a>
                            <a class="dropdown-item" href="grid.html">Rows & Columns</a>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <h6>Elements 2</h6>
                            <a class="dropdown-item" href="prtables.html">Pricing Tables</a>
                            <a class="dropdown-item" href="teams.html">Teams</a>
                            <a class="dropdown-item" href="services.html">Services</a>
                            <a class="dropdown-item" href="progress.html">Progress Bars</a>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <h6>Elements 3</h6>
                            <a class="dropdown-item" href="counters.html">Counters</a>
                            <a class="dropdown-item" href="alerts.html">Alerts</a>
                            <a class="dropdown-item" href="collapse.html">Collapse</a>
                            <a class="dropdown-item" href="testimonials.html">Testimonials</a>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <h6>Elements 4</h6>
                            <a class="dropdown-item" href="brands.html">Brands</a>
                            <a class="dropdown-item" href="carousels.html">Carousels</a>
                            <a class="dropdown-item" href="lists.html">Lists</a>
                            <a class="dropdown-item" href="cta.html">Call to Action</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>*@
                <li class="nav-item dropdown">
                    <a class="nav-link" href="@Url.Action("NewsDisplay", "NewsArticle")">News</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="@Url.Action("Register", "Account")">Sign Up</a>
                </li>
                <li class="nav-item dropdown megamenu-li">
                    <a class="nav-link" href="@Url.Action("Login", "Account")">Login</a>
                </li>
            </ul>
        </div>

        <div class="social-icons d-none d-xl-block">
            <a href="#" class="btn btn-facebook btn-circle"></a>
            <a href="#" class="btn btn-twitter btn-circle"></a>
            <a href="#" class="btn btn-instagram btn-circle"></a>
            <a href="#" class="btn btn-youtube btn-circle"></a>
        </div>

    </nav>
</header>

<!-- Main Content -->
<main>

    <!-- Header -->
    <section id="hero" class="hero-style-1 d-flex align-content-center min-vh-100 align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h5 class="sup-title">Welcome to SL Freighters HUB</h5>
                    <h1>Get your logistics solution instantly</h1>
                    <p class="lead">Are you looking for a freight? Find, compare & book the best freight rates from any carrier and track your shipments at every step until destination.</p>
                    <a href="@Url.Action("Login", "Account")" class="btn btn-gradient btn-large">Get Started</a>
                </div>
                <div class="col-4">
                    <div class="hero-splash d-none d-xl-block">
                        <img src="~/publicsite/images/hero/cargo.png" alt="Rocketman" />
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="900px" height="900px" viewBox="0 0 900 900" enable-background="new 0 0 900 900" xml:space="preserve">
                        <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="1315.47754" y1="-279.00488" x2="635.14343" y2="824.8797">
                        <stop offset="0" style="stop-color:#053146" />
                        <stop offset="1" style="stop-color:#159a89" />
              		</linearGradient>
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="url(#SVGID_1_)" class="st1 morph-path2" d="M233.57422,651.77246c129.98828,2.26563,201.22998,185.49219,335.5625,201.33398
                 	  c126.72461,14.94727,205.71094-87.4043,213.76563-201.64844c9.51758-134.95313,101.84961-239.64063,104.64063-375.43896
                 		c2.81641-137.30127-85.23828-262.12891-228.26758-221.45117c-67.48145,19.19287-113.81152,46.7168-187.45215,39.3667
                 		c-69.32617-6.91846-135.28662-44.71729-205.02393-45.83203C143.72314,46.1333,43.25635,176.43164,28.58105,291.36084
                 		c-8.61621,67.49561,31.57471,82.75391,51.76758,140.12061c16.41016,46.63281,0.10889,84.45508,3.41406,132.20508
                 		C90.14893,656.0166,150.64795,650.32324,233.57422,651.77246z" />
                </svg>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Services -->
    <section id="services">
        <div class="container">
            <div class="row text-center mb-3">
                <div class="col">
                    <h4>A marketplace designed to accomplish your goals</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <!-- About item 1 -->
                    <div class="media bg-white" data-aos="fade-left">
                        <img src="~/publicsite/images/services/container.png" class="img-fluid mr-4 service-image align-self-center" alt="Services">
                        <div class="media-body">
                            <h5>FCL, LCL, Air & Land</h5>
                            <p>Popular options for shipment to choose from</p>
                        </div>
                    </div>
                    <!-- About item 2 -->
                    <div class="media bg-white" data-aos="fade-left">
                        <img src="~/publicsite/images/services/collaboration.png" class="img-fluid mr-4 service-image align-self-center" alt="Services">
                        <div class="media-body">
                            <h5>Consignee & Shipper Interactions</h5>
                            <p>Smart tool for customer and service provider information</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <!-- About item 3 -->
                    <div class="media bg-white" data-aos="fade-left">
                        <img src="~/publicsite/images/services/arrows.png" class="img-fluid mr-4 service-image align-self-center" alt="Services">
                        <div class="media-body">
                            <h5>100% Transparent</h5>
                            <p>Upfront visibility and cost breakdowns</p>
                        </div>
                    </div>
                    <!-- About item 4 -->
                    <div class="media bg-white" data-aos="fade-left">
                        <img src="~/publicsite/images/services/lock.png" class="img-fluid mr-4 service-image align-self-center" alt="Services">
                        <div class="media-body">
                            <h5>Safe & Sercure Process</h5>
                            <p>All your data and information is stored on a secure server</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <!-- About item 3 -->
                    <div class="media bg-white" data-aos="fade-left">
                        <img src="~/publicsite/images/services/dashboard.png" class="img-fluid mr-4 service-image align-self-center" alt="Services">
                        <div class="media-body">
                            <h5>Complete Dashboard</h5>
                            <p>Easy to use end to end logistics tool</p>
                        </div>
                    </div>
                    <!-- About item 4 -->
                    <div class="media bg-white" data-aos="fade-left">
                        <img src="~/publicsite/images/services/cost-effective.png" class="img-fluid mr-4 service-image align-self-center" alt="Services">
                        <div class="media-body">
                            <h5>Minimal Costs</h5>
                            <p>Plan, book and ship with minimal portal charges today</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Services -->
    <section id="services" class="text-center">
        <div class="container">
            <div class="row text-center mb-3">
                <div class="col">
                    <h5 class="text-primary mb-3">Book your shipping needs instantly</h5>
                    <h3 class="mt-1">Services Provided</h3>
                </div>
            </div>
            <div class="row">
                <!-- Service Item 1 -->
                <div class="col-lg-4" data-aos="fade-up">
                    <div class="service service-style-1">
                        <img src="~/publicsite/images/services/sea-cargo.png" alt="Services" />
                        <h5 class="service-title">Sea</h5>
                        <span class="service-text">FCL and LCL shipping options and book instantly with best rates.</span>
                    </div>
                </div>
                <!-- Service Item 2 -->
                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="service service-style-1">
                        <img src="~/publicsite/images/services/air-cargo.jpg" alt="Services" />
                        <h5 class="service-title">Air</h5>
                        <span class="service-text">Air shipping options and book instantly with best rates.</span>
                    </div>
                </div>
                <!-- Service Item 3 -->
                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="service service-style-1">
                        <img src="~/publicsite/images/services/land-cargo.png" alt="Services" />
                        <h5 class="service-title">Land</h5>
                        <span class="service-text">Truck and Rail shipping options and book instantly with best rates.</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About -->
    <section id="about">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6" data-aos="fade-right">
                    <div class="about-splash">
                        <!-- <img class="man-figure-left d-none d-xl-block" src="images/about/man-left.png" alt="About figure" /> -->
                        <img src="~/publicsite/images/about/process.png" alt="About us" class="img-fluid mb-5" />
                        <!-- <img class="man-figure-right d-none d-xl-block" src="images/about/man-right.png" alt="About figure" /> -->

                    </div>
                </div>
                <div class="col-lg-5 px-lg-5 align-self-center" data-aos="fade-left">
                    <h5 class="text-primary mb-3">Welcome to SL Freighters Hub</h5>
                    <h3 class="mt-1">Where you find the best freight deals</h3>
                    <p class="lead">The best marketplace to find or request rates from verified and trusted freight forwarders in seconds, to book, plan, share, budget, or add to quote. Transparent, clear and simple.</p>
                    <p>Get rates from your preferred ocean freight shipping lines. And select the best option for you and book your container shipment in minutes.</p>
                    <!-- <a class="video-btn mfp-iframe" href="https://www.youtube.com/watch?v=Scxs7L0vhZ4?autoplay=1"><i class="fas fa-play"></i></a> -->
                </div>
            </div>
        </div>
    </section>


    <!-- Features -->
    <section id="features">
        <div class="container-fluid">
            <div class="row">
                <div class="offset-lg-1 col-lg-6 align-self-center" data-aos="fade-right">
                    <img src="~/publicsite/images/about/complete-logistics.png" alt="Features" class="img-fluid mb-5" />
                </div>
                <div class="col-lg-4 align-self-center" data-aos="fade-left">
                    <h4 class="mt-1">How it's done?</h4>
                    <p class="lead">Experience clear deliverables of excellence and quantifiable performance benchmarks all backed by full guarantees.</p>
                    <!-- Feature item 1 -->
                    <div class="media mb-0 bg-white" data-aos="fade-left">
                        <img src="~/publicsite/images/about/checklist.png" class="img-fluid mr-4 service-image align-self-center" alt="Services">
                        <div class="media-body">
                            <h6>Plan Shipment & Quotation</h6>
                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.</p>
                        </div>
                    </div>
                    <!-- Feature item 3 -->
                    <div class="media mb-0 bg-white" data-aos="fade-left">
                        <img src="~/publicsite/images/about/card-payment.png" class="img-fluid mr-4 service-image align-self-center" alt="Services">
                        <div class="media-body">
                            <h6>Easy Payments & Bookings</h6>
                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.</p>
                        </div>
                    </div>
                    <!-- Feature item 2 -->
                    <div class="media mb-0 bg-white" data-aos="fade-left">
                        <img src="~/publicsite/images/about/cargo-truck.png" class="img-fluid mr-4 service-image align-self-center" alt="Services">
                        <div class="media-body">
                            <h6>Transport & Delivery</h6>
                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.</p>
                        </div>
                    </div>
                    <a href="@Url.Action("Register", "Account")" class="btn btn-medium btn-primary">Get started with us</a>
                </div>
            </div>
        </div>
    </section>


    <!-- Team -->
    <section id="team" class="text-center">
        <div class="container">
            <div class="row mb-3">
                <div class="col">
                    <h5 class="text-primary mb-3">The team</h5>
                    <h3 class="mt-1">Our Experts</h3>
                </div>
            </div>
            <div class="row">
                <!-- Team Member 1 -->
                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="0">
                    <div class="team-member">
                        <img src="~/publicsite/images/team/team2.jpg" class="rounded-circle" alt="Team member">
                        <div class="member-social">
                            <a href="#" class="btn btn-facebook btn-circle"></a>
                            <a href="#" class="btn btn-twitter btn-circle"></a>
                            <a href="#" class="btn btn-instagram btn-circle"></a>
                        </div>
                        <h6 class="member-name">Mr. Reddy</h6>
                        <span class="member-title">Founder</span>
                    </div>
                </div>
                <!-- Team Member 2 -->
                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="team-member">
                        <img src="~/publicsite/images/team/team1.jpg" class="rounded-circle" alt="Team member">
                        <div class="member-social">
                            <a href="#" class="btn btn-facebook btn-circle"></a>
                            <a href="#" class="btn btn-twitter btn-circle"></a>
                            <a href="#" class="btn btn-instagram btn-circle"></a>
                        </div>
                        <h6 class="member-name">Mrs. Lia</h6>
                        <span class="member-title">Head</span>
                    </div>
                </div>
                <!-- Team Member 3 -->
                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="team-member">
                        <img src="~/publicsite/images/team/team2.jpg" class="rounded-circle" alt="Team member">
                        <div class="member-social">
                            <a href="#" class="btn btn-facebook btn-circle"></a>
                            <a href="#" class="btn btn-twitter btn-circle"></a>
                            <a href="#" class="btn btn-instagram btn-circle"></a>
                        </div>
                        <h6 class="member-name">Mr. John</h6>
                        <span class="member-title">Support</span>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Achievements -->
    <section id="achievements" class="px-lg-5">
        <div class="container-fluid">
            <div class="row">
                <div class="offset-lg-1 col-lg-4 pr-lg-5 align-self-center" data-aos="fade-right">
                    <h5 class="text-primary mb-3">We are proud</h5>
                    <h3 class="mt-1">What we have achieved so far</h3>
                </div>
                <!-- Counter 1 -->
                <div class="col-lg-2 align-self-center">
                    <div data-aos="zoom-in" data-aos-delay="0">
                        <div class="counter counter-primary">
                            <span class="timer" data-from="1" data-to="8000" data-speed="3000">+</span>
                            <h6 class="timer-title">Registered Members</h6>
                        </div>
                    </div>
                </div>
                <!-- Counter 2 & 3 -->
                <div class="col-lg-2 align-self-center">
                    <div data-aos="zoom-in" data-aos-delay="100">
                        <div class="counter counter-primary">
                            <span class="timer" data-from="1" data-to="2000" data-speed="3000"></span>
                            <h6 class="timer-title">Daily Enquiries</h6>
                        </div>
                    </div>
                    <div data-aos="zoom-in" data-aos-delay="200">
                        <div class="counter counter-primary">
                            <span class="timer" data-from="1" data-to="51000" data-speed="3000"></span>
                            <h6 class="timer-title">Bookings Done</h6>
                        </div>
                    </div>
                </div>
                <!-- Counter 4 -->
                <div class="col-lg-2 align-self-center">
                    <div data-aos="zoom-in" data-aos-delay="300">
                        <div class="counter counter-primary">
                            <span class="timer" data-from="1" data-to="4534" data-speed="3000"></span>
                            <h6 class="timer-title">Shipments Completed</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- Customers -->
    <section id="customers" class="pt-120" data-aos="zoom-in">
        <div class="container">
            <div class="row text-center">
                <div class="col">
                    <h5 class="text-primary mb-3">Testimonials</h5>
                    <h3 class="mt-1">Our customers say</h3>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col">
                    <!-- Opinions Carousel -->
                    <div class="owl-testimonials owl-carousel owl-theme">
                        <!-- Opinion 1 -->
                        <div class="item testimonial">
                            <img src="~/publicsite/images/testimonials/people1.jpg" class="quote-image rounded-circle" alt="Quote author">
                            <span class="quote-message">"First trip to the barbershop - top draw, great place, great location, great people!"</span>
                            <div class="quote-info">
                                <h6 class="quote-author">Anna</h6>
                                <span class="quote-job">CEO / Super Company LTD</span>
                            </div>
                        </div>
                        <!-- Opinion 2 -->
                        <div class="item testimonial">
                            <img src="~/publicsite/images/testimonials/people2.jpg" class="quote-image rounded-circle" alt="Quote author">
                            <span class="quote-message">"Polite, professional, charming and courteous team. The best haircut I have ever had!"</span>
                            <div class="quote-info">
                                <h6 class="quote-author">Marcelo</h6>
                                <span class="quote-job">CEO / Super Company CO</span>
                            </div>
                        </div>
                        <!-- Opinion 3 -->
                        <div class="item testimonial">
                            <img src="~/publicsite/images/testimonials/people3.jpg" class="quote-image rounded-circle" alt="Quote author">
                            <span class="quote-message">"Ok, that was a great experience. Great talk, proffessional job. My favourite barbershop!"</span>
                            <div class="quote-info">
                                <h6 class="quote-author">Jessica</h6>
                                <span class="quote-job">Professor / Super College</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</main>

<!-- Footer -->
<footer id="footer" class="px-lg-5 pb-80 pt-120">
    <div class="figures d-none d-xl-block">
        <img class="figure-2" src="~/publicsite/images/footer/02.png" alt="Man">
    </div>
    <div class="container-fluid">
        <div class="row">
            <!-- Contact Info -->
            <div class="col-lg-5 px-lg-5">
                <img src="~/publicsite/images/logo.png" alt="Cando HTML5 Template">
                <p class="mt-15">Are you looking for a freight? Find, compare & book the best freight rates from any carrier and track your shipments at every step until destination.</p>
                <div class="social-icons">
                    <a href="#" class="btn btn-facebook btn-circle"></a>
                    <a href="#" class="btn btn-twitter btn-circle"></a>
                    <a href="#" class="btn btn-instagram btn-circle"></a>
                    <a href="#" class="btn btn-youtube btn-circle"></a>
                </div>
            </div>
            <!-- Our Services-->
            <div class="offset-lg-1  col-lg-2 px-lg-5 footer-info">
                <h5>SLF Hub</h5>
                <ul class="mt-0 list-unstyled">
                    <li><a href="#">Freight Rate Enquiry</a></li>
                    <li><a href="#">Container Tracking</a></li>
                    <li><a href="#">Send Quotes</a></li>
                    <li><a href="#">Shipping Documents</a></li>
                </ul>
            </div>

            <!-- Important Links-->
            <div class="col-lg-2 px-lg-5 footer-info">
                <h5>Privacy</h5>
                <ul class="mt-0 list-unstyled">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Personal Data</a></li>
                    <li><a href="#">Safe Transactions</a></li>
                    <li><a href="#">Chat Support</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                </ul>
            </div>
            <!-- Social -->
            <div class="col-lg-2 pr-lg-5 footer-info">
                <h5>About Us</h5>
                <ul class="mt-0 list-unstyled">
                    <li><a href="#">Our Team</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">FAQs</a></li>
                </ul>
            </div>
        </div>
        <div class="row text-center mt-40">
            <!-- Copyrights & Social Icons -->
            <div class="col">
                <span class="copyright">Copyright 2021 SL Freighters Hub<span class="primary"></span></span>
            </div>
        </div>
    </div>
</footer>

<div class="back-to-top">
    <a class="backToTop" href="#hero"><i class="fas fa-chevron-up"></i></a>
</div>

