﻿@model netcore.Models.Invent.ServiceProvider
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminlteNetcoreCreate.cshtml";
    ViewData["EntityIcon"] = "fa fa-industry";
    ViewData["CreateInfo"] = "Service Provider is an entity that providers services to your company.";
}


<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="serviceProviderId" />
        <input type="hidden" asp-for="applicationUserId" />
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="companyName" class="control-label"></label>
                    <input asp-for="companyName" class="form-control" />
                    <span asp-validation-for="companyName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="description" class="control-label"></label>
                    <input asp-for="description" class="form-control" />
                    <span asp-validation-for="description" class="text-danger"></span>
                </div>
                @*<div class="form-group">
                        <label asp-for="description" class="control-label"></label>
                        <select asp-for="description" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.BusinessSize>()"></select>
                        <span asp-validation-for="description" class="text-danger"></span>
                    </div>*@
            </div>
        </div>
        <div class="row">

            <div class="col-md-6">

                <div class="form-group">
                    <label asp-for="officialAddress" class="control-label"></label>
                    <input asp-for="officialAddress" class="form-control" />
                    <span asp-validation-for="officialAddress" class="text-danger"></span>
                </div>
            </div>


            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="businessContactName" class="control-label"></label>
                    <input asp-for="businessContactName" class="form-control" />
                    <span asp-validation-for="businessContactName" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label asp-for="primaryEmail" class="control-label"></label>
                    <input asp-for="primaryEmail" class="form-control" />
                    <span asp-validation-for="primaryEmail" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="primaryContact" class="control-label"></label>
                    <input asp-for="primaryContact" class="form-control" />
                    <span asp-validation-for="primaryContact" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="countryOfRegistration" class="control-label"></label>
                    @*@Html.DropDownListFor(x => x.countryOfRegistration, Html.GetEnumSelectList<netcore.Models.Invent.Countries>())*@

                    <select asp-for="countryOfRegistration" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.Countries>()"></select>
                    <span asp-validation-for="countryOfRegistration" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="gstNo" class="control-label"></label>
                    <input asp-for="gstNo" class="form-control" />
                    <span asp-validation-for="gstNo" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="panNo" class="control-label"></label>
                    <input asp-for="panNo" class="form-control" />
                    <span asp-validation-for="panNo" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="addressProofDocument" class="control-label"></label>
                    <input asp-for="addressProofDocument" class="form-control" />
                    <span asp-validation-for="addressProofDocument" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
