﻿@model netcore.Models.Invent.ServiceProvider
@inject netcore.Data.ApplicationDbContext _context;

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminlteNetcoreDelete.cshtml";
    ViewData["EntityIcon"] = "fa fa-industry";
    ViewData["DeleteInfo"] = "Services Providers that already have transactions (PO) can not be deleted.";
    //netcore.Models.Invent.PurchaseOrder purchaseOrder = _context.PurchaseOrder.Where(x => x.vendorId.Equals(Model.vendorId)).FirstOrDefault();
    ViewData["IsCanDeleted"] = false;
    //if (purchaseOrder == null)
    //{
    //    ViewData["IsCanDeleted"] = true;
    //}
}


@Html.Partial("_StatusMessage", (string)ViewBag.StatusMessage)
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.companyName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.companyName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.officialAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.officialAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.businessContactName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.businessContactName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.primaryEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.primaryEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.primaryContact)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.primaryContact)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.countryOfRegistration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.countryOfRegistration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.gstNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.gstNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.panNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.panNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.createdAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.createdAt)
        </dd>
    </dl>

</div>
