﻿@model netcore.Models.Invent.ServiceProvider
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminlteNetcoreDetails.cshtml";
    ViewData["EntityIcon"] = "fa fa-industry";
    ApplicationUser appUser = await UserManager.GetUserAsync(User);

}



<main class="my-12">
    <div class="container">
        <div id="wizard">
            <h3>
                <div class="media">
                    <div class="bd-wizard-step-icon"><i class="glyphicon glyphicon-registration-mark"></i></div>
                    <div class="media-body">
                        <div class="bd-wizard-step-title">Company Info</div>
                        <div class="bd-wizard-step-subtitle">Step 1</div>
                    </div>
                </div>
            </h3>
            <section>
                @if (!appUser.isSuperAdmin)
                {
                    <div class="row pull-right">
                        <div class="form-group col-md-2">
                            <a class="btn btn-success" style="margin-bottom:10px" onclick="ShowCompanyInfoPopup('@Url.Action("Edit","ServiceProvider", new { id = Model.serviceProviderId })')"><i class="fa fa-pencil"></i> Edit</a>
                        </div>
                    </div>
                }

                <div class="row">
                    <div class="wrapper">
                        <h4 class="section-heading">Company Details </h4>
                        <div class="row">
                            <div class="form-group col-md-6 txtBox">
                                <label asp-for="applicationUser.UserName" class="control-label"></label>
                                <input asp-for="applicationUser.UserName" class="form-control txtBox" style="background-color: #fff" name="companyName" id="companyName" placeholder="-" readonly />
                                <span asp-validation-for="applicationUser.UserName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 txtBox">
                                <label asp-for="companyName" class="control-label"></label>
                                <input asp-for="companyName" class="form-control txtBox" style="background-color: #fff" name="companyName" id="companyName" placeholder="-" readonly />
                                <span asp-validation-for="companyName" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="businessContactName" class="control-label"></label>
                                <input asp-for="businessContactName" name="businessContactName" style="background-color: #fff" id="businessContactName" class="form-control" placeholder="-" readonly />
                                <span asp-validation-for="businessContactName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label asp-for="primaryEmail" class="control-label"></label>
                                <input asp-for="primaryEmail" name="primaryEmail" id="primaryEmail" class="form-control" placeholder="-" style="background-color: #fff" readonly />
                                <span asp-validation-for="primaryEmail" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="primaryContact" class="control-label"></label>
                                <input asp-for="primaryContact" name="primaryContact" id="primaryContact" class="form-control" placeholder="-" style="background-color: #fff" readonly />
                                <span asp-validation-for="primaryContact" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label asp-for="officialAddress" class="control-label"></label>
                                <input asp-for="officialAddress" name="officialAddress" id="officialAddress" class="form-control" placeholder="-" style="background-color: #fff" readonly />
                                <span asp-validation-for="officialAddress" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="location" class="control-label"></label>
                                <input asp-for="location" name="location" id="location" class="form-control" placeholder="-" style="background-color: #fff" readonly />
                                <span asp-validation-for="location" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label asp-for="description" class="control-label"></label>
                                <textarea class="form-control" id="description" asp-for="description" name="description" rows="2" placeholder="-" style="background-color: #fff" readonly></textarea>
                                <span asp-validation-for="description" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                </div>

            </section>
            <h3>
                <div class="media">
                    <div class="bd-wizard-step-icon"><i class="glyphicon glyphicon-phone-alt"></i></div>
                    <div class="media-body">
                        <div class="bd-wizard-step-title">Point Of Contacts</div>
                        <div class="bd-wizard-step-subtitle">Step 2</div>
                    </div>
                </div>
            </h3>
            <section>
                <div class="row">
                    <div class="wrapper">
                        <h4 class="section-heading">Point Of Contact Details </h4>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box box-primary">
                                    <div class="box-body">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <table id="grid2" name="grid2" class="table table-striped table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th class="col-md-3">Contact Name</th>
                                                            <th class="col-md-1">Designation</th>
                                                            <th class="col-md-1">Contact</th>
                                                            <th class="col-md-1">Email Address</th>
                                                            <th class="col-md-1">Is Default POC</th>
                                                            @if (!appUser.isSuperAdmin)
                                                            {
                                                                <th class="col-md-1">Controls</th>
                                                            }
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    @if (!appUser.isSuperAdmin)
                                    {
                                        <div class="box-footer" style="box-shadow: none;">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <a class="btn btn-success pull-right" style="margin-bottom:10px;" onclick="ShowPopup2('@Url.Action("Create","PointOfContactsLine", new { masterid = Model.serviceProviderId })')"><i class="fa fa-plus"></i> Add New Contact</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
            <h3>
                <div class="media">
                    <div class="bd-wizard-step-icon"><i class="glyphicon glyphicon-globe"></i></div>
                    <div class="media-body">
                        <div class="bd-wizard-step-title">Banks & My Services</div>
                        <div class="bd-wizard-step-subtitle">Step 3</div>
                    </div>
                </div>
            </h3>
            <section>
                <div class="wrapper">
                    <h4 class="section-heading">Services</h4>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-primary">
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <table id="grid" name="grid" class="table table-striped table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th class="col-md-3">Service Type</th>
                                                        @if (!appUser.isSuperAdmin)
                                                        {
                                                            <th class="col-md-1">Controls</th>
                                                        }
                                                        </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                 @if (!appUser.isSuperAdmin)
                                 {
                                    <div class="box-footer" style="box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px;">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <a class="btn btn-success pull-right" style="margin-bottom:10px" onclick="ShowPopup('@Url.Action("Create", "ServicesLine", new { masterid = Model.serviceProviderId })')"><i class="fa fa-plus"></i> Add New Service</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                 }

                            </div>

                        </div>
                    </div>


                </div>


                <div class="wrapper">
                    <h4 class="section-heading">Bank Details </h4>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-primary">
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <table id="grid3" name="grid3" class="table table-striped table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th class="col-md-2">Account Holder Name</th>
                                                        <th class="col-md-1">Bank Name</th>
                                                        <th class="col-md-2">Account Number</th>
                                                        <th class="col-md-1">IFSC Code</th>
                                                        <th class="col-md-1">Is Default Bank</th>
                                                        @if (!appUser.isSuperAdmin)
                                                        {
                                                            <th class="col-md-1">Controls</th>
                                                        }
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                 @if (!appUser.isSuperAdmin)
                                 {
                                    <div class="box-footer" style="box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px;">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <a class="btn btn-success pull-right" style="margin-bottom:10px" onclick="ShowPopup3('@Url.Action("Create", "ServiceProviderBanksLine", new { masterid = Model.serviceProviderId })')"><i class="fa fa-plus"></i> Add New Bank</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                 }

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <h3>
                <div class="media">
                    <div class="bd-wizard-step-icon"><i class="glyphicon glyphicon-file"></i></div>
                    <div class="media-body">
                        <div class="bd-wizard-step-title">KYC</div>
                        <div class="bd-wizard-step-subtitle">Step 4</div>
                    </div>
                </div>
            </h3>
            <section>
                @if (!appUser.isSuperAdmin)
                {
                    <div class="row pull-right">
                        <div class="form-group col-md-2">
                            <a class="btn btn-success" style="margin-bottom:10px" onclick="ShowCompanyInfoPopup('@Url.Action("KYCEdit","ServiceProvider", new { id = Model.serviceProviderId })')"><i class="fa fa-pencil"></i> Edit</a>
                        </div>
                    </div>
                }

                <div class="wrapper">
                    <h4 class="section-heading mb-5">KYC & Agreement</h4>
                    <div class="row">

                        <div class="form-group col-md-6">
                            <label asp-for="countryOfRegistration" class="control-label"></label>
                            <input value="@Model.countryOfRegistration.GetDisplayName()" name="countryOfRegistration" id="countryOfRegistration" class="form-control" placeholder="-" style="background-color: #fff" readonly />
                            <span asp-validation-for="countryOfRegistration" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="gstNo" class="control-label"></label>
                            <input asp-for="gstNo" class="form-control" placeholder="-" name="gstNo" id="gstNo" style="background-color: #fff" readonly />
                            <span asp-validation-for="gstNo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label asp-for="panNo" class="control-label"></label>
                            <input asp-for="panNo" class="form-control" placeholder="-" name="panNo" id="panNo" style="background-color: #fff" readonly />
                            <span asp-validation-for="panNo" class="text-danger"></span>
                        </div>
                        @*<div class="form-group col-md-6">
                    <label asp-for="addressProofDocument" class="control-label"></label>
                    <input asp-for="addressProofDocument" class="form-control" name="addressProofDocument" id="addressProofDocument" style="background-color: #fff" readonly />
                    <span asp-validation-for="addressProofDocument" class="text-danger"></span>
                </div>*@
                    </div>



                </div>
                <div class="row text-center">
                    <div class="form-check">

                        <div class="form-group">
                            <div class="checkbox">
                                <label style="font-size: larger">
                                    <input disabled type="checkbox" asp-for="isAcceptedTerms" value="true" name="isVerified" id="isVerified" class="flat-red" style="width: 18px; height: 18px;" checked>
                                    &nbsp;I hereby declare that I had read all the <a href="#!">Terms and Conditions</a>  and all the details provided my me in this form are true.
                                </label>
                            </div>
                        </div>

                    </div>

                    @if (!Model.isVerified)
                    {
                        <div class="form-group">
                            <div class="checkbox">
                                <label style="font-size: larger; font-weight:900">
                                    KYC Not Approved Yet!
                                </label>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            <div class="checkbox">
                                <label style="font-size: larger; font-weight:900">
                                    KYC Is Approved!
                                </label>
                            </div>
                        </div>
                    }
                </div>

            </section>
        </div>
    </div>
</main>


<!--modal placeholder-->
<div class="modal modal-primary fade" id="modalDefault">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>


@section Styles{

    <!-- iCheck -->
    <link rel="stylesheet" href="~/adminlte/plugins/iCheck/all.css" />

}

@section Scripts{
    <script>

        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' /* optional */
            });
        });


        //Service Provider Company Info

        function ShowCompanyInfoPopup(url) {
            var modalId = 'modalDefault';
            var modalPlaceholder = $('#' + modalId + ' .modal-dialog .modal-content');
            $.get(url).done(function (response) {
                modalPlaceholder.html(response);
                popup = $('#' + modalId + '').modal({
                    keyboard: false,
                    backdrop: 'static'
                });
            });
        }


        function SaveCompanyInfo(form) {
            var entity = 'ServiceProvider';
            var apiurl = '/api/' + entity;

            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                var data = $(form).serializeJSON();
                data = JSON.stringify(data);
                $.ajax({
                    type: 'POST',
                    url: apiurl,
                    data: data,
                    contentType: 'application/json',
                    success: function (data) {
                        if (data.success) {
                            popup.modal('hide');
                            ShowMessage(data.message);
                            location.reload();
                        } else {
                            ShowMessageError(data.message);
                        }
                    }
                });

            }
            return false;
        }




        //Services Line

        var popup, dataTable;
        var entity = 'ServicesLine';
        var apiurl = '/api/' + entity;

        $(document).ready(function () {
            dataTable = $('#grid').DataTable({
                "ajax": {
                    "url": apiurl + '?masterid=@Model.serviceProviderId',
                    "type": 'GET',
                    "datatype": 'json'
                },
                "columns": [
                    { "data": "serviceType" },
                    @{ 
                        if (!appUser.isSuperAdmin)
                        {
                            <text>
                            {
                                "data": "servicesLineId",
                                "render": function (data) {
                                    var btnEdit = "<a class='btn btn-primary btn-xs' onclick=ShowPopup('/" + entity + "/Create/" + data + "')><i class='fa fa-pencil'></i></a>";
                                    var btnDelete = "<a class='btn btn-danger btn-xs' style='margin-left:2px' onclick=Delete('" + data + "')><i class='fa fa-trash'></i></a>";

                                    return "<div class='tools pull-right'>" + btnEdit + btnDelete + "</div>";
                                }
                            }
                            </text>
                        }
                        
                    }
                    
                ],
                "language": {
                    "emptyTable": "no data found."
                },
                "lengthChange": false,
                "info": false,
                "searching": false,
                "paging": false,
                "ordering": false,
                "autoWidth": false
            });

        });


        function ShowPopup(url) {
            var modalId = 'modalDefault';
            var modalPlaceholder = $('#' + modalId + ' .modal-dialog .modal-content');
            $.get(url).done(function (response) {
                modalPlaceholder.html(response);
                popup = $('#' + modalId + '').modal({
                    keyboard: false,
                    backdrop: 'static'
                });
            });
        }


        function SubmitAddEdit(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                var data = $(form).serializeJSON();
                data = JSON.stringify(data);
                $.ajax({
                    type: 'POST',
                    url: apiurl,
                    data: data,
                    contentType: 'application/json',
                    success: function (data) {
                        if (data.success) {
                            popup.modal('hide');
                            ShowMessage(data.message);
                            dataTable.ajax.reload();
                        } else {
                            ShowMessageError(data.message);
                        }
                    }
                });

            }
            return false;
        }


        function Delete(id) {
            swal({
                title: "Are you sure want to Delete?",
                text: "You will not be able to restore the data!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#dd4b39",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: true
            }, function () {
                $.ajax({
                    type: 'DELETE',
                    url: apiurl + '/' + id,
                    success: function (data) {
                        if (data.success) {
                            ShowMessage(data.message);
                            dataTable.ajax.reload();
                        } else {
                            ShowMessageError(data.message);
                        }
                    }
                });
            });
        }





        //Point Of Contacts

        var popup2, dataTable2;
        var entity2 = 'PointOfContactsLine';
        var apiurl2 = '/api/' + entity2;

        $(document).ready(function () {
            dataTable2 = $('#grid2').DataTable({
                "ajax": {
                    "url": apiurl2 + '?masterid=@Model.serviceProviderId',
                    "type": 'GET',
                    "datatype": 'json'
                },
                "columns": [
                    { "data": "name"},
                    { "data": "designation" },
                    { "data": "contact" },
                    { "data": "email" },
                    { "data": "isDefaultPOC" },

                    @{
                        if (!appUser.isSuperAdmin)
                        {
                            <text>
                            {
                                "data": "pointOfContactLineId",
                        "render": function(data) {
                                    var btnEdit = "<a class='btn btn-primary btn-xs' onclick=ShowPopup2('/" + entity2 + "/Create/" + data + "')><i class='fa fa-pencil'></i></a>";
                                    var btnDelete = "<a class='btn btn-danger btn-xs' style='margin-left:2px' onclick=Delete2('" + data + "')><i class='fa fa-trash'></i></a>";

                                    return "<div class='tools pull-right'>" + btnEdit + btnDelete + "</div>";
                                }
                            }
                            </text>
                        }
                    }
                    
                ],
                "language": {
                    "emptyTable": "no data found."
                },
                "lengthChange": true,
                "info": false,
                "searching": false,
                "paging": false,
                "ordering": false,
                "autoWidth": false
            });
        });


        function ShowPopup2(url) {
            var modalId = 'modalDefault';
            var modalPlaceholder = $('#' + modalId + ' .modal-dialog .modal-content');
            $.get(url).done(function (response) {
                modalPlaceholder.html(response);
                popup2 = $('#' + modalId + '').modal({
                    keyboard: false,
                    backdrop: 'static'
                });
            });
        }


        function SubmitAddEdit2(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                var data = $(form).serializeJSON();
                data = JSON.stringify(data);
                $.ajax({
                    type: 'POST',
                    url: apiurl2,
                    data: data,
                    contentType: 'application/json',
                    success: function (data) {
                        if (data.success) {
                            popup2.modal('hide');
                            ShowMessage(data.message);
                            dataTable2.ajax.reload();
                        } else {
                            ShowMessageError(data.message);
                        }
                    }
                });

            }
            return false;
        }


        function Delete2(id) {
            swal({
                title: "Are you sure want to Delete?",
                text: "You will not be able to restore the data!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#dd4b39",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: true
            }, function () {
                $.ajax({
                    type: 'DELETE',
                    url: apiurl2 + '/' + id,
                    success: function (data) {
                        if (data.success) {
                            ShowMessage(data.message);
                            dataTable2.ajax.reload();
                        } else {
                            ShowMessageError(data.message);
                        }
                    }
                });
            });
        }






        //Service Provider Banks

        var popup3, dataTable3;
        var entity3 = 'ServiceProviderBanksLine';
        var apiurl3 = '/api/' + entity3;

        $(document).ready(function () {
            dataTable3 = $('#grid3').DataTable({
                "ajax": {
                    "url": apiurl3 + '?masterid=@Model.serviceProviderId',
                    "type": 'GET',
                    "datatype": 'json'
                },
                "columns": [
                    { "data": "accountHolderName"},
                    { "data": "bankName" },
                    { "data": "accountNumber" },
                    { "data": "ifscCode" },
                    { "data": "isDefaultBank" },

                    @{
                        if (!appUser.isSuperAdmin)
                        {
                            <text>
                            {
                                "data": "serviceProviderBanksLineId",
                                "render": function (data) {
                                    var btnEdit = "<a class='btn btn-primary btn-xs' onclick=ShowPopup3('/" + entity3 + "/Create/" + data + "')><i class='fa fa-pencil'></i></a>";
                                    var btnDelete = "<a class='btn btn-danger btn-xs' style='margin-left:2px' onclick=Delete3('" + data + "')><i class='fa fa-trash'></i></a>";

                                    return "<div class='tools pull-right'>" + btnEdit + btnDelete + "</div>";
                                }
                            }
                            </text>
                        }
                    }
                    
                ],
                "language": {
                    "emptyTable": "no data found."
                },
                "lengthChange": true,
                "info": false,
                "searching": false,
                "paging": false,
                "ordering": false,
                "autoWidth": false
            });
        });


        function ShowPopup3(url) {
            var modalId = 'modalDefault';
            var modalPlaceholder = $('#' + modalId + ' .modal-dialog .modal-content');
            $.get(url).done(function (response) {
                modalPlaceholder.html(response);
                popup3 = $('#' + modalId + '').modal({
                    keyboard: false,
                    backdrop: 'static'
                });
            });
        }


        function SubmitAddEditBanks(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                var data = $(form).serializeJSON();
                data = JSON.stringify(data);
                $.ajax({
                    type: 'POST',
                    url: apiurl3,
                    data: data,
                    contentType: 'application/json',
                    success: function (data) {
                        if (data.success) {
                            popup3.modal('hide');
                            ShowMessage(data.message);
                            dataTable3.ajax.reload();
                        } else {
                            ShowMessageError(data.message);
                        }
                    }
                });

            }
            return false;
        }


        function Delete3(id) {
            swal({
                title: "Are you sure want to Delete?",
                text: "You will not be able to restore the data!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#dd4b39",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: true
            }, function () {
                $.ajax({
                    type: 'DELETE',
                    url: apiurl3 + '/' + id,
                    success: function (data) {
                        if (data.success) {
                            ShowMessage(data.message);
                            dataTable3.ajax.reload();
                        } else {
                            ShowMessageError(data.message);
                        }
                    }
                });
            });
        }




        //Horizontal Step Wizard

        showWizard();

        function showWizard() {
            $("#wizard").steps({
                headerTag: "h3",
                bodyTag: "section",
                transitionEffect: "slide",
                titleTemplate: '#title#',
                enableFinishButton: false,
                showBackButton: true,
                showFooterButtons: true
            });
        }




    </script>
}

