﻿@model IEnumerable<netcore.Models.Invent.ServiceProvider>
@inject netcore.Data.ApplicationDbContext Context

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminlteNetcoreIndex.cshtml";
    ViewData["EntityIcon"] = "fa fa-industry";
    ViewData["ListTitle"] = "Service Providers";
    ViewData["IndexInfo"] = "ServiceProvider is an organization that supplies products to your company. Your company buy products from them.";
}


<table class="table table-hover table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Registration Date & Time
            </th>
            <th>
                @Html.DisplayNameFor(model => model.companyName)
            </th>
            <th class="hidden">
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th class="hidden">
                @Html.DisplayNameFor(model => model.officialAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.businessContactName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.primaryEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.primaryContact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.countryOfRegistration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gstNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.panNo)
            </th>
            <th>
                No. of Quotations Sent
            </th>
            <th>
                No. of Quotations Approved
            </th>
            <th>KYC Verified</th>
            <th>Actions</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.createdAt.Date.ToString("dd-MMM-yyyy H:mm")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.companyName)
                </td>
                <td class="hidden">
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td class="hidden">
                    @Html.DisplayFor(modelItem => item.officialAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.businessContactName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.primaryEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.primaryContact)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.countryOfRegistration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.gstNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.panNo)
                </td>
                <td>

                    @(Context.Quotation.Where(x => x.serviceProviderId == item.serviceProviderId).Count())

                </td>
                <td>

                    @(Context.Quotation.Where(x => x.serviceProviderId == item.serviceProviderId && x.quotationStatus == netcore.Models.Invent.QuotationStatus.Approved).Count())

                </td>
                <td>

                    @if (item.isVerified == false)
                    {
                        <span class="badge bg-red">
                            @Html.DisplayFor(modelItem => item.isVerified)
                        </span>
                    }
                    else
                    {
                        <span class="badge bg-green-active">
                            @Html.DisplayFor(modelItem => item.isVerified)
                        </span>
                    }


                </td>
                <td>
                    <div class="tools">
                        <a asp-action="Details" asp-route-id="@item.serviceProviderId" class="btn btn-primary btn-xs" title="View"><i class="fa fa-eye"></i></a>
                        @if (!item.isVerified)
                        {
                            <a asp-action="ApproveKYC" asp-route-id="@item.serviceProviderId" class="btn btn-primary btn-xs" title="Approve KYC"><i class="fa fa-thumbs-up"></i></a>

                        }
                        else
                        {
                            <a asp-action="DisapproveKYC" asp-route-id="@item.serviceProviderId" class="btn btn-primary btn-xs" title="Disapprove KYC"><i class="fa fa-thumbs-down"></i></a>
                        }

                        @*<a asp-action="Delete" asp-route-id="@item.serviceProviderId" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>*@
                    </div>

                </td>
            </tr>
        }
    </tbody>
</table>
