﻿@model netcore.Models.Invent.PurchaseOrderLine


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminlteNetcorePopup.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="purchaseOrderLineId" />
        <div class="form-group hidden">
            <label asp-for="purchaseOrderId" class="control-label"></label>
            <select asp-for="purchaseOrderId" id="purchaseOrderValueId" class="form-control select2" asp-items="ViewBag.purchaseOrderId"></select>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="productId" class="control-label"></label>
                    <select asp-for="productId" id="productModelId" class="form-control select2" asp-items="ViewBag.productId"></select>
                </div>
            </div>
            @*<div class="col-md-6">
                <div class="form-group">
                    <label asp-for="batchNumber" class="control-label"></label>
                    <input asp-for="batchNumber" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control" />
                    <span asp-validation-for="batchNumber" class="text-danger"></span>
                </div>
            </div>*@

            @*<div class="col-md-6">
                <div class="form-group">
                    <label asp-for="width" class="control-label"></label>
                    <input asp-for="width" class="form-control" />
                    <span asp-validation-for="width" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="height" class="control-label"></label>
                    <input asp-for="height" class="form-control" />
                    <span asp-validation-for="height" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="thickness" class="control-label"></label>
                    <input asp-for="thickness" class="form-control" />
                    <span asp-validation-for="thickness" class="text-danger"></span>
                </div>
            </div>*@
            <div class="col-md-6">


                <div class="form-group">
                    <label asp-for="price" class="control-label"></label>
                    <input readonly name="price" asp-for="price" class="form-control" />
                    <span asp-validation-for="price" class="text-danger"></span>
                </div>

            </div>

        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="qty" class="control-label"></label>
                    <input name="qty" asp-for="qty" class="form-control" />
                    <span asp-validation-for="qty" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <label asp-for="weight" class="control-label"></label>
                <input name="weight" asp-for="weight" class="form-control" />
                <span asp-validation-for="weight" class="text-danger"></span>
            </div>


            

            @*<div class="col-md-6">
                <div class="form-group">
                    <label asp-for="discountAmount" class="control-label"></label>
                    <input asp-for="discountAmount" class="form-control" />
                    <span asp-validation-for="discountAmount" class="text-danger"></span>
                </div>
            </div>*@
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="totalWeight" class="control-label"></label>
                    <input readonly name="totalWeight" asp-for="totalWeight" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control" />
                    <span asp-validation-for="totalWeight" class="text-danger"></span>
                </div>
            </div>




            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="totalAmount" class="control-label"></label>
                    <input readonly name="totalAmount" asp-for="totalAmount" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control" />
                    <span asp-validation-for="totalAmount" class="text-danger"></span>
                </div>
            </div>
        </div>
            @*<div class="form-group hidden">
                <label asp-for="totalAmount" class="control-label"></label>
                <input asp-for="totalAmount" class="form-control" />
                <span asp-validation-for="totalAmount" class="text-danger"></span>
            </div>*@


        </div>
    </div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        
        $('input[name="qty"]').keyup(function () {
            var a = $('input[name="weight"]').val();
            var b = $('input[name="qty"]').val();
            $('input[name="totalWeight"]').val(Math.round(a * b));
        });

        $('input[name="qty"]').keyup(function () {
            var a = $('input[name="price"]').val();
            var b = $('input[name="qty"]').val();
            $('input[name="totalAmount"]').val(Math.round(a * b));
        });

             
        $('input[name="weight"]').keyup(function () {
            var a = $('input[name="weight"]').val();
            var b = $('input[name="qty"]').val();
            $('input[name="totalWeight"]').val(Math.round(a * b));

        });

        $('input[name="price"]').keyup(function () {
            var a = $('input[name="price"]').val();
            var b = $('input[name="qty"]').val();
            $('input[name="totalAmount"]').val(Math.round(a * b));

        });

        

        //On Dropdown Change
        $(document).ready(function () {
            
            $('#productModelId').on('change', function () {
                var productId = $('#productModelId').val();
                var purchaseOrderId = $('#purchaseOrderValueId').val();

                getINRTotal(productId, purchaseOrderId);
            });
        });


        //On Popup Load
        $( document ).ready(function(){
            var productId = $('#productModelId').val();
            var purchaseOrderId = $('#purchaseOrderValueId').val();

            getINRTotal(productId, purchaseOrderId);
        });


        //Function to get Multiplied USD x Rate
        function getINRTotal(productId,  purchaseOrderId) {
            $.ajax({
                type: 'GET',
                url: "@Url.Action("GetINRPrice","PurchaseOrderLine")",
                data: { 'productId': productId, 'purchaseOrderId': purchaseOrderId },
                method: "GET",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    if (response != null) {
                        $('input[name="price"]').val(response);
                    }
                },
                error: function (req, status, error) {
                    alert("Req: " + req);
                    alert("Status: " + status);
                    alert("Error: " + error);
                }
            });
        }


        
    </script>




}
