﻿@model netcore.Models.Invent.PurchaseOrderLine

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminlteNetcoreEdit.cshtml";
    }


<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="purchaseOrderLineId" />
        <div class="form-group hidden">
            <label asp-for="purchaseOrderId" class="control-label"></label>
            <select asp-for="purchaseOrderId" class="form-control select2" asp-items="ViewBag.purchaseOrderId"></select>
            <span asp-validation-for="purchaseOrderId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="productId" class="control-label"></label>
            <select asp-for="productId" class="form-control select2" asp-items="ViewBag.productId"></select>
            <span asp-validation-for="productId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="width" class="control-label"></label>
            <input asp-for="width" class="form-control" />
            <span asp-validation-for="width" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="height" class="control-label"></label>
            <input asp-for="height" class="form-control" />
            <span asp-validation-for="height" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="thickness" class="control-label"></label>
            <input asp-for="thickness" class="form-control" />
            <span asp-validation-for="thickness" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="weight" class="control-label"></label>
            <input asp-for="weight" class="form-control" />
            <span asp-validation-for="weight" class="text-danger"></span>
        </div>


            <div class="form-group">
                <label asp-for="totalWeight" class="control-label"></label>
                <input asp-for="totalWeight" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control" />
                <span asp-validation-for="totalWeight" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="batchNumber" class="control-label"></label>
                <input asp-for="batchNumber" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control" />
                <span asp-validation-for="batchNumber" class="text-danger"></span>
            </div>

        <div class="form-group">
            <label asp-for="qty" class="control-label"></label>
            <input asp-for="qty" class="form-control" />
            <span asp-validation-for="qty" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="price" class="control-label"></label>
            <input asp-for="price" class="form-control" />
            <span asp-validation-for="price" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="discountAmount" class="control-label"></label>
            <input asp-for="discountAmount" class="form-control" />
            <span asp-validation-for="discountAmount" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="totalAmount" class="control-label"></label>
            <input asp-for="totalAmount" class="form-control" />
            <span asp-validation-for="totalAmount" class="text-danger"></span>
        </div>
    </div>
</div>








            @section Scripts {
                 @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            }



