﻿@model IEnumerable<netcore.Models.Invent.PurchaseOrderLine>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminlteNetcoreIndex.cshtml";
}


<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.width)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.height)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.thickness)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.qty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.discountAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.totalAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.purchaseOrder)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.width)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.height)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.thickness)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.qty)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.discountAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.totalAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.product.productId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.purchaseOrder.purchaseOrderId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.purchaseOrderLineId"><i class="fa fa-pencil"></i></a> |
                <a asp-action="Details" asp-route-id="@item.purchaseOrderLineId"><i class="fa fa-list"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.purchaseOrderLineId"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
