﻿@model netcore.Models.Invent.Quotation
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_QuotationPopup.cshtml";
    ViewData["EntityIcon"] = "fa fa-file-text";
    ViewData["CreateInfo"] = "Purchase Order (PO) is a commercial document issued by your company as a buyer to your vendor as a products seller." +
            " There are three status of PO: 1. Draft (Unconfirmed PO, not ready to receive), 2. Open (Confirmed PO, ready to receive) and 3. Completed (Closed PO, already receive the products).";
}

<style>
    fieldset {
        margin: 8px;
        border: 1px solid silver;
        padding: 8px;
        border-radius: 4px;
    }

    legend {
        padding: 2px;
    }
</style>



<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<input type="hidden" asp-for="quotationId" />
<input type="hidden" asp-for="enquiryId" />
<input type="hidden" asp-for="serviceProviderId" />
<input type="hidden" asp-for="quotationNumber" />
<input type="hidden" asp-for="quotationStatus" />

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="quotationNumber" class="control-label"></label>
            <input asp-for="quotationNumber" class="form-control" disabled />
            <span asp-validation-for="quotationNumber" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4" hidden>
        <div class="form-group">
            <label asp-for="enquiryId" class="control-label"></label>
            <select asp-for="enquiryId" class="form-control select2" asp-items="ViewBag.enquiryId"></select>
            <span asp-validation-for="enquiryId" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4" hidden>
        <div class="form-group">
            <label asp-for="consignee" class="control-label"></label>
            <input asp-for="consignee" class="form-control" />
            <span asp-validation-for="consignee" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4" hidden>
        <div class="form-group">
            <label asp-for="shipper" class="control-label"></label>
            <input asp-for="shipper" class="form-control" />
            <span asp-validation-for="shipper" class="text-danger"></span>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="quotationDate" class="control-label"></label>
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                <input asp-for="quotationDate" class="form-control" type="date" />
            </div>
            <span asp-validation-for="quotationDate" class="text-danger"></span>
        </div>

    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="etd" class="control-label"></label>
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                <input asp-for="etd" class="form-control etd" type="date" />
            </div>
            <span asp-validation-for="etd" class="text-danger"></span>
        </div>

    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="eta" class="control-label"></label>
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                <input asp-for="eta" class="form-control eta" type="date" />
            </div>
            <span asp-validation-for="eta" class="text-danger"></span>
        </div>

    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="shipmentTrackingLinks" class="control-label"></label>

            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-ship"></i>
                </div>
                @*<input asp-for="shipmentName" class="form-control" placeholder="Enter shipment name here" />*@
                <select asp-for="shipmentTrackingId" class="form-control select2" asp-items="ViewBag.shipmentTrackingLinksId"></select>

            </div>
            <span asp-validation-for="shipmentTrackingLinks" class="text-danger"></span>
        </div>

    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="expeditionType" class="control-label"></label>
            <select asp-for="expeditionType" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.ExpeditionType>()"></select>
            <span asp-validation-for="expeditionType" class="text-danger"></span>
        </div>
    </div>

</div>


<div class="row">

    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="transitDays" class="control-label"></label>
            <input asp-for="transitDays" class="form-control transitDays" readonly />
            <span asp-validation-for="transitDays" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="modeOfTransport" class="control-label"></label>
            <select asp-for="modeOfTransport" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.ModeOfTransport>()" disabled></select>
            <span asp-validation-for="modeOfTransport" class="text-danger"></span>
        </div>
    </div>
</div>


<div class="row">


    <div class="col-md-4" hidden>
        <div class="form-group">
            <label asp-for="quotationExpiryDate" class="control-label"></label>
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                <input asp-for="quotationExpiryDate" class="form-control" type="date" readonly />
            </div>
            <span asp-validation-for="quotationExpiryDate" class="text-danger"></span>
        </div>
    </div>
</div>

<div class="row">

    @if (Model.modeOfTransport == netcore.Models.Invent.ModeOfTransport.Road)
    {
        <div class="form-group">
            <div class="col-md-6">
                <label asp-for="originPickUpAddressPincode" class="control-label"></label>
                <input value="@Model.originPickUpAddressPincode" class="form-control txtBox" style="background-color: #fff" name="originPickUpAddressPincode" id="originPickUpAddressPincode" placeholder="-" />
            </div>
            <div class="col-md-6">
                <label asp-for="destinationAddressPincode" class="control-label"></label>
                <input value="@Model.destinationAddressPincode" class="form-control txtBox" style="background-color: #fff" name="destinationAddressPincode" id="destinationAddressPincode" placeholder="-" />
                @*<select asp-for="destinationOfShipmentId" class="form-control select2" asp-items="ViewBag.destinationOfShipmentId" disabled></select>*@
            </div>
        </div>
    }
    else if (Model.modeOfTransport == netcore.Models.Invent.ModeOfTransport.Rail)
    {
        <div class="form-group">
            <div class="col-md-6">
                <label asp-for="originPickUpAddressPincode" class="control-label"></label>
                <input value="@Model.originPickUpAddressPincode" class="form-control txtBox" style="background-color: #fff" name="originPickUpAddressPincode" id="originPickUpAddressPincode" placeholder="-" />
            </div>
            <div class="col-md-6">
                <label asp-for="destinationAddressPincode" class="control-label"></label>
                <input value="@Model.destinationAddressPincode" class="form-control txtBox" style="background-color: #fff" name="destinationAddressPincode" id="destinationAddressPincode" placeholder="-" />
                @*<select asp-for="destinationOfShipmentId" class="form-control select2" asp-items="ViewBag.destinationOfShipmentId" disabled></select>*@
            </div>
        </div>
    }
    else
    {
        <div class="form-group">
            <div class="col-md-6">
                <label asp-for="originOfShipment" class="control-label"></label>
                <select asp-for="originOfShipmentId" class="form-control select2" asp-items="ViewBag.originOfShipmentId"></select>
                <span asp-validation-for="originOfShipmentId" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="destinationOfShipment" class="control-label"></label>
                <select asp-for="destinationOfShipmentId" class="form-control select2" asp-items="ViewBag.destinationOfShipmentId"></select>
                <span asp-validation-for="destinationOfShipmentId" class="text-danger"></span>
            </div>
        </div>
    }

    <div class="col-md-3" hidden>
        <div class="form-group">
            <label asp-for="quotationStatus" class="control-label"></label>
            <select asp-for="quotationStatus" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.QuotationStatus>()" disabled></select>
            <span asp-validation-for="quotationStatus" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="terms" class="control-label"></label>
            <textarea class="form-control" id="terms" asp-for="terms" name="terms" rows="5" placeholder="Enter terms here" style="background-color: #fff"></textarea>
            <span asp-validation-for="terms" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="additionalInformation" class="control-label"></label>
            <textarea class="form-control" id="additionalInformation" asp-for="additionalInformation" name="additionalInformation" rows="5" placeholder="Enter additional info. here" style="background-color: #fff"></textarea>
            <span asp-validation-for="additionalInformation" class="text-danger"></span>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}



}

<script type="text/javascript">

    $(document).ready(function () {

        OnloadTransitDays();

        $(".etd").change(function () {
            var etd = new Date($('.etd').val());
            var eta = new Date($('.eta').val());

            days = (eta - etd) / (1000 * 60 * 60 * 24);
            if (days < 0) {
                days = 0;
            }
            else {
                days = days;
            }

            $(".transitDays").val(days);

        });

        $(".eta").change(function () {

            var etd = new Date($('.etd').val());
            var eta = new Date($('.eta').val());

            days = (eta - etd) / (1000 * 60 * 60 * 24);
            if (days < 0) {
                days = 0;
            }
            else {
                days = days;
            }

            $(".transitDays").val(days);

        });

    });

    function OnloadTransitDays() {
        var etd = new Date($('.etd').val());
        var eta = new Date($('.eta').val());

        days = (eta - etd) / (1000 * 60 * 60 * 24);
        if (days < 0) {
            days = 0;
        }
        else {
            days = days;
        }

        $(".transitDays").val(days);
    }


</script>
