﻿@model netcore.Models.Invent.Quotation
@inject UserManager<ApplicationUser> UserManager
@inject netcore.Data.ApplicationDbContext Context
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminlteNetcoreDetails.cshtml";
    ViewData["EntityIcon"] = "fa fa-file-text";

    ApplicationUser appUser = await UserManager.GetUserAsync(User);
    //var enquiryDate = Convert.ToDateTime(Model.enquiry.enquiryDate).ToString("dd/MM/yyyy");
    //if (appUser.isServiceProvider)
    //{
    //    var serviceProviderId = Context.ServiceProvider.SingleOrDefault(x => x.applicationUserId == appUser.Id).serviceProviderId;

    //}
}

<style>
    fieldset {
        margin: 8px;
        border: 2px solid silver;
        padding: 8px;
        border-radius: 4px;
    }

    legend {
        padding: 2px !important;
        width: 10%;
    }

    .btn-success {
        background-color: rgb(241, 105, 12) !important;
    }
</style>


<input type="hidden" asp-for="enquiryId" />
@*<select asp-for="@Model.serviceProviderId" class="form-control select2" asp-items="ViewBag.originOfShipmentId" hidden></select>*@
<input type="hidden" asp-for="@Model.serviceProviderId" />

<main class="my-12">
    <div class="container">
        <div id="wizard">
            <h3>
                <div class="media">
                    <div class="bd-wizard-step-icon"><i class="fa fa-file"></i></div>
                    <div class="media-body">

                        <div class="bd-wizard-step-title" style="padding-top: 7px;">Quote Information</div>
                        @*<div class="bd-wizard-step-subtitle">Enquiry Details & Container Info</div>*@
                    </div>
                </div>
            </h3>

            <section>

                <div class="bd-wizard-step-title">Please review before finishing and submitting</div>

                @*<div class="row" hidden>

                        <div class="wrapper">
                            <h4 class="section-heading">Enquiry Details </h4>
                            <div class="row">
                                <div class="form-group col-md-6 txtBox">
                                    <label asp-for="enquiryId" class="control-label"></label>
                                    <input asp-for="@Model.enquiry.enquiryNumber" class="form-control txtBox" style="background-color: #fff" name="enquiryNumber" id="enquiryNumber" placeholder="-" readonly />
                                </div>
                                <div class="form-group col-md-6 txtBox">
                                    <label asp-for="enquiry.enquiryDate" class="control-label"></label>
                                    <input asp-for="enquiry.enquiryDate" type="date" class="form-control txtBox" style="background-color: #fff" name="enquiryDate" id="enquiryDate" placeholder="-" readonly />
                                </div>
                            </div>
                            @if (Model.modeOfTransport == netcore.Models.Invent.ModeOfTransport.Road)
                            {
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label asp-for="originOfShipment" class="control-label"></label>
                                        <input value="@Model.originOfShipmentLocationName" class="form-control txtBox" style="background-color: #fff" name="originOfShipmentId" id="originOfShipmentId" placeholder="-" readonly />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label asp-for="originPickUpAddressPincode" class="control-label"></label>
                                        <input value="@Model.originPickUpAddressPincode" class="form-control txtBox" style="background-color: #fff" name="originOfShipmentId" id="originOfShipmentId" placeholder="-" readonly />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label asp-for="destinationOfShipment" class="control-label"></label>
                                        <input value="@Model.destinationOfShipmentLocationName" class="form-control txtBox" style="background-color: #fff" name="destinationOfShipmentId" id="destinationOfShipmentId" placeholder="-" readonly />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label asp-for="destinationAddressPincode" class="control-label"></label>
                                        <input value="@Model.destinationAddressPincode" class="form-control txtBox" style="background-color: #fff" name="destinationOfShipmentId" id="destinationOfShipmentId" placeholder="-" readonly />
                                    </div>
                                </div>
                            }
                            else if (Model.modeOfTransport == netcore.Models.Invent.ModeOfTransport.Rail)
                            {
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label asp-for="originPickUpAddressPincode" class="control-label"></label>
                                        <input value="@Model.originPickUpAddressPincode" class="form-control txtBox" style="background-color: #fff" name="originOfShipmentId" id="originOfShipmentId" placeholder="-" readonly />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label asp-for="destinationAddressPincode" class="control-label"></label>
                                        <input value="@Model.destinationAddressPincode" class="form-control txtBox" style="background-color: #fff" name="destinationOfShipmentId" id="destinationOfShipmentId" placeholder="-" readonly />
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label asp-for="originOfShipment" class="control-label"></label>
                                        <input value="@Model.originOfShipmentLocationName" class="form-control txtBox" style="background-color: #fff" name="originOfShipmentId" id="originOfShipmentId" placeholder="-" readonly />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label asp-for="destinationOfShipment" class="control-label"></label>
                                        <input value="@Model.destinationOfShipmentLocationName" class="form-control txtBox" style="background-color: #fff" name="destinationOfShipmentId" id="destinationOfShipmentId" placeholder="-" readonly />
                                    </div>
                                </div>
                            }


                            <br />

                        </div>

                    </div>*@


                @*<div class="row" hidden>
                        <div class="wrapper">
                            <h4 class="section-heading">Container Details </h4>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="box box-primary">
                                        <div class="box-body">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <table id="grid" name="grid" class="table table-striped table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th class="col-lg-3">Service Type</th>
                                                                <th class="col-lg-3">Container Type</th>
                                                                <th class="col-lg-3">Commodity Type</th>
                                                                <th class="col-lg-3">Volume</th>
                                                                <th class="col-lg-2">Weight</th>
                                                                <th class="col-lg-3">Length</th>
                                                                <th class="col-lg-3">Width</th>
                                                                <th class="col-lg-3">Height</th>
                                                                <th class="col-lg-2">Quantity</th>
                                                                @if (appUser.isSuperAdmin)
                                                                {
                                                                    <th class="col-lg-3">Actions</th>
                                                                }
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        @if (appUser.isSuperAdmin)
                                        {
                                            <div class="box-footer" style="box-shadow: none;">
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <a class="btn btn-success pull-right" style="margin-bottom:10px;" onclick="ShowPopup('@Url.Action("Create", "EnquiryLine", new { masterid = Model.enquiryId })')"><i class="fa fa-plus"></i> Add Containers</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>*@


                <br />


                <div class="row">
                    <fieldset>
                        <div class="wrapper">
                            @if (appUser.isServiceProvider)
                            {
                                <div class="row pull-right">
                                    <div class="form-group col-md-2">


                                        @if (Model.serviceProvider == null)  //CREATE MODE IF NEW QUOTE
                                        {
                                            <a class="btn btn-success" style="margin-bottom:10px" onclick="ShowPopup('@Url.Action("Create","Quotation", new { id = Model.enquiryId, isNewQuote = true})')"><i class="fa fa-pencil"></i> Create</a>
                                        }
                                        else if ((Model.enquiry.enquiryStatus == netcore.Models.Invent.EnquiryStatus.Pending && Model.quotationStatus == netcore.Models.Invent.QuotationStatus.Draft) ||
                                           (Model.quotationStatus == netcore.Models.Invent.QuotationStatus.Draft)) // EDIT MODE
                                        {
                                            <a class="btn btn-success" style="margin-bottom:10px" onclick="ShowPopup('@Url.Action("Edit","Quotation", new { id = Model.quotationId})')"><i class="fa fa-pencil"></i> Edit</a>
                                        }




                                    </div>
                                </div>
                            }


                            <h4 class="section-heading">Provide Quotation Details </h4>

                            <div class="row">

                                <div class="form-group col-md-4 txtBox">
                                    <fieldset>
                                        <label asp-for="quotationNumber" class="control-label"></label>
                                        <input asp-for="quotationNumber" class="form-control txtBox" name="quotationNumber" style="background-color: rgb(243, 243, 243)" id="quotationNumber" placeholder="-" readonly />
                                    </fieldset>

                                </div>
                                <div class="form-group col-md-4 txtBox">
                                    <fieldset>
                                        <label asp-for="quotationDate" class="control-label"></label>
                                        <input asp-for="quotationDate" type="date" class="form-control txtBox" style="background-color: rgb(243, 243, 243)" name="quotationDate" id="quotationDate" placeholder="-" readonly />
                                    </fieldset>
                                </div>
                                <div class="form-group col-md-4 txtBox" hidden>

                                    <label asp-for="quotationExpiryDate" class="control-label"></label>
                                    <input asp-for="quotationExpiryDate" type="date" class="form-control txtBox" style="background-color: rgb(243, 243, 243)" name="quotationExpiryDate" id="quotationExpiryDate" placeholder="-" readonly />

                                </div>
                            </div>


                            <fieldset>
                                <div class="row">
                                    <div class="form-group col-md-4 txtBox">
                                        <label asp-for="etd" class="control-label"></label>
                                        <input asp-for="etd" type="date" class="form-control txtBox" style="background-color: rgb(243, 243, 243)" name="etd" id="etd" placeholder="-" readonly />
                                    </div>


                                    <div class="form-group col-md-4 txtBox">
                                        <label asp-for="eta" class="control-label"></label>
                                        <input asp-for="eta" type="date" class="form-control txtBox" style="background-color: rgb(243, 243, 243)" name="eta" id="eta" placeholder="-" readonly />
                                    </div>


                                    <div class="form-group col-md-4 txtBox">
                                        <label asp-for="transitDays" class="control-label"></label>
                                        <input asp-for="transitDays" class="form-control txtBox" name="transitDays" style="background-color: rgb(243, 243, 243)" id="transitDays" placeholder="-" readonly />
                                    </div>


                                    <div class="form-group col-md-4">
                                        <label asp-for="expeditionType" class="control-label"></label>
                                        <input value="@Model.expeditionType" class="form-control txtBox" style="background-color: rgb(243, 243, 243)" name="expeditionType" id="expeditionType" placeholder="-" readonly />
                                    </div>

                                    <div class="form-group col-md-8">
                                        <label asp-for="shipmentTrackingLinks" class="control-label"></label>
                                        @*<input asp-for="shipmentName" class="form-control txtBox" name="shipmentName" style="background-color: rgb(243, 243, 243)" id="shipmentName" placeholder="-" readonly />*@
                                        <select asp-for="shipmentTrackingLinks" class="form-control select2" asp-items="ViewBag.shipmentTrackingLinksId" disabled></select>
                                    </div>

                                </div>


                                <div class="row" hidden>
                                    <div class="form-group col-md-6 txtBox">
                                        <label asp-for="consignee" class="control-label"></label>
                                        <input asp-for="consignee" class="form-control txtBox" style="background-color: #fff" name="consignee" id="quotatioconsigneenNumber" placeholder="-" readonly />
                                    </div>
                                    <div class="form-group col-md-6 txtBox">
                                        <label asp-for="shipper" class="control-label"></label>
                                        <input asp-for="shipper" class="form-control txtBox" style="background-color: #fff" name="shipper" id="shipper" placeholder="-" readonly />
                                    </div>

                                </div>
                            </fieldset>


                            <fieldset>
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label asp-for="modeOfTransport" class="control-label"></label>
                                        <input value="@Model.enquiry.modeOfTransport" class="form-control txtBox" style="background-color: rgb(243, 243, 243)" name="originOfShipmentId" id="originOfShipmentId" placeholder="-" readonly />
                                        @*<select asp-for="modeOfTransport" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.ModeOfTransport>()" disabled></select>*@
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="originOfShipment" class="control-label"></label>
                                            <input asp-for="@Model.enquiry.originOfShipment.locationName" class="form-control txtBox" style="background-color: rgb(243, 243, 243)" name="locationName" id="locationName" placeholder="-" readonly />
                                            <span asp-validation-for="originOfShipmentId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="destinationOfShipment" class="control-label"></label>
                                            <input asp-for="@Model.enquiry.destinationOfShipment.locationName" class="form-control txtBox" style="background-color: rgb(243, 243, 243)" name="locationName" id="locationName" placeholder="-" readonly />
                                            <span asp-validation-for="destinationOfShipmentId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    @if (Model.modeOfTransport == netcore.Models.Invent.ModeOfTransport.Road)
                                    {

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="originPickUpAddressPincode" class="control-label"></label>
                                                <input value="@Model.originPickUpAddressPincode" class="form-control txtBox" style="background-color: #fff" name="originPickUpAddressPincode" id="originPickUpAddressPincode" placeholder="-" readonly />
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">

                                                <label asp-for="destinationAddressPincode" class="control-label"></label>
                                                <input value="@Model.destinationAddressPincode" class="form-control txtBox" style="background-color: #fff" name="destinationAddressPincode" id="destinationAddressPincode" placeholder="-" readonly />
                                                @*<select asp-for="destinationOfShipmentId" class="form-control select2" asp-items="ViewBag.destinationOfShipmentId" disabled></select>*@

                                            </div>
                                        </div>
                                    }
                                    else if (Model.modeOfTransport == netcore.Models.Invent.ModeOfTransport.Rail)
                                    {

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="originPickUpAddressPincode" class="control-label"></label>
                                                <input value="@Model.originPickUpAddressPincode" class="form-control txtBox" style="background-color: #fff" name="originOfShipmentId" id="originOfShipmentId" placeholder="-" readonly />
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                            <div class="form-group">
                                                <label asp-for="destinationAddressPincode" class="control-label"></label>
                                                <input value="@Model.destinationAddressPincode" class="form-control txtBox" style="background-color: #fff" name="destinationOfShipmentId" id="destinationOfShipmentId" placeholder="-" readonly />
                                                @*<select asp-for="destinationOfShipmentId" class="form-control select2" asp-items="ViewBag.destinationOfShipmentId" disabled></select>*@
                                            </div>

                                        </div>

                                    }
                                    else if (Model.modeOfTransport == netcore.Models.Invent.ModeOfTransport.Ocean)
                                    {

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="originPickUpAddressPincode" class="control-label"></label>
                                                <input value="@Model.enquiry.pickupAddressPincode" class="form-control txtBox" style="background-color: #fff" name="originPickUpAddressPincode" id="originPickUpAddressPincode" placeholder="-" readonly />
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                            <div class="form-group">
                                                <label asp-for="destinationAddressPincode" class="control-label"></label>
                                                <input value="@Model.enquiry.deliveryAddressPincode" class="form-control txtBox" style="background-color: #fff" name="destinationAddressPincode" id="destinationAddressPincode" placeholder="-" readonly />
                                                @*<select asp-for="destinationOfShipmentId" class="form-control select2" asp-items="ViewBag.destinationOfShipmentId" disabled></select>*@
                                            </div>

                                        </div>

                                    }
                                    else
                                    {

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="originPickUpAddressPincode" class="control-label"></label>
                                                <input value="@Model.enquiry.pickupAddressPincode" class="form-control txtBox" style="background-color: #fff" name="originPickUpAddressPincode" id="originPickUpAddressPincode" placeholder="-" readonly />
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                            <div class="form-group">
                                                <label asp-for="destinationAddressPincode" class="control-label"></label>
                                                <input value="@Model.enquiry.deliveryAddressPincode" class="form-control txtBox" style="background-color: #fff" name="destinationAddressPincode" id="destinationAddressPincode" placeholder="-" readonly />
                                                @*<select asp-for="destinationOfShipmentId" class="form-control select2" asp-items="ViewBag.destinationOfShipmentId" disabled></select>*@
                                            </div>

                                        </div>

                                    }
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="terms" class="control-label"></label>
                                            <textarea class="form-control" id="terms" asp-for="terms" name="terms" rows="3" placeholder="-" style="background-color: rgb(243, 243, 243)" readonly></textarea>
                                        </div>
                                    </div>

                                </div>
                            </fieldset>

                            <div class="row">

                                <div class="form-group col-md-6">
                                    <fieldset>
                                        <label asp-for="additionalInformation" class="control-label"></label>
                                        <textarea class="form-control" id="terms" asp-for="additionalInformation" name="additionalInformation" rows="2" placeholder="-" style="background-color: rgb(243, 243, 243)" readonly></textarea>
                                    </fieldset>
                                </div>
                                <div class="col-md-6">
                                    <div class="box box-primary">
                                        <div class="box-body">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <table id="grid2" name="grid2" class="table table-striped table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th class="col-lg-3">Charge Name</th>
                                                                <th class="col-lg-3">Amount in (INR)</th>
                                                                <th class="col-lg-3"></th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                        @if (appUser.isServiceProvider)
                                        {

                                            @*<div class="box-footer" style="box-shadow: none;">
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <a class="btn-link pull-right" style="margin-bottom:10px; color:rgb(241, 105, 12); cursor: pointer;" onclick="ShowPopup2('@Url.Action("Create", "QuotationChargesLine", new { masterid = Model.quotationId })')"><i class="fa fa-plus"></i> Add More Charges</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>*@


                                            @if (Model.serviceProvider == null)  //CREATE MODE IF NEW QUOTE
                                            {
                                                <div class="box-footer" style="box-shadow: none;">
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <a class="btn-link pull-right" style="margin-bottom:10px; color:rgb(241, 105, 12); cursor: pointer;" onclick="ShowPopup2('@Url.Action("Create", "QuotationChargesLine", new { masterid = Model.quotationId })')"><i class="fa fa-plus"></i> Add More Charges</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            else if ((Model.enquiry.enquiryStatus == netcore.Models.Invent.EnquiryStatus.Pending && Model.quotationStatus == netcore.Models.Invent.QuotationStatus.Draft) ||
                                               (Model.quotationStatus == netcore.Models.Invent.QuotationStatus.Draft)) // EDIT MODE
                                            {
                                                <div class="box-footer" style="box-shadow: none;">
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <a class="btn-link pull-right" style="margin-bottom:10px; color:rgb(241, 105, 12); cursor: pointer;" onclick="ShowPopup2('@Url.Action("Create", "QuotationChargesLine", new { masterid = Model.quotationId })')"><i class="fa fa-plus"></i> Add More Charges</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }

                                        }




                                    </div>
                                </div>

                            </div>

                        </div>
                    </fieldset>
                </div>

                @*<div class="row">
                        <div class="wrapper">
                            <h4 class="section-heading">Charges Details </h4>
                            <div class="row">

                            </div>
                        </div>

                    </div>*@

            </section>

            <div class="form-group">
                @*<a class="btn btn-primary" asp-action=@Url.Action("Details", new { id = Model.enquiryId, isFinished = true })>Finish Quotation</a>*@
                @if (appUser.isServiceProvider)
                {
                    if (Model.quotationStatus != netcore.Models.Invent.QuotationStatus.Submitted)
                    {
                        <input type="button" class="btn btn-primary" title="Finish & Submit" value="Finish & Submit" onclick="finishQuotation()" />

                    }
                }
                @*<a asp-action="Create" type="submit" method="post" value="Create" class="btn btn-primary" /></a>*@
                @*<a asp-action="CompleteQuotation" asp-route-id="@Model.quotationId" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>*@
                @*@Html.ActionLink("Finish Quotation", "CompleteQuotation", "Quotation", new { id = Model.quotationId })*@
                @*<a asp-action="Create" method="Post" class="btn btn-primary">Finish Quotation</a>*@
                @*<a asp-action="Index" class="btn btn-default">Back to List</a>*@
            </div>



        </div>
    </div>
</main>



<!--modal placeholder-->
<div class="row">
    <div class="col-md-12">
        <div class="modal modal-primary fade" id="modalDefault">
            <div class="modal-dialog">
                <div class="modal-content">
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script>

        function finishQuotation() {
            @*swal({
                title: "Are you sure want to confirm this quotation?",
                text: "You will not be able to edit the data!",
                type: "info",
                showCancelButton: true,
                confirmButtonColor: "#dd4b39",
                confirmButtonText: "Yes, Confirmed!",
                closeOnConfirm: true
            },
            function () {
                location.href='@Url.Action("Finish", new { id = Model.quotationId, isFinished = true })'
            });*@


            swal({
                title: "Are you sure want to confirm this quotation?",
                text: "You will not be able to edit the data!",
                type: "info",
                showCancelButton: true,
                confirmButtonColor: "#dd4b39",
                confirmButtonText: "Yes, Confirmed!",
                closeOnConfirm: true
            }, function () {
                $.ajax({
                    url: '@Url.Action("Finish", "Quotation")',
                    data: { 'id': '@Model.quotationId'},
                    dataType: 'JSON',
                    type: 'POST',
                    success: function (data) {
                        if (data.success) {
                            swal("Quotation Sent!", "Your Quotation has been sent successfully, Click ok to continue", "success")
                            window.location.assign("../Index");
                        } else {
                            console.log(data.message);
                        }
                     }
                });
            });

        }


        //Enquiry Information
        function SaveEnquiryInfo(form) {
            var entity = 'Enquiry';
            var apiurl = '/api/' + entity;

            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                var data = $(form).serializeJSON();
                data = JSON.stringify(data);
                $.ajax({
                    type: 'POST',
                    url: apiurl,
                    data: data,
                    contentType: 'application/json',
                    success: function (data) {
                        if (data.success) {
                            popup.modal('hide');
                            ShowMessage(data.message);
                            location.reload();
                        } else {
                            ShowMessageError(data.message);
                        }
                    }
                });

            }
            return false;
        }

        var popup, dataTable;
        var entity = 'EnquiryLine';
        var apiurl = '/api/' + entity;

        $(document).ready(function () {
            dataTable = $('#grid').DataTable({
                "ajax": {
                    "url": apiurl + '?masterid=@Model.enquiryId',
                    "type": 'GET',
                    "datatype": 'json'
                },
                "columns": [
                    { "data": "serviceType" },
                    { "data": "loadType" },
                    { "data": "commodityType" },
                    { "data": "volume" },
                    { "data": "weight" },
                    { "data": "containerLength" },
                    { "data": "containerWidth" },
                    { "data": "containerHeight" },
                    { "data": "count" },

                    @if (appUser.isSuperAdmin)
                    {
		                <text>
                            {
                                "data": "enquiryLineId",
                                "render": function (data) {
                                    var btnEdit = "<a class='btn btn-primary btn-xs' onclick=ShowPopup('/" + entity + "/Create/" + data + "')><i class='fa fa-pencil'></i></a>";
                                    var btnDelete = "<a class='btn btn-danger btn-xs' style='margin-left:2px' onclick=Delete('" + data + "')><i class='fa fa-trash'></i></a>";
                                    return "<div class='tools pull-right'>" + btnEdit + btnDelete + "</div>";
                                }
                            }
                       </text>
                    }

                ],
                "language": {
                            "emptyTable": "No Containers Added"
                },
                "lengthChange": false,
                "info": false,
                "searching": false,
                "paging": false
            });
        });

        function ShowPopup(url) {
            var modalId = 'modalDefault';
            var modalPlaceholder = $('#' + modalId + ' .modal-dialog .modal-content');
            $.get(url)
                .done(function (response) {
                    modalPlaceholder.html(response);
                    popup = $('#' + modalId + '').modal({
                        keyboard: false,
                        backdrop: 'static'
                    });
                });
        }

        function SubmitAddEdit(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                var data = $(form).serializeJSON();
                data = JSON.stringify(data);
                $.ajax({
                    type: 'POST',
                    url: apiurl,
                    data: data,
                    contentType: 'application/json',
                    success: function (data) {
                        if (data.success) {
                            popup.modal('hide');
                            ShowMessage(data.message);
                            dataTable.ajax.reload();
                        } else {
                            popup.modal('hide');
                            ShowMessageError(data.message);
                            dataTable.ajax.reload();
                        }
                    }
                });

            }
            return false;
        }

        function Delete(id) {
            swal({
                title: "Are you sure want to Delete?",
                text: "You will not be able to restore the data!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#dd4b39",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: true
            }, function () {
                $.ajax({
                    type: 'DELETE',
                    url: apiurl + '/' + id,
                    success: function (data) {
                        if (data.success) {
                            ShowMessage(data.message);
                            dataTable.ajax.reload();
                        } else {
                            ShowMessageError(data.message);
                        }
                    }
                });
            });


        }




        // Save Quotation Information

        function SaveQuotationInfo(form) {
            var entity = 'Quotation';
            var apiurl = '/api/' + entity;

            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                var data = $(form).serializeJSON();
                data = JSON.stringify(data);

                $.ajax({
                    type: 'POST',
                    url: apiurl,
                    data: data,
                    contentType: 'application/json',
                    success: function (data) {
                        if (data.success) {
                            popup.modal('hide');
                            ShowMessage(data.message);
                            location.reload();
                        } else {
                            ShowMessageError(data.message);
                        }
                    }
                });

            }
            return false;
        }





        //Quotation Charges Line

        var popup2, dataTable2;
        var entity2 = 'QuotationChargesLine';
        var apiurl2 = '/api/' + entity2;

        $(document).ready(function () {
            dataTable2 = $('#grid2').DataTable({
                "ajax": {
                    "url": apiurl2 + '?masterid=@Model.quotationId',
                    "type": 'GET',
                    "datatype": 'json'
                },
                "columns": [
                    { "data": "chargeName"},
                    { "data": "amount" },

                    { "data": "quotationChargesLineId",
                        "render": function (data) {
                            var btnEdit = "<a class='btn btn-primary btn-xs' onclick=ShowPopup2('/" + entity2 + "/Create/" + data + "')><i class='fa fa-pencil'></i></a>";
                            var btnDelete = "<a class='btn btn-danger btn-xs' style='margin-left:2px' onclick=Delete2('" + data + "')><i class='fa fa-trash'></i></a>";

                            return "<div class='tools pull-right'>" + btnEdit + btnDelete + "</div>";
                        }
                    }
                ],
                "language": {
                    "emptyTable": "No Charges Found."
                },
                "lengthChange": true,
                "info": false,
                "searching": false,
                "paging": false,
                "ordering": false,
                "autoWidth": false
            });
        });


        function ShowPopup2(url) {
            var modalId = 'modalDefault';
            var modalPlaceholder = $('#' + modalId + ' .modal-dialog .modal-content');
            $.get(url).done(function (response) {
                modalPlaceholder.html(response);
                popup2 = $('#' + modalId + '').modal({
                    keyboard: false,
                    backdrop: 'static'
                });
            });
        }


        function SubmitAddEdit2(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                var data = $(form).serializeJSON();
                data = JSON.stringify(data);
                $.ajax({
                    type: 'POST',
                    url: apiurl2,
                    data: data,
                    contentType: 'application/json',
                    success: function (data) {
                        if (data.success) {
                            popup2.modal('hide');
                            ShowMessage(data.message);
                            dataTable2.ajax.reload();
                        } else {
                            ShowMessageError(data.message);
                        }
                    }
                });

            }
            return false;
        }


        function Delete2(id) {
            swal({
                title: "Are you sure want to Delete?",
                text: "You will not be able to restore the data!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#dd4b39",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: true
            }, function () {
                $.ajax({
                    type: 'DELETE',
                    url: apiurl2 + '/' + id,
                    success: function (data) {
                        if (data.success) {
                            ShowMessage(data.message);
                            dataTable2.ajax.reload();
                        } else {
                            ShowMessageError(data.message);
                        }
                    }
                });
            });
        }



        shortcut.add("shift+a", function() {
            $("#CL").click();
        });


        //Horizontal Step Wizard

        showWizard();

        function showWizard() {
            $("#wizard").steps({
                headerTag: "h3",
                bodyTag: "section",
                transitionEffect: "slide",
                titleTemplate: '#title#',
                enableFinishButton: false,
                showBackButton: true,
                showFooterButtons: true
            });
        }
    </script>
}

