﻿@model IEnumerable<netcore.Models.Invent.Quotation>
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject netcore.Data.ApplicationDbContext Context
@{
    ApplicationUser appUser = await UserManager.GetUserAsync(User);
    string entityIcon = ViewData["EntityIcon"] as string;
    string controller = (string)ViewContext.RouteData.Values["controller"];
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_QuotationsIndex.cshtml";
    ViewData["EntityIcon"] = "fa fa-file";
    ViewData["ListTitle"] = "Quotations";
    ViewData["IndexInfo"] = "Purchase Order (PO) is a commercial document issued by your company as a buyer to your vendor as a products seller." +
                " There are three status of PO: 1. Draft (Unconfirmed PO, not ready to receive), 2. Open (Confirmed PO, ready to receive) and 3. Completed (Closed PO, already receive the products).";



}

@if (!appUser.isSuperAdmin && !appUser.isServiceProvider)
{
    <style>
        .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
            border: 2px solid #00667d;
            cursor: pointer;
        }

        .box-body {
            padding: 15px;
        }
    </style>
}


<div class="row">



    @if (appUser.isServiceProvider)
    {
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border" style="border-bottom: none;">
                    <h3 class="box-title"><i class="fa fa-file text-primary"></i> <span>&nbsp;Quotations</span></h3>
                    <div class="box-tools pull-right">
                        <div class="has-feedback">
                            <input type="text" id="mainSearch" class="form-control input-sm" placeholder="Search...">
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                        </div>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <div class="mailbox-controls">
                        <div class="text-center">
                            <button type="button" id="btn-export-excel" class="btn btn-success btn-sm"><i class="fa fa-file-excel-o"></i></button>
                            <button type="button" id="btn-export-pdf" class="btn btn-danger btn-sm"><i class="fa fa-file-pdf-o"></i></button>
                            <button type="button" id="btn-export-csv" class="btn btn-primary btn-sm"><i class="fa fa-file-text-o"></i></button>
                        </div>
                    </div>
                    <div class="table-responsive mailbox-messages" style="overflow-x: hidden;">
                        <div class="row">
                            <div class="col-md-12 col-sm-6">
                                <div class="card card-primary card-tabs">
                                    <div class="card-header p-0 pt-1">
                                        <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                                            <li class="nav-item active">
                                                <a class="nav-link active" id="custom-tabs-one-home-tab" data-toggle="pill" href="#custom-tabs-one-home" role="tab" aria-controls="custom-tabs-one-home" aria-selected="true">Current Quotations</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="custom-tabs-one-profile-tab" data-toggle="pill" href="#custom-tabs-one-profile" role="tab" aria-controls="custom-tabs-one-profile" aria-selected="false">Quotations Expired</a>
                                            </li>

                                        </ul>
                                    </div>
                                    <div class="card-body">
                                        <div class="tab-content" id="custom-tabs-one-tabContent">
                                            <!--Super Admin and Service Provider-->

                                            <div class="tab-pane fade active in" id="custom-tabs-one-home" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
                                                <table class="table table-hover table-striped" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                Quotation Number
                                                            </th>
                                                            <th>
                                                                Date
                                                            </th>
                                                            <th>
                                                                Expiry
                                                            </th>
                                                            <th>
                                                                ETD
                                                            </th>
                                                            <th>
                                                                ETA
                                                            </th>
                                                            <th>
                                                                Expedition
                                                            </th>
                                                            <th>
                                                                Mode
                                                            </th>
                                                            <th>
                                                                Origin
                                                            </th>
                                                            <th>
                                                                Destination
                                                            </th>
                                                            <th>
                                                                Status
                                                            </th>
                                                            <th>Actions</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        @{
                                                            if (appUser.isServiceProvider)
                                                            {
                                                                var userId = UserManager.GetUserId(User);
                                                                var serviceProviderId = Context.ServiceProvider.SingleOrDefault(x => x.applicationUserId == userId).serviceProviderId;


                                                                foreach (var item in Model.Where(x => x.quotationExpiryDate >= DateTime.Now && x.serviceProviderId == serviceProviderId))
                                                                {
                                                                    <tr>

                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item.quotationNumber)
                                                                        </td>
                                                                        <td>
                                                                            @item.quotationDate.Date.ToString("dd-MM-yyyy")
                                                                        </td>
                                                                        <td>
                                                                            @item.quotationExpiryDate?.Date.ToString("dd-MM-yyyy")
                                                                        </td>
                                                                        <td>
                                                                            @item.etd.Date.ToString("dd-MM-yyyy")
                                                                        </td>
                                                                        <td>
                                                                            @item.eta.Date.ToString("dd-MM-yyyy")
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item.expeditionType)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item.enquiry.modeOfTransport)
                                                                        </td>

                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item.enquiry.originOfShipment.locationName)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item.enquiry.destinationOfShipment.locationName)
                                                                        </td>
                                                                        <td>
                                                                            @if (item.quotationStatus == netcore.Models.Invent.QuotationStatus.Expired)
                                                                            {
                                                                                <span class="label label-danger">
                                                                                    @Html.DisplayFor(modelItem => item.quotationStatus)
                                                                                </span>

                                                                            }
                                                                            @if (item.quotationStatus == netcore.Models.Invent.QuotationStatus.Submitted)
                                                                            {
                                                                                <span class="label label-warning">
                                                                                    @Html.DisplayFor(modelItem => item.quotationStatus)
                                                                                </span>

                                                                            }
                                                                            @if (item.quotationStatus == netcore.Models.Invent.QuotationStatus.Approved)
                                                                            {
                                                                                <span class="label label-success">
                                                                                    @Html.DisplayFor(modelItem => item.quotationStatus)
                                                                                </span>

                                                                            }
                                                                            @if (item.quotationStatus == netcore.Models.Invent.QuotationStatus.Draft)
                                                                            {
                                                                                <span class="label label-default">
                                                                                    @Html.DisplayFor(modelItem => item.quotationStatus)
                                                                                </span>

                                                                            }
                                                                        </td>
                                                                        <td>
                                                                            <div class="tools">


                                                                                @if (item.quotationStatus == netcore.Models.Invent.QuotationStatus.Draft)
                                                                                {
                                                                                    <a asp-action="Details" asp-route-id="@item.quotationId" class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" title="Provide Quotation"><i class="fa fa-pencil"></i></a>
                                                                                  @*<a asp-action="Delete" asp-route-id="@item.purchaseOrderId" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                                                                                </div>

                                                                    </td>*@
                                                                                }
                                                                                else
                                                                                {
                                                                                    <a asp-action="Details" asp-route-id="@item.quotationId" class="btn btn-bitbucket btn-xs" data-toggle="tooltip" data-placement="top" title="View"><i class="fa fa-eye"></i></a>
                                                                                }

                                                                            </div>
                                                                    </tr>
                                                                }
                                                            }
                                                        }

                                                    </tbody>
                                                </table>
                                            </div>


                                            <div class="tab-pane fade" id="custom-tabs-one-profile" role="tabpanel" aria-labelledby="custom-tabs-one-profile-tab">
                                                <table class="table table-hover table-striped" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                Quotation Number
                                                            </th>
                                                            <th>
                                                                Date
                                                            </th>
                                                            <th>
                                                                Expiry
                                                            </th>
                                                            <th>
                                                                ETD
                                                            </th>
                                                            <th>
                                                                ETA
                                                            </th>
                                                            <th>
                                                                Expedition
                                                            </th>
                                                            <th>
                                                                Mode
                                                            </th>
                                                            <th>
                                                                Origin
                                                            </th>
                                                            <th>
                                                                Destination
                                                            </th>
                                                            <th>
                                                                Status
                                                            </th>
                                                            <th>Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in Model.Where(x => x.quotationExpiryDate <= DateTime.Now))
                                                        {
                                                            <tr>

                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.quotationNumber)
                                                                </td>
                                                                <td>
                                                                    @item.quotationDate.Date.ToString("dd-MM-yyyy")
                                                                </td>
                                                                <td>
                                                                    @item.quotationExpiryDate?.Date.ToString("dd-MM-yyyy")
                                                                </td>
                                                                <td>
                                                                    @item.etd.Date.ToString("dd-MM-yyyy")
                                                                </td>
                                                                <td>
                                                                    @item.eta.Date.ToString("dd-MM-yyyy")
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.expeditionType)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.enquiry.modeOfTransport)
                                                                </td>

                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.enquiry.originOfShipment.locationName)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.enquiry.destinationOfShipment.locationName)
                                                                </td>
                                                                <td>
                                                                    @if (item.quotationStatus == netcore.Models.Invent.QuotationStatus.Expired)
                                                                    {
                                                                        <span class="label label-danger">
                                                                            @Html.DisplayFor(modelItem => item.quotationStatus)
                                                                        </span>

                                                                    }
                                                                    @if (item.quotationStatus == netcore.Models.Invent.QuotationStatus.Submitted)
                                                                    {
                                                                        <span class="label label-warning">
                                                                            @Html.DisplayFor(modelItem => item.quotationStatus)
                                                                        </span>

                                                                    }
                                                                    @if (item.quotationStatus == netcore.Models.Invent.QuotationStatus.Approved)
                                                                    {
                                                                        <span class="label label-success">
                                                                            @Html.DisplayFor(modelItem => item.quotationStatus)
                                                                        </span>

                                                                    }
                                                                    @if (item.quotationStatus == netcore.Models.Invent.QuotationStatus.Draft)
                                                                    {
                                                                        <span class="label label-default">
                                                                            @Html.DisplayFor(modelItem => item.quotationStatus)
                                                                        </span>

                                                                    }
                                                                </td>
                                                                <td>
                                                                    <div class="tools">
                                                                        <a asp-action="Details" asp-route-id="@item.enquiryId" class="btn btn-bitbucket btn-xs" data-toggle="tooltip" data-placement="top" title="View"><i class="fa fa-eye"></i></a>
                                                                        @*<a asp-action="Edit" asp-route-id="@item.quotationId" class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" title="Provide Quotation"><i class="fa fa-pencil"></i></a>*@
                                                                        @*<a asp-action="Delete" asp-route-id="@item.purchaseOrderId" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                                                                                        </div>

                                                                            </td>*@
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>


                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>


                        <!-- /.table -->
                    </div>
                    <!-- /.mail-box-messages -->
                </div>

            </div>
        </div>

    }
    else if (appUser.isSuperAdmin)
    {
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border" style="border-bottom: none;">
                    <h3 class="box-title"><i class="fa fa-file text-primary"></i> <span>&nbsp;Quotations</span></h3>
                    <div class="box-tools pull-right">
                        <div class="has-feedback">
                            <input type="text" id="mainSearch" class="form-control input-sm" placeholder="Search...">
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                        </div>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <div class="mailbox-controls">
                        <div class="text-center">
                            <button type="button" id="btn-export-excel" class="btn btn-success btn-sm"><i class="fa fa-file-excel-o"></i></button>
                            <button type="button" id="btn-export-pdf" class="btn btn-danger btn-sm"><i class="fa fa-file-pdf-o"></i></button>
                            <button type="button" id="btn-export-csv" class="btn btn-primary btn-sm"><i class="fa fa-file-text-o"></i></button>
                        </div>
                    </div>
                    <div class="table-responsive mailbox-messages" style="overflow-x: hidden;">
                        <div class="row">
                            <div class="col-md-12 col-sm-6">
                                <div class="card card-primary card-tabs">
                                    <div class="card-header p-0 pt-1">
                                        <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                                            <li class="nav-item active">
                                                <a class="nav-link active" id="custom-tabs-one-home-tab" data-toggle="pill" href="#custom-tabs-one-home" role="tab" aria-controls="custom-tabs-one-home" aria-selected="true">All Quotations</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-body">
                                        <div class="tab-content" id="custom-tabs-one-tabContent">
                                            <!--Super Admin and Service Provider-->

                                            <div class="tab-pane fade active in" id="custom-tabs-one-home" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
                                                <table class="table table-hover table-striped" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                Quotation Number
                                                            </th>
                                                            <th>
                                                                Against Enquiry
                                                            </th>
                                                            <th>
                                                                Service Provider
                                                            </th>
                                                            <th>
                                                                Date
                                                            </th>
                                                            <th>
                                                                Expiry
                                                            </th>
                                                            <th>
                                                                ETD
                                                            </th>
                                                            <th>
                                                                ETA
                                                            </th>
                                                            <th>
                                                                Expedition
                                                            </th>
                                                            <th>
                                                                Mode
                                                            </th>
                                                            <th>
                                                                Origin
                                                            </th>
                                                            <th>
                                                                Destination
                                                            </th>
                                                            <th>
                                                                Status
                                                            </th>
                                                            <th>Actions</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        @{
                                                            if (appUser.isSuperAdmin)
                                                            {
                                                                foreach (var item in Model)
                                                                {
                                                                    <tr>

                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item.quotationNumber)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item.enquiry.enquiryNumber)
                                                                        </td>
                                                                         <td>
                                                                            @Html.DisplayFor(modelItem => item.serviceProvider.businessContactName)
                                                                        </td>
                                                                        <td>
                                                                            @item.quotationDate.Date.ToString("dd-MM-yyyy")
                                                                        </td>
                                                                        <td>
                                                                            @item.quotationExpiryDate?.Date.ToString("dd-MM-yyyy")
                                                                        </td>
                                                                        <td>
                                                                            @item.etd.Date.ToString("dd-MM-yyyy")
                                                                        </td>
                                                                        <td>
                                                                            @item.eta.Date.ToString("dd-MM-yyyy")
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item.expeditionType)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item.enquiry.modeOfTransport)
                                                                        </td>

                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item.enquiry.originOfShipment.locationName)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item.enquiry.destinationOfShipment.locationName)
                                                                        </td>
                                                                        <td>
                                                                            @if (item.quotationStatus == netcore.Models.Invent.QuotationStatus.Expired)
                                                                            {
                                                                                <span class="label label-danger">
                                                                                    @Html.DisplayFor(modelItem => item.quotationStatus)
                                                                                </span>

                                                                            }
                                                                            @if (item.quotationStatus == netcore.Models.Invent.QuotationStatus.Submitted)
                                                                            {
                                                                                <span class="label label-warning">
                                                                                    @Html.DisplayFor(modelItem => item.quotationStatus)
                                                                                </span>

                                                                            }
                                                                            @if (item.quotationStatus == netcore.Models.Invent.QuotationStatus.Approved)
                                                                            {
                                                                                <span class="label label-success">
                                                                                    @Html.DisplayFor(modelItem => item.quotationStatus)
                                                                                </span>

                                                                            }
                                                                            @if (item.quotationStatus == netcore.Models.Invent.QuotationStatus.Draft)
                                                                            {
                                                                                <span class="label label-default">
                                                                                    @Html.DisplayFor(modelItem => item.quotationStatus)
                                                                                </span>

                                                                            }
                                                                        </td>
                                                                        <td>
                                                                            <div class="tools">
                                                                                <a asp-action="Details" asp-route-id="@item.quotationId" class="btn btn-bitbucket btn-xs" data-toggle="tooltip" data-placement="top" title="View"><i class="fa fa-eye"></i></a>
                                                                            </div>
                                                                    </tr>
                                                                }
                                                            }
                                                        }

                                                    </tbody>
                                                </table>
                                            </div>


                                            <div class="tab-pane fade" id="custom-tabs-one-profile" role="tabpanel" aria-labelledby="custom-tabs-one-profile-tab">
                                                <table class="table table-hover table-striped" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                Quotation Number
                                                            </th>
                                                            <th>
                                                                Date
                                                            </th>
                                                            <th>
                                                                Expiry
                                                            </th>
                                                            <th>
                                                                ETD
                                                            </th>
                                                            <th>
                                                                ETA
                                                            </th>
                                                            <th>
                                                                Expedition
                                                            </th>
                                                            <th>
                                                                Mode
                                                            </th>
                                                            <th>
                                                                Origin
                                                            </th>
                                                            <th>
                                                                Destination
                                                            </th>
                                                            <th>
                                                                Status
                                                            </th>
                                                            <th>Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in Model.Where(x => x.quotationExpiryDate <= DateTime.Now))
                                                        {
                                                            <tr>

                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.quotationNumber)
                                                                </td>
                                                                <td>
                                                                    @item.quotationDate.Date.ToString("dd-MM-yyyy")
                                                                </td>
                                                                <td>
                                                                    @item.quotationExpiryDate?.Date.ToString("dd-MM-yyyy")
                                                                </td>
                                                                <td>
                                                                    @item.etd.Date.ToString("dd-MM-yyyy")
                                                                </td>
                                                                <td>
                                                                    @item.eta.Date.ToString("dd-MM-yyyy")
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.expeditionType)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.modeOfTransport)
                                                                </td>

                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.enquiry.originOfShipment.locationName)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.enquiry.destinationOfShipment.locationName)
                                                                </td>
                                                                <td>
                                                                    @if (item.quotationStatus == netcore.Models.Invent.QuotationStatus.Expired)
                                                                    {
                                                                        <span class="label label-danger">
                                                                            @Html.DisplayFor(modelItem => item.quotationStatus)
                                                                        </span>

                                                                    }
                                                                    @if (item.quotationStatus == netcore.Models.Invent.QuotationStatus.Submitted)
                                                                    {
                                                                        <span class="label label-warning">
                                                                            @Html.DisplayFor(modelItem => item.quotationStatus)
                                                                        </span>

                                                                    }
                                                                    @if (item.quotationStatus == netcore.Models.Invent.QuotationStatus.Approved)
                                                                    {
                                                                        <span class="label label-success">
                                                                            @Html.DisplayFor(modelItem => item.quotationStatus)
                                                                        </span>

                                                                    }
                                                                    @if (item.quotationStatus == netcore.Models.Invent.QuotationStatus.Draft)
                                                                    {
                                                                        <span class="label label-default">
                                                                            @Html.DisplayFor(modelItem => item.quotationStatus)
                                                                        </span>

                                                                    }
                                                                </td>
                                                                <td>
                                                                    <div class="tools">
                                                                        <a asp-action="Details" asp-route-id="@item.enquiryId" class="btn btn-bitbucket btn-xs" data-toggle="tooltip" data-placement="top" title="View"><i class="fa fa-eye"></i></a>
                                                                        @*<a asp-action="Edit" asp-route-id="@item.quotationId" class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" title="Provide Quotation"><i class="fa fa-pencil"></i></a>*@
                                                                        @*<a asp-action="Delete" asp-route-id="@item.purchaseOrderId" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                                                                                        </div>

                                                                            </td>*@
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>


                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>


                        <!-- /.table -->
                    </div>
                    <!-- /.mail-box-messages -->
                </div>

            </div>
        </div>
    }
    else
    {
        <div class="col-md-8">
            <div class="box box-primary">
                <div class="box-header with-border" style="border-bottom: none;">
                    <h3 class="box-title"><i class="fa fa-file text-primary"></i> <span>&nbsp;Quotations</span></h3>
                    <div class="box-tools pull-right">
                        <div class="has-feedback">
                            <input type="text" id="mainSearch" class="form-control input-sm" placeholder="Search...">
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                        </div>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <div class="table-responsive mailbox-messages" style="overflow-x: hidden;">
                        <div class="row">
                            <div class="col-md-12 col-sm-6">
                                <div class="card card-primary card-tabs">
                                    <div class="card-header p-0 pt-1">

                                        <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                                            <li class="nav-item active">
                                                <a class="nav-link active" id="seaQuotations-tab" data-toggle="pill" href="#seaQuotations" role="tab" aria-controls="seaQuotations" aria-selected="true">
                                                    <div class="product-img">
                                                        <img src="~/images/icons/sea.png" alt="Product Image" style="width: 52px; height: 52px; padding: 5px"><b> Sea Freight</b>
                                                    </div>
                                                </a>
                                            </li>

                                            @*<li class="nav-item">
                                                    <a class="nav-link" id="lclQuotations-tab" data-toggle="pill" href="#lclQuotations" role="tab" aria-controls="lclQuotations" aria-selected="true">
                                                        <div class="product-img">
                                                            <img src="~/images/icons/lcl.png" alt="Product Image" style="width: 42px; height: 42px; padding: 5px"><b> LCL</b>
                                                        </div>
                                                    </a>
                                                </li>*@

                                            <li class="nav-item">
                                                <a class="nav-link" id="airQuotations-tab" data-toggle="pill" href="#airQuotations" role="tab" aria-controls="airQuotations" aria-selected="true">
                                                    <div class="product-img">
                                                        <img src="~/images/icons/air.png" alt="Product Image" style="width: 52px; height: 52px; padding: 5px"><b> Air Freight</b>
                                                    </div>
                                                </a>
                                            </li>

                                            @*<li class="nav-item">
                                                    <a class="nav-link" id="ftlQuotations-tab" data-toggle="pill" href="#ftlQuotations" role="tab" aria-controls="airQuotations" aria-selected="true">
                                                        <div class="product-img">
                                                            <img src="~/images/icons/ftl.png" alt="Product Image" style="width: 42px; height: 42px; padding: 5px"><b> FTL</b>
                                                        </div>
                                                    </a>
                                                </li>*@

                                            <li class="nav-item">
                                                <a class="nav-link" id="landQuotations-tab" data-toggle="pill" href="#landQuotations" role="tab" aria-controls="landQuotations" aria-selected="true">
                                                    <div class="product-img">
                                                        <img src="~/images/icons/ltl.png" alt="Product Image" style="width: 52px; height: 52px; padding: 5px"><b> Land Freight</b>
                                                    </div>
                                                </a>
                                            </li>

                                            @*<li class="nav-item">
                                                    <a class="nav-link" id="railQuotations-tab" data-toggle="pill" href="#railQuotations" role="tab" aria-controls="railQuotations" aria-selected="true">
                                                        <div class="product-img">
                                                            <img src="~/images/icons/rail.png" alt="Product Image" style="width: 42px; height: 42px; padding: 5px"><b> RAIL</b>
                                                        </div>
                                                    </a>
                                                </li>*@
                                        </ul>
                                    </div>
                                    <div class="card-body">
                                        <div class="tab-content">

                                            <!--Customer-->
                                            <!--SEA TAB-->
                                            <div class="tab-pane fade active in" id="seaQuotations" role="tabpanel" aria-labelledby="seaQuotations-tab">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <table class="table table-hover" style="width:100%;">
                                                            <thead class="pull-right">
                                                                <tr>
                                                                    <th>Sort Quotations</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var item in Model.Where(x => x.enquiry.modeOfTransport == netcore.Models.Invent.ModeOfTransport.Ocean && x.enquiry.enquiryLine.Any(e => e.serviceType == netcore.Models.Invent.ServicesType.FCL || e.serviceType == netcore.Models.Invent.ServicesType.LCL)))
                                                                {

                                                                    <tr>
                                                                        <td>
                                                                            <div class="box-body">
                                                                                <ul class="products-list product-list-in-box">
                                                                                    <li class="item" id="viewQuotation">
                                                                                        <div>

                                                                                            <a data-toggle="tooltip" data-placement="top" title="View" class="product-title" style="font-size:medium">
                                                                                                @item.etd.Date.ToString("dd MMM yyyy")
                                                                                                <i class="fa fa-arrow-right" style="padding-left: 10px; padding-right: 10px"></i>@item.eta.Date.ToString("dd MMM yyyy")

                                                                                                @if (item.quotationStatus == netcore.Models.Invent.QuotationStatus.Submitted)
                                                                                                {
                                                                                                    <span class="label label-primary pull-right"><i class="fa fa-check"></i>&nbsp;&nbsp;New</span>
                                                                                                }
                                                                                                else if (item.quotationStatus == netcore.Models.Invent.QuotationStatus.Approved)
                                                                                                {
                                                                                                    <span class="label label-success pull-right"><i class="fa fa-check"></i>&nbsp;&nbsp;Booked</span>
                                                                                                }

                                                                                            </a>

                                                                                            <span class="product-description" style="padding-top: 4px; padding-bottom: 4px;">
                                                                                                <i class="fa fa-clock-o" style="padding-right: 6px"></i>@item.transitDays days
                                                                                                &nbsp;
                                                                                                <i class="fa fa-arrow-circle-right" style="padding-right: 6px"></i>@item.expeditionType

                                                                                                <strong class="pull-right" style="color: #000000">INR @item.quotationChargesLine.Where(x => x.quotationId == item.quotationId).Sum(x => x.amount)</strong>
                                                                                            </span>

                                                                                            <span class="product-description text-center">
                                                                                                @item.originOfShipment.locationName<i class="fa fa-arrow-right" style="padding-left: 10px; padding-right: 10px"></i>@item.destinationOfShipment.locationName
                                                                                            </span>

                                                                                            @*<a href="@Url.Action("Details", "Booking", new { id = item.quotationId})" class="btn btn-primary pull-right" data-toggle="tooltip" data-placement="top" style="border-color: #278a87; color: #fff;" title="Book This Quotation"><i class="fa fa-thumbs-o-up"></i>&nbsp;Book Now</a>*@

                                                                                            @if (!(item.quotationStatus == netcore.Models.Invent.QuotationStatus.Approved))
                                                                                            {
                                                                                                <button onclick="CreateBooking('@item.quotationId')" class="btn btn-primary pull-right" style="border-color: #278a87; color: #fff;" data-toggle="tooltip" data-placement="top" title="Book This Quotation"><i class="fa fa-thumbs-o-up"></i>&nbsp;Book Now</button>
                                                                                            }


                                                                                            <button class="btn btn-default pull-right" onclick="ShowQuotationView('@item.quotationId')" style="border-color: #278a87; color: #278a87; margin-right: 10px" data-toggle="tooltip" data-placement="top" title="View This Quotation"><i class="fa fa-thumbs-o-up"></i>&nbsp;View </button>


                                                                                        </div>
                                                                                    </li>

                                                                                </ul>

                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                }


                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>


                                            <!--AIR TAB-->
                                            <div class="tab-pane fade" id="airQuotations" role="tabpanel" aria-labelledby="airQuotations-tab">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <table class="table table-hover" style="width:100%;">
                                                            <thead class="pull-right">
                                                                <tr>
                                                                    <th>Sort Quotations</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var item in Model.Where(x => x.enquiry.modeOfTransport == netcore.Models.Invent.ModeOfTransport.Air))
                                                                {
                                                                    <tr>
                                                                        <td>
                                                                            <div class="box-body">
                                                                                <ul class="products-list product-list-in-box">
                                                                                    <li class="item">
                                                                                        <div>
                                                                                            <a data-toggle="tooltip" data-placement="top" title="View" class="product-title" style="font-size:medium">
                                                                                                @item.etd.Date.ToString("dd MMM yyyy")
                                                                                                <i class="fa fa-arrow-right" style="padding-left: 10px; padding-right: 10px"></i>@item.eta.Date.ToString("dd MMM yyyy")

                                                                                                @if (item.quotationStatus == netcore.Models.Invent.QuotationStatus.Submitted)
                                                                                                {
                                                                                                    <span class="label label-primary pull-right"><i class="fa fa-check"></i>&nbsp;&nbsp;New</span>
                                                                                                }
                                                                                                else if (item.quotationStatus == netcore.Models.Invent.QuotationStatus.Approved)
                                                                                                {
                                                                                                    <span class="label label-success pull-right"><i class="fa fa-check"></i>&nbsp;&nbsp;Booked</span>
                                                                                                }

                                                                                            </a>

                                                                                            <span class="product-description" style="padding-top: 4px; padding-bottom: 4px;">
                                                                                                <i class="fa fa-clock-o" style="padding-right: 6px"></i>@item.transitDays days
                                                                                                &nbsp;
                                                                                                <i class="fa fa-arrow-circle-right" style="padding-right: 6px"></i>@item.expeditionType

                                                                                                <strong class="pull-right" style="color: #000000">INR @item.quotationChargesLine.Where(x => x.quotationId == item.quotationId).Sum(x => x.amount)</strong>
                                                                                            </span>

                                                                                            <span class="product-description text-center">
                                                                                                @item.originOfShipment.locationName<i class="fa fa-arrow-right" style="padding-left: 10px; padding-right: 10px"></i>@item.destinationOfShipment.locationName
                                                                                            </span>


                                                                                            @if (!(item.quotationStatus == netcore.Models.Invent.QuotationStatus.Approved))
                                                                                            {
                                                                                                <button onclick="CreateBooking('@item.quotationId')" class="btn btn-primary pull-right" style="border-color: #278a87; color: #fff;" data-toggle="tooltip" data-placement="top" title="Book This Quotation"><i class="fa fa-thumbs-o-up"></i>&nbsp;Book Now</button>
                                                                                            }

                                                                                            <button class="btn btn-default pull-right" onclick="ShowQuotationView('@item.quotationId')" style="border-color: #278a87; color: #278a87; margin-right: 10px" data-toggle="tooltip" data-placement="top" title="View This Quotation"><i class="fa fa-thumbs-o-up"></i>&nbsp;View </button>
                                                                                        </div>
                                                                                    </li>

                                                                                </ul>

                                                                            </div>
                                                                        </td>
                                                                    </tr>

                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>


                                            <!--LAND TAB-->
                                            <div class="tab-pane fade" id="landQuotations" role="tabpanel" aria-labelledby="landQuotations-tab">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <table class="table table-hover" style="width:100%;">
                                                            <thead class="pull-right">
                                                                <tr>
                                                                    <th>Sort Quotations</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var item in Model.Where(x => x.enquiry.modeOfTransport == netcore.Models.Invent.ModeOfTransport.Road || x.enquiry.modeOfTransport == netcore.Models.Invent.ModeOfTransport.Rail))
                                                                {
                                                                    <tr>
                                                                        <td>
                                                                            <div class="box-body">
                                                                                <ul class="products-list product-list-in-box">
                                                                                    <li class="item">
                                                                                        <div>
                                                                                            <a data-toggle="tooltip" data-placement="top" title="View" class="product-title" style="font-size:medium">
                                                                                                @item.etd.Date.ToString("dd MMM yyyy")
                                                                                                <i class="fa fa-arrow-right" style="padding-left: 10px; padding-right: 10px"></i>@item.eta.Date.ToString("dd MMM yyyy")

                                                                                                @if (item.quotationStatus == netcore.Models.Invent.QuotationStatus.Submitted)
                                                                                                {
                                                                                                    <span class="label label-primary pull-right"><i class="fa fa-check"></i>&nbsp;&nbsp;New</span>
                                                                                                }
                                                                                                else if (item.quotationStatus == netcore.Models.Invent.QuotationStatus.Approved)
                                                                                                {
                                                                                                    <span class="label label-success pull-right"><i class="fa fa-check"></i>&nbsp;&nbsp;Booked</span>
                                                                                                }

                                                                                            </a>

                                                                                            <span class="product-description" style="padding-top: 4px; padding-bottom: 4px;">
                                                                                                <i class="fa fa-clock-o" style="padding-right: 6px"></i>@item.transitDays days
                                                                                                &nbsp;
                                                                                                <i class="fa fa-arrow-circle-right" style="padding-right: 6px"></i>@item.expeditionType

                                                                                                <strong class="pull-right" style="color: #000000">INR @item.quotationChargesLine.Where(x => x.quotationId == item.quotationId).Sum(x => x.amount)</strong>
                                                                                            </span>

                                                                                            <span class="product-description text-center">
                                                                                                @item.enquiry.originOfShipment.locationName<i class="fa fa-arrow-right" style="padding-left: 10px; padding-right: 10px"></i>@item.enquiry.destinationOfShipment.locationName
                                                                                            </span>

                                                                                            @if (!(item.quotationStatus == netcore.Models.Invent.QuotationStatus.Approved))
                                                                                            {
                                                                                                <button onclick="CreateBooking('@item.quotationId')" class="btn btn-primary pull-right" style="border-color: #278a87; color: #fff;" data-toggle="tooltip" data-placement="top" title="Book This Quotation"><i class="fa fa-thumbs-o-up"></i>&nbsp;Book Now</button>
                                                                                            }


                                                                                            <button class="btn btn-default pull-right" onclick="ShowQuotationView('@item.quotationId')" style="border-color: #278a87; color: #278a87; margin-right: 10px" data-toggle="tooltip" data-placement="top" title="View This Quotation"><i class="fa fa-thumbs-o-up"></i>&nbsp;View </button>
                                                                                        </div>
                                                                                    </li>

                                                                                </ul>

                                                                            </div>
                                                                        </td>
                                                                    </tr>

                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    }



    <!--Quotation View Area-->

    <div id="quotationViewArea">

    </div>


</div>


@section Scripts{
    <script>
        $(document).ready(function () {
            var mainTable;

            mainTable = $('.table').DataTable({
                "lengthChange": false,
                "info": false,
                "searching": true,
                "dom": 'lrtip',
                "scrollX": false,
                "buttons": [
                            {
                                extend: 'csv',
                                filename: '@controller-csv'
                            },
                            {
                                extend: 'pdf',
                                filename: '@controller-pdf'
                            },
                            {
                                extend: 'excel',
                                filename: '@controller-excel'
                            }
                        ]
            });

            $('#mainSearch').keyup(function () {
                mainTable.search($(this).val()).draw();
            })

            $("#btn-export-csv").on("click", function() {
                mainTable.button( '.buttons-csv' ).trigger();
            })

            $("#btn-export-excel").on("click", function() {
                mainTable.button( '.buttons-excel' ).trigger();
            })

            $("#btn-export-pdf").on("click", function() {
                mainTable.button( '.buttons-pdf' ).trigger();
            })


            $('[data-toggle="tooltip"]').tooltip();

        });




        function ShowQuotationView(quotationId) {

            $.ajax({
                type: "POST",
                data: {
                    quotationId: quotationId
                },
                url: '@Url.Action("QuotationView", "Quotation")',
                success: function (result) { success(result); }
            });

            function success(result) {
                $("#quotationViewArea").html(result);
            }
        }

        function success(result) {

            $("#quotationViewArea").html(result);

            ShowQuotationView(quotationId);
        }



        function CreateBooking(quotationId) {
             @*$.ajax({
                type: "POST",
                data: {
                    quotationId: quotationId
                },
                url: '@Url.Action("QuotationView", "Quotation")',
                success: function (result) { success(result); }
             });*@

            swal({
            title: "Are you sure you want to book this quotation?",
            text: "You will not be able to revert this booking!",
            type: "info",
            showCancelButton: true,
            confirmButtonColor: "#dd4b39",
            confirmButtonText: "Yes, Confirmed!",
            closeOnConfirm: true
            }, function () {
                $.ajax({
                    url: '@Url.Action("Create", "Booking")',
                    data: { 'quotationId': quotationId},
                    dataType: 'JSON',
                    type: 'POST',
                    success: function (data) {
                        if (data.success) {
                            swal("Booking Confirmed!", "You Have Booked this Quotation successfully, Click ok to continue", "success")
                            window.location.href = 'Booking/Index';
                        } else {
                            console.log(data.message);
                        }
                     }
                });
            });
        }


        @*function ShowQuotationView(quotationId) {

            $('#viewQuotation').click(function () {

                $.ajax({
                    url: '@Url.Action("QuotationView", "Quotation")',
                    type: 'POST',
                    data: { quotationId: quotationId },
                    contentType: "application/html; charset=utf-8",
                    success: function (result) {
                        $("#quotationViewArea").html(null);
                        $("#quotationViewArea").html(result);
                    }
                });
            });
        }*@


    </script>
}



@*<ul class="nav nav-tabs">
        <li class="active"><a href="#currentEnquiries" data-toggle="pill" id="currentEnquiries"><b>Current Enquiries</b></a></li>
        <li><a href="#missedEnquiries" data-toggle="pill" id="missedEnquiries"><b>Missed Enquiries</b></a></li>
    </ul>

    <div class="tab-content">
        <div class="active tab-pane" id="currentEnquiries">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover table-striped" style="width:100%">
                        <thead>
                            <tr>

                                <th>
                                    @Html.DisplayNameFor(model => model.purchaseOrderNumber)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.deliveryInwardNumber)
                                </th>
                                <th class="hidden">
                                    @Html.DisplayNameFor(model => model.top)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.poDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.deliveryDate)
                                </th>
                                <th class="hidden">
                                    @Html.DisplayNameFor(model => model.deliveryAddress)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.description)
                                </th>

                                <th class="hidden">
                                    @Html.DisplayNameFor(model => model.picVendor)
                                </th>

                                <th class="hidden">
                                    @Html.DisplayNameFor(model => model.totalDiscountAmount)
                                </th>
                                <th class="hidden">
                                    @Html.DisplayNameFor(model => model.totalOrderAmount)
                                </th>
                                <th class="hidden">
                                    @Html.DisplayNameFor(model => model.purchaseReceiveNumber)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.vendor.companyName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.usdRate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.purchaseOrderStatus)
                                </th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.purchaseOrderNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.deliveryInwardNumber)
                                    </td>
                                    <td class="hidden">
                                        @Html.DisplayFor(modelItem => item.top)
                                    </td>
                                    <td>
                                        @item.poDate.Date.ToString("dd-MMM-yyyy")
                                    </td>
                                    <td>
                                        @item.deliveryDate.Date.ToString("dd-MMM-yyyy")

                                    </td>
                                    <td class="hidden">
                                        @Html.DisplayFor(modelItem => item.deliveryAddress)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.description)
                                    </td>

                                    <td class="hidden">
                                        @Html.DisplayFor(modelItem => item.picVendor)
                                    </td>

                                    <td class="hidden">
                                        @Html.DisplayFor(modelItem => item.totalDiscountAmount)
                                    </td>
                                    <td class="hidden">
                                        @Html.DisplayFor(modelItem => item.totalOrderAmount)
                                    </td>
                                    <td class="hidden">
                                        @Html.DisplayFor(modelItem => item.purchaseReceiveNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.vendor.companyName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.usdRate)
                                    </td>
                                    <td>
                                        @if (item.purchaseOrderStatus == netcore.Models.Invent.PurchaseOrderStatus.Completed)
                                        {
                                            <span class="label label-success">
                                                @Html.DisplayFor(modelItem => item.purchaseOrderStatus)
                                            </span>

                                        }
                                        @if (item.purchaseOrderStatus == netcore.Models.Invent.PurchaseOrderStatus.Open)
                                        {
                                            <span class="label label-primary">
                                                @Html.DisplayFor(modelItem => item.purchaseOrderStatus)
                                            </span>

                                        }
                                        @if (item.purchaseOrderStatus == netcore.Models.Invent.PurchaseOrderStatus.Draft)
                                        {
                                            <span class="label label-warning">
                                                @Html.DisplayFor(modelItem => item.purchaseOrderStatus)
                                            </span>

                                        }

                                    </td>
                                    <td>
                                        <div class="tools">
                                            <a asp-action="Details" asp-route-id="@item.purchaseOrderId" class="btn btn-primary btn-xs"><i class="fa fa-eye"></i></a>
                                            <a asp-action="Edit" asp-route-id="@item.purchaseOrderId" class="btn btn-warning btn-xs"><i class="fa fa-file"></i></a>
                                        </div>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>


    <div class="tab-content">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover table-striped" style="width:100%">
                    <thead>
                        <tr>

                            <th>
                                @Html.DisplayNameFor(model => model.purchaseOrderNumber)
                            </th>
                            <th class="hidden">
                                @Html.DisplayNameFor(model => model.top)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.poDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.deliveryDate)
                            </th>
                            <th class="hidden">
                                @Html.DisplayNameFor(model => model.deliveryAddress)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.description)
                            </th>

                            <th class="hidden">
                                @Html.DisplayNameFor(model => model.picVendor)
                            </th>

                            <th class="hidden">
                                @Html.DisplayNameFor(model => model.totalDiscountAmount)
                            </th>
                            <th class="hidden">
                                @Html.DisplayNameFor(model => model.totalOrderAmount)
                            </th>
                            <th class="hidden">
                                @Html.DisplayNameFor(model => model.purchaseReceiveNumber)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.vendor.companyName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.usdRate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.purchaseOrderStatus)
                            </th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.purchaseOrderNumber)
                                </td>
                                <td class="hidden">
                                    @Html.DisplayFor(modelItem => item.top)
                                </td>
                                <td>
                                    @item.poDate.Date.ToString("dd-MMM-yyyy")
                                </td>
                                <td>
                                    @item.deliveryDate.Date.ToString("dd-MMM-yyyy")

                                </td>
                                <td class="hidden">
                                    @Html.DisplayFor(modelItem => item.deliveryAddress)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.description)
                                </td>

                                <td class="hidden">
                                    @Html.DisplayFor(modelItem => item.picVendor)
                                </td>

                                <td class="hidden">
                                    @Html.DisplayFor(modelItem => item.totalDiscountAmount)
                                </td>
                                <td class="hidden">
                                    @Html.DisplayFor(modelItem => item.totalOrderAmount)
                                </td>
                                <td class="hidden">
                                    @Html.DisplayFor(modelItem => item.purchaseReceiveNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.vendor.companyName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.usdRate)
                                </td>
                                <td>
                                    @if (item.purchaseOrderStatus == netcore.Models.Invent.PurchaseOrderStatus.Completed)
                                    {
                                        <span class="label label-success">
                                            @Html.DisplayFor(modelItem => item.purchaseOrderStatus)
                                        </span>

                                    }
                                    @if (item.purchaseOrderStatus == netcore.Models.Invent.PurchaseOrderStatus.Open)
                                    {
                                        <span class="label label-primary">
                                            @Html.DisplayFor(modelItem => item.purchaseOrderStatus)
                                        </span>

                                    }
                                    @if (item.purchaseOrderStatus == netcore.Models.Invent.PurchaseOrderStatus.Draft)
                                    {
                                        <span class="label label-warning">
                                            @Html.DisplayFor(modelItem => item.purchaseOrderStatus)
                                        </span>

                                    }

                                </td>
                                <td>
                                    <div class="tools">
                                        <a asp-action="Details" asp-route-id="@item.purchaseOrderId" class="btn btn-primary btn-xs"><i class="fa fa-eye"></i></a>
                                        <a asp-action="Edit" asp-route-id="@item.purchaseOrderId" class="btn btn-warning btn-xs"><i class="fa fa-file"></i></a>
                                    </div>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>*@





