﻿@model netcore.Models.ScreenViewModels.QuotationViewModel
@inject UserManager<ApplicationUser> UserManager
@inject netcore.Data.ApplicationDbContext Context
@{
    ApplicationUser appUser = await UserManager.GetUserAsync(User);
}



@if (!appUser.isServiceProvider)
{
    <div class="col-md-4">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Cost Breakdown</h3>
            </div>

            <div class="box-body">
                <div class="product-img">
                    @if (Model.enquiry.enquiryLine.Any(x => x.serviceType == netcore.Models.Invent.ServicesType.FCL))
                    {
                        <img src="~/images/icons/container-details.png" alt="Product Image" style="width: 42px; height: 42px; padding: 5px">

                        <strong class="producttitle" style="font-size:medium">

                            FCL (Sea Freight)

                            <br />
                            <a asp-action="Details" asp-route-id="" data-toggle="tooltip" data-placement="top" title="View" class="product-title" style="font-size:medium; color:#278a87">
                                <span class="label label-default pull-right">@Model.enquiry.enquiryNumber</span>
                            </a>
                        </strong>
                    }
                    else if (Model.enquiry.enquiryLine.Any(x => x.serviceType == netcore.Models.Invent.ServicesType.LCL))
                    {
                        <img src="~/images/icons/lcl.png" alt="Product Image" style="width: 42px; height: 42px; padding: 5px">

                        <strong class="producttitle" style="font-size:medium">

                            LCL (Sea Freight)

                            <br />
                            <a asp-action="Details" asp-route-id="" data-toggle="tooltip" data-placement="top" title="View" class="product-title" style="font-size:medium; color:#278a87">
                                <span class="label label-default pull-right">@Model.enquiry.enquiryNumber</span>
                            </a>
                        </strong>
                    }
                    else if (Model.enquiry.enquiryLine.Any(x => x.serviceType == netcore.Models.Invent.ServicesType.FTL))
                    {
                        <img src="~/images/icons/ftl.png" alt="Product Image" style="width: 42px; height: 42px; padding: 5px">

                        <strong class="producttitle" style="font-size:medium">

                            FTL (Land Freight)

                            <br />
                            <a asp-action="Details" asp-route-id="" data-toggle="tooltip" data-placement="top" title="View" class="product-title" style="font-size:medium; color:#278a87">
                                <span class="label label-default pull-right">@Model.enquiry.enquiryNumber</span>
                            </a>
                        </strong>
                    }
                    else if (Model.enquiry.enquiryLine.Any(x => x.serviceType == netcore.Models.Invent.ServicesType.LTL))
                    {
                        <img src="~/images/icons/ltl.png" alt="Product Image" style="width: 42px; height: 42px; padding: 5px">

                        <strong class="producttitle" style="font-size:medium">

                            LTL (Land Freight)

                            <br />
                            <a asp-action="Details" asp-route-id="" data-toggle="tooltip" data-placement="top" title="View" class="product-title" style="font-size:medium; color:#278a87">
                                <span class="label label-default pull-right">@Model.enquiry.enquiryNumber</span>
                            </a>
                        </strong>
                    }
                    else if (Model.enquiry.enquiryLine.Any(x => x.serviceType == netcore.Models.Invent.ServicesType.Air))
                    {
                        <img src="~/images/icons/air.png" alt="Product Image" style="width: 42px; height: 42px; padding: 5px">

                        <strong class="producttitle" style="font-size:medium">

                            AIR (Air Freight)

                            <br />
                            <a asp-action="Details" asp-route-id="" data-toggle="tooltip" data-placement="top" title="View" class="product-title" style="font-size:medium; color:#278a87">
                                <span class="label label-default pull-right">@Model.enquiry.enquiryNumber</span>
                            </a>
                        </strong>
                    }
                    else if (Model.enquiry.enquiryLine.Any(x => x.serviceType == netcore.Models.Invent.ServicesType.RAIL))
                    {
                        <img src="~/images/icons/tr.png" alt="Product Image" style="width: 42px; height: 42px; padding: 5px">

                        <strong class="producttitle" style="font-size:medium">

                            Rail (Rail Freight)

                            <br />
                            <a asp-action="Details" asp-route-id="" data-toggle="tooltip" data-placement="top" title="View" class="product-title" style="font-size:medium; color:#278a87">
                                <span class="label label-default pull-right">@Model.enquiry.enquiryNumber</span>
                            </a>
                        </strong>
                    }

                </div>

                <hr />
                <span class="product-description" style="padding-top: 4px; padding-bottom: 4px; padding-left: 10px">
                    <i class="fa fa-ship" style="padding-right: 6px"></i><b>@Model.shipmentName</b>
                </span>
                <hr>

                <span class="product-description">
                    <i class="fa fa-calendar" style="padding-right: 6px; padding-left: 10px"></i>@Model.etd.ToLongDateString()<i class="fa fa-arrow-right" style="padding-left: 10px; padding-right: 10px"></i>@Model.eta.ToLongDateString()
                </span>

                <hr>
                @if (!String.IsNullOrWhiteSpace(Model.transitDays))
                {
                    <span class="product-description" style="padding-top: 4px; padding-bottom: 4px; padding-left: 10px">
                        <i class="fa fa-clock-o" style="padding-right: 6px"></i><b>@Model.transitDays Days</b>
                    </span>
                    <hr />
                }

                <span class="product-description" style="padding-top: 4px; padding-bottom: 4px; padding-left: 10px">
                    <i class="fa fa-arrow-circle-right" style="padding-right: 6px"></i><b>@Model.expeditionType</b>
                </span>


                <hr>

                <span class="product-description">
                    <i class="fa fa-map-marker" style="padding-right: 6px; padding-left: 10px"></i>@Model.originOfShipmentLocationName<i class="fa fa-arrow-right" style="padding-left: 10px; padding-right: 10px"></i>@Model.destinationOfShipmentLocationName
                </span>

                <hr />
                <div class="col-md-12">
                    <p class="lead">Charges</p>
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                @foreach (var item in Model.quotationChargesLine)
                                {

                                    <tr>
                                        <th style="width:50%">@item.chargeName</th>
                                        <td>@item.amount</td>
                                    </tr>



                                }

                                <tr style="background-color: #E8E9C9;">
                                    <th>TOTAL COST</th>
                                    <td>@Model.quotationChargesLine.Sum(x => x.amount)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
}

