﻿@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "_AdminlteNetcoreRegister";
}

<!-- Preloader -->
<div id="preloader">
    <div id="status">
        <div class="status-mes"></div>
    </div>
</div>


<div class="register-box">

    <div class="register-box-body">
        <div class="register-logo">
            <a href="@netcore.MVC.Pages.PublicSite.Url"><img src="/images/logo.png" /></a>
        </div>
        <p class="login-box-msg">Forgot Password?</p>
        <form asp-action="ForgotPassword" method="post">
            <div class="form-group has-feedback">
                @*<label asp-for="Email"></label>*@
                <input asp-for="Email" type="email" class="form-control" placeholder="Recovery Email" />
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" style="background-color: #67bfb3; color: #ffffff" class="btn btn-default btn-block btn-lg"><b>Reset Password</b></button>
            <div class="row center">
                <div class="col-md-12">
                    <div class="checkbox icheck">
                        <p class="login-box-msg"><a asp-action="Login"><b>Try Logging again</b></a></p>
                    </div>
                </div>
            </div>
        </form>



    </div>
    <!-- /.form-box -->
</div>



@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script>
        $(function () {
            $(window).on("load", function () {
                $('#preloader').fadeOut('slow', function () {
                    $(this).remove();
                });
            });
        });
    </script>
}
