﻿@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
    Layout = "_AdminlteNetcoreLogin";
}
<style>
    .login-box-body {
        font-size: 15px;
    }
    .btn{
        height: 40px;
    }
    input[type="email"], input[type="password"] {
        font-family: "Nunito", sans-serif;
        font-size: small;
        /*border-color: #053146;*/
    }
</style>
<!-- Preloader -->
@*<div id="preloader">
    <div id="status">
        <div class="centered">
            <div class="blob-1"></div>
            <div class="blob-2"></div>
        </div>
    </div>
</div>*@


<div class="login-box">

    <!-- /.login-logo -->
    <div class="login-box-body">
        <div class="login-logo">
            @*<a href="@netcore.MVC.Pages.HomeIndex.Url"><b>ATHLON</b></a>*@
            <a href="@netcore.MVC.Pages.PublicSite.Url"><img src="/images/logo.png" style="width: 100%" /></a>
        </div>
        <p class="login-box-msg">Sign In to Continue</p>
        <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            <div class="form-group has-feedback">
                @*<label asp-for="Email"></label>*@
                <input asp-for="Email" type="email" value="" class="form-control" placeholder="Email" />
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group has-feedback">
                @*<label asp-for="Password"></label>*@
                <input asp-for="Password" type="password" value="" class="form-control" placeholder="Password" />
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" asp-for="RememberMe">  &nbsp;@Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>

            </div>
            <div class="row">
                <!-- /.col -->
                <div class="col-md-12">
                    <button type="submit" style="background-color: #67bfb3; color: #ffffff" class="btn btn-default btn-block btn-lg"><b>Login</b></button>
                </div>
                <!-- /.col -->
            </div>
            <div class="social-auth-links text-center hidden">
                <p>- OR -</p>
                <a href="#" class="btn btn-block btn-social btn-facebook btn-flat">
                    <i class="fa fa-facebook"></i> Sign in using
                    Facebook
                </a>
                <a href="#" class="btn btn-block btn-social btn-google btn-flat">
                    <i class="fa fa-google-plus"></i> Sign in using
                    Google+
                </a>
            </div>
            <br />
            <a asp-action="ForgotPassword"><b>Forgot Password?</b></a><br>
            <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" class="text-center"><b>Join Us</b></a>
            @*<p class="pull-right">
                <span style="font-style:italic;"><small>*Demo => Email: super@admin.com Password: 123456</small></span>
            </p>*@
        </form>


    </div>
    <!-- /.login-box-body -->
</div>


@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' /* optional */
            });

            $(window).on("load", function () {
                $('#preloader').fadeOut('slow', function () {
                    $(this).remove();
                });
            });
        });
    </script>
}
