﻿@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "_AdminlteNetcoreRegister";
}
<style>
    .register-box {
        font-size: 15px;
    }

    .btn {
        height: 40px;
    }

    input[type="email"], input[type="password"] {
        font-family: "Nunito", sans-serif;
        font-size: small;
        /*border-color: #053146;*/
    }
</style>

<!-- Preloader -->
@*<div id="preloader">
    <div id="status">
        <div class="centered">
            <div class="blob-1"></div>
            <div class="blob-2"></div>
        </div>
    </div>
</div>*@
<div class="register-box">

    <div class="register-box-body">
        <div class="register-logo">
            <a href="@netcore.MVC.Pages.PublicSite.Url"><img src="/images/logo.png" style="width: 100%" /></a>
        </div>
        <p class="login-box-msg">Sign Up to Continue</p>
        @*<p class="login-box-msg"></p>*@
    <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
        <div class="form-group has-feedback">
            @*<label asp-for="Email"></label>*@
            <input asp-for="Email" type="email" class="form-control" placeholder="Email" />
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group has-feedback">
            @*<label asp-for="Password"></label>*@
            <input asp-for="Password" type="password" class="form-control" placeholder="Password" />
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group has-feedback">
            @*<label asp-for="ConfirmPassword"></label>*@
            <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Retype password" />
            <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <div class="checkbox icheck">
                    <label>
                        <input type="checkbox" asp-for="isServiceProvider" id="isServiceProvider">&nbsp;&nbsp;&nbsp;Register as a Service Provider
                    </label>
                </div>
            </div>

        </div>
        <div class="form-group">
            <div class="col-md-12">
                <div class="checkbox icheck">
                    <label>
                        <input type="checkbox" required>&nbsp;&nbsp;&nbsp;I Agree to the <a href="#">Terms & Conditions</a>
                    </label>
                </div>
            </div>

        </div>


        <div class="col-md-12">
            <button type="submit" style="background-color: #67bfb3; color: #ffffff" class="btn btn-default btn-block btn-lg"><b>Register</b></button>
        </div>


        <div class="row center">
            <div class="col-md-12">
                <div class="checkbox icheck">
                    <p class="login-box-msg"><a asp-action="Login"><b>Already have an account?</b></a></p>
                </div>
            </div>
        </div>
        @*<a asp-action="ForgotPassword"><b>Forgot Password?</b></a><br>*@
    </form>

        @*<div class="social-auth-links text-center hidden">
                <p>- OR -</p>
                <a href="#" class="btn btn-block btn-social btn-facebook btn-flat">
                    <i class="fa fa-facebook"></i> Sign up using
                    Facebook
                </a>
                <a href="#" class="btn btn-block btn-social btn-google btn-flat">
                    <i class="fa fa-google-plus"></i> Sign up using
                    Google+
                </a>
            </div>*@
    </div>
    <!-- /.form-box -->
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' /* optional */
            });

            $(window).on("load", function () {
                $('#preloader').fadeOut('slow', function () {
                    $(this).remove();
                });
            });
        });
    </script>
}
