﻿@model netcore.Models.Invent.Receiving


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminlteNetcoreCreate.cshtml";
    ViewData["EntityIcon"] = "fa fa-truck";
    ViewData["CreateInfo"] = "Receiving is a process of product receive from your vendor. After inspecting and confirm all goods have been received, warehouse team then will issue internal document called Goods Service Receive Note (GSRN) as a proof of products receive.  Only [Open] purchase order will be available to select for receiving.";
}

@Html.Partial("_StatusMessage", (string)ViewBag.StatusMessage)
<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="receivingId" />
        <div class="form-group hidden">
            <label asp-for="branchId" class="control-label"></label>
            <select asp-for="branchId" class="form-control select2" asp-items="ViewBag.branchId"></select>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="receivingNumber" class="control-label"></label>
                    <input asp-for="receivingNumber" class="form-control" />
                    <span asp-validation-for="receivingNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="purchaseOrderId" class="control-label"></label>
                    <select asp-for="purchaseOrderId" class="form-control select2" asp-items="ViewBag.purchaseOrderId"></select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="receivingDate" class="control-label"></label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input asp-for="receivingDate"class="form-control " type="date" />
                    </div>
                    <span asp-validation-for="receivingDate" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
          
            <div class="col-md-6">
                <div class="form-group hidden">
                    <label asp-for="vendorId" class="control-label"></label>
                    <select asp-for="vendorId" class="form-control select2" asp-items="ViewBag.serviceProviderId"></select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="vehicleNumber" class="control-label"></label>
                    <input asp-for="vehicleNumber" class="form-control" />
                    <span asp-validation-for="vehicleNumber" class="text-danger"></span>
                </div>
            </div>
           
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="warehouseId" class="control-label"></label>
                    <select asp-for="warehouseId" class="form-control select2" asp-items="ViewBag.warehouseId"></select>
                </div>
            </div>
        </div>



    </div>
</div>



@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function() {
            var items = "<option value='0'>Select</option>";
            $('#warehouseId').html(items);

            $('#purchaseOrderId').change(function () {
                var url = '@Url.Content("~/")' + "Receiving/GetWarehouseByOrder";
                var ddlsource = '#purchaseOrderId';
                $.getJSON(url, { purchaseOrderId: $(ddlsource).val() }, function (data) {
                    var items = '';
                    $('#warehouseId').empty();
                    $.each(data, function (i, warehouse) {
                        items += "<option value='" + warehouse.value + "'>" + warehouse.text + "</option>";
                    });
                    $('#warehouseId').html(items);
                });
            });
        });
    </script>
}
