﻿@model netcore.Models.Invent.Receiving
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PrintGSRN</title>
</head>
<body onload="window.print();">
    <div class="wrapper">
        <!-- Main content -->
        <section class="invoice">
            <!-- title row -->
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="page-header">
                        <img src="/images/Athlon_Logo.png">
                        <small class="pull-right">@Model.receivingNumber</small>
                    </h2>
                </div>
                <!-- /.col -->
            </div>
            <!-- info row -->
            <div class="row invoice-info">
                <div class="col-sm-4 invoice-col">
                    <strong>Receiver / Location</strong>
                    <address>
                        <strong>@Model.purchaseOrder.branch.branchName</strong><br>
                        @Model.purchaseOrder.branch.street1<br>
                        @Model.purchaseOrder.branch.street2<br>
                        @Model.purchaseOrder.branch.city<br>
                        @*attn: @Model.purchaseOrder.picInternal*@
                    </address>
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                    <strong>From Vendor</strong>
                    <address>
                        <strong>@Model.vendor.vendorName</strong><br>
                        @Model.vendor.street1<br>
                        @Model.vendor.street2<br>
                        @Model.vendor.city<br>
                        @Model.vendor.country<br>
                        @Model.vendor.contact
                    </address>
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                    <b>PO Number</b> @Model.purchaseOrder.purchaseOrderNumber<br>
                    <b>Challan Number</b> @Model.receivingNumber<br />
                    <b>Delivery Inward Number : </b> @Model.purchaseOrder.deliveryInwardNumber<br />
                    <b>PO Date:</b> @Model.purchaseOrder.poDate.ToString("dd-MMM-yyyy")<br>
                    <b>GSRN Date:</b> @Model.receivingDate.ToString("dd-MMM-yyyy")<br>

                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            <!-- Table row -->
            <div class="row">
                <div class="col-xs-12 table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Serial No</th>
                                <th>Product Model</th>
                                <th>Product Name</th>
                                <th>Qty Ordered</th>
                                <th>Qty Received</th>
                            </tr>
                        </thead>
                        @{ int rowNo = 0; }

                        <tbody>
                            @foreach (var item in Model.receivingLine.OrderBy(x => x.product.productCode))
                            {
                                <tr>
                                    <td>@(rowNo += 1)</td>
                                    <td>@item.product.productCode</td>
                                    <td>@item.product.productName</td>
                                    <td>@item.qty</td>
                                    <td>@item.qtyReceive</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            <div class="row">
                <!-- accepted payments column -->
                <div class="col-xs-6">
                    <p class="lead">Descriptions:</p>
                    <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
                        @Model.purchaseOrder.description
                    </p>
                </div>
                <!-- /.col -->
                <div class="col-xs-6">
                    <p class="lead">Total</p>
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <th style="width:50%">Quantity Ordered:</th>
                                <td>@Model.receivingLine.Sum(x => x.qty)</td>
                            </tr>
                            <tr>
                                <th>Quantity Received</th>
                                <td>@Model.receivingLine.Sum(x => x.qtyReceive)</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            <br /><br />
            <div class="col-sm-3 invoice-col">
                <p class="lead">__________________</p>
                <p class="lead">Signature / Stamp</p>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <section class="invoice">
        <br />
        <div class="col-xs-12" style="font-size: x-small">
            <p>Developed By Over & All Tech © 2020</p>
        </div>
    </section>
    <!-- ./wrapper -->
    @Html.Partial("_AdminlteNetcoreBasicStyles")
    @Html.Partial("_AdminlteNetcoreBasicScripts")
</body>
</html>
